{# horizontal toolbar #}
{% from 'macros/_icons.html.twig' import icon, link, navItem %}
{# parameters #}
{%- set is_admin = is_granted(ROLE_ADMIN) -%}
{%- set is_granted_calculation = is_granted(PERMISSION_LIST, ENTITY_CALCULATION) -%}
{%- set is_granted_data = is_granted_calculation
    or is_granted(PERMISSION_LIST, ENTITY_PRODUCT)
    or is_granted(PERMISSION_LIST, ENTITY_TASK)
    or is_granted(PERMISSION_LIST, ENTITY_CATEGORY)
    or is_granted(PERMISSION_LIST, ENTITY_GROUP)
    or is_granted(PERMISSION_LIST, ENTITY_CALCULATION_STATE)
    or is_granted(PERMISSION_LIST, ENTITY_GLOBAL_MARGIN)
-%}
{%- set is_dark_navigation = app.user and user_parameters.homePage.darkNavigation -%}
{# horizontal navigation #}
<nav class="navbar navbar-horizontal navbar-expand-lg bg-body-tertiary d-print-none border-bottom ps-2 z-3"{% if is_dark_navigation %} data-bs-theme="dark"{% endif %}>
    <div class="container-fluid ps-0">
        {# toggle navigation #}
        <button class="btn btn-outline-secondary show-sidebar me-2" title="{{ 'index.sidebar_show'|trans }}">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        {# home page #}
        <a class="navbar-brand me-1" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
            <i class="fa-solid fa-home" style=""></i>
        </a>
        {# navigation toggler #}
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-horizontal-menu" aria-controls="navbarContent" aria-expanded="false" aria-label="{{ 'index.toggle_navigation'|trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        {# menus #}
        <div class="navbar-collapse collapse bg-body-tertiary ps-3 ps-lg-0 mt-1" id="navbar-horizontal-menu">
            <ul class="navbar-nav me-auto">
                {% if is_granted_calculation -%}
                    <li class="nav-item">
                        {{- link(path('calculation_index'), 'calculation.list.title', 'nav-link', ICON_CALCULATION) -}}
                    </li>
                {% endif %}
                {% if is_granted_data -%}
                   {{ include('navigation/horizontal/navigation_data.html.twig') }}
                {% endif %}
                {% if is_granted_calculation %}
                    {{ include('navigation/horizontal/navigation_chart.html.twig') }}
                {% endif %}
                {% if is_admin or is_granted_calculation %}
                    {{ include('navigation/horizontal/navigation_tools.html.twig') }}
                {% endif %}
                {% if is_admin -%}
                    {{ include('navigation/horizontal/navigation_admin.html.twig') }}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if is_granted_data and app.current_route !== 'search' -%}
                    {{ include('navigation/horizontal/navigation_search.html.twig') }}
                {% endif %}
                {{ include('navigation/menu/_menu_theme.html.twig') }}
                {% if is_granted(IS_AUTHENTICATED_REMEMBERED) -%}
                    {{ include('navigation/horizontal/navigation_user.html.twig') }}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
