{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'profile.password.title' -%}
{%- set title_icon = 'unlock-alt' -%}
{%- set form_attr = form_attr|default({})|merge({'data-equal_to': 'password.mismatch'|trans([], 'validators')}) -%}
{% block card_body %}
{{ parent() }}
{% if tooltips|length %}
    <p class="mb-1">
        {{ 'password.constraint'|trans }}
    </p>
    <ul class="mb-0">
        {% for tooltip in tooltips %}
            <li>{{ tooltip|e }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
{# javascripts #}
{% block javascripts -%}
{% if app.debug %}
    {{ parent() }}
    {{ asset_js('vendor/zxcvbn/zxcvbn.js') }}
    {{ asset_js('js/plugins/plugin-password-strength.js') }}
    {{ asset_js('js/extensions/password-extensions.js') }}
    {{ asset_js('js/application/user_change_password.js') }}
{% else %}
    {{ asset_js('js/compiled/user_change_password.js') }}
{% endif %}
{%- endblock %}
