{# macros for help templates #}
{% macro output_type(field) -%}
{%- set type = ('help.types.' ~ field.type|default('text'))|trans -%}
{%- set length = field.length|default(false) -%}
{{ type }}{% if length  %} ({{ length }}){% endif %}
{%- endmacro %}

{% macro output_required(field) -%}
{%- set required = field.required is defined ? field.required : true -%}
{{ (required ? 'common.value_true' : 'common.value_false')|trans }}
{%- endmacro %}

{% macro output_image(path, screenshot=true) -%}
{%- set full_path = 'help/images/' ~ path -%}
{% if asset_exists(full_path) %}
    {% if screenshot %}<p class="mb-1">{{ 'help.labels.screenshot'|trans }}</p>{% endif %}
    <img src="{{ asset(full_path) }}" class="img-fluid d-block">
{% endif %}
{%- endmacro %}

{% macro output_table_actions(actions, service) -%}
<table class="w-100">
    <thead>
        <tr class="bg-themed">
            <th class="w-25">{{ 'help.fields.action'|trans }}</th>
            <th>{{ 'help.fields.description'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        {{ _self.output_row_action(action, service) }}
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% macro output_row_action(action, service) -%}
{%- set dialog = service.findDialog(action.dialog|default(action.id)) -%}
{%- set href = dialog ? path('help_dialog', {'id': dialog.id}) : false -%}
{%- set text = action.label|default(action.id) -%}
{%- set icon = action.icon|default(false) -%}
<tr>
    <td class="w-25">
        {%- if href -%}
            {%- if icon -%}
                {{- _self.output_icon(icon) -}}
                <a class="ml-1" href="{{ href }}">{{ text|trans }}</a>
            {%- else -%}
                <a href="{{ href }}">{{ text|trans }}</a>
            {%- endif -%}
        {%- else -%}
            {{- _self.output_icon(icon, text) -}}
        {%- endif -%}
    </td>
    <td>{{ action.description }}</td>
</tr>
{%- endmacro %}

{% macro output_icon(icon, text) -%}
{% from 'macros/_icons.html.twig' import icon %}
{%- if text -%}
    {%- set values = text|split('|') -%}
    {%- set text = values[0] -%}
    {%- set domain = values|length > 1 ? values[1] : null -%}
    {{- icon(icon ? icon ~ ' fa-fw' : null, text, domain) -}}
{%- else -%}
    {{- icon(icon ? icon ~ ' fa-fw' : null, text) -}}
{%- endif -%}
{%- endmacro %}

{% macro home() -%}
{% from 'macros/_icons.html.twig' import link %}
{{ link(path('help'), null, null, 'home', 'help.back_menu') }}
{%- endmacro %}

{% macro output_links(links, service) -%}
{% if links -%}
    <hr class="my-2">
    <p class="mt-2 mb-0">{{ 'help.labels.see_also'|trans }}</p>
    <ul>
    {% for link in links %}
        {% if link.type == 'dialog' %}
           {%- set dialog = service.findDialog(link.id) -%}
           {%- set href = path('help_dialog', {'id': dialog.id}) -%}
           <li><a href="{{ href }}">{{ dialog.name|default(dialog.id)|trans }}</a></li>
        {% elseif link.type == 'entity' %}
            {%- set entity = service.findEntity(link.id) -%}
            {%- set href = path('help_entity', {'id': entity.id}) -%}
            <li><a href="{{ href }}">{{ (entity.id ~ '.name')|trans }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{%- endif %}
{%- endmacro %}
