{% extends 'base.html.twig' %}
{% from 'help/_help_tools.html.twig' import home_button %}
{# body #}
{% block body -%}
<div class="row g-0">
    <div class="col col-md-8 offset-md-2 mb-2">
        <div class="d-flex-wrap-center">
            <div class="me-auto">
                <h4>{% block help_title -%}{%- endblock %}</h4>
            </div>
            <div class="d-print-none">
                <div class="input-group input-group-sm">
                    {% block help_home -%}{{ home_button() }}{%- endblock %}
                    {% block help_search %}
                        <input id="help-search" class="form-control" type="text" placeholder="{{ 'datatable.search'|trans }}" aria-label="{{ 'datatable.search'|trans }}">
                        <button class="btn btn-outline-secondary btn-help-search" type="button" disabled title="{{ 'datatable.clear'|trans }}">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    {% endblock %}
                    {% block help_actions -%}{%- endblock %}
                </div>
            </div>
        </div>
        <div class="help-body">{% block help_body -%}{%- endblock %}</div>
    </div>
</div>
{%- endblock %}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('build/jquery-mark/jquery.mark.js') }}
        {{ asset_js('js/application/help.js') }}
    {% else %}
        {{- asset_js('js/compiled/help.js') }}
    {% endif %}
{% endblock %}
