{% extends 'help/help_base.html.twig' %}
{% from 'help/_help_tools.html.twig' import output_icon, entities_button %}
{% from 'macros/_icons.html.twig' import icon %}
{# macro #}
{% macro output_dialog(dialog, entity) -%}
{% set href = path('help_dialog', {id: dialog.id}) %}
{% set icon = dialog.icon|default(entity ? entity.icon|default(false) : false)|default(false) %}
<div class="col help-item">
    <div class="card p-1 h-100">
        <div class="card-body p-2">
            <a href="{{ href }}" class="stretched-link">
                {%- if icon %}{{ icon(icon ~ ' me-1') }}{% endif %}{{ dialog.name -}}
            </a>
            <hr class="my-2">
            <p class="mb-0">{{ dialog.description }}</p>
        </div>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set title = 'help.dialog_menu' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
<i class="fa-regular fa-window-maximize me-1"></i>{{- 'help.dialog_menu'|trans -}}
{% endblock %}
{# actions #}
{% block help_actions -%}
    {{ entities_button() }}
{% endblock %}
{# body #}
{% block help_body -%}
<hr class="mt-1">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-2">
    {% for dialog in dialogs %}
        {{ _self.output_dialog(dialog, service.findEntity(dialog)) }}
    {% endfor %}
</div>
{% endblock %}
