{% extends 'help/help_base.html.twig' %}
{% from 'help/_help_tools.html.twig' import dialogs_button %}
{% from 'macros/_icons.html.twig' import link %}
{# macro #}
{% macro output_entity(entity) -%}
{%- set entity_name = entity.id ~ '.name' -%}
{% set href = path('help_entity', {'id': entity.id}) %}
<div class="help-item col-lg-6 col-xxl-4">
    {{ link(href, entity_name, '', entity.icon|default) }}
    <p class="mb-0">{{ entity.description }}</p>
    <hr class="my-2">
</div>
{%- endmacro %}
{# parameters #}
{%- set title = 'help.entity_menu' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
<i class="fa-solid fa-database me-1"></i>{{- 'help.entity_menu'|trans -}}
{% endblock %}
{# home #}
{% block help_home -%}
    {{ parent() }}
    {{ dialogs_button() }}
{% endblock %}
{# body #}
{% block help_body -%}
<hr class="mt-1">
<div class="row">
    {% for entity in entities %}
        {{ _self.output_entity(entity) }}
    {% endfor %}
</div>
{% endblock %}
