{% extends 'help/help_base.html.twig' %}
{# imports #}
{% import 'help/_help_tools.html.twig' as tools %}

{% macro output_entity_columns(entity, table_class, head_class) -%}
{% set fields = entity.fields|default(false) %}
{% if fields %}
    <p class="mt-2 mb-1">{{ 'help.labels.edit_columns'|trans }}</p>
    <table class="{{ table_class }}">
        <thead class="{{ head_class }}">
            <tr>
                <th class="text-date-time">{{ 'help.fields.column'|trans }}</th>
                <th>{{ 'help.fields.description'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ (entity.id ~ '.fields.' ~ field.name)|trans }}</td>
                <td>{{ field.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{%- endmacro %}

{% macro output_entity_fields(entity, table_class, head_class) -%}
{% set fields = entity.fields|default(false) %}
{% if fields %}
    <p class="mt-2 mb-1">{{ 'help.labels.edit_fields'|trans }}</p>
    <table class="{{ table_class }}">
        <thead class="{{ head_class }}">
            <tr">
                <th class="text-date-time">{{ 'help.fields.field'|trans }}</th>
                <th>{{ 'help.fields.description'|trans }}</th>
                <th>{{ 'help.fields.type'|trans }}</th>
                <th>{{ 'help.fields.required'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ (entity.id ~ '.fields.' ~ field.name)|trans }}</td>
                <td>{{ field.description }}</td>
                <td>{{ tools.output_type(field) }}</td>
                <td>{{ tools.output_required(field) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{%- endmacro %}

{% macro output_entity_actions(entity, table_class, head_class, service) -%}
{% set actions = entity.actions|default(false) %}
{% if actions %}
    <p class="mt-2 mb-0">{{ 'help.labels.entity_actions'|trans }}</p>
    {{ tools.output_table_actions(actions, table_class, head_class, service) }}
{% endif %}
{%- endmacro %}

{# parameters #}
{%- set dialog_name = dialog.name|default(dialog.id) -%}
{%- set title = 'help.title_name' -%}
{%- set title_parameters = {'%name%': dialog_name|trans} -%}

{% block help_title -%}
{{- tools.output_icon(dialog.icon|default(entity ? entity.icon|default(false) : false)|default(false), dialog_name) -}}
{%- endblock %}

{% block help_body -%}
<p class="mb-1">{{ dialog.description }}</p>
<hr class="my-2">
{{ tools.output_image(dialog.image|default(false)) }}

{# details #}
{%- if dialog.details|default([])|length -%}
    <p class="mt-2 mb-0">{{ 'help.labels.description'|trans }}</p>
    <p class="mb-0 ml">{% for detail in dialog.details -%}{{ detail|raw }} {% endfor %}</p>
{%- endif -%}

{# entity columns #}
{%- if dialog.displayEntityColumns|default(false) -%}
    {{- _self.output_entity_columns(entity, table_class, head_class) }}
{%- endif -%}

{# entity fields #}
{%- if dialog.displayEntityFields|default(false) -%}
    {{- _self.output_entity_fields(entity, table_class, head_class) }}
{%- endif -%}

{# entity actions #}
{%- if dialog.displayEntityActions|default(false) -%}
    {{- _self.output_entity_actions(entity, table_class, head_class, service) }}
{%- endif -%}

{# edit actions #}
{% set actions = dialog.editActions|default(false) %}
{% if actions %}
    <p class="mt-2 mb-0">{{ 'help.labels.edit_actions'|trans }}</p>
    {{ tools.output_table_actions(actions, table_class, head_class, service) }}
{% endif %}

{# global actions #}
{% set actions = dialog.globalActions|default(false) %}
{% if actions -%}
    <p class="mt-2 mb-0">{{ 'help.labels.global_actions'|trans }}</p>
    {{ tools.output_table_actions(actions, table_class, head_class, service) }}
{%- endif %}

{# forbidden #}
{% if dialog.forbidden|default(false) -%}
    {%- set text = dialog.forbidden.text|default('help.labels.forbidden_text'|trans) -%}
    {%- set image = dialog.forbidden.image|default(false) -%}
    {%- set action = dialog.forbidden.action|default(false) -%}
    <p class="my-2 mb-0">{{ text }}</p>
    {% if image %}{{- tools.output_image(image, false) -}}{% endif %}
    {% if action %}
        <p class="mt-2 mb-0">{{ 'help.labels.edit_actions'|trans }}</p>
        {{ tools.output_table_actions({action}, table_class, head_class, service) }}
    {% endif %}
{%- endif %}

{# links and entity #}
{% set links = dialog.links|default([]) %}
{# entity #}
{% if dialog.entity|default(false) -%}
    {% set link = {'id': dialog.entity, 'type': 'entity'} %}
    {% set links = links|merge({link}) %}
{%- endif %}
{% if links|length -%}
    {{ tools.output_links(links, service) }}
{%- endif %}

{%- endblock %}
