{% extends 'help/help_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link %}
{% from 'help/_help_tools.html.twig' import
    output_icon,
    output_type,
    output_required,
    output_table_actions,
    output_image,
    output_links,
    dialogs_button,
    entities_button,
    export_button %}
{# macro #}
{% macro output_entity_columns(entity) -%}
{% set fields = entity.fields|default(false) %}
{% if fields %}
    <p class="mt-2 mb-1">{{ 'help.labels.edit_columns'|trans }}</p>
    <div class="table-responsive">
        <table class="table table-sm w-100">
            <thead>
                <tr>
                    <th class="text-nowrap">{{ 'help.fields.column'|trans }}</th>
                    <th class="w-100">{{ 'help.fields.description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for field in fields %}
                <tr>
                    <td class="text-nowrap">{{ (entity.id ~ '.fields.' ~ field.name)|trans }}</td>
                    <td class="w-100">{{ field.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{%- endmacro %}
{% macro output_entity_fields(entity) -%}
{% set fields = entity.fields|default(false) %}
{% if fields %}
    {{ _self.output_fields(fields) }}
{% endif %}
{%- endmacro %}

{% macro output_fields(fields, id = null, text = null) -%}
{% set text = text|default('help.labels.edit_fields') %}
<p class="mt-2 mb-1">{{ text|trans }}</p>
<div class="table-responsive">
    <table class="table table-sm w-100">
        <thead>
        <tr>
            {% if id %}
                <th class="text-nowrap">{{ 'help.fields.field'|trans }}</th>
                <th class="w-100">{{ 'help.fields.description'|trans }}</th>
                <th class="text-nowrap">{{ 'help.fields.type'|trans }}</th>
                <th class="text-nowrap text-center">{{ 'help.fields.required'|trans }}</th>
            {% else %}
                <th class="text-nowrap">{{ 'help.fields.column'|trans }}</th>
                <th class="w-100">{{ 'help.fields.description'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            {% set name = id ? id ~ '.fields.' ~ field.name : field.name %}
            <tr>
                <td class="text-nowrap">{{ output_icon(null, name) }}</td>
                <td class="w-100">{{ field.description }}</td>
                {% if id %}
                    <td class="text-nowrap">{{ output_type(field) }}</td>
                    <td class="text-nowrap text-center">{{- output_required(field) -}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% macro output_entity_actions(entity, service) -%}
{% set actions = entity.actions|default(false) %}
{% if actions %}
    <p class="mt-2 mb-0">{{ 'help.labels.entity_actions'|trans }}</p>
    {{ output_table_actions(actions, service) }}
{% endif %}
{%- endmacro %}
{# parameters #}
{%- set dialog_name = dialog.id -%}
{%- set title = 'help.title_name' -%}
{%- set title_parameters = {'%name%': dialog_name|trans} -%}
{# title #}
{% block help_title -%}
{{- output_icon(dialog.icon|default(entity ? entity.icon|default(false) : false)|default(false), dialog_name) -}}
{%- endblock %}
{# search #}
{% block help_search %}{% endblock %}
{# actions #}
{% block help_actions -%}
    {{ dialogs_button() }}
    {{ entities_button() }}
    {{ parent() }}
{% endblock %}
{# body #}
{% block help_body -%}
<p class="mb-0">{{ dialog.description }}</p>
<hr class="my-2">
{{ output_image(dialog.image|default(false)) }}
{# images #}
{%- if dialog.images|default([])|length -%}
    {% for image in dialog.images %}
        <div class="my-2">
            {{ output_image(image, false) }}
        </div>
    {% endfor %}
{% endif %}
{# details #}
{%- if dialog.details|default([])|length -%}
    <p class="mt-2 mb-0">{{ 'help.labels.description'|trans }}</p>
    {% for detail in dialog.details -%}
        <p class="mb-0">{{ detail|raw }}</p>
    {% endfor %}
{%- endif -%}
{# entity columns #}
{%- if dialog.displayEntityColumns|default(false) -%}
    {{- _self.output_entity_columns(entity) }}
{%- endif -%}
{# dialog fields #}
{%- if dialog.fields|default(false) -%}
    {{- _self.output_fields(dialog.fields, null, 'help.labels.edit_columns') }}
{%- endif -%}
{# entity fields #}
{%- if dialog.displayEntityFields|default(false) and entity.fields|default(false) -%}
    {{- _self.output_fields(entity.fields, entity.id) }}
{%- endif -%}
{# entity actions #}
{%- if dialog.displayEntityActions|default(false) -%}
    {{- _self.output_entity_actions(entity, service) }}
{%- endif -%}
{# edit actions #}
{% set actions = dialog.editActions|default(false) %}
{% if actions %}
    <p class="mt-2 mb-0">{{ 'help.labels.edit_actions'|trans }}</p>
    {{ output_table_actions(actions, service) }}
{% endif %}
{# global actions #}
{% set actions = dialog.globalActions|default(false) %}
{% if actions -%}
    <p class="mt-2 mb-0">{{ 'help.labels.global_actions'|trans }}</p>
    {{ output_table_actions(actions, service) }}
{%- endif %}
{# forbidden #}
{% if dialog.forbidden|default(false) -%}
    {%- set text = dialog.forbidden.text|default('help.labels.forbidden_text'|trans) -%}
    {%- set image = dialog.forbidden.image|default(false) -%}
    {%- set action = dialog.forbidden.action|default(false) -%}
    <p class="mb-2">{{ text }}</p>
    {% if image %}{{- output_image(image, false) -}}{% endif %}
    {% if action %}
        <p class="mt-2 mb-0">{{ 'help.labels.edit_actions'|trans }}</p>
        {{ output_table_actions([action], service) }}
    {% endif %}
{%- endif %}
{# links #}
{% set links = dialog.links|default([]) %}
{% if dialog.entity|default -%}
    {% set links = links|merge({entity: {id: dialog.entity, type: 'entity'}}) %}
{%- endif %}
{{ output_links(links, service) }}
{%- endblock %}
