{% extends 'help/help_base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, link %}
{% from 'help/_help_tools.html.twig' import output_icon, dialogs_button, entities_button, export_button %}
{# macro #}
{% macro output_dialog(dialog, entity) -%}
    {% set href = path('help_dialog', {id: dialog.id}) %}
    {% set icon = dialog.icon|default(entity ? entity.icon|default(false) : false)|default(false) %}
    <div class="help-item position-relative">
        <a href="{{ href }}" class="stretched-link">
            {%- if icon %}{{ icon(icon ~ ' me-1') }}{% endif %}{{ dialog.name -}}
        </a>
        <p class="mb-2">{{ dialog.description }}</p>
    </div>
{%- endmacro output_dialog %}

{% macro output_entity(entity) -%}
    {% set href = path('help_entity', {id: entity.id}) %}
    <div class="help-item position-relative">
        <a href="{{ href }}" class="stretched-link">
            {%- if entity.icon|default(false) %}{{ icon(entity.icon ~ ' me-1') }}{% endif %}{{ entity.name -}}
        </a>
        <p class="mb-2">{{ entity.description }}</p>
    </div>
{%- endmacro output_entity %}

{% macro output_menus(menus, service, indent = false) -%}
    <div class="help-item{% if indent %} ms-3{% endif %}">
        {%- for menu in menus -%}
            {{- _self.output_menu(menu, service, indent) -}}
        {%- endfor -%}
    </div>
{%- endmacro output_menus %}

{% macro output_menu(menu, service, indent = false) -%}
    {% if menu.action|default(false) %}
        {%- set menu = service.mergeAction(menu) -%}
    {% endif %}
    {%- set href = false -%}
    {%- set menus = menu.menus|default(false) -%}
    {%- set description = menu.description|default %}
    {%- if menu.dialog|default(false) -%}
        {%- set target = service.findDialog(menu.dialog) -%}
        {%- if target -%}
            {%- set href = path('help_dialog', {id: target.id}) -%}
            {%- set description = description|default(target.description|default) -%}
        {%- endif -%}
    {%- endif -%}
    <div class="help-item mb-2{% if not menus and href %} position-relative{% endif %}">
        {% if menus and not href %}
            {% set menu_id = menu.id %}
            <div class="d-flex">
                <a href="#{{ menu_id }}" class="drop-down-icon-left text-body flex-fill" data-bs-toggle="collapse" aria-expanded="false">
                    {{- output_icon(menu.icon|default(false), menu.name|default(menu.id)) -}}
                </a>
            </div>
            <hr class="ms-3 my-1">
            <div id="{{ menu_id }}" class="ms-3 collapse">
                {% if description %}
                    <p class="mb-2">{{ description }}</p>
                {% endif %}
                {{ _self.output_menus(menus, service, false) }}
            </div>
        {% else %}
            <p class="mb-0">
                {%- if href -%}
                    <a href="{{ href }}" class="stretched-link">
                        {{- output_icon(menu.icon|default(false), menu.name|default(menu.id)) -}}
                    </a>
                {%- else -%}
                    {{- output_icon(menu.icon|default(false), menu.name|default(menu.id)) -}}
                {%- endif -%}
            </p>
            {% if description %}
                <p class="mb-0">{{ description }}</p>
            {% endif %}
            {% if menus %}
                <hr class="my-1">
                {{ _self.output_menus(menus, service, true) }}
            {% endif %}
        {% endif %}
    </div>
{%- endmacro output_menu %}

{% macro expand_button() %}
<a href="#" class="expand-items link-items" title="{{ 'common.expand'|trans }}">
    <i class="fa-solid fa-plus"></i>
</a>
{% endmacro expand_button %}

{% macro collapse_button() %}
<a href="#" class="collapse-items link-items" title="{{ 'common.collapse'|trans }}">
    <i class="fa-solid fa-minus"></i>
</a>
{% endmacro collapse_button %}

{% macro output_header(icon, text) %}
<div class="d-flex-wrap-center">
    <a href="#" class="h6 flex-fill text-body link-items toggle-items" title="{{ 'common.toggle'|trans }}">
        {{- icon(icon ~ ' me-1', text) -}}
    </a>
    {{ _self.expand_button() }}
    {{ _self.collapse_button() }}
</div>
<hr class="my-1">
{% endmacro output_header %}

{# parameters #}
{%- set title = 'help.title' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
    {{- output_icon('question-circle', 'help.title') -}}
{%- endblock help_title %}
{# body #}
{% block help_body -%}
    <p class="mb-1">{{ 'help.description'|trans({'%app_name%': app_name_version})|raw }}</p>
    <hr class="mt-1">
    <div class="row">
        {# main menu #}
        {% set main_menus = service.mainMenus %}
        <div class="col-xl-4 col-lg-6 items">
            {{ _self.output_header('bars', 'help.navigation_menu') }}
            {{ _self.output_menus(main_menus, service) }}
        </div>
        {# dialogs #}
        {% set groups = service.getDialogsByGroup() %}
        <div class="col-xl-4 col-lg-6 items">
            {{ _self.output_header('file-code far', 'help.dialog_menu') }}
            {% for group, dialogs in groups %}
                {% set group_id = 'group-' ~ loop.index %}
                <div class="help-item">
                    <div class="d-flex">
                        <a href="#{{ group_id }}" class="drop-down-icon-left text-body my-0 flex-fill" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ group_id }}">
                            {{- group -}}
                        </a>
                    </div>
                    <hr class="ms-3 my-1">
                    <div id="{{ group_id }}" class="ms-3 collapse">
                        {% for dialog in dialogs %}
                            {{ _self.output_dialog(dialog, service.findEntity(dialog)) }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {# entities #}
        {% set entities = service.entities %}
        <div class="col-xl-4 col-lg-6 items">
            {{ _self.output_header('database', 'help.entity_menu') }}
            <div class="help-item">
                <div id="entities" class="collapse">
                    {% for entity in entities %}
                        {{ _self.output_entity(entity) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%- endblock help_body %}
{# home #}
{% block help_home -%}{% endblock help_home %}
{# actions #}
{% block help_actions -%}
    <button type="button" class="btn btn-outline-secondary btn-expand-all link-items" title="{{ 'common.expand'|trans }}">
        <i class="fa-solid fa-plus"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary btn-collapse-all link-items" title="{{ 'common.collapse'|trans }}">
        <i class="fa-solid fa-minus"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary btn-toggle-all link-items" title="{{ 'common.toggle'|trans }}">
        <i class="fa-solid fa-shuffle"></i>
    </button>
    {{ dialogs_button() }}
    {{ entities_button() }}
    {{ export_button() }}
{%- endblock help_actions %}
