{% extends 'help/help_base.html.twig' %}
{% from 'help/_help_tools.html.twig' import dialogs_button %}
{% from 'macros/_icons.html.twig' import link, icon %}
{# macro #}
{% macro output_entity(entity) -%}
{% set href = path('help_entity', {id: entity.id}) %}
<div class="col help-item">
    <div class="card p-1 h-100">
        <div class="card-body p-2">
            <a href="{{ href }}" class="stretched-link">
                {%- if entity.icon|default(false) %}{{ icon(entity.icon ~ ' me-1') }}{% endif %}{{ entity.name -}}
            </a>
            <hr class="my-2">
            <p class="mb-0">{{ entity.description }}</p>
        </div>
    </div>
</div>
{%- endmacro output_entity %}
{# parameters #}
{%- set title = 'help.entity_menu' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
<i class="fa-solid fa-database me-1"></i>{{- 'help.entity_menu'|trans -}}
{% endblock help_title %}
{# actions #}
{% block help_actions -%}
    {{ dialogs_button() }}
{% endblock help_actions %}
{# body #}
{% block help_body -%}
<hr class="mt-1">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-2">
    {% for entity in entities %}
        {{ _self.output_entity(entity) }}
    {% endfor %}
</div>
{% endblock help_body %}
