{% extends 'help/help_base.html.twig' %}
{# imports #}
{% import 'help/_help_tools.html.twig' as tools %}

{# parameters #}
{%- set entity_name = entity.id ~ '.name' -%}
{%- set title = 'help.title_name' -%}
{%- set title_parameters = {'%name%': entity_name|trans} -%}
{%- set fields = entity.fields|default(false) -%}
{%- set actions = entity.actions|default(false) -%}

{# body #}
{% block help_title -%}
{{- tools.output_icon(entity.icon|default(false), entity_name) -}}
{%- endblock %}

{% block help_body -%}
<p class="mb-1">{{ entity.description }}</p>
<hr class="my-2">

{# fields #}
{% if fields %}
<p class="mb-1">{{ 'help.labels.entity_fields'|trans }}</p>
<table class="{{ table_class }}">
    <thead class="{{ head_class }}">
        <tr>
            <th class="text-date-time">{{ 'help.fields.field'|trans }}</th>
            <th>{{ 'help.fields.description'|trans }}</th>
            <th>{{ 'help.fields.type'|trans }}</th>
            <th>{{ 'help.fields.required'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for field in fields %}
        {% set field_name = (entity.id ~ '.fields.' ~ field.name)|trans %}
        {% set field_entity = field.entity|default(false) %}
        {% set path = field_entity ? path('help_entity', {'id': field_entity}) : false %}
        <tr>
            <td>{% if path %}<a href="{{ path }}">{% endif %}{{ field_name }}{% if path %}</a>{% endif %}</td>
            <td>{{ field.description }}</td>
            <td>{{ tools.output_type(field) }}</td>
            <td>{{ tools.output_required(field) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ 'help.labels.entity_empty'|trans }}</p>
{% endif %}

{# constraints #}
{%- if entity.constraints|default([])|length -%}
    <hr class="mt-0 mb-2">
    <p class="mb-0">{{ 'help.labels.constraints'|trans }}</p>
    <ul>
    {% for constraint in entity.constraints -%}
        <li>{{ constraint|raw }}</li>
    {%- endfor %}
    </ul>
{%- endif -%}

{# actions #}
{% if actions %}
<p class="mb-1 mt-2">{{ 'help.labels.entity_actions'|trans }}</p>
{{ tools.output_table_actions(actions, table_class, head_class, service) }}
{% endif %}
{%- endblock %}

