{% extends 'help/help_base.html.twig' %}
{% import 'help/_help_tools.html.twig' as tools %}
{% from 'macros/_icons.html.twig' import icon, link, link_pdf %}
{# macro #}
{% macro output_dialog(dialog) -%}
{% set href = path('help_dialog', {'id': dialog.id}) %}
<dt class="fw-normal">
    <a href="{{ href }}">{{ tools.output_icon(null, dialog.name|default(dialog.id)) }}</a>
</dt>
<dd>{{ dialog.description }}</dd>
{%- endmacro %}

{% macro output_entity(entity) -%}
{%- set entity_name = entity.id ~ '.name' -%}
{% set href = path('help_entity', {'id': entity.id}) %}
<dt class="fw-normal">{{ link(href, entity_name, '', entity.icon|default) }}</dt>
<dd>{{ entity.description }}</dd>
{%- endmacro %}

{% macro output_menus(menus, dialogs, indent=0) -%}
<dl{% if indent > 0 %} style="margin-left: {{ indent }}rem;"{% endif %}>
    {%- for menu in menus -%}{{- _self.output_menu(menu, dialogs, indent) -}}{%- endfor -%}
</dl>
{%- endmacro %}

{% macro output_menu(menu, dialogs, indent=0) -%}
{%- set href = false -%}
{%- set description = menu.description %}
{%- set dialog = menu.dialog|default(false) -%}
{%- if dialog -%}
    {%- set target = dialogs|filter(d => d.id == dialog) -%}
    {%- if target|length -%}
        {%- set target = target|first -%}
        {%- set href = path('help_dialog', {'id': target.id}) -%}
        {%- set description = description|default(target.description) -%}
    {%- endif -%}
{%- endif -%}
{%- set menus = menu.menus|default(false) -%}
<dt class="fw-normal">
{%- if href -%}
    <a href="{{ href }}">
        {{- tools.output_icon(menu.icon|default(false), menu.id) -}}
    </a>
{%- else -%}
    {{- tools.output_icon(menu.icon|default(false), menu.id) -}}
{%- endif -%}
</dt>
{% if description %}
<dd>{{ description }}
    {%- if menus %}{{ _self.output_menus(menus, dialogs, indent + 2) }}{% endif -%}
</dd>
{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title = 'help.title' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
{{- tools.output_icon('question-circle', 'help.title') -}}
{%- endblock %}
{# body #}
{% block help_body -%}
<p class="mb-1">{{ 'help.description'|trans({'%app_name_version%': app_name_version})|raw }}</p>
<hr class="mt-1">
<div class="row">
{# main menu #}
{% if mainMenus %}
    <div class="col-xl-4 col-lg-6">
        <h6><i class="fa-solid fa-sitemap me-1"></i>{{ 'help.main_menu'|trans }}</h6>
        <hr class="my-1">
        {{ _self.output_menus(mainMenus, dialogs) }}
    </div>
{%- endif %}
{# dialogs #}
{% if dialogs %}
    <div class="col-xl-4 col-lg-6">
        <h6><i class="fa-regular fa-file-lines me-1"></i>{{ 'help.dialog_menu'|trans }}</h6>
        <hr class="my-1">
        <dl>
        {% for dialog in dialogs %}
            {{ _self.output_dialog(dialog) }}
        {% endfor %}
        </dl>
    </div>
{%- endif %}
{# entities #}
{% if entities %}
    <div class="col-xl-4 col-lg-6">
        <h6>
            <i class="fa-solid fa-database me-1"></i>{{ 'help.entity_menu'|trans }}
        </h6>
        <hr class="my-1">
        <dl>
        {% for entity in entities %}
            {{ _self.output_entity(entity) }}
        {% endfor %}
        </dl>
    </div>
{%- endif %}
</div>
{%- endblock %}

{% block help_home -%}
{{ link(path('help_dialogs'), '', 'ms-1', 'file-lines', 'help.dialog_menu') }}
{{ link(path('help_entities'), '', 'ms-1', 'database', 'help.entity_menu') }}
{{ link_pdf('help_pdf', [], 'common.button_export_pdf') }}
{%- endblock %}
