{% extends 'help/help_base.html.twig' %}
{% from 'help/_help_tools.html.twig' import dialogs_button %}
{% from 'macros/_icons.html.twig' import link, icon %}
{# macro #}
{% macro output_entity(entity) -%}
{% set href = path('help_entity', {id: entity.id}) %}
<div class="help-item">
    <a href="{{ href }}">
        {%- if entity.icon|default(false) %}{{ icon(entity.icon ~ ' me-1') }}{% endif %}{{ entity.name -}}
    </a>
    <p class="mb-0">{{ entity.description }}</p>
    <hr class="my-2">
</div>
{%- endmacro %}
{# parameters #}
{%- set title = 'help.entity_menu' -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# title #}
{% block help_title -%}
<i class="fa-solid fa-database me-1"></i>{{- 'help.entity_menu'|trans -}}
{% endblock %}
{# actions #}
{% block help_actions -%}
    {{ dialogs_button() }}
{% endblock %}
{# body #}
{% block help_body -%}
<hr class="mt-1">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4">
    {% for entity in entities %}
        {{ _self.output_entity(entity) }}
    {% endfor %}
</div>
{% endblock %}
