{# vendor/symfony/twig-bridge/Resources/views/Form #}
{% extends 'bootstrap_4_layout.html.twig' %}

{# override form_row to display errors after help #}
{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {% else %}
        {%- set element = element|default('div') -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ '_help'}} -%}
    {%- endif -%}
    <{{ element }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) }}
    </{{ element }}>
{%- endblock form_row %}

{# empty block because errors are displayed after input #}
{% block form_label_errors -%}{%- endblock %}

{% block form_errors -%}
{%- if errors|length > 0 -%}
    {%- set messages = [] -%}
    <span class="invalid-feedback d-block">
        {%- for error in errors -%}
            {%- if error.message not in messages -%}
                <span class="mb-0 d-block">{{ error.message }}</span>
            {%- endif -%}
            {%- set messages = messages|merge([error.message]) -%}
        {%- endfor -%}
    </span>
{%- endif -%}
{%- endblock %}

{# extends form widget with password strength place holder #}
{%- block form_widget -%}
{{ parent() }}
{% if ('password-strength' in attr.class|default('')) %}
    <div id="{{ form.vars.id }}_passwordStrength" class="d-print-none password-strength"></div>
{%- endif %}
{%- endblock %}

{# extends text widget with with user icon #}
{% block user_name_widget -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-regular fa-fw fa-user"></i></span>
    </div>
    {{- block('form_widget_simple') -}}
</div>
{%- endblock %}

{# override password widget with an addon to show or hide the password within jQuery #}
{% block password_widget -%}
{% if 'password-strength' in attr.class|default('') %}
    {% set attr = attr|default({})|merge({'data-url': url('ajax_password'), 'data-strength': user_service.application.strengthLevel.value}) %}
{% endif %}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-fw fa-lock"></i></span>
    </div>
    {{ parent() }}
    <div class="input-group-append">
        <span class="btn btn-outline-secondary btn-password{% if not value %} disabled{% endif %}" title="{{ 'common.toggle_password'|trans }}">
            <i class="fa-fw fa-regular fa-eye"></i>
        </span>
    </div>
</div>
{%- endblock %}

{# plain text #}
{% block plain_widget -%}
{% apply spaceless %}
{% if expanded %}
    {% set class = (attr.class|default('') ~ ' form-control-plaintext form-control-readonly')|trim %}
    <div class="{{ class }}">
        <span>{{ display_value|default('&nbsp;')|raw }}</span>
    </div>
{% else %}
    <span>{{ display_value|default('&nbsp;')|raw }}</span>
{% endif %}
{% if hidden_input %}{{ block('hidden_widget') }}{% endif %}
{% endapply %}
{%- endblock %}

{# color widget #}
{% block color_widget -%}
{%- if 'color-picker' in attr.class|default('') -%}
    {%- set type = type|default('color') -%}
    {%- set attr = attr|merge({'class': 'd-none' ~ (required ? ' must-validate' : ''), 'data-custom-text': 'color_picker.custom_text'|trans, 'data-advanced-text': 'color_picker.advanced_text'|trans}) -%}
    <div class="color-picker dropdown form-control">
        {{ block('form_widget_simple') }}
        <button type="button" class="dropdown-toggle btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-color border" style="background-color: {{ value|default('#000000') }};"></span>
            <span class="dropdown-text"></span>
        </button>
        <div class="dropdown-menu d-print-none"></div>
    </div>
{%- else -%}
    {{- parent() -}}
{%- endif -%}
{%- endblock %}

{# prepend icon #}
{%- block url_widget -%}
{%- set type = type|default('url') -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text input-group-url"><i class="fa-solid fa-fw fa-globe"></i></span>
    </div>
    {{- parent() -}}
</div>
{%- endblock -%}

{# prepend icon #}
{%- block tel_widget -%}
{%- set type = type|default('tel') -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-phone"></i></i></span>
    </div>
    {{- parent() -}}
</div>
{%- endblock -%}

{# prepend icon #}
{%- block fax_widget -%}
{%- set type = type|default('tel') -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-fax"></i></i></span>
    </div>
    {{- block('form_widget_simple') -}}
</div>
{%- endblock -%}

{# prepend icon #}
{%- block email_widget %}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text input-group-email"><i class="fa-solid fa-at"></i></span>
    </div>
    {{- parent() -}}
</div>
{%- endblock -%}

{# use file-input style #}
{% block file_widget -%}
{%- if thumbnail is defined and thumbnail -%}
    {%- set empty_image = empty_image|default(false) -%}
    {%- set thumbnail_src = thumbnail_src|default(false) -%}
    {%- set thumbnail_alt = thumbnail_alt|default('filetype.image') -%}
    {%- if thumbnail_src -%}{%- set attr = attr|default({})|merge({'data-src': thumbnail_src}) -%}{%- endif -%}
    <div class="text-center file-input {{ thumbnail_src ? 'file-input-exists' : 'file-input-new' }}" data-provider="file-input">
        <div class="file-input-preview img-thumbnail" data-trigger="file-input" data-default="{{ empty_image }}">
        {% if thumbnail_src or empty_image -%}
            <img src="{{ thumbnail_src|default(empty_image) }}" alt="{{ thumbnail_alt|trans }}" title="{{ thumbnail_alt|trans }}">
        {%- endif %}
        </div>
        <div>
            <span class="btn btn-file btn-sm btn-form-sm btn-outline-secondary">
                <span class="file-input-new">{{ 'common.button_browse'|trans }}</span>
                <span class="file-input-exists">{{ 'common.button_edit'|trans }}</span>
                {% set attr = attr|merge({'aria-label': thumbnail_alt|trans}) -%}
                {{- block('form_widget_simple') -}}
            </span>
            <button type="button" class="btn btn-sm btn-form-sm btn-outline-danger file-input-exists" data-dismiss="file-input">{{ 'common.button_delete'|trans }}</button>
        </div>
    </div>
{%- else -%}
    {%- set placeholder = attr.placeholder is defined ? (translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain)) : false -%}
    <div class="file-input file-input-new input-group rounded border" data-provider="file-input">
        <div class="form-control" data-trigger="file-input">
            <span class="file-input-filename">{%- if placeholder -%}{{ placeholder }}{%- endif -%}</span>
        </div>
        <span class="input-group-append">
            <span class="input-group-text btn-file btn btn-secondary rounded-right border-right-0">
                <span class="file-input-new">{{ 'common.button_browse'|trans }}</span>
                <span class="file-input-exists">{{ 'common.button_edit'|trans }}</span>
                {{- block('form_widget_simple') -}}
            </span>
            <span class="input-group-text file-input-exists btn btn-secondary" data-dismiss="file-input" title="{{ 'common.button_delete'|trans }}">
                <i class="fa-solid fa-times"></i>
            </span>
        </span>
    </div>
{%- endif -%}
{%- endblock -%}

{# vich_image #}
{% block vich_image_widget -%}
{# file #}
{%- set alt = 'user.image.title' -%}
{%- set src = asset_exists(image_uri) ? asset_versioned(image_uri|trim('/', 'left')) : false -%}
{{- form_widget(form.file, {thumbnail: true, thumbnail_src: src, thumbnail_alt: alt}) -}}
{# delete #}
{% if form.delete is defined -%}
<div class="d-none">
    {{- form_widget(form.delete, {hidden: true}) -}}
</div>
{%- endif %}
{%- endblock %}

{# captcha_image #}
{% block captcha_image_widget -%}
{%- set type = type|default('text') -%}
{%- set image_title = 'captcha.title'|trans -%}
{%- if remote|default(false) -%}
    {%- set attr = attr|merge({'data-remote': remote}) -%}
{%- endif -%}
{%- if refresh|default(false) -%}
    {%- set attr = attr|merge({'data-refresh': refresh}) -%}
{%- endif -%}
{%- set attr = attr|merge({class: (attr.class|default('') ~ ' text-lowercase')|trim}) -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text py-0 px-1 bg-white">
            <img id="{{ id }}_image" class="captcha-image" alt="{{ image_title }}" title="{{ image_title }}" src="{{ image }}" width="150" height="30">
        </span>
    </div>
    {{- block('form_widget_simple') -}}
    {% if refresh|default(false) %}
    <div class="input-group-append">
        <button id="{{ id }}_refresh" name="{{ id }}_refresh" class="btn btn-outline-secondary captcha-refresh" type="button" title="{{ 'captcha.refresh'|trans }}">
            <i class="fa-solid fa-sync"></i>
        </button>
    </div>
    {% endif %}
</div>
{%- endblock %}

{# simple editor #}
{% block simple_editor_row -%}
    {{- block('form_row') -}}
{%- endblock %}

{% block simple_editor_button %}
{% set translation_domain = 'messages' %}
{% set attr_translation_parameters = [] %}
<button type="button"{% with {attr: current_action.attributes} %}{{ block('attributes') }}{% endwith %}>
    {%- if current_action.text|default(false) -%}{{- current_action.text|trans -}}{%- else -%}<i class="{{- 'fa-fw fa-solid fa-' ~ current_action.icon -}}"></i>{%- endif -%}
</button>
{% endblock %}

{% block simple_editor_widget -%}
{%- set type = type|default('hidden') -%}
{%- set editor_id = form.vars.id ~ '_editor' -%}
{%- set actions = form.vars.actions|default([]) -%}
<div class="simple-editor border rounded" id="{{ editor_id }}">
    {% if groups|default([])|length -%}
    <div class="simple-editor-toolbar btn-toolbar rounded-top d-print-none" role="toolbar">
        {% for group, actions in groups %}
        <div class="btn-group btn-group-sm" role="group" aria-label="{{ group }}">
        {% for action in actions %}
            {% set current_action = action %}
            {% if action.actions|default([])|length %}
            <div class="btn-group btn-group-sm" role="group">
                {{ block('simple_editor_button') }}
                <div class="dropdown-menu">
                {% for child in action.actions %}
                    {% set current_action = child %}
                    {{- block('simple_editor_button') -}}
                {% endfor %}
                </div>
            </div>
            {% else %}
                {{- block('simple_editor_button') -}}
            {% endif %}
        {% endfor %}
        {% if not loop.last %}<div class="border-left separator"></div>{% endif %}
        </div>
        {% endfor %}
    </div>
    {%- endif %}
    <div class="simple-editor-content border-top" contenteditable="true"></div>
    {{- block('form_widget_simple') -}}
</div>
{%- endblock %}

{%- block alpha_captcha_widget -%}
{%- set attr = attr|merge({class: (attr.class|default('') ~ ' text-uppercase text-center')|trim}) -%}
<div class="row">
    <label for="{{ id }}" class="col-sm-10 col-form-label">
        {{- question -}}
    </label>
    <div class="col-sm-2">
        {{- block('form_widget_simple') -}}
    </div>
</div>
{%- endblock -%}
