{# macros #}
{% macro headerInfo(name) -%}
    <tr class="h">
        <th class="fw-bold" colspan="2">{{ name }}</th>
    </tr>
{%- endmacro headerInfo %}

{% macro rowInfo(name, value, name_class = '', value_class = '') -%}
    {%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
    {%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
    <tr>
        <td class="{{ name_class }}">{{ name }}</td>
        <td class="{{ value_class }}">{{- value -}}</td>
    </tr>
{%- endmacro rowInfo %}

{% macro rowInfoLink(name, value, href, name_class = '', value_class = '') -%}
    {%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
    {%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
    <tr>
        <td class="{{ name_class }}">{{ name }}</td>
        <td class="{{ value_class }}">
            <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">
                {{- value -}}
            </a>
        </td>
    </tr>
{%- endmacro rowInfoLink %}

{% macro rowInfoBoolean(name, value, enabled) -%}
    {%- if value === true or value === false -%}
        {%- set enabled = value -%}
        {%- set value = value|boolean -%}
    {%- endif -%}
    {%- set class = enabled ? 'enabled' : 'disabled' -%}
    <tr>
        <td class="e">{{ name }}</td>
        <td class="v {{ class }}">{{ value }}</td>
    </tr>
{%- endmacro rowInfoBoolean %}

{% macro headerLink(url, version, icon) -%}
    <div class="border-bottom pb-1">
        <a href="https://{{ url }}" target="_blank" rel="noopener noreferrer" title="{{ 'about.extern_link'|trans }}" class="h1 d-flex align-items-baseline">
            {{- source('about/' ~ icon ~ '.svg') }}{{ 'about.version'|trans({'%version%': version}) -}}
        </a>
    </div>
{%- endmacro headerLink %}
