{# macros #}
{% macro headerInfo(name) -%}
<tr class="h"><th colspan="2">{{ name }}</th></tr>
{%- endmacro %}

{% macro headerLinkInfo(name, target, count, colspan=1) -%}
<tr>
    <th class="h font-weight-normal" colspan="{{ colspan }}">
        <a data-toggle="collapse" href="#{{ target }}" class="card-link ml-1" aria-expanded="false" aria-controls="{{ target }}">{{ name }}</a>
    </th>
    <th class="h font-weight-normal text-right">
        <span class="badge badge-pill badge-secondary">{{ count|integer }}</span>
    </th>
</tr>
{%- endmacro %}

{% macro rowInfo(name, value, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">{{ value }}</td>
</tr>
{%- endmacro %}

{% macro rowInfoLink(name, value, href) -%}
<tr>
    <td class="e">{{ name }}</td>
    <td class="v">
        <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">
            {{- value -}}
        </a>
    </td>
</tr>
{%- endmacro %}

{% macro rowPackage(package) -%}
{% import 'macros/_icons.html.twig' as icons %}
<tr>
    <td class="e pl-3">
        {{- package.name -}}{%- if package.homepage %}&nbsp;{{- icons.linkExternal(package.homepage, '', 'd-print-none', 'link', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="f text-nowrap">{{ package.version }}</td>
    <td class="text">{{ package.description }}</td>
</tr>
{%- endmacro %}

{% macro aboutCard(id, pdf_route, excel_route=false) -%}
{% import 'macros/_icons.html.twig' as icons %}
{%- set route = path('about_' ~ id ~ '_content') -%}
{%- set title = ('about.' ~ id)|trans -%}
<div class="card">
    <div class="card-header" id="{{ id }}-header">
        <div class="row no-gutters">
            <div class="col mr-auto" style="transform: rotate(0);">
                <a data-toggle="collapse" role="button" href="#{{ id }}" class="card-link stretched-link" aria-expanded="false" aria-controls="{{ id }}" title="{{ 'about.expand'|trans }}">
                    {{- title -}}
                </a>
            </div>
            <div class="col text-right d-print-none">
                {{ icons.linkExternal(path(pdf_route), null, null, ICON_PDF, 'common.button_pdf') }}
                {% if excel_route %}
                    {{ icons.linkExternal(path(excel_route), null, null, ICON_EXCEL, 'common.button_export') }}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="{{ id }}" class="card-body collapse" aria-labelledby="{{ id }}-header" aria-expanded="false" data-parent="#accordionAbout" data-url="{{ route }}">
        <div class="alert mb-0" role="alert">
            <span class="spinner-border spinner-border-sm text-secondary" role="status"></span>
            <span>{{ 'about.loading'|trans }}</span>
        </div>
    </div>
</div>
{%- endmacro %}
