{# macros #}
{% macro headerInfo(name) -%}
<tr class="h">
    <th class="fw-bold" colspan="2">{{ name }}</th>
</tr>
{%- endmacro %}

{% macro headerLinkInfo(title, id, countable=null) -%}
<div class="d-flex-wrap-center border-bottom" id="{{ id }}-header">
    <a href="#" class="drop-down-icon-left flex-fill text-body my-1" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
        {{- title -}}
    </a>
    {% if countable %}
        <span class="badge text-bg-secondary rounded-pill me-1">{{- countable|length|integer -}}</span>
    {% endif %}
</div>
{%- endmacro %}

{% macro rowInfo(name, value, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        {{- value -}}
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoLink(name, value, href, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">
            {{- value -}}
        </a>
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoBoolean(name, value, enabled, name_class='') -%}
{%- set check_text = enabled ? '✓' : '✗' -%}
{%- set check_class = enabled ? 'success' : 'secondary' -%}
 {%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="v">
        <span class="fw-bold me-1 text-{{ check_class }}">{{ check_text }}</span><span>{{ value }}</span>
    </td>
</tr>
{%- endmacro %}

{% macro rowBundle(bundle) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
<tr>
    <td class="e ps-3">
        {{- bundle.name -}}{%- if bundle.homepage|default(false) %}&nbsp;{{- linkExternal(bundle.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="v">{{ bundle.path }}</td>
</tr>
{%- endmacro %}

{% macro rowPackage(package) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
<tr>
    <td class="e ps-3">
        {{- package.name -}}{%- if package.homepage %}&nbsp;{{- linkExternal(package.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="f text-nowrap">{{ package.version }}</td>
    <td class="text">{{ package.description }}</td>
</tr>
{%- endmacro %}

{% macro aboutCard(id, pdf_route, excel_route=false, word_route=false) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
{%- set route = path('about_' ~ id ~ '_content') -%}
{%- set title = ('about.' ~ id)|trans -%}
<div class="card-header d-flex-wrap-center border-bottom-0">
    <a class="drop-down-icon-left card-title flex-fill mb-0" href="#" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" title="{{ 'about.expand'|trans }}">{{- title -}}</a>
    {{ linkExternal(path(pdf_route), null, null, ICON_PDF, 'common.button_export_pdf') }}
    {% if excel_route %}
        {{ linkExternal(path(excel_route), null, null, ICON_EXCEL, 'common.button_export_excel') }}
    {% endif %}
    {% if word_route %}
        {{ linkExternal(path(word_route), null, null, ICON_WORD, 'common.button_export_word') }}
    {% endif %}
</div>
<div class="card-body border-top collapse" id="{{ id }}" data-bs-parent="#parent_accordion" data-url="{{ route }}">
    <div class="collapse-content" data-url="{{ route }}">
        <div class="alert py-1 mb-0" role="alert">
            <span class="spinner-border spinner-border-sm text-secondary me-2" role="status"></span><span>{{ 'about.loading'|trans }}</span>
        </div>
    </div>
</div>
{%- endmacro %}
