{# macros #}
{% macro headerInfo(name) -%}
<tr class="h"><th colspan="2">{{ name }}</th></tr>
{%- endmacro %}

{% macro headerLinkInfo(name, target, countable, colspan=2) -%}
<thead>
    <tr>
        <td class="h position-relative" colspan="{{ colspan }}">
            <a data-bs-toggle="collapse" href="#{{ target }}" class="drop-down-icon-left stretched-link ms-1" aria-expanded="false" aria-controls="{{ target }}">{{ name }}</a>
            <span class="badge bg-secondary rounded-pill float-end">{{ countable|length|integer }}</span>
        </td>
    </tr>
</thead>
{%- endmacro %}

{% macro rowInfo(name, value, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        {{- value -}}
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoLink(name, value, href, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">
            {{- value -}}
        </a>
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoBoolean(name, value, enabled) -%}
{%- set check_text = enabled ? '✓' : '✗' -%}
{%- set check_class = enabled ? 'success' : 'secondary' -%}
<tr>
    <td class="e">{{ name }}</td>
    <td class="v">
        <span class="fw-bold text-{{ check_class }}">{{ check_text }}</span> <span>{{ value }}</span>
    </td>
</tr>
{%- endmacro %}

{% macro rowBundle(bundle) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
<tr>
    <td class="e ps-3">
        {{- bundle.name -}}{%- if bundle.homepage|default(false) %}&nbsp;{{- linkExternal(bundle.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="v">{{ bundle.path }}</td>
</tr>
{%- endmacro %}

{% macro rowPackage(package) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
<tr>
    <td class="e ps-3">
        {{- package.name -}}{%- if package.homepage %}&nbsp;{{- linkExternal(package.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="f text-nowrap">{{ package.version }}</td>
    <td class="text">{{ package.description }}</td>
</tr>
{%- endmacro %}

{% macro aboutCard(id, pdf_route, excel_route=false, word_route=false) -%}
{% from 'macros/_icons.html.twig' import linkExternal %}
{%- set route = path('about_' ~ id ~ '_content') -%}
{%- set title = ('about.' ~ id)|trans -%}
{%- set width = 43 + (excel_route ? 20 : 0) + (word_route ? 20 : 0) -%}
<div class="accordion-item">
    <div class="accordion-header" id="{{ id }}-header">
        <div class="d-flex align-items-center">
            <button class="accordion-button collapsed float-left" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}" title="{{ 'about.expand'|trans }}" style="width: calc(100% - {{ width }}px)">
                {{- title -}}
            </button>
            {{ linkExternal(path(pdf_route), null, 'ms-2', ICON_PDF, 'common.button_export_pdf') }}
            {% if excel_route %}
                {{ linkExternal(path(excel_route), null, 'ms-2', ICON_EXCEL, 'common.button_export_excel') }}
            {% endif %}
            {% if word_route %}
                {{ linkExternal(path(word_route), null, 'ms-2', ICON_WORD, 'common.button_export_word') }}
            {% endif %}
        </div>
    </div>
    <div class="accordion-collapse collapse" id="{{ id }}" aria-labelledby="{{ id }}-header" data-bs-parent="#parent_accordion">
        <div class="accordion-body" data-url="{{ route }}">
            <div class="alert mb-0" role="alert">
                <span class="spinner-border spinner-border-sm text-secondary me-2" role="status"></span><span>{{ 'about.loading'|trans }}</span>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
