{# macros #}
{% macro headerInfo(name) -%}
<tr class="h">
    <th class="fw-bold" colspan="2">{{ name }}</th>
</tr>
{%- endmacro %}

{% macro rowInfo(name, value, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        {{- value -}}
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoLink(name, value, href, name_class='', value_class='') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">
        <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">
            {{- value -}}
        </a>
    </td>
</tr>
{%- endmacro %}

{% macro rowInfoBoolean(name, value, enabled, name_class='') -%}
{%- set check_text = enabled ? '✓' : '✗' -%}
{%- set check_class = enabled ? 'success' : 'secondary' -%}
 {%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="v">
        <span class="fw-bold me-1 text-{{ check_class }}">{{ check_text }}</span><span>{{ value }}</span>
    </td>
</tr>
{%- endmacro %}

{% macro content_header_link(url, version, icon, margin_left=false) -%}
<i class="icon-about icon-{{ icon }}"></i>
<a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="stretched-link text-reset" title="{{ 'about.extern_link'|trans }}"{% if margin_left %} style="margin-left: {{ margin_left }}px"{% endif %}>
    <span class="h1">{{ 'about.version'|trans({'%version%': version}) }}</span>
</a>
{%- endmacro %}
