{# macros #}
{% macro headerInfo(name) -%}
<tr class="h"><th colspan="2">{{ name }}</th></tr>
{%- endmacro %}

{% macro headerLinkInfo(name, target, count, colspan) -%}
{%- set colspan = colspan|default(2) -%}
<tbody>
    <th class="h font-weight-normal" colspan="{{ colspan }}">
        <a data-toggle="collapse" href="#{{ target }}" class="card-link ml-1" aria-expanded="false" aria-controls="{{ target }}">{{ name }}</a>
        <span class="text-muted small align-text-top"> ({{ count|integer }})</span>
    </th>
</tbody>
{%- endmacro %}

{% macro rowInfo(name, value, name_class = '', value_class = '') -%}
{%- set name_class = ('e ' ~ name_class|default(''))|trim -%}
{%- set value_class = ('v ' ~ value_class|default(''))|trim -%}
<tr>
    <td class="{{ name_class }}">{{ name }}</td>
    <td class="{{ value_class }}">{{ value }}</td>
</tr>
{%- endmacro %}

{% macro rowInfoLink(name, value, href) -%}
<tr>
    <td class="e">{{ name }}</td>
    <td class="v">
        <a href="{{ href }}" class="card-link" target="_blank" rel="noopener noreferrer">{{ value }}</a>
    </td>
</tr>
{%- endmacro %}

{% macro rowPackage(package) -%}
{% import 'macros/_icons.html.twig' as icons %}
<tr>
    <td class="e pl-3">
        {{ package.name }}{%- if package.homepage %}&nbsp;{{- icons.linkExternal(package.homepage, '', 'd-print-none', 'share', 'about.extern_link') -}}{% endif -%}
    </td>
    <td class="f">{{ package.version }}</td>
    <td class="text">{{ package.description }}</td>
</tr>
{%- endmacro %}

{% macro aboutCard(id) -%}
{%- set route = path('ajax_' ~ id) -%}
{%- set title = ('about.' ~ id)|trans -%}
<div class="card">
    <div class="card-header" id="{{ id }}-header">
        <a data-toggle="collapse" role="button" href="#{{ id }}" class="card-link" aria-expanded="false" aria-controls="{{ id }}">{{ title }}</a>
    </div>
    <div id="{{ id }}" class="card-body collapse" aria-labelledby="{{ id }}-header" aria-expanded="false" data-parent="#accordionAbout" data-url="{{ route }}">
        <div class="alert mb-0" role="alert">
            <span class="spinner-border spinner-border-sm text-secondary" role="status" aria-hidden="true"></span>
            <span>{{ 'about.loading'|trans }}</span>
        </div>
    </div>
</div>
{%- endmacro %}
