{% extends 'cards/card_base.html.twig' %}
{% import 'about/_about_macro.html.twig' as tools %}
{% from 'macros/_icons.html.twig' import link, linkExternal, homepage, sitemap, button_pdf, button_word, link_pdf, link_word, link_excel %}
{# macros #}
{% macro card(id, pdf_route, excel_route=false, word_route=false) -%}
    {%- set title = ('about.' ~ id)|trans -%}
    {%- set route = path('about_' ~ id ~ '_content') -%}
    <div class="card-header d-flex-wrap-center">
        <a class="drop-down-icon-left card-title flex-fill" href="#" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" title="{{ 'about.expand'|trans }}">{{- title -}}</a>
        {{ link_pdf(pdf_route) }}
        {% if excel_route %}
            {{ link_excel(excel_route) }}
        {% endif %}
        {% if word_route %}
            {{ link_word(word_route) }}
        {% endif %}
    </div>
    <div class="card-body collapse" id="{{ id }}" data-bs-parent="#aboutAccordion">
        <div class="collapse-content" data-url="{{ route }}">
            <div class="alert py-0 mb-0" role="alert">
                <span class="spinner-border spinner-border-sm me-2" role="status"></span><span>{{ 'about.loading'|trans }}</span>
            </div>
        </div>
    </div>
{%- endmacro %}
{# parameters #}
{%- set title = 'index.menu_info' -%}
{%- set title_icon = 'info-circle' -%}
{%- set title_parameters = {'%app_name%': app_name} -%}
{% set customer = user_service.customer %}
{# class #}
{% block card_class ' mb-2' %}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}
{# card body #}
{% block card_body %}
{# application #}
<div id="configuration" class="phpversion" data-collapse="{{ 'about.collapse'|trans }}" data-expand="{{ 'about.expand'|trans }}" data-error="{{ 'about.error'|trans }}">
    <table id="data-table-application" class="table table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2">
                    <div class="d-inline-flex align-items-end">
                        <img alt="{{ 'about.app_name'|trans }}" width="64" height="64" class="rounded-1 me-2" src="{{ asset_icon(72) }}">
                        <h1>{{ 'about.version'|trans({'%version%': app_version}) }}</h1>
                    </div>
                </td>
            </tr>
            {{ tools.rowInfo('about.app_name'|trans, app_name) }}
            {{ tools.rowInfo('about.app_version'|trans, app_version) }}
            {{ tools.rowInfo('about.app_description'|trans, app_description) }}
            {{ tools.rowInfo('about.app_environment'|trans, env|trans) }}
            {{ tools.rowInfo('about.app_mode'|trans, mode|trans) }}
            {{ tools.rowInfoLink('about.app_customer'|trans, customer.name, customer.url) }}
            {{ tools.rowInfoLink('about.app_owner'|trans, app_owner_name, app_owner_url) }}
            {{ tools.rowInfoLink('about.app_github'|trans, 'about.app_github_url'|trans, 'https://github.com/laurentmuller/calculation') }}
        </tbody>
    </table>
</div>
{% endblock %}
{# body #}
{% block body %}
{{ parent() }}
<div class="card card-collapse" id="aboutAccordion">
    {{ _self.card('licence', 'about_licence_pdf', false, 'about_licence_word') }}
    {{ _self.card('policy', 'about_policy_pdf', false, 'about_policy_word') }}
    {% if is_admin %}
        {{ _self.card('symfony', 'about_symfony_pdf', 'about_symfony_excel') }}
        {{ _self.card('php', 'about_php_pdf', 'about_php_excel') }}
        {{ _self.card('mysql', 'about_mysql_pdf', 'about_mysql_excel', false) }}
    {% endif %}
</div>
<div class="d-flex-wrap-center mt-2 pb-3 d-print-none">
    {{ homepage() }}
    {{ link(path('user_comment'), 'user.comment.title', 'btn btn-form btn-secondary', 'envelope far', 'user.comment.description') }}
    {{ sitemap() }}
    {{ button_pdf('about_pdf') }}
    {{ button_word('about_word') }}
</div>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/phpinfo.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{%- if app.debug -%}
    {{ parent() }}
    {{ asset_js('js/application/about.js') }}
{%- else -%}
    {{ asset_js('js/compiled/about.js') }}
{%- endif -%}
{% endblock %}
