{% extends 'cards/card_base.html.twig' %}
{% import 'about/_about_macro.html.twig' as tools %}
{% from 'macros/_icons.html.twig' import link, homepage, button_pdf %}
{# parameters #}
{%- set title = 'index.menu_info' -%}
{%- set title_icon = 'info-circle' -%}
{%- set title_parameters = {'%app_name%': app_name} -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{% set customer = user_service.customer %}
{# class #}
{% block card_class ' mb-2' %}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}
{# card body #}
{% block card_body %}
{# application #}
<div id="configuration" class="phpversion" data-collapse="{{ 'about.collapse'|trans }}" data-expand="{{ 'about.expand'|trans }}" data-error="{{ 'about.error'|trans }}">
    <table id="data-table-application" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2">
                    <img alt="{{ 'about.app_name'|trans }}" width="64" height="64" class="rounded-lg" src="{{ asset('images/icons/favicon-72x72.png') }}">
                    <h1>{{ 'about.version'|trans({'%version%': app_version}) }}</h1>
                </td>
            </tr>
            {{ tools.rowInfo('about.app_name'|trans, app_name) }}
            {{ tools.rowInfo('about.app_version'|trans, app_version) }}
            {{ tools.rowInfo('about.app_environment'|trans, ('environment.' ~ app_mode)|trans) }}
            {{ tools.rowInfoLink('about.app_customer'|trans, customer.name, customer.url) }}
            {{ tools.rowInfoLink('about.app_owner'|trans, app_owner, app_owner_url) }}
        </tbody>
    </table>
</div>
{% endblock %}
{# body #}
{% block body %}
{{ parent() }}
<div class="accordion" id="accordionAbout">
{{ tools.aboutCard('licence', 'about_licence_pdf') }}
{{ tools.aboutCard('policy', 'about_policy_pdf') }}
{% if super_admin %}
    {{ tools.aboutCard('symfony', 'about_symfony_pdf', 'about_symfony_excel') }}
    {{ tools.aboutCard('php', 'about_php_pdf', 'about_php_excel') }}
    {{ tools.aboutCard('mysql', 'about_mysql_pdf', 'about_mysql_excel') }}
{% endif %}
</div>
<div class="row no-gutters mt-2 pb-3 d-print-none">
    <div class="col">
        {{ homepage() }}
        {{ link(path('user_comment'), 'user.comment.title', 'btn btn-form btn-secondary', 'envelope far', 'user.comment.description') }}
        {{ button_pdf('about_pdf') }}
    </div>
</div>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/phpinfo.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{%- if app.debug -%}
    {{ parent() }}
    {{ asset_js('js/application/about.js') }}
{%- else -%}
    {{ asset_js('js/about.js') }}
{%- endif -%}
{% endblock %}
