{% extends 'cards/card_base.html.twig' %}
{% from 'about/_about_macro.html.twig' import card %}
{% from 'macros/_icons.html.twig' import link, homepage, button_pdf, button_word %}
{# parameters #}
{%- set title = 'index.menu_info' -%}
{%- set title_icon = 'info-circle' -%}
{%- set title_parameters = {'%app_name%': app_name} -%}
{% set customer = application_parameters.customerInformation %}
{# class #}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}
{# card body #}
{% block card_body %}
    {{ include('about/_about_configuration.html.twig', {full_info: true}) }}
{% endblock card_body %}
{# body #}
{% block body %}
    {{ parent() }}
    <div class="card card-collapse" id="aboutAccordion">
        {{ card(id: 'licence', title: 'about.licence.title', pdf_route: 'about_licence_pdf', word_route: 'about_licence_word') }}
        {{ card(id: 'policy', title: 'about.policy.title', pdf_route: 'about_policy_pdf', word_route: 'about_policy_word') }}
    </div>
    <div class="d-flex-wrap-center mt-2 pb-3 d-print-none">
        {{ homepage() }}
        {{ link(
            href: path('user_comment'),
            text: 'user.comment.title',
            class: 'btn btn-form btn-secondary',
            icon: 'envelope far',
            title: 'user.comment.description',
            inline: true) }}
        {{ button_pdf('about_pdf') }}
        {{ button_word('about_word') }}
        {% if is_granted(ROLE_ADMIN) %}
            {{ link(
                href: path('about_advanced'),
                text: 'about.advanced.action',
                class: 'btn btn-form btn-outline-secondary',
                icon: 'screwdriver-wrench',
                title: 'about.advanced.title',
                inline: true) }}
        {% endif %}
    </div>
{% endblock body %}
{# stylesheets #}
{% block stylesheets %}
    {{ asset_css('css/phpinfo.css') }}
{% endblock stylesheets %}
{# javascripts #}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('build/clipboard/clipboard.js') }}
        {{ asset_js('js/plugins/plugin-copy.js') }}
        {{ asset_js('js/application/about.js') }}
    {%- else -%}
        {{ asset_js('js/compiled/about.js') }}
    {%- endif -%}
{% endblock javascripts %}
