{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'about/_about_macro.html.twig' as tools %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'index.menu_info' -%}
{%- set title_icon = 'info-circle' -%}
{%- set title_parameters = {'%app_name%': app_name} -%}

{% block card_class ' mb-2' %}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}

{% block card_body %}
{# application #}
<div id="configuration" class="phpversion" data-error="{{ 'about.error'|trans }}">
    <table id="data-table-application" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2">
                    <p>
                        <img alt="Application" width="64" height="64" class="rounded-lg" src="{{ asset('images/icons/android-icon-72x72.png') }}">
                        <h1 class="p">{{ 'about.version'|trans({'%version%': app_version}) }}</h1>
                    </p>
                </td>
            </tr>
            {{ tools.rowInfo('about.app_name'|trans, app_name) }}
            {{ tools.rowInfo('about.app_version'|trans, app_version) }}
            {{ tools.rowInfo('about.app_environment'|trans, ('environment.' ~ app_mode)|trans) }}
            {{ tools.rowInfoLink('about.app_customer'|trans, customer.customer_name, customer.customer_url) }}
            {{ tools.rowInfoLink('about.app_owner'|trans, app_owner, app_owner_url) }}
        </tbody>
    </table>
</div>
{% endblock %}

{% block body %}
{{ parent() }}
<div class="accordion" id="accordionAbout">
{{ tools.aboutCard('licence') }}
{{ tools.aboutCard('policy') }}
{% if is_granted('ROLE_ADMIN') %}
    {{ tools.aboutCard('symfony') }}
    {{ tools.aboutCard('php') }}
    {{ tools.aboutCard('mysql') }}
{% endif %}
</div>
<div class="row no-gutters mt-2 pb-3 d-print-none">
    <div class="col mr-auto">
        {{ icons.homepage() }}
        {{ icons.link(path('user_comment'), 'user.comment.title', 'btn btn-form btn-secondary', 'envelope far', 'user.comment.description') }}
    </div>
    {% if app.debug or app_mode == 'dev' -%}
    <div class="col text-right">
        {{ icons.button_pdf('about_pdf') }}
        {{ icons.link(path('about_php_ini'), 'about.php_ini', 'btn btn-form btn-outline-info') }}
        {{ icons.linkExternal(path('about_php_ini_pdf'), 'about.php_ini', 'btn btn-form btn-outline-secondary', 'file-pdf far') }}
    </div>
    {%- endif %}
</div>
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/phpinfo.css') }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/about.js') }}
{% else %}
{{ asset_js('js/about.js') }}
{% endif %}
{% endblock %}
