{% extends 'cards/card_base.html.twig' %}
{% from 'about/_about_macro.html.twig' import card %}
{% from 'macros/_icons.html.twig' import link, homepage %}
{# parameters #}
{%- set title = 'about.advanced.title' -%}
{%- set title_icon = 'fa-solid fa-screwdriver-wrench' -%}
{%- set title_parameters = {'%app_name%': app_name} -%}
{% set customer = application_parameters.customerInformation %}
{# class #}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}
{# card body #}
{% block card_body %}
    {{ include('about/_about_configuration.html.twig', {full_info: false}) }}
{% endblock card_body %}
{# body #}
{% block body %}
    {{ parent() }}
    <div class="card card-collapse" id="aboutAccordion">
        {{ card(id: 'symfony', title: 'about.symfony.title', pdf_route: 'about_symfony_pdf', excel_route: 'about_symfony_excel') }}
        {{ card(id: 'php', title: 'about.php.title', pdf_route: 'about_php_pdf', excel_route: 'about_php_excel') }}
        {{ card(id: 'database', title: 'about.database.title', pdf_route: 'about_database_pdf', excel_route: 'about_database_excel') }}
    </div>
    <div class="d-flex-wrap-center mt-2 pb-3 d-print-none">
        {{ homepage() }}
        {{ link(
            href: path('about_index'),
            text: 'about.title',
            class: 'btn btn-form btn-outline-secondary',
            icon: 'fa-solid fa-info-circle',
            inline: true) }}
    </div>
{% endblock body %}
{# stylesheets #}
{% block stylesheets %}
    {{ asset_css('css/phpinfo.css') }}
{% endblock stylesheets %}
{# javascripts #}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('build/clipboard/clipboard.js') }}
        {{ asset_js('build/jquery-contextmenu/jquery.contextMenu.js') }}
        {{ asset_js('build/jquery-contextmenu/jquery.ui.position.js') }}
        {{ asset_js('js/extensions/contextmenu-extensions.js') }}
        {{ asset_js('js/plugins/plugin-copy.js') }}
        {{ asset_js('js/application/about_index.js') }}
        {{ asset_js('js/application/about_advanced.js') }}
    {%- else -%}
        {{ asset_js('js/compiled/about_advanced.js') }}
    {%- endif -%}
{% endblock javascripts %}
