{% import 'about/_about_macro.html.twig' as tools %}
{# content #}
<div class="phpversion">
    <table id="data-table-mysql" class="table table-sm table-hover mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2" class="position-relative">
                    {% if service.mariaDB %}
                        {{- tools.content_header_link('https://mariadb.org', service.version, 'mariadb') -}}
                    {% else %}
                        {{- tools.content_header_link('https://www.mysql.com', service.version, 'mysql') -}}
                    {% endif %}
                </td>
            </tr>
            {{ tools.headerInfo('Database') }}
            {% for key, value in service.database %}
                {{ tools.rowInfo(key, value) }}
            {% endfor %}
            {{ tools.headerInfo('Configuration') }}
             {% for key, value in service.configuration %}
                 {% if service.enabledValue(value) %}
                    {{ tools.rowInfoBoolean(key, value, true) }}
                 {% elseif service.disabledValue(value) %}
                     {{ tools.rowInfoBoolean(key, value, false) }}
                 {% else %}
                     {{ tools.rowInfo(key, value) }}
                 {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
