{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'about.licence' -%}
{%- set title_icon = 'info-circle' -%}
{%- set accepted = app.request.cookies.get('POLICY-ACCEPTED') -%}

{% block card_container_class '' %}

{% block card_body %}
{% include 'about/licence_content.html.twig' %}
{% endblock %}

{% block card_footer %}
{{ icons.homepage() }}
{% if not accepted %}
<button type="button" class="btn btn-form btn-success btn-accept" data-target="{{ path('homepage') }}" title="{{ 'cookiebanner.close_title'|trans }}">
	{{- 'cookiebanner.accept'|trans -}}
</button>
{% endif %}
{{ icons.link(path('about_policy'), 'about.policy', 'btn btn-form btn-outline-info') }}
{% if app.debug or app_mode == 'dev' %}
    {{ icons.button_pdf('about_licence_pdf') }}
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if not accepted %}
{% include 'cookie_banner.html.twig' with {'link_url': 0} %}
    {{ asset_js('js/application/about_accept.js') }}
{% endif %}
{% endblock %}
