{% import 'about/_about_macro.html.twig' as tools %}
{# parameters #}
{% set enabled_values = ['On', 'Yes', 'True', 'Enabled'] %}
{% set disabled_values = ['Off', 'No', 'False', 'Disabled'] %}
{# content #}
<div class="phpversion">
    <table id="data-table-mysql" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2" class="position-relative">
                    {{- tools.content_header_link('https://www.mysql.com', service.version, 'mysql') -}}
                </td>
            </tr>
            {{ tools.headerInfo('Database') }}
            {% for key, value in service.database %}
                {{ tools.rowInfo(key, value) }}
            {% endfor %}
            {{ tools.headerInfo('Configuration') }}
             {% for key, value in service.configuration %}
                 {% if value in enabled_values %}
                    {{ tools.rowInfoBoolean(key, value, true) }}
                 {% elseif value in disabled_values %}
                     {{ tools.rowInfoBoolean(key, value, false) }}
                 {% else %}
                     {{ tools.rowInfo(key, value) }}
                 {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
