{% import 'about/_about_macro.html.twig' as tools %}
<div class="phpversion">
    <div class="border-bottom position-relative pb-1">
        {{- tools.content_header_link('https://www.php.net', version, 'php-alt', -15) -}}
    </div>
    {{ phpInfo|raw }}
    <table id="data-table-extra" class="table table-hover table-sm mb-0">
        <tbody>
            {{ tools.headerInfo('Configuration') }}
            {% if apache -%}{{ tools.rowInfo('Apache Version', apache) }}{%- endif %}
            {{ tools.rowInfo('Loaded Extensions', extensions) }}
        </tbody>
    </table>
</div>
