{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage, button_pdf %}
{# parameters #}
{%- set title = 'about.policy' -%}
{%- set title_icon = 'info-circle' -%}
{%- set accepted = app.request.cookies.get('POLICY_ACCEPTED') -%}
{# navigation #}
{% block card_container_class is_remembered ? '' : ' mt-3' %}
{% block navigation_horizontal -%}{% if is_remembered %}{{ parent() }}{% endif %}{%- endblock %}
{% block navigation_vertical -%}{% if is_remembered %}{{ parent() }}{% endif %}{%- endblock %}
{# body #}
{% block card_body %}
{{ include('about/policy_content.html.twig', {'link': true}) }}
{% endblock %}
{# footer #}
{% block card_footer %}
{% if is_remembered %}
    {{ homepage() }}
    {% if not accepted %}
    <button type="button" class="btn btn-form btn-success btn-accept" data-target="{{ path('homepage') }}" title="{{ 'cookie_banner.close_title'|trans }}">
        {{- 'cookie_banner.accept'|trans -}}
    </button>
{% endif %}
{% endif %}
{{ link(path('about_licence'), 'about.licence', 'btn btn-form btn-outline-info') }}
{{ button_pdf('about_policy_pdf') }}
{% if not is_remembered %}
    {{ link(path('app_login'), 'index.login', 'btn btn-form btn-outline-primary') }}
{% endif %}
{% endblock %}
{# cookie_banner #}
{% block cookie_banner -%}
{% if not accepted %}
    {{ include('cookie_banner.html.twig', {'displayBanner': false}) }}
    {{ asset_js('js/application/about_accept.js') }}
{% endif %}
{%- endblock %}
