{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage, sitemap, button_pdf, button_word %}
{# parameters #}
{%- set title = 'about.policy.title' -%}
{%- set title_icon = 'fa-solid fa-info-circle' -%}
{%- set accepted = app.request.cookies.boolean(constant('App\\Controller\\PolicyController::POLICY_ACCEPTED')) -%}
{%- set navigation_show = is_granted(IS_AUTHENTICATED_REMEMBERED) -%}
{# navigation #}
{% block card_container_class navigation_show ? '' : ' mt-3' %}
{% block cookie_banner -%}{% endblock cookie_banner %}
{# body #}
{% block card_body %}
    {{ content|raw }}
{% endblock card_body %}
{# footer #}
{% block card_footer %}
    <div class="d-flex-wrap">
        {% if navigation_show %}
            {{ homepage() }}
            {% if not accepted %}
                {{ link(
                    href: path('policy_accept'),
                    text: 'cookie_banner.accept',
                    class: 'btn btn-form btn-success',
                    icon: 'fa-solid fa-check',
                    title: 'cookie_banner.accept_title',
                    inline: true) }}
            {% endif %}
        {% else %}
            {{ link(
                href: path('app_login'),
                text: 'index.login',
                class: 'btn btn-form btn-outline-primary',
                icon: 'fa-solid fa-sign-in-alt',
                inline: true) }}
        {% endif %}
        {{ sitemap() }}
        {% set caller = app.request.query.string('caller') %}
        {% set params = caller ? {caller: caller} : {} %}
        {{ link(
            href: path('about_licence_index', params),
            text: 'about.licence.title',
            class: 'btn btn-form btn-secondary',
            icon: 'fa-solid fa-info-circle',
            inline: true) }}
        {{ button_pdf('about_policy_pdf') }}
        {{ button_word('about_policy_word') }}
    </div>
{% endblock card_footer %}
