{% import 'about/_about_macro.html.twig' as tools %}
{% from 'macros/_icons.html.twig' import linkExternal %}
{# macros #}
{% macro headerLinkInfo(title, id, countable=null) -%}
<div class="d-flex-wrap-center border-bottom" id="{{ id }}-header">
    <a href="#" class="drop-down-icon-left flex-fill text-body my-1" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}" title="{{ 'about.expand'|trans }}">
        {{- title -}}
    </a>
    {% if countable %}
        <span class="badge text-bg-secondary rounded-pill">{{- countable|length|integer -}}</span>
    {% endif %}
    </div>
{%- endmacro %}
{% macro rowBundle(bundle) -%}
<tr>
    <td class="e ps-3">
        {{- bundle.name -}}{%- if bundle.homepage|default(false) %}&nbsp;{{- linkExternal(bundle.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="v">{{ bundle.path }}</td>
</tr>
{%- endmacro %}
{% macro rowPackage(package) -%}
<tr>
    <td class="e ps-3">
        {{- package.name -}}{%- if package.homepage %}&nbsp;{{- linkExternal(package.homepage, '', 'd-print-none', 'arrow-up-right-from-square', 'about.extern_link') -}}{%- endif -%}
    </td>
    <td class="f text-nowrap">{{ package.version }}</td>
    <td class="text">{{ package.description }}</td>
</tr>
{%- endmacro %}
{# parameters #}
{%- set bundles = service.bundles|default([]) -%}
{%- set runtime_packages = service.packages.runtime|default([]) -%}
{%- set debug_packages = service.packages.debug|default([]) -%}
{%- set runtime_routes = service.routes.runtime|default([]) -%}
{%- set debug_routes = service.routes.debug|default([]) -%}
{# content #}
<div class="phpversion">
    <table id="data-table-symfony" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2" class="position-relative">
                    {{- tools.content_header_link('https://symfony.com', service.version, 'symfony') -}}
                </td>
            </tr>
            {{ tools.headerInfo('Kernel') }}
            {{ tools.rowInfo('Environment', app.environment) }}
            {{ tools.rowInfo('Mode', app_mode) }}
            {{ tools.rowInfo('Status', service.maintenanceStatus) }}
            {{ tools.rowInfo('Release', service.releaseDate) }}
            {{ tools.rowInfo('End of maintenance', service.endOfMaintenance) }}
            {{ tools.rowInfo('End of product life', service.endOfLife) }}
        </tbody>
    </table>
    {# Configuration #}
    <p class="fw-bold mb-0 p-1 border-bottom">Configuration</p>
    <div id="symfonyAccordion">
        {# parameters #}
        {{ _self.headerLinkInfo('Parameters', 'parameters') }}
        <div class="collapse" id="parameters" aria-labelledby="parameters-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-hover table-sm mb-0">
                <tbody>
                {{ tools.rowInfo('Locale', locale, 'ps-3') }}
                {{ tools.rowInfo('Timezone', service.timezone, 'ps-3') }}
                {{ tools.rowInfo('Charset', service.charset, 'ps-3') }}
                </tbody>
            </table>
        </div>
        {# extensions #}
        {{ _self.headerLinkInfo('Extensions', 'extensions') }}
        <div class="collapse" id="extensions" aria-labelledby="extensions-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-hover table-sm mb-0">
                <tbody>
                {{ tools.rowInfoBoolean('Debug', app.debug ? 'Enabled' : 'Disabled', app.debug, 'ps-3') }}
                {{ tools.rowInfoBoolean('OP Cache', service.zendCacheLoaded ? 'Enabled' : 'Disabled', service.zendCacheLoaded, 'ps-3') }}
                {{ tools.rowInfoBoolean('APCu', service.apcuLoaded ? 'Enabled' : 'Disabled', service.apcuLoaded, 'ps-3') }}
                {{ tools.rowInfoBoolean('Xdebug', service.xdebugLoaded ? 'Enabled' : 'Disabled', service.xdebugLoaded, 'ps-3') }}
                </tbody>
            </table>
        </div>
        {# directories #}
        {{ _self.headerLinkInfo('Directories', 'directories') }}
        <div class="collapse" id="directories" aria-labelledby="directories-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-hover table-sm mb-0">
                <tbody>
                {{ tools.rowInfo('Project', service.projectDir, 'ps-3') }}
                {{ tools.rowInfo('Logs', service.logInfo, 'ps-3') }}
                {{ tools.rowInfo('Cache', service.cacheInfo, 'ps-3') }}
                </tbody>
            </table>
        </div>
        {# bundles #}
        {% if bundles|length %}
            {{ _self.headerLinkInfo('Bundles', 'bundles', bundles) }}
            <div class="collapse" id="bundles" aria-labelledby="bundles-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-hover table-sm mb-0">
                    <tbody>
                    {% for bundle in service.bundles %}
                        {{ _self.rowBundle(bundle) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# runtime packages #}
        {% if runtime_packages|length %}
            {{ _self.headerLinkInfo('Packages', 'runtime-packages', runtime_packages) }}
            <div class="accordion-collapse collapse" id="runtime-packages" aria-labelledby="runtime-packages-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-hover table-no-end-line table-sm mb-0">
                    <tbody>
                    {% for package in runtime_packages %}
                        {{ _self.rowPackage(package) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# debug packages #}
        {% if debug_packages|length %}
            {{ _self.headerLinkInfo('Debug Packages', 'dev-packages', debug_packages) }}
            <div class="accordion-collapse collapse" id="dev-packages" aria-labelledby="dev-packages-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-hover table-no-end-line table-sm mb-0">
                    <tbody>
                    {% for package in debug_packages %}
                        {{ _self.rowPackage(package) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# runtime routes #}
        {% if runtime_routes|length %}
            {{ _self.headerLinkInfo('Routes', 'runtime-routes', runtime_routes) }}
            <div class="accordion-collapse collapse" id="runtime-routes" aria-labelledby="runtime-routes-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-hover table-no-end-line table-sm mb-0">
                    <tbody>
                    {% for route in runtime_routes %}
                        {{ tools.rowInfo(route.name, route.path, 'ps-3') }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# debug routes #}
        {% if debug_routes|length %}
            {{ _self.headerLinkInfo('Debug Routes', 'debug-routes', debug_routes) }}
            <div class="accordion-collapse collapse" id="debug-routes" aria-labelledby="debug-routes-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-hover table-no-end-line table-sm mb-0">
                    <tbody>
                    {% for route in debug_routes %}
                        {{ tools.rowInfo(route.name, route.path, 'ps-3') }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
     </div>
</div>
