{# imports #}
{% import 'about/_about_macro.html.twig' as tools %}

<div class="phpversion">
    <table id="data-table-symfony" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2">
                    <a href="https://symfony.com/" target="_blank" rel="noopener noreferrer">
                        <img alt="Symfony" width="66" height="66" src="{{ asset('images/symfony.png') }}">
                        <h1 class="p text-body">{{ 'about.version'|trans({'%version%': version}) }}</h1>
                    </a>
                </td>
            </tr>
            {{ tools.headerInfo('Kernel') }}
            {# { tools.rowInfo('Name', kernel.name) } #}
            {{ tools.rowInfo('Environment', kernel.environment) }}
            {{ tools.rowInfo('Debug', kernel.debug|json_encode) }}
            {{ tools.rowInfo('Intl Locale', locale) }}
            {{ tools.rowInfo('Timezone', timezone) }}
            {{ tools.rowInfo('Charset', kernel.charset) }}
            
            {{ tools.rowInfo('OPcache', zend_opcache_enabled ? 'enabled' : 'disabled') }}
            {{ tools.rowInfo('APCu', apcu_enabled ? 'enabled' : 'disabled') }}
            {{ tools.rowInfo('Xdebug', xdebug_enabled ? 'enabled' : 'disabled') }}
            
            {{ tools.rowInfo('End of maintenance', endOfMaintenance) }}
            {{ tools.rowInfo('End of product life', endOfLife) }}            
            {{ tools.headerInfo('Directories') }}
            {{ tools.rowInfo('Project', projectDir) }}
            {{ tools.rowInfo('Logs', logDir) }}
            {{ tools.rowInfo('Cache', cacheDir) }}
        </tbody>
    </table>

    <table id="data-table-bundles" class="table table-hover table-sm mb-0">
        {{ tools.headerInfo("Configuration") }}
    </table>

    <div class="accordion" id="symfonyAccordion">
        {# bundles #}
        {% if bundles|length %}
        <table id="data-table-bundles" class="table table-hover table-sm mb-0">
            {{ tools.headerLinkInfo('Bundles', 'bundles', bundles|length) }}
            <tbody class="collapse" id="bundles" data-parent="#symfonyAccordion">
                {% for bundle in bundles %}
                    {{ tools.rowInfo(bundle.name, bundle.path, 'pl-3') }}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {# rumtime packages #}
        {% if runtimePackages|length %}
        <table id="data-table-runtime-packages" class="table table-hover table-sm mb-0">
            {{ tools.headerLinkInfo('Packages', 'runtime-packages', runtimePackages|length, 3) }}
            <tbody class="collapse" id="runtime-packages" data-parent="#symfonyAccordion">
                {% for package in runtimePackages %}
                    {{ tools.rowPackage(package) }}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}    
             
        {# debug packages #}
        {% if debugPackages|length %}
        <table id="data-table-development-packages" class="table table-hover table-sm mb-0">
            {{ tools.headerLinkInfo('Debug Packages', 'development-packages', debugPackages|length, 3) }}
            <tbody class="collapse" id="development-packages" data-parent="#symfonyAccordion">
                {% for package in debugPackages %}
                    {{ tools.rowPackage(package) }}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {# runtime routes #}
        {% if runtimeRoutes|length %}
            <table id="data-table-routes" class="table table-hover table-sm mb-0">
                {{ tools.headerLinkInfo('Routes', 'application-routes', runtimeRoutes|length) }}
                <tbody class="collapse" id="application-routes" data-parent="#symfonyAccordion">
                    {% for route in runtimeRoutes %}
                        {{ tools.rowInfo(route.name, route.path, 'pl-3') }}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        {# debug routes #}
        {% if debugRoutes|length %}
            <table id="data-table-routes-dev" class="table table-hover table-sm mb-0">
                {{ tools.headerLinkInfo('Debug Routes', 'symfony-routes', debugRoutes|length) }}
                <tbody class="collapse" id="symfony-routes" data-parent="#symfonyAccordion">
                    {% for route in debugRoutes %}
                        {{ tools.rowInfo(route.name, route.path, 'pl-3') }}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
     </div>   
</div>
