{% import 'about/_about_macro.html.twig' as tools %}
{% from 'macros/_icons.html.twig' import linkExternal, link, icon %}
{# macros #}
{% macro headerLinkInfo(title, id, countable = null) -%}
<div class="border-bottom" id="{{ id }}-header">
    <a href="#{{ id }}" class="drop-down-icon-left d-flex text-body my-1" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ id }}" title="{{ 'common.expand'|trans }}">
        <span class="flex-fill">{{- title -}}</span>
        {% if countable %}
            <span class="badge text-bg-secondary rounded-pill">{{- countable|integer -}}</span>
        {% endif %}
    </a>
</div>
{%- endmacro %}
{% macro rowBundle(bundle) -%}
<tr>
    <td class="e">{{ bundle.name }}</td>
    <td class="v">{{ bundle.path }}</td>
    <td class="v text-percent">{{ bundle.size }}</td>
</tr>
{%- endmacro %}
{% macro headerPackage() %}
<thead>
    <tr>
        <th>Name</th>
        <th class="text-id">Version</th>
        <th colspan="3">Description</th>
    </tr>
</thead>
{% endmacro %}
{% macro rowPackage(package) -%}
<tr>
    <td class="e">{{- package.name -}}</td>
    <td class="text-id">{{- package.version -}}</td>
    <td class="text">{{ package.description }}</td>
    <td>
        {%- if package.license -%}
            <a href="#" class="d-print-none link-license" title="{{ 'about.dialog.display'|trans }}" data-file="{{ package.license }}">
                {{- icon('book-open-reader') -}}
            </a>
        {%- else -%}
            &nbsp;
        {%- endif -%}
    </td>
    <td>
        {%- if package.homepage -%}
            {{- linkExternal(href: package.homepage, class: 'd-print-none', icon: 'arrow-up-right-from-square', title: 'about.extern_link') -}}
        {%- else -%}
            &nbsp;
        {%- endif -%}
    </td>
</tr>
{%- endmacro %}
{% macro headerRoute() -%}
<thead>
    <tr>
        <th>Name</th>
        <th>Path</th>
        <th class="text-state">Method</th>
    </tr>
</thead>
{%- endmacro %}
{% macro rowRoute(route) -%}
<tr>
    <td class="e">{{ route.name }}</td>
    <td class="v">{{ route.path }}</td>
    <td class="v text-state">{{ route.methods }}</td>
</tr>
{%- endmacro %}
{% macro headerNameValue() %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
{% endmacro %}
{# parameters #}
{%- set bundles = service.bundles -%}
{%- set runtime_packages = service.runtimePackages -%}
{%- set debug_packages = service.debugPackages -%}
{%- set runtime_routes = service.runtimeRoutes -%}
{%- set debug_routes = service.debugRoutes -%}
{# content #}
<div class="phpversion">
    <table id="data-table-symfony" class="table table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2" class="position-relative">
                    {{- tools.content_header_link('https://symfony.com', service.version, 'symfony') -}}
                </td>
            </tr>
            {{ tools.headerInfo('Kernel') }}
            {{ tools.rowInfo('Environment', service.environment|trans) }}
            {{ tools.rowInfo('Running Mode', service.mode|trans) }}
            {{ tools.rowInfo('Status', service.maintenanceStatus) }}
            {{ tools.rowInfo('Release', service.releaseDate) }}
            {{ tools.rowInfoBoolean('Long-Term support', service.longTermSupport|boolean) }}
            {{ tools.rowInfo('End of maintenance', service.endOfMaintenance) }}
            {{ tools.rowInfo('End of product life', service.endOfLife) }}
        </tbody>
    </table>
    {# Configuration #}
    <p class="fw-bold mb-0 p-1 border-bottom">Configuration</p>
    <div id="symfonyAccordion">
        {# parameters #}
        {{ _self.headerLinkInfo('Parameters', 'parameters') }}
        <div class="collapse ps-lg-3" id="parameters" aria-labelledby="parameters-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-sm mb-0">
                {{ _self.headerNameValue() }}
                <tbody>
                {{ tools.rowInfo('Locale', service.localeName) }}
                {{ tools.rowInfo('Timezone', service.timezone) }}
                {{ tools.rowInfo('Charset', service.charset) }}
                {{ tools.rowInfo('Architecture', service.architecture) }}
                </tbody>
            </table>
        </div>
        {# extensions #}
        {{ _self.headerLinkInfo('Extensions', 'extensions') }}
        <div class="collapse ps-lg-3" id="extensions" aria-labelledby="extensions-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-sm mb-0">
                {{ _self.headerNameValue() }}
                <tbody>
                {{ tools.rowInfoBoolean('Debug', app.debug ? 'Enabled' : 'Disabled', app.debug) }}
                {{ tools.rowInfoBoolean('OP Cache', service.zendCacheLoaded ? 'Enabled' : 'Disabled', service.zendCacheLoaded) }}
                {{ tools.rowInfoBoolean('APCu', service.apcuLoaded ? 'Enabled' : 'Disabled', service.apcuLoaded) }}
                {{ tools.rowInfoBoolean('Xdebug', service.xdebugLoaded ? 'Enabled' : 'Disabled', service.xdebugLoaded) }}
                </tbody>
            </table>
        </div>
        {# directories #}
        {{ _self.headerLinkInfo('Directories', 'directories') }}
        <div class="collapse ps-lg-3" id="directories" aria-labelledby="directories-header" data-bs-parent="#symfonyAccordion">
            <table class="table table-sm mb-0">
                {{ _self.headerNameValue() }}
                <tbody>
                {{ tools.rowInfo('Project', service.projectDir) }}
                {{ tools.rowInfo('Logs', service.logInfo) }}
                {{ tools.rowInfo('Cache', service.cacheInfo) }}
                {{ tools.rowInfo('Build', service.buildInfo) }}
                </tbody>
            </table>
        </div>
        {# bundles #}
        {% if bundles|length %}
            {{ _self.headerLinkInfo('Bundles', 'bundles', bundles) }}
            <div class="collapse ps-lg-3" id="bundles" aria-labelledby="bundles-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Path</th>
                            <th class="text-percent">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for bundle in service.bundles %}
                        {{ _self.rowBundle(bundle) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# runtime packages #}
        {% if runtime_packages|length %}
            {{ _self.headerLinkInfo('Packages', 'runtime-packages', runtime_packages) }}
            <div class="accordion-collapse collapse ps-lg-3 table-responsive" id="runtime-packages" aria-labelledby="runtime-packages-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-no-end-line table-sm mb-0">
                    {{ _self.headerPackage() }}
                    <tbody>
                    {% for package in runtime_packages %}
                        {{ _self.rowPackage(package) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# debug packages #}
        {% if debug_packages|length %}
            {{ _self.headerLinkInfo('Debug Packages', 'dev-packages', debug_packages) }}
            <div class="accordion-collapse collapse ps-lg-3" id="dev-packages" aria-labelledby="dev-packages-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-no-end-line table-sm mb-0">
                    {{ _self.headerPackage() }}
                    <tbody>
                    {% for package in debug_packages %}
                        {{ _self.rowPackage(package) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# runtime routes #}
        {% if runtime_routes|length %}
            {{ _self.headerLinkInfo('Routes', 'runtime-routes', runtime_routes) }}
            <div class="accordion-collapse collapse ps-lg-3" id="runtime-routes" aria-labelledby="runtime-routes-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-no-end-line table-sm mb-0">
                    {{ _self.headerRoute() }}
                    <tbody>
                    {% for route in runtime_routes %}
                        {{ _self.rowRoute(route) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {# debug routes #}
        {% if debug_routes|length %}
            {{ _self.headerLinkInfo('Debug Routes', 'debug-routes', debug_routes) }}
            <div class="accordion-collapse collapse ps-lg-3" id="debug-routes" aria-labelledby="debug-routes-header" data-bs-parent="#symfonyAccordion">
                <table class="table table-no-end-line table-sm mb-0">
                    {{ _self.headerRoute() }}
                    <tbody>
                    {% for route in debug_routes %}
                        {{ _self.rowRoute(route) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
     </div>
</div>
{{ include('dialog/dialog_license.html.twig') }}
