{# imports #}
{% import 'about/_about_macro.html.twig' as tools %}

<div class="phpversion">
    <table id="data-table-symfony" class="table table-hover table-sm mb-0">
        <tbody>
            <tr class="h">
                <td colspan="2">
                    <a href="https://symfony.com/" target="_blank" rel="noopener noreferrer">
                        <img alt="Symfony" width="66" height="66" src="{{ asset('images/symfony.png') }}">
                        <h1 class="p text-body">{{ 'about.version'|trans({'%version%': version}) }}</h1>
                    </a>
                </td>
            </tr>
            {{ tools.headerInfo('Kernel') }}
            {# { tools.rowInfo('Name', kernel.name) } #}
            {{ tools.rowInfo('Environment', kernel.environment) }}
            {{ tools.rowInfo('Debug', kernel.debug|json_encode) }}
            {{ tools.rowInfo('Intl Locale', locale) }}
            {{ tools.rowInfo('Timezone', timezone) }}
            {{ tools.rowInfo('Charset', kernel.charset) }}
            
            {{ tools.rowInfo('OPcache', zend_opcache_enabled ? 'enabled' : 'disabled') }}
            {{ tools.rowInfo('APCu', apcu_enabled ? 'enabled' : 'disabled') }}
            {{ tools.rowInfo('Xdebug', xdebug_enabled ? 'enabled' : 'disabled') }}
            
            {{ tools.rowInfo('End of maintenance', endOfMaintenance) }}
            {{ tools.rowInfo('End of product life', endOfLife) }}            
            {{ tools.headerInfo('Directories') }}
            {{ tools.rowInfo('Project', projectDir) }}
            {{ tools.rowInfo('Logs', logDir) }}
            {{ tools.rowInfo('Cache', cacheDir) }}
        </tbody>
    </table>

    <table id="data-table-bundles" class="table table-hover table-sm mb-0">
        {{ tools.headerInfo("Configuration") }}
    </table>

    {# bundles #}
    {% if bundles|length %}
    <table id="data-table-bundles" class="table table-hover table-sm mb-0">
        {{ tools.headerLinkInfo('Bundles', 'bundles', bundles|length) }}
        <tbody class="collapse" id="bundles">
            {% for bundle in bundles %}
                {{ tools.rowInfo(bundle.name, bundle.path, 'pl-3') }}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {# packages #}
    {% if packages|length %}
    <table id="data-table-packages" class="table table-hover table-sm mb-0">
        {{ tools.headerLinkInfo('Packages', 'packages', packages|length, 3) }}
        <tbody class="collapse" id="packages">
            {% for package in packages %}
                {{ tools.rowPackage(package) }}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {# routes #}
    {% if routes|length or routes.symfony|length %}
    {# application routes #}
    {% if routes.application|length %}
        <table id="data-table-routes" class="table table-hover table-sm mb-0">
            {{ tools.headerLinkInfo('Routes', 'application_routes', routes.application|length) }}
            <tbody class="collapse" id="application_routes">
                {% for route in routes.application %}
                    {{ tools.rowInfo(route.name, route.path, 'pl-3') }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {# symfony routes #}
    {% if routes.symfony|length %}
        <table id="data-table-routes-dev" class="table table-hover table-sm mb-0">
            {{ tools.headerLinkInfo('Debug Routes', 'symfony_routes', routes.symfony|length) }}
            <tbody class="collapse" id="symfony_routes">
                {% for route in routes.symfony %}
                    {{ tools.rowInfo(route.name, route.path, 'pl-3') }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% endif %}
</div>
