{# macros #}
{% macro linkCalculations(query, date, count, class, title_message = 'counters.calculations_calendar') -%}
{% import 'macros/_icons.html.twig' as icons %}
{%- set title = title_message|trans({date: date, count: count}) -%}
{%- set route = app.displayTabular ? 'calculation_table' : 'calculation_card' -%}    
<a class="{{ class }}" href="{{ path(route, {'query': query}) }}" title="{{ title }}">{{ icons.icon('calculator') }}</a>
{%- endmacro %}

{% macro dataContent(calculations) -%}
{% import 'macros/_properties.html.twig' as properties %}
<table class="table table-popover table-sm mb-0">
    <tbody>
    {% for calculation in calculations -%}
        {{ _self.dataRow(calculation) }}
    {%- endfor %}
    </tbody>
</table>
{%- endmacro %}

{%  macro dataRow(calculation, class = '') %}
{% import 'macros/_properties.html.twig' as properties %}
{% set margin_class = app.marginBelow(calculation) ? 'text-percent text-danger' : 'text-percent' %}
<tr>
    <td class="text-id text-border" style="{{ properties.stateCss(calculation.stateColor) }}">{{ calculation.id|identifier }}</td>
    <td class="text-state">{{ calculation.state.code }}</td>
    <td{% if class %} class="{{ class }}"{% endif %}>{{ calculation.customer }}</td>
    <td{% if class %} class="{{ class }}"{% endif %}>{{ calculation.description }}</td>
    <td class="{{ margin_class }}">{{ calculation.overallMargin|percent }}</td>
    <td class="text-currency">{{ calculation.overallTotal|amount }}</td>
</tr>
{%- endmacro %}

{% macro dayCell(month, day, small) %}
{%- set text  = day.number -%}
{%- set title = '' -%}
{%- set class = 'text-center align-middle' ~ (small ? ' border' : '') -%}
{%- set link  = false -%}

{% if day.inMonth(month) -%}    
    {%- set title = day.date|localedate('long') -%}
    {%- set calculations = day.calculations -%} 
    {% if calculations %}
        {%- set link = true -%}
        {%- set count = calculations|length -%}        
        {%- set class = class ~ (small ? ' small' : '') ~ ' text-white' ~ (day.current ? ' bg-primary' : ' bg-success') -%}
        {%- set href = path('calculation_table', {'query': day.date|localedate('short')}) -%}
        {%- set content = _self.dataContent(calculations) -%}        
    {%- elseif day.current -%}
        {%- set class = class ~ ' bg-primary text-white' -%}
    {% elseif day.weekEnd %}
        {%- set class = class ~ ' bg-light' -%}   
    {%- endif %}
{% elseif day.weekEnd %}    
    {%- set class = class ~ ' bg-light' -%}
    {%- set text = '&nbsp;' -%}
{% else %}
    {%- set text = '&nbsp;' -%}
{%- endif %}
{% if link %}
<td class="{{ class }}"{% if title %} title="{{ title }}"{% endif %}>
    <a href="{{ href }}" class="text-white">
    	<span>{{ text }}</span>
    	<span class="badge badge-light" data-toggle="popover" data-html="{{ content|e }}"{% if title %} title="{{ title }}"{% endif %}>{{ count }}</span>
    </a>
</td>
{% else %}
<td class="{{ class }}"{% if title %} title="{{ title }}"{% endif %}>{{ text|raw }}</td>
{% endif %}
{% endmacro %}
