{% extends 'base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'calendar/_calendar.html.twig' as helper %}

{# parameters #}
{%- set title            = 'calendar.week_title' -%}
{%- set title_parameters = {'%year%': week.year, '%week%': week.number} -%}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ title|trans(title_parameters) }}</h2>
    </div>
    <div class="col-md-4 text-md-center">
        <h3>{{ 'counters.calculations'|trans({count: calculations|length}) }}</h3>
    </div>
    <div class="col-md-4 align-self-center text-md-right">
        <div class="btn-group btn-group-sm" role="group">
            {# today week #}
            {% if today %}
                {% set href = path('calendar_week', {'year': today.year, 'week': today.week}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'arrows-alt', 'calendar.week_current', null, {'%year%': today.year, '%week%': today.week}) }} 
            {% endif %}
            {# previous week #}
            {% if previous %}
                {% set href = path('calendar_week', {'year': previous.year, 'week': previous.week}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'chevron-left', 'calendar.week_previous', null, {'%year%': previous.year, '%week%': previous.week}) }}
            {% endif %}
            {# next week #}
            {% if next %}
                {% set href = path('calendar_week', {'year': next.year, 'week': next.week}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'chevron-right', 'calendar.week_next', null, {'%year%': next.year, '%week%': next.week}) }}
            {% endif %} 
            {# current month calendar #}
            {%- set first_day = week.days|filter(day => (day.inWeek(week) and not day.empty))|first -%}
            {% if first_day -%}
                {% set month = calendar.month(first_day.month) %}      
                {% set href = path('calendar_month', {'year': month.year, 'month': month.number}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'calendar-week', 'calendar.month_show', null, {'%year%': month.year, '%month%': month.name}) }}
            {%- endif %}       
            {# current year calendar #}
            {% set href = path('calendar_year', {'year': next.year}) %}
            {{ icons.link(href, null, 'btn btn-primary', 'calendar-alt far', 'calendar.year_show', null, {'%year%': next.year}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
    {% for day in week.days|filter(day => day.inWeek(week)) -%}
        <table class="table table-sm table-borderless">
            <thead>
                <tr class="bg-secondary text-white">
                    <td colspan="5" class="week-head"><span>{{ day.date|localedate('long') }}</span><span class="small"> - {{ 'counters.calculations'|trans({'count': day.count}) }}</span> </td>
                    <td class="text-right">
                        {% if not day.empty -%}
                            <span>{{ helper.linkCalculations(day.date|localedate('short'), day.date|localedate('long'), day.count, 'text-white', 'counters.calculations_day') }}</span>
                        {%- endif %}
                    </td>
                </tr>
            </thead>
            {% if not day.empty %}
            <tbody>
                {% for calculation in day.calculations -%}
                     {{ helper.dataRow(calculation, 'text-cell') -}}
                {%- endfor %}
            </tbody>
            {% endif %}
        </table>
    {%- endfor %}
    </div>    
</div>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ asset_css('css/calendar.css') }}
{% endblock %}
