{% extends 'base.html.twig' %}

{# macros #}
{% macro weekRow(month, week) %}
{% import 'calendar/_calendar.html.twig' as helper %}
{%- set class = 'border text-center font-weight-bold p-2 week' -%}
{%- set week_title = 'calendar.week_title'|trans({'%week%': week.number}) -%}
{% if week.current and month.number == month.today.month -%}{%- set class = class ~ ' bg-primary text-white' -%}{%- endif %}
<tr>
    <td class="{{ class }}" title="{{ week_title }}">{{ week.number }}</td>
    {% for day in week.days -%}
        {{ helper.dayCell(month, day, true) }}
    {%- endfor %}
</tr>
{% endmacro %}

{% macro monthTable(month) %}
{%- set class = 'text-white text-center font-weight-normal' ~ (month.current ? ' bg-primary' : ' bg-secondary') -%}
<div class="col-lg-4 col-md-6 mb-4">
	<table class="border w-100 calendar">
		<thead>
			<tr>
				<th colspan="8" class="{{ class }}">
                {% if month.empty %}
                    <span class="text-white">{{ month.Name }}</span>
                {% else %}
                    <a class="text-white" href="{{ path('test_month', {'year': month.year, 'month': month.number}) }}">{{ month.Name }}</a>
                {% endif %}
				</th>
			</tr>
			<tr>
                <th class="border font-weight-normal">&nbsp;</th>
                {% for name in month.calendar.weekShortNames %}
                    {%- set class = 'border text-center font-weight-normal' -%}
                    {% if loop.index in [6, 7] %}{%- set class = class ~ ' bg-light' -%}{% endif %}
                    <th class="{{ class }}">{{ name }}</th>
                {% endfor %}
            </tr>
		</thead>
		<tbody>
    	{% for week in month.weeks -%}
            {{ _self.weekRow(month, week) }}
		{%- endfor %}
		</tbody>
	</table>
</div>
{% endmacro %}

{% macro previousLink(previousYear) %}
{% import 'macros/_icons.html.twig' as icons %}
{% set title = 'calendar.previous_title'|trans %}
{% if previousYear %}
    {% set href = path('test_calendar', {'year': previousYear}) %}
    <li class="page-item"><a class="page-link" href="{{ href }}" title="{{ title }}">{{ icons.icon('chevron-left fa-fw') }}</a></li>
{% else %}
    <li class="page-item disabled"><span class="page-link" title="{{ title }}">{{ icons.icon('chevron-left fa-fw') }}</span></li>
{% endif %}
{% endmacro %}

{% macro nextLink(nextYear) %}
{% import 'macros/_icons.html.twig' as icons %}
{% set title = 'calendar.next_title'|trans %}
{% if nextYear %}
    {% set href = path('test_calendar', {'year': nextYear}) %}
    <li class="page-item"><a class="page-link" href="{{ href }}" title="{{ title }}">{{ icons.icon('chevron-right fa-fw') }}</a></li>
{% else %}
    <li class="page-item disabled"><span class="page-link" title="{{ title }}">{{ icons.icon('chevron-right fa-fw') }}</span></li>
{% endif %}
{% endmacro %}

{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title            = 'calendar.year_title' -%}
{%- set title_parameters = {'%year%': calendar.year} -%}

{# class #}
{% block container_class 'container-xl' %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2 class="">{{ 'calendar.year_title'|trans({'%year%': calendar.year}) }}</h2>
    </div>
    <div class="col-md-4 text-md-center">
    	<h3>{{ 'counters.calculations'|trans({count: calculations|length}) }}</h3>
    </div>
    <div class="col-md-4 ">
        <nav aria-label="Years">
            <ul class="pagination justify-content-md-end">
            {% for year in years %}                
                {# % if loop.first %}{{ _self.previousLink(previousYear) }}{% endif % #}                
                {% set title = 'calendar.year_title'|trans({'%year%': year}) %}
                {% if year == calendar.year %}
                    <li class="page-item active"><span class="page-link" title="{{ title }}">{{ year }}</span></li>
                {% else %}
                    {% set href = path('test_calendar', {'year': year}) %}
                    <li class="page-item"><a class="page-link" href="{{ href }}" title="{{ title }}">{{ year }}</a></li>
                {% endif %}
                {# % if loop.last %}{{ _self.nextLink(nextYear) }}{% endif % #}
            {% endfor %}
            </ul>
        </nav>
    </div>
</div>

<div class="row">
{% for month in calendar.months %}
    {{ _self.monthTable(month) }}
{% endfor %}
</div>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ asset_css('css/calendar.css') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/test/calendar.js') }}
{% endblock %}
