{% extends 'base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'calendar/_calendar.html.twig' as helper %}

{# macros #}
{% macro weekRow(month, week) %}
{%- set class = 'border text-center text-white p-2 week' -%}
{% if week.current -%}
    {%- set class = class ~ ' bg-primary' -%}
{%- else -%}
    {%- set class = class ~ ' bg-secondary' -%}
{%- endif %}
{%- set week_title = 'calendar.week_show'|trans({'%week%': week.number, '%year%': week.year}) -%}
<tr>
    <td class="{{ class }}" title="{{ week_title }}">
        {% if week.empty %}
            {{ week.number }}
        {% else %}
            {% set href = path('calendar_week', {'year': week.year, 'week': week.number}) %}
            <a href="{{ href }}" class="text-white">{{ week.number }}</a>            
        {% endif %}
    </td>
    {% for day in week.days -%}
        {{ helper.dayCell(month, day, true) }}
    {%- endfor %}
</tr>
{% endmacro %}

{% macro monthTable(month) %}
{%- set class = 'text-white font-weight-normal' ~ (month.current ? ' bg-primary' : ' bg-secondary') -%}
<div class="col-lg-4 col-md-6 mb-4">
	<table class="border w-100 calendar">
		<thead>
			<tr>
                {% if month.empty %}                
                <th colspan="8" class="{{ class }} text-center">
                    <span class="text-white">{{ month.name }}</span>
                </th>
                {% else %}
                <th class="{{ class }} text-center">
                    <span>&nbsp;</span>
                </th>                
                <th colspan="6" class="{{ class }} text-center">
                    <a class="text-white" href="{{ path('calendar_month', {'year': month.year, 'month': month.number}) }}" title="{{ 'calendar.month_show'|trans({'%month%': month.name, '%year%': month.year}) }}">{{ month.Name }}</a>                    
                </th>
                <th class="{{ class }} text-right pr-2">
                    {{ helper.linkCalculations('%02d.%d'|format(month.number, month.year), month.name ~ ' ' ~ month.year, month.count, 'text-white') }}
                </th>
                {% endif %}
			</tr>
			<tr>
                <th class="border bg-secondary">&nbsp;</th>
                {% for name in month.calendar.weekShortNames %}
                    {%- set class = 'border text-center font-weight-normal' -%}
                    {% if loop.index in [6, 7] %}{%- set class = class ~ ' bg-light' -%}{% endif %}
                    <th class="{{ class }}">{{ name }}</th>
                {% endfor %}
            </tr>
		</thead>
		<tbody>
    	{% for week in month.weeks -%}
            {{ _self.weekRow(month, week) }}
		{%- endfor %}
		</tbody>
	</table>
</div>
{% endmacro %}

{# parameters #}
{%- set title            = 'calendar.year_title' -%}
{%- set title_parameters = {'%year%': calendar.year} -%}

{# class #}
{% block container_class 'container-xl' %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2 class="">{{ title|trans(title_parameters) }}</h2>
    </div>
    <div class="col-md-4 text-md-center">
    	<h3>{{ 'counters.calculations'|trans({count: calculations|length}) }}</h3>
    </div>
    <div class="col-md-4 align-self-center text-md-right">
        <div class="btn-group btn-group-sm" role="group">
            {# today year #}
            {% if today %}
                {% set href = path('calendar_year', {'year': today}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'arrows-alt', 'calendar.year_current', null, {'%year%': today}) }}
            {% endif %}
            {# previous year #}
            {% if previous %}
                {% set href = path('calendar_year', {'year': previous}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'chevron-left', 'calendar.year_previous', null, {'%year%': previous}) }}
            {% endif %}
            {# next year #}
            {% if next %}
                {% set href = path('calendar_year', {'year': next}) %}
                {{ icons.link(href, null, 'btn btn-primary', 'chevron-right', 'calendar.year_next', null, {'%year%': next}) }}
            {% endif %}
            {# calculations #}
            {{ helper.linkCalculations(calendar.year, calendar.year, calculations|length, 'btn btn-primary') }}
        </div>
    </div>
</div>

<div class="row popover-w-100">
{% for month in calendar.months %}
    {{ _self.monthTable(month) }}
{% endfor %}
</div>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ asset_css('css/calendar.css') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/test/calendar.js') }}
{% endblock %}
