{% extends 'base.html.twig' %}
{# imports #}
{% from 'macros/_icons.html.twig' import link %}
{% import 'calendar/_calendar.html.twig' as helper %}
{# macros #}
{% macro weekRow(month, week) %}
{%- set week_title = 'calendar.week_show'|trans({'%week%': week.number, '%year%': week.year}) -%}
{%- set class = 'bg-secondary text-white text-center align-middle week' -%}
{% if week.current -%}{%- set class = 'bg-primary text-center align-middle text-white week' -%}{%- endif %}
<tr>
    <td class="{{ class }}" title="{{ week_title }}">
    {% if week.empty %}
        {{ week.number }}
    {% else %}
        {% set href = path('calendar_week', {'year': week.year, 'week': week.number}) %}
        <a href="{{ href }}" class="text-white">{{ week.number }}</a>
    {% endif %}
    {% for day in week.days -%}
        {{ helper.dayCell(month, day, false) }}
    {%- endfor %}
</tr>
{% endmacro %}

{# parameters #}
{%- set title = 'calendar.month_title' -%}
{%- set title_parameters = {'%year%': calendar.year, '%month%': month.Name} -%}
{%- set month_index = month.number -%}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ title|trans(title_parameters) }}</h2>
    </div>
    <div class="col-md-4 text-md-center">
        <h3>{{ 'counters.calculations'|trans({count: calculations|length}) }}</h3>
    </div>
    <div class="col-md-4 align-self-center text-md-right">
        <div class="btn-group btn-group-sm" role="group">
            {# today month #}
            {% if today %}
                {% set href = path('calendar_month', {'year': today.year, 'month': today.month}) %}
                {{ link(href, null, 'btn btn-primary', 'arrows-alt', 'calendar.month_current', null, {'%year%': today.year, '%month%': calendar.monthNames[today.month]}) }}
            {% endif %}
            {# previous month #}
            {% if previous %}
                {% set href = path('calendar_month', {'year': previous.year, 'month': previous.month}) %}
                {{ link(href, null, 'btn btn-primary', 'chevron-left', 'calendar.month_previous', null, {'%year%': previous.year, '%month%': calendar.monthNames[previous.month]}) }}
            {% endif %}
            {# next month #}
            {% if next %}
                {% set href = path('calendar_month', {'year': next.year, 'month': next.month}) %}
                {{ link(href, null, 'btn btn-primary', 'chevron-right', 'calendar.month_next', null, {'%year%': next.year, '%month%': calendar.monthNames[next.month]}) }}
            {% endif %}
            {# current year calendar #}
            {% set href = path('calendar_year', {'year': calendar.year}) %}
            {{ link(href, null, 'btn btn-primary', 'calendar-alt far', 'calendar.year_show', null, {'%year%': calendar.year}) }}
            {# calculations #}
            {{ helper.linkCalculations('%02d.%d'|format(month.number, month.year), month.name ~ ' ' ~ month.year, calculations|length, 'btn btn-primary') }}
        </div>
    </div>
</div>
<div class="row popover-w-100">
    <div class="col">
        <table class="table table-bordered w-100 month">
            <tr>
                <th class="border bg-secondary text-white text-center week font-weight-normal">{{ 'calendar.week_short'|trans }}</th>
                {% for name in calendar.weekShortNames %}
                    <th class="border bg-secondary text-white text-center font-weight-normal">{{ name }}</th>
                {% endfor %}
            </tr>
            {% for week in month.weeks -%}
                {{ _self.weekRow(month, week) }}
            {%- endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ asset_css('css/calendar.css') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/test/calendar.js') }}
{% endblock %}
