{% extends 'cards/card_edit_center.html.twig' %}
{# parameters #}
{%- set title = "security.login.title" -%}
{%- set title_description = "security.login.description" -%}
{%- set title_icon = 'sign-in-alt' -%}
{%- set submit_text = 'security.login.submit' -%}
{%- set cancel_path = false -%}

{% block card_footer -%}
{{ parent() }}
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}

{% block actions_form %}
{{ parent() }}
<a href="{{ path('app_forgot_password_request') }}" class="ml-md-2">{{ 'resetting.link'|trans }}</a>
{% endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/application/user_recaptcha.js') }}
{{ asset_js('js/application/user_login.js') }}
{% else %}
{{ asset_js('js/user_login.js') }}
{%- endif %}
{% endblock %}
