{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title         = "security.login.title" -%}
{%- set title_icon    = 'sign-in-alt' -%}
{%- set submit_text   = 'security.login.submit' -%}
{%- set cancel_path   = false -%}

{# class styles #}
{% block card_container_class ' col-xl-8 offset-xl-2 my-auto h-50' %}

{% block card_header %}
{{ parent() }}
{% if error|default(false) %}
    <em class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</em>
{% endif %}
{% endblock %}

{% block card_footer -%}
{{ parent() }}
<hr class="mb-2">
<div class="row">
    <div class="col-md-6">
        <small>{{ app_name_version }}</small>
    </div>
    <div class="col-md-6 text-md-right">
        <small>{{ icons.copyright_link() }}</small>
    </div>
</div>
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{% endblock %}

{% block actions_form %}
{{ parent() }}
{{ icons.link(path("app_forgot_password_request"), 'resetting.link', 'btn btn-form btn-link') }}
{% endblock %}

{# hide navigation and footer #}
{% block navigation %}{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets -%}
{{ asset_css('css/center.css') }}
{% endblock %}

{% block javascripts -%}
{#
{% if recaptcha_used ?? false and recaptcha_site ?? false %}
{{ asset_js('https://www.google.com/recaptcha/api.js?render=' ~ recaptcha_site, {'recaptcha-site': recaptcha_site, 'recaptcha-action': 'login'}) }}
{%- endif %}
#}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/application/user_recaptcha.js') }}
{{ asset_js('js/application/user_login.js') }}
{% else %}
{{ asset_js('js/user_login.js') }}
{%- endif %}
{% endblock %}
