{% macro title(title, target) %}
<div class="d-flex-wrap-center bg-body-secondary border px-2 py-1 mb-2">
    <span class="me-auto fw-bold">{{ title }}</span>
    <a href="#{{ target }}" class="d-print-none" data-bs-toggle="modal" title="{{ 'dialog_raw_data.tooltip'|trans }}">
        <i class="fa-solid fa-code"></i>
    </a>
</div>
{% endmacro %}

{% macro value_unit(value, unit = '', separator = ' ') -%}
    {{ (value ~ separator ~ unit)|trim }}
{%- endmacro %}

{% macro value_temp(value, unit) -%}
    {{ _self.value_unit(value|number_format(1), unit, '') }}
{%- endmacro %}

{% macro value_humidity(value, unit) -%}
    {{ _self.value_unit(value, unit, '') }}
{%- endmacro %}

{% macro value_pressure(value, unit) -%}
    {{ _self.value_unit(value, unit) }}
{%- endmacro %}

{% macro value_speed(value, unit) -%}
    {{ _self.value_unit(value, unit) }}
{%- endmacro %}

{% macro value_no_sep(value, unit) -%}
    {{ _self.value_unit(value, unit, '') }}
{%- endmacro %}

{% macro value_rain(value, unit = '') -%}
    {{ _self.value_unit(value|number_format(1), unit, ' ') }}
{%- endmacro %}

{% macro value_wind(description, degrees, unit) -%}
<span title="{{ 'openweather.fields.wind_deg_title'|trans({'%value%': _self.value_no_sep(degrees, unit)}) }}">
    <i class="fa-solid fa-location-arrow fa-rotate-by text-success me-2" style="--fa-rotate-angle: {{ degrees - 45 }}deg;"></i>{{ description -}}
</span>
{%- endmacro %}
