{% import 'openweather/_weather_macro.html.twig' as tools %}
{# title #}
{%- set title = 'counters.weather_forecast'|trans({count: forecast.cnt * 3}) -%}
{{ tools.title(title, 'forecast_data_modal') }}
{# table #}
<div class="table-responsive">
    <table class="table table-sm mb-0">
        <tbody>
            {% for data in forecast.list %}
            <tr>
                <td class="ow-date">
                    {{ data.dt_time_locale }}
                </td>
                <td class="ow-icon">
                    <img src="{{ data.weather.icon_small }}" class="ow-image" alt="{{ 'openweather.fields.forecast_weather'|trans }}" title="{{ data.weather.description }}">
                </td>
                <td class="ow-temperature">
                    <span class="ow-temperature-pills ow-temperature-forecast" title="{{ 'openweather.fields.temp'|trans }}">{{ tools.value_temp(data.main.temp, units_temp) }}</span>
                </td>
                <td class="w-50">
                    {% apply spaceless %}
                    <span>{{ data.weather.description }}</span>{% if data.rain['3h']|default(false) %}<span title="{{ 'openweather.fields.rain'|trans }}">, {{ tools.value_rain(data.rain['3h'], units_volume) }}</span>{% endif %}
                    <br>
                    <span title="{{ 'openweather.fields.wind'|trans }}">{{ tools.value_speed(data.wind.speed, units_speed) }}</span>
                    <span>, </span>
                    <span title="{{ 'openweather.fields.wind_deg'|trans }}">
                        {{- tools.value_wind(data.wind.deg_description, data.wind.deg, units_degree) -}}
                    </span><br>
                    <span title="{{ 'openweather.fields.pressure'|trans }}">{{ tools.value_pressure(data.main.pressure, units_pressure) }}</span>
                    <span> - </span>
                    <span title="{{ 'openweather.fields.humidity'|trans }}">{{ tools.value_humidity(data.main.humidity, units_percent) }}</span>
                    {% endapply %}
               </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'dialog/dialog_raw_data.html.twig' with {'id': 'forecast_data_modal', 'description': title, 'raw_data': forecast, 'button_copy': true} %}
