{% import 'openweather/_weather_macro.html.twig' as tools %}
{# title #}
{% set title = 'counters.weather_daily'|trans({count: daily.cnt}) %}
{{- tools.title(title, 'daily_data_modal') -}}
{# table #}
<div class="table-responsive">
    <table class="table table-no-end-line table-sm mb-0">
        <tbody>
            {% for data in daily.list %}
            <tr>
                <td class="ow-date">
                    {%- if loop.index == 1 -%}
                        {{- 'openweather.current.today'|trans -}}
                    {%- else -%}
                        {{- data.dt|locale_date('none', 'eeee') }}
                    {%- endif -%}
                    <br><span class="small text-body-secondary">{{ data.dt_date }}</span>
                </td>
                <td class="ow-icon">
                    <img src="{{ data.weather.icon_small }}" class="ow-image" alt="{{ 'openweather.fields.daily_weather'|trans }}" title="{{ data.weather.description }}">
                </td>
                <td class="ow-temperature">
                    <p class="ow-temperature-pills ow-temperature-night my-1" title="{{ 'openweather.fields.temp_night'|trans }}">{{ tools.value_temp(data.temp.night, units_temp) }}</p>
                    <p class="ow-temperature-pills ow-temperature-day mb-0" title="{{ 'openweather.fields.temp_day'|trans }}">{{ tools.value_temp(data.temp.day, units_temp) }}</p>
                </td>
                <td class="">
                    <span title="{{ 'openweather.fields.description'|trans }}">{{ data.weather.description }}</span>
                    {% if data.rain|default(false) %}<span title="{{ 'openweather.fields.rain'|trans }}">, {{ tools.value_rain(data.rain, units_volume) }}</span>{% endif %}
                    <br>
                    <span title={{ 'openweather.fields.wind_title'|trans }}>{{ tools.value_speed(data.speed, units_speed) }}</span>
                    <span>, </span>
                    <span title="{{ 'openweather.fields.wind_deg'|trans }}">
                        {{- tools.value_wind(data.deg_description, data.deg, units_degree) -}}
                    </span><br>
                    <span title="{{ 'openweather.fields.pressure'|trans }}">{{ tools.value_pressure(data.pressure, units_pressure) }}</span>
                    <span> - </span>
                    <span title="{{ 'openweather.fields.humidity'|trans }}">{{ tools.value_humidity(data.humidity, units_percent) }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ include('dialog/dialog_raw_data.html.twig', {id: 'daily_data_modal', description: title, raw_data: daily, allow_copy: true}) }}
