{% import 'openweather/_weather_macro.html.twig' as tools %}
{# title #}
{% set title = 'counters.weather_daily'|trans({count: daily.cnt}) %}
{{- tools.title(title, 'daily_data_modal') -}}
{# table #}
<div class="table-responsive">
    <table class="table table-sm mb-0">
        <tbody>
            {% for data in daily.list %}
            <tr>
                <td class="ow-date">
                    {%- if loop.index == 1 -%}
                        {{- 'openweather.current.today'|trans -}}
                    {%- else -%}
                        {{- data.dt|locale_date(pattern='eeee')|capitalize }}
                    {%- endif -%}
                    <br><span class="small text-muted">{{ data.dt_date }}</span>
                </td>
                <td class="ow-icon">
                    <img src="{{ data.weather.icon_small }}" class="ow-image" alt="{{ 'openweather.fields.daily_weather'|trans }}" title="{{ data.weather.description }}">
                </td>
                <td class="ow-temperature">
                    <span class="ow-temperature-pills ow-temperature-night" title="{{ 'openweather.fields.temp_night'|trans }}">{{ tools.value_temp(data.temp.night, units_temp) }}</span>
                    <span class="ow-temperature-pills ow-temperature-day" title="{{ 'openweather.fields.temp_day'|trans }}">{{ tools.value_temp(data.temp.day, units_temp) }}</span>
                </td>
                <td class="w-50">
                    {% apply spaceless %}
                    <span>{{ data.weather.description }}</span>
                    {% if data.rain|default(false) %}<span title="{{ 'openweather.fields.rain'|trans }}">, {{ tools.value_rain(data.rain, units_volume) }}</span>{% endif %}
                    <br>
                    <span title={{ 'openweather.fields.wind'|trans }}>{{ tools.value_speed(data.speed, units_speed) }}</span>
                    <span>, </span>
                    <span title="{{ 'openweather.fields.wind_deg'|trans }}">
                        {{- tools.value_wind(data.deg_description, data.deg, units_degree) -}}
                    </span><br>
                    <span title="{{ 'openweather.fields.pressure'|trans }}">{{ tools.value_pressure(data.pressure, units_pressure) }}</span>
                    <span> - </span>
                    <span title="{{ 'openweather.fields.humidity'|trans }}">{{ tools.value_humidity(data.humidity, units_percent) }}</span>
                    {% endapply %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'dialog/dialog_raw_data.html.twig' with {'id': 'daily_data_modal', 'description': title, 'raw_data': daily, 'button_copy': true} %}
