{% from 'openweather/_weather_macro.html.twig' import value_unit, value_temp, value_wind, title as value_title %}
{# macros #}
{% macro row_title(name) %}
<tr>
    <td colspan="2">{{ name|trans }}</td>
</tr>
{% endmacro row_title %}
{% macro row_text(name, value) %}
<tr>
    <td class="ps-4 w-35">{{ name|trans }}</td>
    <td>{{ value|raw }}</td>
</tr>
{% endmacro row_text %}
{% macro row_unit(name, value, unit = '', separator = ' ') %}
    {{ _self.row_text(name, value_unit(value, unit, separator)) }}
{% endmacro row_unit %}
{% macro row_temp(name, value, unit = '') %}
    {{ _self.row_text(name, value_temp(value, unit, '')) }}
{% endmacro row_temp %}
{% macro row_volume(name, value, unit = '') %}
    {{ _self.row_unit(name, value|number_format(1), unit, ' ') }}
{% endmacro row_volume %}
{% macro row_no_sep(name, value, unit = '') %}
    {{ _self.row_unit(name, value|number_format(1), unit, '') }}
{% endmacro row_no_sep %}
{# parameters #}
{% set main = current.main %}
{% set wind = current.wind %}
{% set rain = current.rain|default(false) %}
{% set snow = current.snow|default(false) %}
{% set coord = current.coord %}
{# title #}
{%- set title = 'openweather.fields.current'|trans -%}
{{ value_title(title, 'current_data_modal') }}
{# table #}
<table class="table table-no-end-line table-sm mb-0">
    <tbody>
        {{ _self.row_title('openweather.fields.temp') }}
        {{ _self.row_temp('openweather.fields.temp_current', main.temp, units_temp) }}
        {{ _self.row_temp('openweather.fields.temp_feels_like', main.feels_like, units_temp) }}
        {{ _self.row_temp('openweather.fields.temp_min', main.temp_min, units_temp) }}
        {{ _self.row_temp('openweather.fields.temp_max', main.temp_max, units_temp) }}

        {{ _self.row_title('openweather.fields.wind') }}
        {{ _self.row_unit('openweather.fields.wind_speed', wind.speed, units_speed) }}
        {{ _self.row_text('openweather.fields.wind_deg', value_wind(wind.deg_description, wind.deg, units_degree)) }}
        {% if wind.gust|default(false) %}
            {{ _self.row_unit('openweather.fields.wind_gust', wind.gust, units_speed) }}
        {% endif %}

        {% if rain %}
            {{ _self.row_title('openweather.fields.rain') }}
            {% if rain['1h']|default(false) %}
                {{ _self.row_volume('openweather.fields.last_hour', rain['1h'], units_volume) }}
            {% endif %}
            {% if rain['3h']|default(false) %}
                {{ _self.row_volume('openweather.fields.last_3_hours', rain['3h'], units_volume) }}
            {% endif %}
        {% endif %}

        {% if snow %}
            {{ _self.row_title('openweather.fields.snow') }}
            {% if snow['1h']|default(false) %}
                {{ _self.row_volume('openweather.fields.last_hour', snow['1h'], units_volume) }}
            {% endif %}
            {% if snow['3h']|default(false) %}
                {{ _self.row_volume('openweather.fields.last_3_hours', snow['3h'], units_volume) }}
            {% endif %}
        {% endif %}

        {{ _self.row_title('openweather.fields.sun') }}
        {{ _self.row_text('openweather.fields.sunrise', current.sys.sunrise_formatted) }}
        {{ _self.row_text('openweather.fields.sunset', current.sys.sunset_formatted) }}

        {{ _self.row_title('openweather.fields.miscellaneous') }}
        {{ _self.row_unit('openweather.fields.pressure', main.pressure, units_pressure) }}
        {{ _self.row_no_sep('openweather.fields.humidity', main.humidity, units_percent) }}
        {{ _self.row_no_sep('openweather.fields.clouds', current.clouds.all, units_percent) }}
        {{ _self.row_text('openweather.fields.locale_date', current.dt_date_time_locale) }}
        {% if coord.lat_lon_url is defined and coord.lat_lon_url %}
        <tr>
            <td class="ps-4 w-35">{{ 'openweather.fields.position'|trans }}</td>
            <td>
                <a href="{{ coord.lat_lon_url }}" title="{{ 'openweather.fields.position_title'|trans }}" target="_blank" rel="noopener noreferrer">
                    {{- coord.lat_lon_dms -}}
                </a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{{ include('dialog/dialog_raw_data.html.twig', {id: 'current_data_modal', description: title, raw_data: current, allow_copy: true}) }}
