{% import 'openweather/_weather_macro.html.twig' as tools %}
{# title #}
<h6 class="border-top pt-1">{{ 'counters.weather_forecast'|trans({count: forecast.cnt * 3}) }}</h6>
{# table #}
<div class="table-responsive">
    <table class="table table-sm mb-0">
        <tbody>
            {% for data in forecast.list %}
                <tr>
                    <td class="ow-date">{{ data.dt_time_locale }}</td>
                    <td class="ow-icon"><img src="{{ data.weather.icon_small }}" class="ow-image" alt="Forecast">
                    <td class="ow-temperature">
                        <span class="ow-temperature-pills ow-temperature-forecast" title="{{ 'openweather.fields.temp'|trans }}">{{ tools.value_temp(data.main.temp, units_temp) }}</span></br>
                        <span title="{{ 'openweather.fields.wind'|trans }}">{{ tools.value_speed(data.wind.speed, units_speed) }}</span></td>
                    <td class="w-50">
                        <span>{{ data.weather.description }}{% if data.rain['3h']|default(false) %}, {{ tools.value_rain(data.rain['3h'], units_volume) }}{% endif %}</span><br>
                        <span title="{{ 'openweather.fields.pressure'|trans }}">{{ tools.value_pressure(data.main.pressure, units_pressure) }}</span>, <span title="{{ 'openweather.fields.humidity'|trans }}">{{ tools.value_humidity(data.main.humidity, units_percent) }}</span>
                   </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
