{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro system(system, route, cityId) -%}
{% set text  = system == 'metric' ? '°C' : '°F' %}
{% set title = ('openweather.current.'~ system)|trans %}  
{% if route %}
    {% set href = path(route, {'cityId': cityId, 'units': system})  %}
    <a href="{{ href }}" class="small" title="{{ title }}">{{ text }}</a>
{% else %}
    <span class="small" title="{{ title }}">{{ text }}</span>
{% endif %}
{%- endmacro %}

{# parameters #}
{%- set title      = 'openweather.current.title' -%}
{%- set title_icon = 'cloud-sun' -%}
{%- set route      = app.request.attributes.get('_route') -%}
{%- set cityId     = current.id -%}
{%- set system     = current.units.system -%}

{# class #}
{%- block card_container_class '' -%}

{# header #}
{% block card_header %}
<div class="row">
    <div class="col-md-6">
        {{ parent() }}
    </div>
    <div class="col-md-6 text-md-right">
        {% if system == 'metric' %}
            {{ _self.system(system) }}<span class"small"> / </span>{{ _self.system('imperial', route, cityId) }}
        {% else %}
            {{ _self.system('metric', route, cityId) }}<span class"small"> / </span>{{ _self.system(system) }}
        {% endif %}
        {{ icons.link(path('openweather_search_view'), 'common.button_search', 'btn btn-link btn-sm') }}
    </div>
</div>
{% endblock %}

{# body #}
{% block card_body %}
<h2>
    {{ current.name }}, {{ current.sys.country_name }}
</h2>
<h3 class="font-weight-normal">
    <img src="{{ current.weather.icon_small }}" alt="Icon" width="50" height="50">{{ current.main.temp|round(1) }} {{ current.units.temperature }}, {{ current.weather.description }}
</h3>
<div class="row">
    <div class="col-lg-5">
        {% include 'openweather/current_weather_today.html.twig' %}
    </div>
    <div class="col-lg-7">
        {% include 'openweather/current_weather_forecast.html.twig' %}
        {% include 'openweather/current_weather_daily.html.twig' %}        
    </div>
</div>
{% endblock %}

{% block card_footer -%}
<p class="text-right mb-0 small">{{ 'openweather.current.date_calculation'|trans({'%date%': current.dt_date_time_medium}) }}</p>
{%- endblock %}

{% block stylesheets %}
{{ asset_css('css/open_weather.css') }}
{% endblock %}
