{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro title(name) %}
<tr>
    <td colspan="2">{{ name|trans }}</td>
</tr>
{% endmacro %}

{% macro row(name, value, unit = '') %}
<tr>
    <td class="pl-4 w-30">{{ name|trans }}</td>
    <td>{{ _self.value_unit(value, unit) }}</td>
</tr>
{% endmacro %}

{% macro value_unit(value, unit = '') -%}
{{ (value ~ ' ' ~ unit)|trim }}
{%- endmacro %}

{% macro direction(text) -%}
{{ text|replace({        
		'N': 'openweather.direction.N'|trans, 
		'S': 'openweather.direction.S'|trans,
        'E': 'openweather.direction.E'|trans,
       	'W': 'openweather.direction.W'|trans,
       	'n': 'openweather.direction.N'|trans|lower, 
		's': 'openweather.direction.S'|trans|lower,
        'e': 'openweather.direction.E'|trans|lower,
       	'w': 'openweather.direction.W'|trans|lower       	
    })}}
{%- endmacro %}

{# title #}
<h6 class="border-top pt-1">{{ 'openweather.fields.current'|trans }}</h6>
{# table #}
<table class="table table-sm mb-0">
    <tbody>
        {{ _self.title('openweather.fields.temp') }}
        {{ _self.row('openweather.fields.temp_current', current.main.temp|round(1), units_temp) }}
        {{ _self.row('openweather.fields.temp_feels_like', current.main.feels_like|round(1), units_temp) }}
        {{ _self.row('openweather.fields.temp_min', current.main.temp_min|round(1), units_temp) }}
        {{ _self.row('openweather.fields.temp_max', current.main.temp_max|round(1), units_temp) }}

        {{ _self.title('openweather.fields.wind') }}
        {{ _self.row('openweather.fields.wind_speed', current.wind.speed, units_speed) }}
        <tr>
            <td class="pl-4 w-30">{{ 'openweather.fields.wind_deg'|trans }}</td>
            <td>{{ _self.direction(current.wind.deg_text) }} ({{ _self.value_unit(current.wind.deg, units_degree) }})</td>
        </tr>

        {{ _self.title('openweather.fields.sun') }}
        {{ _self.row('openweather.fields.sunrise', current.sys.sunrise_formatted) }}  
        {{ _self.row('openweather.fields.sunset', current.sys.sunset_formatted) }}

        <tr>
            {% set href = 'https://www.google.ch/maps/place/' ~ current.coord.lat ~ ',' ~  current.coord.lon %}
            <td colspan="2">{{ icons.linkExternal(href, 'openweather.fields.position') }}</td>
        </tr>
        {{ _self.row('openweather.fields.position_lat', current.coord.lat, units_degree) }}
        {{ _self.row('openweather.fields.position_lon', current.coord.lon, units_degree) }}

        {{ _self.title('openweather.fields.miscellaneous') }}
        {{ _self.row('openweather.fields.pressure', current.main.pressure, units_pressure) }}
        {{ _self.row('openweather.fields.humidity', current.main.humidity, units_percent) }}
        {{ _self.row('openweather.fields.locale_date', current.dt_date_time_locale) }}
    </tbody>
</table>
