{% import 'openweather/_weather_macro.html.twig' as tools %}

{# title #}
<h6 class="border-top pt-1">{{ 'counters.weather_daily'|trans({count: daily.cnt}) }}</h6>
{# table #}
<div class="table-responsive">
    <table class="table table-sm mb-0">
        <tbody>
            {% for data in daily.list %}
            <tr>
                <td class="ow-date">
                    {%- if loop.index == 1 -%}
                        {{- 'openweather.current.today'|trans -}}
                    {%- else -%}
                        {{- data.dt|locale_date(pattern='eeee')|capitalize }}
                    {%- endif -%}
                    <br><span class="small text-muted">{{ data.dt_date }}</span>
                </td>
                <td class="ow-icon"><img alt="Daily" src="{{ data.weather.icon_small }}" width="40" height="40">
                <td class="ow-temperature">
                    <span class="ow-temperature-pills ow-temperature-day" title="{{ 'openweather.fields.temp_day'|trans }}">{{ tools.value_temp(data.temp.day, units_temp) }}</span>
                    <span class="ow-temperature-pills ow-temperature-night" title="{{ 'openweather.fields.temp_night'|trans }}">{{ tools.value_temp(data.temp.night, units_temp) }}</span><br>
                    <span title={{ 'openweather.fields.wind'|trans }}>{{ tools.value_speed(data.speed, units_speed) }}</span>
                </td>
                <td>
                    <span>{{ data.weather.description }}{% if data.rain|default(false) %}, {{ tools.value_rain(data.rain, units_volume) }}{% endif %}</span><br>
                    <span title="{{ 'openweather.fields.pressure'|trans }}">{{ tools.value_pressure(data.pressure, units_pressure) }}</span>, <span title="{{ 'openweather.fields.humidity'|trans }}">{{ tools.value_humidity(data.humidity, units_percent) }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
