{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'openweather.import.title' -%}
{%- set title_icon = 'download' -%}
{%- set cancel_path = path('openweather_search') -%}
{%- set cancel_text = 'common.button_search' -%}

{% block card_header %}
{{ parent() }}
<p class="ml-4 mb-0">{{ 'openweather.import.description'|trans }}</p>
{% endblock %}

{% block card_body %}
{{ parent() }}
<p class="mb-0">{{ 'openweather.import.link'|trans|format(sample, openweathermap)|raw }}</p>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ asset_css('css/fileinput.css') }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-fileinput.js') }}
{{ asset_js('js/application/file_import.js') }}
{% else %}
{{ asset_js('js/file_import.js') }}
{% endif %}
{% endblock %}
