{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage %}
{# parameters #}
{%- set title = 'openweather.import.title' -%}
{%- set title_icon = 'download' -%}
{%- set title_description = 'openweather.result.description' -%}
{# class #}
{% block card_class -%}
{% if result %}{{ parent() }}{% else %} border-danger{% endif %}
{%- endblock %}
{% block card_header_class -%}
{% if result %}{{ parent() }}{% else %} text-white bg-danger{% endif %}
{%- endblock %}
{# body #}
{% block card_body %}
{%- if result %}
<p>{{ 'openweather.result.success'|trans }}</p>
<table class="table table-bordered table-sm mb-0">
    <thead>
        <tr>
            <th>{{ 'openweather.result.objects'|trans }}</th>
            <th class="text-currency">{{ 'openweather.result.errors'|trans }}</th>
            <th class="text-currency">{{ 'openweather.result.valids'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'openweather.result.cities'|trans }}</td>
            <td class="text-currency">{{ errors|integer }}</td>
            <td class="text-currency">{{ valids|integer }}</td>
        </tr>
        <tr>
            <th>{{ 'openweather.result.total'|trans }}</<th>
            <th class="text-currency">{{ errors|integer }}</th>
            <th class="text-currency">{{ valids|integer }}</th>
        </tr>
    </tbody>
</table>
{%- else -%}
<p class="mb-0">
    {{- 'openweather.result.failure'|trans }}{% if message is defined %} {{ message }}{% endif -%}
</p>
{%- endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
{{ homepage() }}
{{ link(path('openweather_search'), 'common.button_search', 'btn btn-form btn-secondary') }}
{% endblock %}
