{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'openweather.import.title' -%}
{%- set title_icon = 'download' -%}
{%- set title_description = 'openweather.import.description' -%}
{%- set cancel_path = path('openweather_search') -%}
{%- set cancel_text = 'common.button_search' -%}
{# body #}
{% block card_body %}
{{ parent() }}
{% set arguments = {
    '%sample_url%': 'https://bulk.openweathermap.org/sample/',
    '%site_url%': 'https://openweathermap.org',
} %}
<p class="mb-0">{{ 'openweather.import.link'|trans(arguments)|raw }}</p>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ parent() }}
{{ asset_css('css/fileinput.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
    {{ parent() }}
    {{ asset_js('js/application/import_file.js') }}
{% else %}
    {{ asset_js('js/compiled/import_file.js') }}
{% endif %}
{% endblock %}
