{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import link %}
{% from 'openweather/_weather_macro.html.twig' import value_temp %}
{# parameters #}
{%- set title = 'openweather.search.title' -%}
{%- set title_icon = 'search' -%}
{%- set submit_text = 'common.button_search' -%}
{%- set city = app.session.get('openweather.city', false) -%}
{%- set units = app.session.get('openweather.units', 'metric') -%}
{%- set cancel_path = city ? path('openweather_weather', {'city': city, 'units': units}) : null -%}
{# body #}
{% block card_body %}
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.query) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.units) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.limit) }}
    </div>
</div>
{% if cities is defined %}
    {%- set cities_length = cities|length -%}
    <p class="{{ cities_length ? 'text-muted' : 'mb-0 text-danger' }}">{{ 'counters.weather_cities'|trans({count: cities_length}) }}</p>
    {% if cities_length %}
    <table class="table table-hover table-sm mb-0">
        <tbody data-link="row" class="rowlink">
        {% for city in cities %}
            {%- set current = city.current -%}
            <tr>
                <td class="text-unit">
                    <img src="{{ current.weather.icon_small }}" class="ow-image ow-image-search" alt="{{ 'openweather.fields.current'|trans }}" title="{{ current.weather.description }}">
                </td>
                <td class="w-75">
                    <a href="{{ path('openweather_current', {'id': city.id, 'units': units, 'count': count}) }}"><b>{{ city.name }}</b></a><br>
                    <span class="small" title="{{ 'openweather.fields.temp'|trans }}">{{ value_temp(current.main.temp, city.units.temperature) }}</span><span class="small">, {{ current.weather.description }}</span>
                </td>
                <td class="w-25">
                    {{- city.country_name }} <img src="{{ city.country_flag }}" class="ow-flag" alt="{{ city.country_name }}" title="{{ city.country_name -}}">
                </td>
            <td>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
{% endblock %}
{# actions #}
{% block actions_form -%}
{{ parent() }}
{% if is_granted('ROLE_ADMIN') %}
    {{ link(path('openweather_import'), 'common.button_import', 'btn btn-form btn-outline-secondary') }}
{% endif %}
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/open_weather.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/application/search_city.js') }}
{% endblock %}
