{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, linkExternal %}
{% from 'openweather/_weather_macro.html.twig' import value_temp %}
{# macros #}
{% macro system(units, route, id, count) -%}
{% set text = units == 'metric' ? '°C' : '°F' %}
{% set title = ('openweather.current.' ~ units)|trans %}
{% if route %}
    {% set href = path(route, {'id': id, 'units': units, 'count': count}) %}
    <a href="{{ href }}" class="small" title="{{ title }}">{{ text }}</a>
{% else %}
    <span class="small" title="{{ title }}">{{ text }}</span>
{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title = 'openweather.current.title' -%}
{%- set title_icon = 'cloud-sun' -%}
{%- set id = current.id|default(false) -%}
{%- set route = app.request.get('_route') -%}
{# units #}
{% if id %}
    {%- set units_system = current.units.system -%}
    {%- set units_temp = current.units.temperature -%}
    {%- set units_pressure = current.units.pressure -%}
    {%- set units_percent = current.units.percent -%}
    {%- set units_degree = current.units.degree -%}
    {%- set units_speed = current.units.speed -%}
    {%- set units_volume = current.units.volume -%}
{% endif %}
{# class #}
{%- block card_container_class id ? '' : parent() -%}
{%- block card_class id ? parent() : ' border-danger' -%}
{%- block card_header_class id ? parent() : ' bg-danger text-white' -%}
{%- block card_footer_class ' d-none' -%}
{# header #}
{% block card_header %}
{% if id %}
    <div class="row">
        <div class="col-md-6">
            {{ parent() }}
            <small>{{ 'openweather.current.date_calculation'|trans({'%date%': current.dt_date_time_medium}) }}</small>
        </div>
        <div class="col-md-6 text-md-right d-print-none">
            {% if units_system == 'metric' %}
                {{ _self.system(units_system) }}<span class="small"> / </span>{{ _self.system('imperial', route, id, count) }}
            {% else %}
                {{ _self.system('metric', route, id, count) }}<span class="small"> / </span>{{ _self.system(units_system) }}
            {% endif %}
            {{ link(path('openweather_search'), 'common.button_search', 'btn btn-link btn-sm') }}
        </div>
    </div>
{% else %}
    {{ parent() }}
{% endif %}
{% endblock %}
{# body #}
{% block card_body %}
{% if id %}
    <h2>{{ current.name }}, {{ current.sys.country_name }}<img src="{{ current.sys.country_flag }}" class="ow-flag" alt="Flag" title="{{ current.sys.country_name }}"></h2>
    <h3 class="font-weight-normal">
        <img src="{{ current.weather.icon_big }}" class="ow-image ow-image-title" alt="{{ 'openweather.fields.current_weather'|trans }}" title="{{ current.weather.description }}">{{ value_temp(current.main.temp, units_temp) }}, {{ current.weather.description }}
    </h3>
    <div class="row">
        <div class="col-lg-5">
            {{ include('openweather/weather_today.html.twig') }}
        </div>
        <div class="col-lg-7">
            {{ include('openweather/weather_forecast.html.twig') }}
            {{ include('openweather/weather_daily.html.twig') }}
        </div>
    </div>
{% else %}
    <p class="mb-0 text-center">{{ 'openweather.current.empty'|trans|replace({'#': path('openweather_search')})|raw }}</p>
{% endif %}
<hr class="my-1 d-print-none">
<p class="small text-right mb-0 d-print-none">
    {{ linkExternal(api_url, 'common.api_documentation') }}
</p>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/open_weather.css') }}
{% endblock %}
