{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import linkExternal %}
{% from 'openweather/_weather_macro.html.twig' import value_temp %}
{# macros #}
{% macro system(units, selection, route, id, count) -%}
{% set text = ('openweather.current.' ~ units ~ '.short')|trans %}
{% set title = ('openweather.current.' ~ units ~ '.title')|trans %}
{% if units != selection and route %}
    {% set href = path(route, {'id': id, 'units': units, 'count': count}) %}
    <a href="{{ href }}" title="{{ title }}">{{ text }}</a>
{% else %}
    <span title="{{ title }}">{{ text }}</span>
{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title = 'openweather.current.title' -%}
{%- set title_icon = 'cloud-sun' -%}
{%- set id = current.id|default(false) -%}
{%- set route = app.current_route -%}
{# units #}
{% if id %}
    {%- set units_system = current.units.system -%}
    {%- set units_temp = current.units.temperature -%}
    {%- set units_pressure = current.units.pressure -%}
    {%- set units_percent = current.units.percent -%}
    {%- set units_degree = current.units.degree -%}
    {%- set units_speed = current.units.speed -%}
    {%- set units_volume = current.units.volume -%}
{% endif %}
{# class #}
{%- block card_container_class id ? '' : parent() -%}
{%- block card_class id ? parent() : ' border-danger' -%}
{%- block card_header_class id ? parent() : ' bg-danger text-white' -%}
{%- block card_footer_class ' d-none' -%}
{# header #}
{% block card_header %}
{% if id %}
    <div class="row">
        <div class="col-md-8">
            {{ parent() }}
            <small>{{ 'openweather.current.date_calculation'|trans({'%date%': current.dt_date_time_medium}) }}</small>
        </div>
        <div class="col-md-4 text-md-end small d-print-none">
            {{ _self.system('metric', units_system, route, id, count) }}
            <span> / </span>
            {{ _self.system('imperial', units_system, route, id, count) }}
            <span class="small">&nbsp;</span>
            <a href="{{ path('openweather_search') }}" title="{{ 'openweather.search.title'|trans }}">{{ 'common.button_search'|trans }}</a>
        </div>
    </div>
{% else %}
    {{ parent() }}
{% endif %}
{% endblock %}
{# body #}
{% block card_body %}
{% if id %}
    <h2>
        <span class="flag-emoji me-1" title="{{ current.sys.country_name }}">{{ current.sys.country|flag_emoji }}</span>{{- current.name }}, {{ current.sys.country_name -}}
    </h2>
    <h3 class="fw-normal">
        <img src="{{ current.weather.icon_big }}" class="ow-image ow-image-title" alt="{{ 'openweather.fields.current_weather'|trans }}" title="{{ current.weather.description }}">{{ value_temp(current.main.temp, units_temp) }}, {{ current.weather.description }}
    </h3>
    <div class="row">
        <div class="col-lg-5">
            {{ include('openweather/_weather_today.html.twig') }}
        </div>
        <div class="col-lg-7">
            {{ include('openweather/_weather_forecast.html.twig') }}
            {{ include('openweather/_weather_daily.html.twig') }}
        </div>
    </div>
{% else %}
    <p class="mb-0 text-center">{{ 'openweather.current.empty'|trans|replace({'#': path('openweather_search')})|raw }}</p>
{% endif %}
<hr class="my-1 d-print-none">
<p class="small text-end mt-1 mb-0 d-print-none">
    {{- linkExternal(api_url, 'common.api_documentation') -}}
</p>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/open_weather.css') }}
{% endblock %}
{# javascript #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('js/vendor/clipboard/clipboard.js') }}
    {{ asset_js('js/application/dialog_raw_data.js') }}
{% endblock %}
