{% extends 'base.html.twig' %}

{# parameters #}
{%- set title = 'index.title' -%}

{# show search #}
{% block navigation -%}
{%- set show_navigation = true -%}
{{ parent() }}
{%- endblock %}

{% block body -%}
<div class="row no-gutters">
	<div class="col">
        {% if tabular %}
            {%- include 'home/panel_table.html.twig' -%}
        {% else %}
            {%- include 'home/panel_card.html.twig' -%}
        {% endif %}        
        {%- include 'home/panel_state.html.twig' -%}
        {%- include 'home/panel_month.html.twig' -%}
	</div>
</div>
{# switch user #}
{%- include 'user/user_switch.html.twig' -%}
{%- endblock %}

{% block stylesheets %}
{{ asset_css('css/calculation.css') }}
{%- endblock -%}

{% block javascripts %}
{% if app.debug %}
{{ parent() -}}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/application/index.js') }}
{% else -%}
{{ asset_js('js/index.js') }}
{% endif %}
{% include 'cookie_banner.html.twig' %}
{% endblock %}
