{# macros #}
{% macro cardEntry(count, total, date, list_path) -%}
<div class="card card-index text-center border rounded m-1">
    <div class="card-body px-1 pt-1 pb-0">
        <p class="h4 font-weight-normal mb-1">{{ count|integer }}</p>
        <p class="m-0 mb-1">{{ total|amount }}</p>
    </div>
    <div class="card-footer p-1">
    {%- set text = date|strftime('%B %Y') -%}
    {%- if list_path -%}
        <a href="{{ path(list_path, {'query': date|strftime('%m.%Y')}) }}">{{ text }}</a>
    {%- else -%}
        <span>{{ text }}</span>
    {%- endif -%}
    </div>
</div>
{%- endmacro %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set list_path = false -%}
{%- if is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) -%}
    {%- set list_path = app.displayTabular ? 'calculation_table' : 'calculation_card' -%}
{%- endif -%}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">{{ icons.icon('calendar far', 'index.panel_month') }}</h1>
    </div>
    <div class="card-body d-flex flex-row flex-wrap p-2">
    {% if states|length %}
        {% for month in months %}
            {{ _self.cardEntry(month.count, month.total, month.date, list_path) }}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning flex-fill mb-0 py-4 text-center" role="alert">
            {{ 'calculation.list.empty'|trans }}
        </div>
    {% endif %}
    </div>
</div>
