{# macros #}
{% macro cardEntry(count, total, text, color, list_path, parameters=[]) -%}
{% import 'macros/_properties.html.twig' as properties %}
<div class="card text-center m-1{% if color %} text-border{% endif %}"{% if color %} style="{{ properties.stateCss(color) }}"{% endif %}>
    <div class="card-header p-1">
    {%- if list_path -%}
        <a href="{{ path(list_path, parameters) }}" class="card-link">{{ text }}</a>
    {%- else -%}
        <span>{{ text }}</span>
    {%- endif -%}
    </div>
    <div class="card-body px-1 pt-1 pb-0">
        <p class="h4 font-weight-normal mb-1">{{ count|integer }}</p>
        <p class="m-0 mb-1">{{ total|amount }}</p>
    </div>
</div>
{%- endmacro %}

{# imports #}
{% import "macros/_icons.html.twig" as icons %}

{# parameters #}
{%- set list_path = false -%}
{%- if is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) -%}
    {%- set list_path = app.displayTabular ? 'calculation_table' : 'calculation_card' -%}
{%- endif -%}

<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icons.icon("flag far", "index.panel_state") }}</h1>
            </div>
            <div class="col-auto d-print-none">
                {{ icons.link(path('chart_by_state'), null, null, 'chart-pie', 'index.menu_chart_title') }}
            </div>
        </div>
    </div>
    <div class="card-body card-deck py-2">
    {% if states|length %}
        {% for state in states %}
            {%- set parameters = app.displayTabular ? {'search[0][index]': 8, 'search[0][value]': state.id} : {'query': state.code} -%}
            {{ _self.cardEntry(state.count, state.total, state.code, state.color, list_path, parameters) }}
        {% endfor %}
        {{ _self.cardEntry(states_count, states_total, 'calculation.fields.total'|trans, '', list_path) }}
    {% else %}
        <div class="alert alert-warning flex-fill mb-0 py-2 text-center" role="alert">
            {{ 'calculation.list.empty'|trans }}
        </div>
    {% endif %}
    </div>
</div>

