{% extends 'cards/card_base.html.twig' %}

{# imports #}
{% import 'macros/_datatables.html.twig' as helper %}

{# macros #}
{% macro button(class, text, action, icon) %}
{%- set path = path('homepage') ~ '_type_/' ~ action ~ '/_id_' -%}
    <a href="#" class="disabled btn btn-form-sm {{ class }}" data-path="{{ path }}" data-icon="{{ icon }}">
        {{- text|trans -}}
    </a>
{% endmacro %}

{% macro fill_entities(entities) %}
<button class="dropdown-item dropdown-entity active" type="button" data-id="">{{ 'datatable.all'|trans }}</button>
{% for key, entity in entities %}
    <button class="dropdown-item dropdown-entity" type="button" data-id="{{ key }}">{{ entity|trans }}</button>
{% endfor %}
{% endmacro %}

{# parameters #}
{%- set title       = 'search.title' -%}
{%- set title_icon  = 'search' -%}
{%- set ajax_path   = path(app.request.get('_route')) -%}
{%- set ajax_lang   = path('ajax_language') -%}

{%- set id          = app.request.get('id', 0) -%}
{%- set orderdir    = app.session.get('FullSearchDataTable.orderdir') -%}
{%- set ordercolumn = app.session.get('FullSearchDataTable.ordercolumn') -%}
{%- set pagelength  = app.session.get('FullSearchDataTable.pagelength', 15) -%}
{%- set row_link    = not app.actionNone -%}

{# header #}
{% block card_header %}
<div class="row">
    <div class="col-lg-5 mt-1">{{ parent() }}</div>
    <div class="col-lg-7 text-lg-right d-print-none">
        <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'common.actions'|trans }}">
        	{% if show_granted %}
            {{ _self.button('btn-table-show btn-info', 'common.button_show', 'show', 'fas fa-fw fa-tv') }}
            {% endif %}
            {% if edit_granted %}
            {{ _self.button('btn-table-edit btn-success', 'common.button_edit', 'edit', 'fas fa-fw fa-pencil-alt') }}
            {% endif %}
            {% if delete_granted %}
            {{ _self.button('btn-table-delete btn-danger', 'common.button_delete', 'delete', 'fas fa-fw fa-times') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{# body #}
{% block card_body %}
<div class="row mb-2 d-print-none">
    <div class="col-auto mr-auto">
        <div class="form-inline">
            <label class="mr-2 required" for="table_search">{{ 'datatable.search'|trans }}</label>             
            <div class="input-group input-group-sm bg-white">
                <input type="text" id="table_search" name="table_search" class="form-control form-control-sm form-control-border-right-0" autocomplete="off">            
                <div class="input-group-append dropdown" id="dropdown-menu-entity">
                    <button id="button-entity" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'search.fields.entity'|trans }}">
                        {{- 'datatable.all'|trans -}}
                    </button>
                    <div class="dropdown-menu">
                        {{ _self.fill_entities(entities) -}}
                    </div>
                    <input type="hidden" id="entity" name="entity">                
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-clear btn-outline-secondary" title="{{ 'datatable.clear'|trans }}">
                        <i class="fas fa-eraser" aria-hidden="true"></i>
                    </button>
                </div>    
             </div>
             <label id="minimum" class="ml-2 text-danger d-none">{{ 'search.minimum'|trans }}</label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-inline">
            <label class="mr-2" for="table_length">{{ 'datatable.show'|trans }}</label>
            <select id="table_length" name="table_length" class="form-control form-control-sm custom-select custom-select-sm">
                {{ helper.page(10, pagelength) }}
                {{ helper.page(15, pagelength) }}
                {{ helper.page(20, pagelength) }}
                {{ helper.page(25, pagelength) }}
                {{ helper.page(30, pagelength) }}
                {{ helper.page(50, pagelength) }}
            </select>
            <label class="ml-2">{{ 'datatable.elements'|trans }}</label>
        </div>
    </div>
</div>
{%- set attributes = attributes|default({})|merge({
        'id': 'data-table',
        'row-link': row_link,
        'edit-action': app.actionEdit,
        'class': 'table table-list table-hover table-sm dataTable border-bottom w-100',
        'data-ajax': ajax_path,
        'data-lang': ajax_lang,
        'data-total': results.recordsTotal,
        'data-filtered': results.recordsFiltered,
        'data-pagelength': pagelength,
        'data-ordercolumn': ordercolumn,
      	'data-orderdir': orderdir,
        'data-debug': app.debug,
        'data-search-highlight': true
}) -%}
<table{{ helper.attribs(attributes) }}>
    {{ helper.headers(columns) }}
    <tbody{% if row_link %} data-link="row" class="rowlink"{% endif %}>
    	{% for row in results.data -%}
    	 	<tr{% if row['id'] == id %} class="datatables-selection"{% endif %}>
    	 	{% for column in columns -%}
    	 		{%- set value = row[column.name] -%}
    	 		<td class="{{ column.class }}">
    	 			{{- column.rawData ? value|raw : value -}}
    	 		</td>
    	 	{%- endfor %}
			</tr>
    	{%- endfor %}
    </tbody>
</table>
{% endblock %}
{# class #}
{% block card_container_class '' %}
{% block card_body_class ' px-3 pb-0' %}
{% block card_footer_class ' d-none' %}

{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/datatables.css') }}
{%- endblock -%}

{# java scripts #}
{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/datatables/js/jquery.dataTables.js') }}
{{ asset_js('js/vendor/datatables/js/dataTables.bootstrap4.js') }}
{{ asset_js('js/vendor/datatables/js/dataTables.keyTable.js') }}
{{ asset_js('js/vendor/datatables/js/dataTables.conditionalPaging.js') }}
{{ asset_js('js/vendor/datatables/js/jquery.mark.js') }}
{{ asset_js('js/vendor/datatables/js/datatables.mark.js') }}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/extensions/datatables-extensions.js') }}
{{ asset_js('js/application/search.js') }}
{% else %}
{{ asset_js('js/search.js') }}
{% endif %}
{% endblock %}
