{% extends 'cards/card_edit.html.twig' %}
{% form_theme form with _self %}
{# macros #}
{% macro collapseLine(href, form, expanded=false, options=null) %}
{%- set header_id = 'header_' ~ href -%}
{%- set name = ('parameters.group_' ~ href)|trans -%}
{%- set template = 'parameters/_parameters_' ~ href ~ '.html.twig' -%}
{%- set show = 'parameters.display_parameters.show'|trans({'%name%': name}) -%}
{%- set hide = 'parameters.display_parameters.hide'|trans({'%name%': name}) -%}
{%- set title = expanded ? hide : show -%}
<div class="card-header d-flex-wrap-center border-bottom-0">
    <a class="drop-down-icon-right card-title mb-0" href="#" data-bs-toggle="collapse" data-bs-target="#{{ href }}" aria-expanded="{{ expanded|json_encode }}" title="{{ title }}" data-show="{{ show }}" data-hide="{{ hide }}">
        {{- name -}}
    </a>
</div>
<div id="{{ href }}" class="card-body border-top collapse{% if expanded %} show{% endif %}" data-bs-parent=".card-parameter">
    {{ include(template, {'form': form, options: options}) }}
</div>
{% endmacro %}
{# customized fields #}
{% block _message_progress_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <button class="btn btn-notify btn-outline-secondary d-print-none" type="button" title="{{ 'parameters.action_test'|trans }}"><i class="fa-regular fa-bell"></i></button>
</div>
{%- endblock %}
{# parameters #}
{%- set cancel_path = path('homepage') -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set form_attr = form_attr|default({})|merge({'data-random': url('ajax_random_text'), 'data-failure': 'parameters.failure'|trans}) -%}
{# form #}
{% block actions_form -%}
{{ parent() }}
<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-form btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'parameters.default_help'|trans }}">
            {{- 'parameters.default'|trans -}}
        </button>
        <div class="dropdown-menu">
            <a class="btn-default-visible dropdown-item" href="#">{{- 'parameters.default_visible'|trans -}}</a>
            <a class="btn-default-all dropdown-item" href="#">{{- 'parameters.default_all'|trans -}}</a>
        </div>
    </div>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
<div class="card card-parameter">
    {% block sections %}{% endblock %}
</div>
{{ parent() }}
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input-number.js') }}
{{ asset_js('js/application/parameters_edit.js') }}
{% else %}
{{ asset_js('js/parameters_edit.js') }}
{% endif %}
{% endblock %}
