{% extends 'cards/card_edit.html.twig' %}
{% form_theme form with _self %}
{# macros #}
{% macro collapseLine(href, form, expanded=false, options=null) %}
{%- set name = ('parameters.group_' ~ href)|trans -%}
{%- set header_id = 'header_' ~ href -%}
{%- set template = 'parameters/_parameters_' ~ href ~ '.html.twig' -%}
{%- set show = 'parameters.display_parameters.show'|trans({'%name%': name}) -%}
{%- set hide = 'parameters.display_parameters.hide'|trans({'%name%': name}) -%}
{%- set title = expanded ? hide : show -%}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ header_id }}">
        <button class="accordion-button py-2{% if not expanded %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ href }}" aria-expanded="{{ expanded|json_encode }}" aria-controls="{{ href }}" title="{{ title }}" data-show="{{ show }}" data-hide="{{ hide }}">
            {{- name -}}
        </button>
    </h2>
    <div id="{{ href }}" class="accordion-collapse collapse{% if expanded %} show{% endif %}" aria-labelledby="{{ header_id }}" data-bs-parent="#parent_accordion">
        <div class="accordion-body pt-1">
            {{ include(template, {'form': form, options: options}) }}
        </div>
    </div>
</div>
{% endmacro %}
{# customized fields #}
{% block _message_progress_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <button class="btn btn-notify btn-outline-secondary d-print-none" type="button" title="{{ 'parameters.action_test'|trans }}"><i class="fa-regular fa-bell"></i></button>
</div>
{%- endblock %}
{% block _theme_widget -%}
{%- for child in form %}
    {{- form_widget(child, {
        parent_label_class: label_attr.class|default(''),
        translation_domain: choice_translation_domain,
        valid: valid,
    }) -}}
    <label id="{{ child.vars.id }}_help" for="{{ child.vars.id }}" class="form-label form-text mt-0 ms-4">
        {{- child.vars.attr.help|trans|raw -}}
    </label>
{% endfor %}
{%- endblock %}
{# parameters #}
{%- set cancel_path = path('homepage') -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set form_attr = form_attr|default({})|merge({'data-random': url('ajax_random_text'), 'data-failure': 'parameters.failure'|trans}) -%}
{# form #}
{% block actions_form -%}
{{ parent() }}
<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-form btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'parameters.default_help'|trans }}">
            {{- 'parameters.default'|trans -}}
        </button>
        <div class="dropdown-menu">
            <a class="btn-default-visible dropdown-item" href="#">{{- 'parameters.default_visible'|trans -}}</a>
            <a class="btn-default-all dropdown-item" href="#">{{- 'parameters.default_all'|trans -}}</a>
        </div>
    </div>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
<div class="accordion" id="parent_accordion">
    {% block sections %}{% endblock %}
</div>
{{ parent() }}
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input-number.js') }}
{{ asset_js('js/application/parameters_edit.js') }}
{% else %}
{{ asset_js('js/parameters_edit.js') }}
{% endif %}
{% endblock %}
