{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import icon as output_icon %}
{% form_theme form with _self %}
{# macros #}
{% macro collapseLine(href, form, icon, expanded = false, options = null) %}
{%- set header_id = 'header_' ~ href -%}
{%- set name = 'parameters.group_%s'|format(href)|trans -%}
{%- set template = 'parameters/_parameters_%s.html.twig'|format(href) -%}
{%- set show = 'common.expand'|trans -%}
{%- set hide = 'common.collapse'|trans -%}
{%- set title = expanded ? hide : show -%}
<div class="card-header d-flex-wrap-center">
    <a class="drop-down-icon-right card-title" href="#{{ href }}" data-bs-toggle="collapse"
       aria-expanded="{{ expanded|json_encode }}" title="{{ title }}" data-show="{{ show }}" data-hide="{{ hide }}">
        {{- output_icon(icon ~ ' fa-fw me-1') -}}{{- name -}}
    </a>
</div>
<div id="{{ href }}" class="card-body pt-0 collapse{% if expanded %} show{% endif %}"
     data-bs-parent=".card-parameter">
    {{ include(template, {form: form, options: options}) }}
</div>
{% endmacro %}
{# customized fields #}
{% block _message_progress_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <button type="button" class="btn btn-notify btn-outline-secondary d-print-none"
            title="{{ 'parameters.action_test'|trans }}">
        <i class="fa-regular fa-bell"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            title="{{ 'parameters.action_test'|trans }}" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Basculer la liste déroulante</span>
    </button>
    {% set types = enum_cases('App\\Enums\\FlashType') %}
    <ul class="dropdown-menu dropdown-menu-end">
        {% for type in types %}
            <li>
                <button class="dropdown-item dropdown-notify" type="button" data-value="{{ type.value }}">
                    <i class="me-1 {{ type.icon }}" style="color: {{ type.style }}"></i>{{- type|trans -}}
                </button>
            </li>
        {% endfor %}
    </ul>
</div>
{%- endblock %}
{# parameters #}
{%- set cancel_path = path('homepage') -%}
{%- set form_attr = form_attr|default({})|merge({'data-random': url('ajax_random_text'), 'data-failure': 'parameters.failure'|trans}) -%}
{% block card_body_class ' p-0' %}
{# form #}
{% block actions_form -%}
{{ parent() }}
<div class="dropdown">
    <button class="btn btn-form btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" title="{{ 'parameters.default_help'|trans }}">
        {{- 'parameters.default'|trans -}}
    </button>
    <ul class="dropdown-menu">
        <li>
            <button type="button"
                    class="dropdown-item btn-item-visible">{{- 'parameters.default_visible'|trans -}}</button>
        </li>
        <li>
            <button type="button" class="dropdown-item btn-item-all">{{- 'parameters.default_all'|trans -}}</button>
        </li>
    </ul>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
<div class="card card-parameter card-collapse border-0">
    {% block sections %}{% endblock %}
</div>
{{ parent() }}
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
    {{ parent() }}
    {{ asset_js('js/plugins/plugin-input-number.js') }}
    {{ asset_js('js/application/parameters_edit.js') }}
{% else %}
    {{ asset_js('js/compiled/parameters_edit.js') }}
{% endif %}
{% endblock %}
