<div class="toggle-icon collapse{% if expanded %} show{% endif %}" id="message" data-parent="#parent_accordion">
    <div class="mt-1">
        <small class="mb-2 form-text text-muted">{{ 'parameters.group_message_help'|trans }}</small>
        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.message_position) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.message_timeout) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.message_progress) }}
            </div>
        </div>
        <div class="form-row flex-column flex-md-row justify-content-start ml-0">
            {{ form_row(form.message_icon) }}
            {{ form_row(form.message_title) }}
            {{ form_row(form.message_sub_title) }}
            {{ form_row(form.message_close) }}
        </div>
    </div>
</div>
