<p class="mb-2 form-text text-body-secondary">{{ 'parameters.group_security_help'|trans }}</p>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.security_display_captcha) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.security_strength_level) }}
    </div>
</div>
<span class="form-label">{{ 'user.fields.password'|trans }}</span>
{% for option in options %}
    {{ form_row(form[option]) }}
{% endfor %}
