<p class="mb-2 form-text text-body-secondary">{{ 'parameters.group_home_help'|trans }}</p>
{{ form_row(form.panel_calculation) }}
{{ form_row(form.panel_state) }}
{{ form_row(form.panel_month) }}
{{ form_row(form.panel_catalog) }}
{{ form_row(form.status_bar) }}
