{% extends 'cards/card_edit.html.twig' %}
{% form_theme form with _self %}
{# macros #}
{% macro collapseLine(href, form, expanded=false, options=null) %}
{%- set name = ('parameters.group_' ~ href)|trans -%}
{%- set show = 'parameters.display_parameters.show'|trans({'%name%': name}) -%}
{%- set hide = 'parameters.display_parameters.hide'|trans({'%name%': name}) -%}
{%- set title = expanded ? hide : show -%}
<div class="mb-2">
    <a href="#{{ href }}" class="drop-down-icon-left horizontal-line" role="button" aria-expanded="{{ expanded|json_encode }}" data-toggle="collapse" title="{{ title }}" data-show="{{ show }}" data-hide="{{ hide }}">
        {{- name -}}
    </a>
    {% include 'parameters/_parameters_' ~ href ~ '.html.twig' with {'form': form, expanded: expanded, options: options} %}
</div>
{% endmacro %}
{# customized fields #}
{% block _message_progress_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <div class="input-group-append d-print-none">
        <button class="btn btn-notify btn-outline-secondary" type="button" title="{{ 'parameters.action_test'|trans }}"><i class="fa-regular fa-bell"></i></button>
    </div>
</div>
{%- endblock %}
{# parameters #}
{%- set cancel_path = path('homepage') -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set form_attr = form_attr|default({})|merge({'data-random': url('ajax_random_text'), 'data-failure': 'parameters.failure'|trans}) -%}
{# form #}
{% block actions_form -%}
{{ parent() }}
<div class="btn-group">
    <div class="dropdown">
        <button class="btn btn-form btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            {{- 'parameters.default'|trans -}}
        </button>
        <div class="dropdown-menu">
            <a class="btn-default-all dropdown-item" href="#">
                {{- 'parameters.default_all'|trans -}}
            </a>
            <a class="btn-default-visible dropdown-item" href="#">
                {{- 'parameters.default_visible'|trans -}}
            </a>
        </div>
    </div>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
<div class="accordion" id="parent_accordion">
    {% block sections %}{% endblock %}
</div>
{{ parent() }}
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input-number.js') }}
{{ asset_js('js/application/parameters_edit.js') }}
{% else %}
{{ asset_js('js/parameters_edit.js') }}
{% endif %}
{% endblock %}
