{% extends 'cards/card_edit.html.twig' %}
{% form_theme form with _self %}
{# macros #}
{% macro collapseLine(href, form, expanded=false, options=null) %}
{%- set name = ('parameters.group_' ~ href)|trans -%}
{%- set show = 'parameters.display_parameters.show'|trans({'%name%': name}) -%}
{%- set hide = 'parameters.display_parameters.hide'|trans({'%name%': name}) -%}
{%- set icon = expanded ? 'fa-caret-down' : 'fa-caret-left' -%}
<div class="d-flex flex-row" style="margin-right: -8px;" data-show="{{ show }}" data-hide="{{ hide }}">
    <a href="#{{ href }}" role="button" aria-expanded="{{ expanded|json_encode }}" data-toggle="collapse" title="{{ show }}" class="horizontal-line flex-fill">
        {{- name -}}
    </a>
    <a href="#{{ href }}" role="button" aria-expanded="{{ expanded|json_encode }}" data-toggle="collapse" title="{{ show }}" data-show="{{ show }}" data-hide="{{ hide }}">
        <i class="fa-solid fa-fw fa-lg {{ icon }}"></i>
    </a>
</div>
{% include 'parameters/_parameters_' ~ href ~ '.html.twig' with {'form': form, expanded: expanded, options: options} %}
{% endmacro %}
{# customized fields #}
{% block _message_progress_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <div class="input-group-append d-print-none">
        <button class="btn btn-notify btn-outline-secondary" type="button" title="{{ 'parameters.action_test'|trans }}"><i class="fa-regular fa-bell"></i></button>
    </div>
</div>
{%- endblock %}
{# parameters #}
{%- set cancel_path = path('homepage') -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set form_attr = form_attr|default({})|merge({'data-random': url('ajax_random_text'), 'data-failure': 'parameters.failure'|trans}) -%}
{# form #}
{% block actions_form -%}
{{ parent() }}
<button type="button" class="btn btn-form btn-default btn-outline-success">{{ 'parameters.default'|trans }}</button>
{%- endblock %}
{# body #}
{% block card_body -%}
<div class="accordion" id="parent_accordion">
    {% block sections %}{% endblock %}
</div>
{{ parent() }}
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/parameters_edit.js') }}
{% else %}
{{ asset_js('js/parameters_edit.js') }}
{% endif %}
{% endblock %}
