{% extends 'notification/notification.html.twig' %}
{# content #}
{% block content %}
<container>
    <row>
        <columns>
            {{ 'notification.csp_description'|trans({'%name%': app_name}) }}
        </columns>
    </row>
</container>
<container>
    <table id="csp">
    {% for key, value in context %}
        {% if 'original-policy' == key %}
            <tr>
                <td colspan="2"><u>{{ key }}</u></td>
            </tr>
            {% for policy_key, policy_values in value %}
            <tr>
                <td>{{ policy_key }}</td>
                <td>{{ policy_values|nl2br }}</td>
            </tr>
            {%- endfor %}
        {% else %}
            <tr>
                <td><u>{{ key }}</u></td>
                <td>{{- value -}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</container>
{% endblock %}
