{% extends 'notification/notification.html.twig' %}
{# content #}
{% block content %}
<container>
    <row>
        <columns>
            Bonjour <b>{{ username }}</b>,
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Vous pouvez réinitialiser votre mot de passe en cliquant sur le bouton ci-dessous.
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Si cette demande de réinitialisation n'a pas été effectuée par vous-même, aucune action n'est nécessaire et vous pouvez ignorer ce message.
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            <b>Remarque :</b>
            <ul>
                <li>La demande de changement du nouveau mot de passe expire dans {{ expires_life_time }} (à {{ expires_date|locale_time('short') }}).</li>
                <li>Vous ne pouvez demander un nouveau mot de passe que dans {{ throttle_life_time }} (à {{ throttle_date|locale_time('short') }}).</li>
            </ul>
        </columns>
    </row>
</container>
<container>
    <row>
        <columns>
            Cordialement,<br>
            L'équipe de {{ app_name }}
        </columns>
    </row>
</container>
{% endblock %}
