{% extends 'cards/card_base.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'resetting.request.title' -%}
{%- set title_icon   = 'eraser' -%}

{# class styles #}
{% block card_container_class ' col-xl-8 offset-xl-2 my-auto h-50' %}

{% block card_body -%}
<p class="mb-0">{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime|date('g'), '%request%': path('app_forgot_password_request')})|raw|nl2br }}</p>
{%- endblock %}

{% block card_footer -%}
{{ icons.homepage() }}
<hr class="mb-2">
<div class="row">
    <div class="col-md-6">
        <small>{{ app_name_version }}</small>
    </div>
    <div class="col-md-6 text-md-right">
        <small>{{ icons.copyright_link() }}</small>
    </div>
</div>
{%- endblock %}

{# hide navigation and footer #}
{% block navigation %}{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets -%}
{{ asset_css('css/center.css') }}
{% endblock %}
