{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, footer_center %}
{# parameters #}
{%- set title = 'resetting.request.title' -%}
{%- set title_icon = 'eraser' -%}
{# hide navigation and footer #}
{% block navigation_horizontal %}{% endblock %}
{% block navigation_vertical -%}{% endblock %}
{% block footer %}{% endblock %}
{# class styles #}
{% block card_container_class ' col-xl-8 offset-xl-2 my-auto h-75' %}
{# body #}
{% block card_body -%}
<p>
    Un courrier électronique vous a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
</p>
<p>
    Si vous ne recevez pas de courrier électronique, veuillez vérifier votre dossier de courrier indésirable (pourriel) ou <a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.
</p>
<p class="mb-1">
    <b>Remarque :</b>
</p>
<ul class="mb-0">
    <li>La demande de changement du nouveau mot de passe expire dans {{ expires_life_time }} (à {{ expires_date|locale_time('short') }}).</li>
    <li>Vous ne pouvez demander un nouveau mot de passe que dans {{ throttle_life_time }} (à {{ throttle_date|locale_time('short') }}).</li>
</ul>
{%- endblock %}
{# footer #}
{% block card_footer -%}
{{ link(path('app_login'), 'security.login.submit', 'btn btn-form btn-primary', null, 'security.login.description') }}
{{ footer_center() }}
{%- endblock %}
{# stylesheets #}
{% block stylesheets -%}
{{ asset_css('css/center.css') }}
{% endblock %}
