{# macros #}
{% macro outputTitleLine(title) -%}
    <div class="horizontal-line mb-1">{{ title|trans }}</div>
{% endmacro outputTitleLine %}
{% macro outputPopoverRow(name, description, arguments, popover) -%}
    <div class="row">
        <div class="col-md-4 col-lg-3 text-success text-nowrap" data-bs-title="{{ name|trim }}" data-content="{{ popover|e }}">
            <pre class="fs-6 mb-0">{{ name }}</pre>
        </div>
        <div class="col-md-8 col-lg-9">
            {{- description|raw }} {{ arguments|raw -}}
        </div>
    </div>
{% endmacro outputPopoverRow %}
{% macro outputEntryRow(name, value, class = null) -%}
    <tr>
        <td>{{ name }}</td>
        <td>:</td>
        <td{% if class %} class="{{ class }}"{% endif %}>{{ value }}</td>
    </tr>
{% endmacro outputEntryRow %}
{% macro tooltipArgument(argument) -%}
    <div class="mx-2 mt-1">
        <table class="table table-sm">
            {{ _self.outputEntryRow('Required', argument.isRequired|json_encode) }}
            {{ _self.outputEntryRow('Array', argument.isArray|json_encode) }}
            {%- if argument.display -%}
                {{ _self.outputEntryRow('Default', argument.display, 'text-secondary') }}
            {% endif %}
        </table>
    </div>
{% endmacro tooltipArgument %}
{% macro tooltipOption(option) -%}
    <div class="mx-2 mt-1">
        <table class="table table-sm">
            {{ _self.outputEntryRow('Value Required', option.isRequired|json_encode) }}
            {{ _self.outputEntryRow('Accept Value', option.isAcceptValue|json_encode) }}
            {{ _self.outputEntryRow('Multiple', option.isArray|json_encode) }}
            {% if option.isAcceptValue and option.display %}
                {{ _self.outputEntryRow('Default', option.display, 'text-secondary') }}
            {% endif %}
        </table>
    </div>
{% endmacro tooltipOption %}
{# content #}
<div id="content">
    {# description #}
    {% if command.description %}
        {{ _self.outputTitleLine('command.list.fields.description') }}
        <p class="ms-3">{{ command.description }}</p>
    {% endif %}
    {# usage #}
    {% if command.usage|length %}
        {{ _self.outputTitleLine('command.list.fields.usage') }}
        {% for usage in command.usage %}
            <pre class="fs-6 ms-3">{{ usage }}</pre>
        {% endfor %}
    {% endif %}
    {# arguments #}
    {% if command.arguments|length %}
        {{ _self.outputTitleLine('command.list.fields.arguments') }}
        <div class="ms-3 my-2">
            {% for argument in command.arguments %}
                {{ _self.outputPopoverRow(argument.name, argument.description, argument.arguments, _self.tooltipArgument(argument)) }}
            {% endfor %}
        </div>
    {% endif %}
    {# options #}
    {% if command.options|length %}
        {{ _self.outputTitleLine('command.list.fields.options') }}
        <div class="ms-3 mt-2 mb-3">
            {% for option in command.options %}
                {{ _self.outputPopoverRow(option.shortcutName, option.description, option.arguments, _self.tooltipOption(option)) }}
            {% endfor %}
        </div>
    {% endif %}
    {# help #}
    {% if command.help %}
        {{ _self.outputTitleLine('command.list.fields.help') }}
        <div class="ms-3 mt-2">
            <pre class="fs-6 mb-0 text-wrap">{{ command.help|raw|nl2br }}</pre>
        </div>
    {% endif %}
</div>
