{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'command.execute.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.execute.description' -%}
{%- set cancel_path = path('command_all', {'name': command.name}) -%}
{%- set values = form.vars.value %}
{# body #}
{% block card_body %}
{# name #}
{{ form_row(form.name, { 'help': command.description }) }}
{# arguments #}
{% set arguments = values|filter((value, name) => name|u.startsWith(constant('App\\Service\\CommandBuilderService::ARGUMENT_PREFIX'))) %}
{% if (arguments|length) %}
    <p class="mb-1 text-warning">{{ 'command.list.fields.arguments'|trans }}</p>
    <div class="row">
    {% for argument in arguments|keys %}
        <div class="col-md-4">
            {{ form_row(form[argument]) }}
        </div>
    {% endfor %}
    </div>
{% endif %}
{# options #}
{% set options = values|filter((value, name) => name|u.startsWith(constant('App\\Service\\CommandBuilderService::OPTION_PREFIX'))) %}
{% if (options|length) %}
    <p class="mb-1 text-warning">{{ 'command.list.fields.options'|trans }}</p>
    <div class="row">
    {% for option in options|keys %}
        <div class="col-md-4">
            {{ form_row(form[option]) }}
        </div>
    {% endfor %}
    </div>
{% endif %}
{{ parent() }}
{% endblock %}
{# javascript #}
{% block javascripts -%}
    {{- parent() -}}
    {{- asset_js('js/application/validation_edit.js') -}}
{% endblock %}
