{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link %}
{# parameters #}
{%- set title = 'command.result.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.result.description' -%}
{%- set is_error = not result.success -%}
{# class #}
{% block card_class is_error ? ' border-danger' : '' %}
{% block card_header_class is_error ? ' text-bg-danger' : '' %}
{% block card_footer_class ' justify-content-start' %}
{# body #}
{% block card_body %}
{# name #}
{{ include('command/_command_name.html.twig', {'command': command}, with_context=false) }}
{# parameters #}
{% if parameters|length %}
    <div class="mb-3">
        <span class="form-label">{{ 'command.list.fields.arguments'|trans }}</span>
        <div class="border pre-scrollable pre-scrollable-highlight-php small-scrollbar font-monospace rounded">
            {{ parameters|var_export_php }}
        </div>
    </div>
{% endif %}
{# content #}
<span class="form-label">{{ 'command.result.message'|trans }}</span>
<pre id="result" class="border p-2 mb-0 small-scrollbar pre-scrollable">
    {{- result.content|default('command.result.empty'|trans)|raw -}}
</pre>
{# error #}
{% if is_error %}
    <p class="mb-1 text-danger">{{ 'command.result.error'|trans }}</p>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap">
    {{ link(path('command_all', {'name': command.name}), 'command.list.title', 'btn btn-form btn-primary') }}
    {{ link(path('command_execute', {'name': command.name}), 'command.result.re_run', 'btn btn-form btn-warning') }}
    {% if result.content %}
        <button type="button" class="btn btn-form btn-success btn-copy"
                data-success="{{ 'common.copy_success'|trans }}"
                data-error="{{ 'common.copy_error'|trans }}"
                data-clipboard-target="#result">{{ 'common.button_copy'|trans }}</button>
    {% endif %}
</div>
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
    {{ parent() }}
    {{ asset_css('css/highlight.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts -%}
    {{ parent() }}
    {{ asset_js('vendor/clipboard/clipboard.js') }}
    {{ asset_js('js/plugins/plugin-copy.js') }}
    {{ asset_js('js/application/command_result.js') }}
{%- endblock %}
