{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link %}
{# parameters #}
{%- set title = 'command.result.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.result.description' -%}
{%- set is_error = not result.success -%}
{# class #}
{% block card_class is_error ? ' border-danger' : '' %}
{% block card_header_class is_error ? ' text-bg-danger' : '' %}
{# body #}
{% block card_body %}
{# name #}
{{ include('command/_command_name.html.twig', {'command': command}, with_context=false) }}
<p class="mb-1">{{ 'command.result.message'|trans }}</p>
<pre id="result" class="border p-2 small-scrollbar" style="max-height: 340px;">
    {{- result.content|default('command.result.empty'|trans) -}}
</pre>
{# error #}
{% if is_error %}
    <p class="mb-1 text-danger">{{ 'command.result.error'|trans }}</p>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap">
    {{ link(path('command_all', {'name': command.name}), 'command.list.title', 'btn btn-form btn-primary') }}
    {{ link(path('command_execute', {'name': command.name}), 'command.result.re_run', 'btn btn-form btn-warning') }}
    {% if result.content %}
        <button type="button" class="btn btn-form btn-success btn-copy"
                data-success="{{ 'common.copy_success'|trans }}"
                data-error="{{ 'common.copy_error'|trans }}"
                data-clipboard-target="#result">{{ 'common.button_copy'|trans }}</button>
    {% endif %}
</div>
{% endblock %}
{# javascripts #}
{% block javascripts -%}
    {{ parent() }}
    {{ asset_js('vendor/clipboard/clipboard.js') }}
    {{ asset_js('js/plugins/plugin-copy.js') }}
    {{ asset_js('js/application/command_result.js') }}
{%- endblock %}
