{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import button_pdf %}
{# parameters #}
{%- set title = 'command.list.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.list.description' -%}
{%- set selection = command.name -%}
{% block card_container_class ' col col-xl-10 offset-xl-1' %}
{# body #}
{% block card_body %}
<div class="mb-3">
    <label for="command" class="form-label">{{ 'command.list.fields.command'|trans }}</label>
    <select id="command" name="command" class="form-select" data-url="{{ path('command_content', {name: 'query'}) }}">
    {% for key, names in groups %}
        <optgroup label="{{ key }}">
        {% for name in names %}
            <option{% if name == selection %} selected{% endif %}>{{ name }}</option>
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>
</div>
{{ include('command/_command.htm.twig', {command: command}, with_context=false) }}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap">
    <a href="#" class="btn btn-form btn-warning btn-execute" data-url="{{ path('command_execute', {name: 'query'}) }}">
        {{- 'command.execute.title'|trans -}}
    </a>
    {{ button_pdf('command_pdf') }}
    <small class="ms-sm-auto">{{ 'command.list.counter'|trans({'%count%': count|integer}) }}</small>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts -%}
    {{ parent() }}
    {{ asset_js('js/application/commands.js') }}
{%- endblock %}
