{% extends 'cards/card_base.html.twig' %}
{% from 'command/_command.htm.twig' import encode_query %}
{% from 'macros/_icons.html.twig' import link, button_copy %}
{# parameters #}
{%- set title = 'command.result.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.result.description' -%}
{%- set cancel_path = encode_query('command_index', query) -%}
{% block card_container_class ' col col-xl-10 offset-xl-1' %}
{%- set is_error = not result.success -%}
{# class #}
{% block card_class is_error ? ' border-danger' : '' %}
{% block card_header_class is_error ? ' text-bg-danger' : '' %}
{% block card_footer_class ' justify-content-start' %}
{# body #}
{% block card_body %}
{# name #}
{{ include('command/_command_name.html.twig', {command: command}, with_context: false) }}
{# parameters #}
{% if parameters|length %}
    <div class="mb-3">
        <span class="form-label">{{ 'command.list.fields.arguments'|trans }}</span>
        <div class="border pre-scrollable pre-scrollable-highlight-php scrollbar-thin font-monospace">
            {{ parameters|var_export_php }}
        </div>
    </div>
{% endif %}
{# content #}
<span class="form-label">{{ 'command.result.message'|trans }}</span>
<pre id="result" class="border p-2 mb-0 scrollbar-thin pre-scrollable">
    {{- result.content|default('command.result.empty'|trans)|raw -}}
</pre>
{# error #}
{% if is_error %}
    <p class="mb-1 text-danger">{{ 'command.result.error'|trans }}</p>
{% endif %}
{% endblock card_body %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap">
    {{ link(encode_query('command_index', query), 'command.list.title', 'btn btn-form btn-primary') }}
    {{ link(encode_query('command_execute', query), 'command.result.re_run', 'btn btn-form btn-warning') }}
    {% if result.content %}
        {{ button_copy('#result') }}
    {% endif %}
</div>
{% endblock card_footer %}
{# stylesheets #}
{% block stylesheets %}
    {{ parent() }}
    {{ asset_css('css/highlight.css') }}
{% endblock stylesheets %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('build/clipboard/clipboard.js') }}
    {{ asset_js('js/plugins/plugin-copy.js') }}
    {{ asset_js('js/application/command_result.js') }}
{%- endblock javascripts %}
