{% extends 'cards/card_edit.html.twig' %}
{# macros #}
{% macro outputChildren(children) -%}
{% if children|length %}
    <div class="row">
        {% for child in children %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
{% endif %}
{% endmacro %}
{# parameters #}
{%- set title = 'command.execute.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'command.execute.description' -%}
{%- set cancel_path = path('command_all', {name: command.name}) -%}
{%- set submit_text = 'command.execute.title' -%}
{# body #}
{% block card_body %}
{# name #}
{{ include('command/_command_name.html.twig', {command: command}, with_context=false) }}
{# arguments #}
{% if arguments.texts|length or arguments.checkboxes|length %}
    <p class="horizontal-line">{{ 'command.list.fields.arguments'|trans }}</p>
    {{ _self.outputChildren(arguments.texts) }}
    {{ _self.outputChildren(arguments.checkboxes) }}
{% endif %}
{# options #}
{% if options.texts|length or options.checkboxes|length %}
    <p class="horizontal-line">{{ 'command.list.fields.options'|trans }}</p>
    {{ _self.outputChildren(options.texts) }}
    {{ _self.outputChildren(options.checkboxes) }}
{% endif %}
{{ parent() }}
{% endblock %}
{# javascript #}
{% block javascripts -%}
    {{- parent() -}}
    {{- asset_js('js/application/command_query.js') -}}
{% endblock %}
