{# Modal dialog to edit a calculation task #}
{% extends 'dialog/dialog_edit.html.twig' %}
{# parameters #}
{%- set form_prefix = 'task' -%}
{%- set dialog_icon = ICON_TASK -%}
{%- set add_title = 'calculation.edit.add_task'|trans -%}
{%- set edit_title = 'task_compute.edit'|trans -%}
{%- set form_attr = form_attr|default({})|merge({'data-url': path('ajax_task'), 'data-failed': 'task_compute.failed'|trans}) -%}
{# body #}
{% block modal_body %}
<div class="row">
    <div class="col-6">
        {{ form_row(form.task) }}
    </div>
    <div class="col-6">
        {{ form_row(form.category) }}
    </div>
</div>
<div class="row">
    <div class="col-3 offset-6">
        {{ form_row(form.unit) }}
    </div>
    <div class="col-3">
        {{ form_row(form.quantity, {attr: {value: 1.00}}) }}
    </div>
</div>
<div class="task-row-table">
    {{ include('task/_task_table.html.twig', tasks) }}
</div>
<div class="row task-row-empty d-none ps-1">
    <p class="small text-body-secondary">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}
