{% from 'macros/_icons.html.twig' import modal_title, modal_close_button, button_copy %}
{% set dialog_id = 'package-modal' %}
<div class="modal fade" id="{{ dialog_id }}" tabindex="-1" aria-labelledby="modal-package-title" aria-hidden="true"
     data-found-error="{{ 'about.package.not_found'|trans }}"
     data-load-error="{{ 'about.package.not_loaded'|trans }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {{- modal_title('modal-package-title', 'file-code', 'about.package.title', dialog_id) -}}
            </div>
            <div class="modal-body">
                <div class="border pre-scrollable scrollbar-thin">
                    <div id="package-content" class="modal-data p-2 overflow-hidden"></div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                {{ button_copy(target: '#package-content', class: 'btn-primary', hide_modal: true) }}
                {{- modal_close_button(for_header: false, data_target: dialog_id) }}
            </div>
        </div>
    </div>
</div>
