{# edit modal dialog #}
{% from 'macros/_icons.html.twig' import icon, button_close_modal %}
{% from 'macros/_attributes.html.twig' import attributes %}
{# parameters #}
{%- set form_prefix = form_prefix|default('edit') -%}
{%- set dialog_icon = dialog_icon|default(ICON_EDIT) -%}
{%- set dialog_id = form_prefix ~ '_modal' -%}
{%- set add_title = add_title|default('common.button_add'|trans) -%}
{%- set edit_title = edit_title|default('common.button_edit'|trans) -%}
{%- set form_attr = form_attr|default({}) -%}
{# modal #}
<div class="modal fade" id="{{ dialog_id }}" tabindex="-1" aria-labelledby="{{ dialog_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
            <form id="{{ form_prefix }}_form" autocomplete="off" data-add="{{ add_title }}" data-edit="{{ edit_title }}"{{ attributes(form_attr) }}>
                <div class="modal-header cursor-move">
                    <h5 class="modal-title" id="{{ dialog_id }}">{{ icon(dialog_icon ~ ' me-1') }}<span class="dialog-title">{{ edit_title }}</span></h5>
                    {{- button_close_modal(data_target: dialog_id) }}
                </div>
                <div class="modal-body">
                    {% block modal_body %}{% endblock %}
                </div>
                <div class="modal-footer justify-content-start align-items-start">
                    <input type="submit" role="button" id="dialog_submit_button" class="btn btn-form btn-primary" value="{{ 'common.button_ok'|trans }}">
                    <input type="button" role="button" id="dialog_cancel_button" class="btn btn-form btn-secondary" value="{{ 'common.button_cancel'|trans }}" data-bs-dismiss="modal">
                    {%- block modal_buttons -%}{%- endblock -%}
                    <small class="flex-grow-1 text-sm-end">{{ 'common.required'|trans|raw }}</small>
                </div>
            </form>
        </div>
    </div>
</div>
