{% from 'macros/_icons.html.twig' import icon, button_close_modal %}
<div class="modal fade" id="modal-page" aria-labelledby="modal-page-title" aria-hidden="true" tabindex="-1" data-page="{{ 'datatable.dialog_page'|trans }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header cursor-move">
                <h1 class="modal-title fs-5" id="modal-page-title">
                    {{- icon('arrow-up-right-dots fa-fw', 'datatable.dialog_title') -}}
                </h1>
                {{- button_close_modal() -}}
            </div>
            <div class="modal-body p-4">
                <label for="page-range" class="form-label">{{ 'datatable.dialog_message'|trans }}</label>
                <input id="page-range" type="range" class="form-range border rounded-pill px-1 py-2" min="1" max="100" step="1" value="1">
                <label id="page-label" for="page-range" class="form-label w-100 text-end">&nbsp;</label>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-form btn-primary" id="page-button">
                    {{- 'common.button_ok'|trans -}}
                </button>
                {{- button_close_modal(false, 'common.button_cancel') }}
            </div>
        </div>
    </div>
</div>
