{% from 'macros/_icons.html.twig' import icon, button_close_modal %}
<div class="modal fade" id="modal-page" role="dialog" aria-labelledby="modal-title" aria-hidden="true" tabindex="-1" data-page="{{ 'datatable.dialog_page'|trans }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header cursor-move">
                <h5 class="modal-title">{{- icon('arrow-up-right-dots fa-solid fa-fw', 'datatable.dialog_title') -}}</h5>{{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <label id="dialog-page-title" for="page-range" class="form-label">{{ 'datatable.dialog_message'|trans }}</label>
                <div class="d-flex align-items-center gap-2">
                    <input id="page-range" type="range" class="form-range border rounded-pill py-1 px-2" min="1" max="100" step="1" value="1">
                    <label id="page-label" for="page-range" class="form-label text-nowrap mb-1">&nbsp;</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-form btn-primary" id="page-button">
                    {{- 'common.button_ok'|trans -}}
                </button>
                {{ button_close_modal(false, 'common.button_cancel') }}
            </div>
        </div>
    </div>
</div>
