{% from 'macros/_icons.html.twig' import button_close_modal %}
{% set dialog_id = 'license-modal' %}
<div id="{{ dialog_id }}" class="modal fade" tabindex="-1" aria-hidden="true"
     aria-labelledby="modal-license-title"
     data-load-error="{{ 'about.dialog.not_found'|trans }}"
     data-url="{{ path('ajax_license') }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-book-open-reader"></i><span id="modal-license-title" class="dialog-title">{{ 'about.dialog.title'|trans }}</span></h5>
                {{- button_close_modal(true, null, dialog_id) -}}
            </div>
            <div class="modal-body">
                <div class="border pre-scrollable small-scrollbar">
                    <div id="license-content" class="p-2 overflow-hidden"></div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-form btn-primary btn-copy"
                        data-success="{{ 'common.copy_success'|trans }}"
                        data-error="{{ 'common.copy_error'|trans }}"
                        data-clipboard-target="#license-content">
                    {{- 'common.button_copy'|trans -}}
                </button>
                {{- button_close_modal(false, null, dialog_id) }}
            </div>
        </div>
    </div>
</div>
