{% from 'macros/_icons.html.twig' import button_ok, modal_title, modal_close_button %}
{% from 'macros/_attributes.html.twig' import attributes as output_attributes %}
{# output a theme entry #}
{% macro output_theme(theme, checked) -%}
    {% set id = 'form_theme_' ~ theme.value %}
    {% set id_help = id ~ '_help' %}
    {% set attributes = {
        id: id,
        type: 'radio',
        value: theme.value,
        name: 'form_theme',
        class: 'form-check-input',
        'aria-describedby': id_help,
        'data-text': theme|trans,
        'data-success': theme.success|trans,
        'data-class': 'theme-icon ' ~ theme.icon,
    } %}
    <div class="form-check mb-3">
        <input{{ output_attributes(attributes) }}{% if checked %} checked="checked"{% endif %}>
        <label class="form-check-label" for="{{ id }}">
            <span class="d-inline d-lg-none"><i class="{{ theme.icon }}"></i></span>
            <span>{{ theme|trans }}</span>
        </label>
        <div class="d-none d-md-none d-lg-block">
            <label id="{{ id_help }}" for="{{ id }}" class="form-label d-flex mt-1 mb-0">
                {{ asset_image(theme.thumbnail, {width: 64, height: 48, class: 'mt-2 me-2', alt: theme|trans}) }}
                <span class="text-help text-secondary-emphasis">{{- theme.help|trans|raw -}}</span>
            </label>
        </div>
    </div>
{%- endmacro %}
{% set dialog_id = 'theme_modal' %}
{% set selection = theme(app.request) %}
<div class="modal fade" id="{{ dialog_id }}" tabindex="-1" aria-labelledby="theme-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {{ modal_title('theme-title', 'image', 'theme.title', dialog_id) }}
            </div>
            <div class="modal-body mx-3">
                <span class="form-label mb-3">{{ 'theme.help'|trans }}</span>
                {% for theme in themes() %}
                    {{ _self.output_theme(theme: theme, checked: (theme == selection)) }}
                {% endfor %}
            </div>
            <div class="modal-footer">
                {{ button_ok() }}
                {{ modal_close_button(for_header: false, label: 'common.button_cancel', data_target: dialog_id) }}
                <button type="button" class="btn btn-settings btn-form btn-success" disabled>
                    {{- 'theme.settings'|trans -}}
                </button>
            </div>
        </div>
    </div>
</div>
