{% from 'macros/_icons.html.twig' import button_ok, button_close_modal %}
{% from 'macros/_attributes.html.twig' import attributes as output_attributes %}
{% macro output_theme(theme, is_dark, selection) -%}
    {% set id = 'form_theme_' ~ theme.value %}
    {% set id_help = id ~ '_help' %}
    {% set attributes = {
        type: 'radio',
        class: 'form-check-input',
        name: 'form_theme',
        value: theme.value,
        'aria-describedby': id_help,
        'data-success': theme.success|trans,
        'data-icon-light': theme.iconLight ~ ' me-1',
        'data-icon-dark': theme.iconDark ~ ' me-1'} %}
    <div class="form-check mb-3" title="{{ theme.title|trans }}">
        <input id="{{ id }}"{{ output_attributes(attributes) }}{% if selection == theme %} checked="checked"{% endif %}>
        <label class="form-check-label" for="{{ id }}">
            <i class="theme-icon me-1 {{ is_dark ? theme.iconLight : theme.iconDark }}"></i><span class="theme-text">{{ theme|trans }}</span>
        </label>
        <label id="{{ id_help }}" for="{{ id }}" class="form-label form-text">{{- theme.help|trans|raw -}}</label>
    </div>
{%- endmacro %}
{# parameters #}
{% set dialog_id = 'theme_modal' %}
{% set theme_selection = theme_selection|default(theme(app.request)) %}
{% set is_dark = is_dark is defined ? is_dark : is_dark_theme(app.request) %}
<div id="{{ dialog_id }}" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-image me-1"></i><span class="dialog-title">{{ 'theme.title'|trans }}</span></h5>
                {{- button_close_modal(true, null, dialog_id) -}}
            </div>
            <div class="modal-body mx-3">
                <span class="form-label required mb-3">{{ 'theme.help'|trans }}</span>
                {% for theme in themes() %}
                    {{ _self.output_theme(theme, is_dark, theme_selection) }}
                {% endfor %}
            </div>
            <div class="modal-footer justify-content-start">
                {{ button_ok() }}
                {{ button_close_modal(false, 'common.button_cancel', dialog_id) }}
                <small class="flex-grow-1 text-sm-end">{{ 'common.required'|trans|raw }}</small>
            </div>
        </div>
    </div>
</div>
