{# Modal dialog to edit a calculation item #}
{% extends 'dialog/dialog_edit.html.twig' %}
{# parameters #}
{%- set form_prefix = 'item' -%}
{%- set dialog_icon = ICON_PRODUCT -%}
{%- set add_title = 'calculation.edit.add_item'|trans -%}
{%- set edit_title = 'calculation.edit.edit_item'|trans -%}
{%- set copy_title = 'calculation.edit.copy_item'|trans -%}
{%- set form_attr = form_attr|default({})|merge({'data-copy': copy_title}) -%}
{# body #}
{% block modal_body %}
<div class="row" id="item_search_row">
    <div class="col-md-4 form-group mb-3">
        <div class="input-group">
            <input type="text" class="form-control" id="item_search_input" name="item_search_input" aria-label="{{ 'list.search_placeholder'|trans }}" placeholder="{{ 'list.search_placeholder'|trans }}">
            <button class="btn btn-outline-secondary" type="button" id="item_search_clear" disabled title="{{ 'help.actions.clear'|trans }}">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{ form_row(form.category) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.unit) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.price) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.quantity) }}
    </div>
    <div class="col-md-4">
        <div class="form-group mb-3">
            <span class="form-label">{{ 'calculationitem.fields.total'|trans }}</span>
            <div id="item_total" class="form-control-read-only text-end">{{ 0|amount }}</div>
        </div>
    </div>
</div>
{% endblock modal_body %}
{# buttons #}
{% block modal_buttons %}
<input type="button" role="button" id="item_delete_button" class="btn btn-form btn-outline-danger" value="{{ 'common.button_delete'|trans }}">
{% endblock modal_buttons %}
