{% from 'macros/_icons.html.twig' import modal_title, modal_close_button %}
{% set dialog_id = 'license-modal' %}
<div class="modal fade" id="{{ dialog_id }}" tabindex="-1" aria-labelledby="modal-license-title" aria-hidden="true"
     data-error="{{ 'about.dialog.not_found'|trans }}"
     data-url="{{ path('about_symfony_license') }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {{- modal_title('modal-license-title', 'book-open-reader', 'about.licence', dialog_id) -}}
            </div>
            <div class="modal-body">
                <div class="border pre-scrollable scrollbar-thin">
                    <div id="license-content" class="p-2 overflow-hidden"></div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-form btn-primary btn-copy"
                        data-success="{{ 'common.copy_success'|trans }}"
                        data-error="{{ 'common.copy_error'|trans }}"
                        data-clipboard-target="#license-content">
                    {{- 'common.button_copy'|trans -}}
                </button>
                {{- modal_close_button(for_header: false, data_target: dialog_id) }}
            </div>
        </div>
    </div>
</div>
