{% from 'macros/_icons.html.twig' import modal_title, modal_close_button, button_copy %}
{% set raw_data = raw_data|default(false) %}
{% set dialog_id = id|default('raw_data_modal') %}
{% set raw_data_id = raw_data_id|default(dialog_id ~ '_highlight') %}
{# dialog #}
<div class="modal modal-raw-data fade" id="{{ dialog_id }}" tabindex="-1" aria-labelledby="modal-data-title" aria-hidden="true">
    <div class="modal-dialog{% if raw_data %} modal-lg{% endif %}">
        <div class="modal-content{% if not raw_data %} border-danger{% endif %}">
            <div class="modal-header{% if not raw_data %} text-bg-danger{% endif %}">
                {{- modal_title('modal-data-title', 'code', 'dialog_raw_data.title', dialog_id) -}}
            </div>
            <div class="modal-body">
            {%- if raw_data -%}
                {% if description is defined and description %}
                <span class="form-label">{{ description }}</span>
                {% endif %}
                <div class="border pre-scrollable pre-scrollable-highlight-php scrollbar-thin font-monospace">
                    {{- raw_data|var_export_php(raw_data_id) -}}
                </div>
            {%- else -%}
                <p class="text-center my-4">
                    {{- 'dialog_raw_data.empty'|trans -}}
                </p>
            {%- endif -%}
            </div>
            <div class="modal-footer justify-content-start">
                {% if raw_data and allow_copy is defined and allow_copy %}
                    {{ button_copy(target: '#' ~ raw_data_id, class: 'btn-primary', hide_modal: true) }}
                {% endif %}
                {{- modal_close_button(for_header: false, data_target: dialog_id) }}
            </div>
        </div>
    </div>
</div>
