{% from 'macros/_icons.html.twig' import button_close_modal %}
{% set raw_data = raw_data|default(false) %}
{% set dialog_id = id|default('raw_data_modal') %}
{% set raw_data_id = raw_data_id|default(dialog_id ~ '_highlight') %}
{# dialog #}
<div id="{{ dialog_id }}" class="modal modal-raw-data fade" role="dialog" tabindex="-1" aria-labelledby="modal-data-title" aria-hidden="true" data-copy-success="{{ 'dialog_raw_data.copy_success'|trans }}" data-copy-error="{{ 'dialog_raw_data.copy_error'|trans }}">
    <div class="modal-dialog{% if raw_data %} modal-lg{% endif %}">
        <div class="modal-content{% if not raw_data %} border-danger{% endif %}">
            <div class="modal-header{% if not raw_data %} text-bg-danger{% endif %}">
                <h1 class="modal-title fs-5" id="modal-data-title"><i class="fa-solid fa-code me-1"></i><span class="dialog-title">{{ 'dialog_raw_data.title'|trans }}</span></h1>
                {{- button_close_modal(true, null, dialog_id) -}}
            </div>
            <div class="modal-body">
            {%- if raw_data -%}
                {% if description is defined and description %}
                <p class="mb-1">{{ description }}</p>
                {% endif %}
                <div class="border pre-scrollable pre-scrollable-highlight-php small-scrollbar font-monospace">
                    {{- raw_data|var_export_php(raw_data_id) -}}
                </div>
            {%- else -%}
                <p class="text-center my-4">
                    {{- 'dialog_raw_data.empty'|trans -}}
                </p>
            {%- endif -%}
            </div>
            <div class="modal-footer">
                {% if raw_data and allow_copy is defined and allow_copy %}
                    <button type="button" class="btn btn-form btn-primary btn-copy" data-clipboard-target="#{{ raw_data_id }}">{{ 'common.button_copy'|trans }}</button>
                {% endif %}
                {{- button_close_modal(false, null, dialog_id) }}
            </div>
        </div>
    </div>
</div>
