{% from 'macros/_icons.html.twig' import modal_title, modal_close_button, icon %}
<div class="modal fade" id="modal-sort" tabindex="-1" aria-labelledby="modal-sort-title" aria-hidden="true">
    <div class="modal-dialog">
        {% set column = columns|filter(c => c.default)|first %}
        <div class="modal-content">
            <div class="modal-header cursor-move">
                {{- modal_title('modal-sort-title', 'sort-amount-down-alt', 'list.sort_title', 'modal-sort') -}}
            </div>
            <div class="modal-body px-4">
                <div class="mb-3">
                    <label class="form-label required" for="sort-name">{{ 'list.sort_column'|trans }}</label>
                    <select class="form-select" id="sort-name" name="sort-name">
                        {% for column in columns -%}
                            <option value="{{ column.field }}" data-sort="{{ column.order }}" data-default="{{ column.default|json_encode }}">
                                {{- column.title -}}
                            </option>
                        {%- endfor %}
                    </select>
                </div>
                <div>
                    <span class="form-label d-block required">{{ 'list.sort_label'|trans }}</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="sort-order-asc" name="sort-order" value="asc">
                        <label class="form-check-label" for="sort-order-asc">
                            {{- icon('arrow-down-a-z fa-solid fa-fw', 'list.sort_ascending') -}}
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="sort-order-desc" name="sort-order" value="desc">
                        <label class="form-check-label" for="sort-order-desc">
                            {{- icon('arrow-down-z-a fa-solid fa-fw', 'list.sort_descending') -}}
                        </label>
                    </div>
                </div>
                {% if column %}
                    {% set key = column.order == 'asc' ? 'list.sort_ascending_title' : 'list.sort_descending_title' %}
                    <div class="small text-body-tertiary mt-2">{{ key|trans({'%name%': column.title}) }}</div>
                {% endif %}
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-form btn-primary" id="sort-button">{{- 'common.button_ok'|trans -}}</button>
                {% if column %}
                    <button type="button" class="btn btn-form btn-success" id="sort-default-button">
                        {{- 'list.sort_default_title'|trans -}}
                    </button>
                {% endif %}
                {{- modal_close_button(for_header: false, label: 'common.button_cancel') -}}
            </div>
        </div>
    </div>
</div>
