{# edit modal dialog #}
{% from 'macros/_icons.html.twig' import icon, button_close_modal %}
{# macro #}
{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
{# parameters #}
{%- set icon = icon|default(ICON_EDIT) -%}
{%- set form_prefix = form_prefix|default('edit') -%}
{%- set add_title = add_title|default('common.button_add'|trans) -%}
{%- set edit_title = edit_title|default('common.button_edit'|trans) -%}
{%- set form_attr = form_attr|default({}) -%}
{# modal #}
<div id="{{ form_prefix }}_modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
            <form id="{{ form_prefix }}_form" autocomplete="off" data-add="{{ add_title }}" data-edit="{{ edit_title }}"{{ _self.attributes(form_attr) }}>
                <div class="modal-header cursor-move">
                    <h5 class="modal-title">{{ icon(icon) }}&nbsp;<span class="dialog-title">{{ edit_title }}</span></h5>
                    {{ button_close_modal() }}
                </div>
                <div class="modal-body">
                    {% block modal_body %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <div class="row no-gutters w-100">
                        <div class="col-7">
                            {% block modal_buttons %}{% endblock %}
                        </div>
                        <div class="col-5 text-right mt-1">
                            <small>{{ 'common.required'|trans|raw }}</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
