{# Modal dialog to edit a calculation task #}
{% extends 'dialog/edit_dialog.html.twig' %}
{# parameters #}
{%- set icon = ICON_TASK -%}
{%- set form_prefix = 'task' -%}
{%- set add_title = 'task_compute.add'|trans -%}
{%- set edit_title = 'task_compute.edit'|trans -%}
{%- set form_attr = form_attr|default({})|merge({'data-url': path('ajax_task'), 'data-failed': 'task_compute.failed'|trans}) -%}
{# body #}
{% block modal_body %}
<div class="form-row">
    <div class="col-6">
        {{ form_row(form.task) }}
    </div>
    <div class="col-6">
        {{ form_row(form.category) }}
    </div>
</div>
<div class="form-row">
    <div class="col-3 offset-6">
        {{ form_row(form.unit) }}
    </div>
    <div class="col-3">
        {{ form_row(form.quantity, {'attr': {'value': 1.00}}) }}
    </div>
</div>
<div class="form-row task-row-table">
    {% include 'task/_task_table.html.twig' with tasks %}
</div>
<div class="form-row task-row-empty d-none pl-1">
    <p class="small text-muted">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}
{# buttons #}
{% block modal_buttons %}
<input type="submit" role="button" id="task_submit_button" class="btn btn-form btn-primary" value="{{ 'common.button_ok'|trans }}">
<input type="button" role="button" id="task_cancel_button" class="btn btn-form btn-secondary" value="{{ 'common.button_cancel'|trans }}" data-dismiss="modal">
{% endblock %}
