{% from 'macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem %}
<div class="dropup me-auto">
    <button class="nav-link d-flex align-items-center dropdown-toggle rowlink-skip" data-bs-toggle="dropdown" aria-expanded="false">
        {% apply spaceless %}
            {% set image = asset_image_user(app.user, '032', {'alt': 'user.fields.imageFile'|trans, 'title': app.user.userIdentifier, 'class': 'avatar rounded-circle me-1'}) %}
            {% if image %}{{ image|raw }}{% else %}{{ icon('user fa-lg far me-2') }}{% endif %}{{ app.user.userIdentifier }}
        {% endapply %}
    </button>
    <ul class="dropdown-menu">
        <li>{{ dropdownItem(logout_path(), 'index.logout', 'sign-out-alt') }}</li>
        <li>{{ dropdownItem(path('user_profile_edit'), 'profile.edit.title', 'user-gear') }}</li>
        <li>{{ dropdownItem(path('user_profile_change_password'), 'profile.change_password.title', 'unlock') }}</li>
        <li>{{ dropdownSeparator() }}</li>
        <li>{{ dropdownItem(path('user_parameters'), 'user.parameters.title', 'user-gear') }}</li>
        {% if is_previous_admin -%}
            <li>{{ dropdownSeparator() }}</li>
            <li>{{ dropdownItem(impersonation_exit_path(path('user_table')), 'user.switch.exit.title', 'user-slash') }}</li>
        {% endif %}
        {% if is_env_dev -%}
            <li>{{ dropdownSeparator() }}</li>
            <li>{{ dropdownItem(link_prod, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.prod'|trans}) }}</li>
        {% elseif is_env_prod or is_env_local -%}
            <li>{{ dropdownSeparator() }}</li>
            <li>{{ dropdownItem(link_dev, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.dev'|trans}) }}</li>
        {% endif %}
        <li>{{ dropdownSeparator() }}</li>
        {% if is_granted_data %}
            <li>{{ dropdownItem(path('site_map'), 'index.menu_site_map', 'sitemap') }}</li>
        {% endif %}
        <li>{{ dropdownItem(path('user_comment'), 'user.comment.title', 'envelope far') }}</li>
        {% if is_env_dev %}
            <li>{{ dropdownItem(path('help'), 'help.title', 'question-circle') }}</li>
        {% endif %}
        {% if not status_bar %}
            <li>{{ dropdownSeparator() }}</li>
            <li>{{ dropdownItem(path('about'), 'index.menu_info', 'info-circle', null, {'%app_name%': app_name}) }}</li>
        {% endif %}
    </ul>
</div>
