{# admin menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem, dropdownItemExternal %}
{% set id = 'MENU_SIDEBAR_TEST' %}
{% set expanded = app.request.cookies.boolean(id) %}
{% set toggle_class = expanded ? ' active' : '' %}
{% set collapse_class = expanded ? ' show' : '' %}
{% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
<li>{{ dropdownSeparator() }}</li>
<li class="nav-item nav-item-dropdown">
    <button class="nav-link nav-link-toggle{{ toggle_class }}" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
        {{- icon('bug fa-fw', 'index.menu_test') -}}
    </button>
    <div class="collapse{{ collapse_class }}" id="{{ id }}">
        <ul class="dropdown-menu d-block border-0 pt-0">
            {% set id = 'MENU_SIDEBAR_TEST_SERVICE' %}
            {% set expanded = app.request.cookies.boolean(id) %}
            {% set toggle_class = expanded ? ' active' : '' %}
            {% set collapse_class = expanded ? ' show' : '' %}
            {% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
            <li class="nav-item nav-item-dropdown">
                <button class="nav-link nav-link-toggle{{ toggle_class }}" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
                    {{- icon('bell-concierge fa-fw', 'index.menu_service') -}}
                </button>
                <div class="collapse{{ collapse_class }}" id="{{ id }}">
                    <ul class="dropdown-menu d-block border-0 pt-0">
                        {{ dropdownItem(path('openweather_weather'), 'openweather.current.title', 'cloud-sun') }}
                        {{ dropdownItem(path('exchange_display'), 'exchange_rate.title', 'comments-dollar') }}
                        {{ dropdownItem(path('test_translate'), 'translator.title', 'globe') }}
                        {{ dropdownItem(path('ipstack'), 'test.ip_stack', 'location-dot') }}
                    </ul>
                </div>
            </li>

            {% set id = 'MENU_SIDEBAR_TEST_PAGE' %}
            {% set expanded = app.request.cookies.boolean(id) %}
            {% set toggle_class = expanded ? ' active' : '' %}
            {% set collapse_class = expanded ? ' show' : '' %}
            {% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
            <li class="nav-item nav-item-dropdown">
                <button class="nav-link nav-link-toggle{{ toggle_class }}" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
                    {{- icon('bug fa-fw', 'index.menu_tools') -}}
                </button>
                <div class="collapse{{ collapse_class }}" id="{{ id }}">
                    <ul class="dropdown-menu d-block border-0 pt-0">
                        {{ dropdownItem(path('test_tree'), 'test.tree_view', 'folder-tree') }}
                        {{ dropdownItemExternal(path('test_pdf'), 'common.button_export_pdf', ICON_PDF) }}
                        {{ dropdownItemExternal(path('test_word'), 'common.button_export_word', ICON_WORD) }}
                    </ul>
                </div>
            </li>

            {% set id = 'MENU_SIDEBAR_TEST_ADMIN' %}
            {% set expanded = app.request.cookies.boolean(id) %}
            {% set toggle_class = expanded ? ' active' : '' %}
            {% set collapse_class = expanded ? ' show' : '' %}
            {% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
            <li class="nav-item nav-item-dropdown">
                <button class="nav-link nav-link-toggle{{ toggle_class }}" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
                    {{- icon('bug fa-fw', 'index.menu_admin') -}}
                </button>
                <div class="collapse{{ collapse_class }}" id="{{ id }}">
                    <ul class="dropdown-menu d-block border-0 pt-0">
                        {{ dropdownItem(path('schema_index'), 'schema.index.title', 'table') }}
                        {{ dropdownItem(path('admin_dump_sql'), 'admin.dump_sql.title', 'database') }}
                        {{ dropdownItem(path('command_all'), 'command.list.title', 'code') }}
                        {{ dropdownItem(path('admin_import'), 'swisspost.title', 'download') }}
                        {{ dropdownItem(path('generate'), 'generate.title', 'random') }}
                    </ul>
                </div>
            </li>

            {% set id = 'MENU_SIDEBAR_TEST_CHART' %}
            {% set expanded = app.request.cookies.boolean(id) %}
            {% set toggle_class = expanded ? ' active' : '' %}
            {% set collapse_class = expanded ? ' show' : '' %}
            {% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
            <li class="nav-item nav-item-dropdown">
                <button class="nav-link nav-link-toggle{{ toggle_class }}" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
                    {{- icon('chart-area fa-fw', 'index.menu_graphics') -}}
                </button>
                <div class="collapse{{ collapse_class }}" id="{{ id }}">
                    <ul class="dropdown-menu d-block border-0 pt-0">
                        {{ dropdownItem(path('calculation_pivot_index'), 'pivot.title', 'table') }}
                        {{ dropdownItem(path('timeline_index'), 'timeline.title', 'stream') }}
                        {{ dropdownItem(path('calendar_year'), 'calendar.year_title', 'calendar-alt far', {'%year%': 'now'|date('Y')}) }}
                    </ul>
                </div>
            </li>
            <li>{{ dropdownSeparator() }}</li>
            {{ dropdownItem(path('test_notifications'), 'test.notification', 'bell far') }}
            {{ dropdownItem(path('test_editor'), 'test.editor', 'edit') }}
            {{ dropdownItem(path('test_password'), 'password.title', 'lock') }}
            {{ dropdownItem(path('test_recaptcha'), 'test.recaptcha', 'google fab') }}
            {{ dropdownItem(path('diagram_index'), 'diagram.title', 'diagram-project') }}
            {{ dropdownItem(path('customer_index'), 'customer.list.title', ICON_CUSTOMER) }}
        </ul>
    </div>
</li>
