{# imports #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem, dropdownSeparator %}
{% from 'macros/_attributes.html.twig' import attributes %}
{# parameters #}
{% set is_admin = is_granted(ROLE_ADMIN) %}
{% set is_granted_data = is_granted(PERMISSION_LIST, ENTITY_CALCULATION)
    or is_granted(PERMISSION_LIST, ENTITY_PRODUCT)
    or is_granted(PERMISSION_LIST, ENTITY_TASK)
    or is_granted(PERMISSION_LIST, ENTITY_CATEGORY)
    or is_granted(PERMISSION_LIST, ENTITY_GROUP)
    or is_granted(PERMISSION_LIST, ENTITY_CALCULATION_STATE)
    or is_granted(PERMISSION_LIST, ENTITY_GLOBAL_MARGIN)
%}
{% set is_dark_navigation = app.user and user_service.darkNavigation %}
{# vertical navigation #}
<div class="navbar navbar-vertical bg-body-tertiary d-print-none"{% if is_dark_navigation %} data-bs-theme="dark"{% endif %}>
    <div class="d-flex align-items-center w-100 mb-2">
        {# home page #}
        <a class="navbar-brand w-100" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
            {{- icon('home', 'index.title') -}}
        </a>
        {# toggle navigation #}
        <button class="btn btn-outline-secondary hide-sidebar" title="{{ 'index.sidebar_hide'|trans }}">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>
    {# menus #}
    <ul class="navbar-nav mb-auto pt-1 border-top w-100">
        {% if is_granted(PERMISSION_LIST, ENTITY_CALCULATION) -%}
            {{ dropdownItem(path('calculation_index'), 'calculation.list.title', ICON_CALCULATION) }}
            {{ dropdownSeparator(false, 'mt-1') }}
        {% endif %}
        {% if is_granted_data %}
            {{ include('navigation/vertical/navigation_data.html.twig') }}
        {% endif %}
        {% if is_granted(PERMISSION_LIST, ENTITY_CALCULATION) %}
            {{ include('navigation/vertical/navigation_chart.html.twig') }}
        {% endif %}
        {% if is_admin or is_granted(PERMISSION_LIST, ENTITY_CALCULATION) %}
            {{ include('navigation/vertical/navigation_tools.html.twig') }}
        {% endif %}
        {% if is_admin -%}
            {{ include('navigation/vertical/navigation_admin.html.twig') }}
        {% endif %}
        {% if is_granted(ROLE_SUPER_ADMIN) %}
            {{ include('navigation/vertical/navigation_test.html.twig') }}
        {% endif %}
    </ul>
    {# bottom menus #}
    <div class="d-flex-wrap-center border-top w-100 py-2">
        {% if is_granted(IS_AUTHENTICATED_REMEMBERED) -%}
            {{ include('navigation/vertical/navigation_user.html.twig') }}
        {% endif %}
        {{ include('navigation/menu/_menu_theme.html.twig') }}
    </div>
</div>
