{# imports #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem, dropdownSeparator %}
{% from 'macros/_attributes.html.twig' import attributes %}
{# attributes #}
{%- set sidebar_attributes = {
    'show-menu': 'index.menu_show'|trans,
    'hide-menu': 'index.menu_hide'|trans
} -%}
{# sidebar #}
<div id="sidebar" class="navbar navbar-vertical bg-body-tertiary d-print-none{{ sidebar_class }}"{{ attributes(sidebar_attributes, 'data-') }}{% if is_dark_navigation %} data-bs-theme="dark"{% endif %}>
    {# toggle sidebar #}
    <button class="btn btn-outline-secondary rounded-circle py-0 px-2 hide-sidebar" title="{{ 'index.sidebar_hide'|trans }}">
        <i class="fa-solid fa-angle-left"></i>
    </button>
    {% if not status_bar %}
        {# about image and link #}
        <div class="d-flex position-relative mb-2" style="margin-right: 28px">
            <div class="flex-shrink-0">
                <img class="rounded-1" src="{{ asset_icon(57) }}" width="57" height="57" alt="{{ app_name }}">
            </div>
            <div class="flex-grow-1 ms-2">
                <p class="navbar-brand p-0 m-0" style="font-size: 1.5rem; line-height: initial;">{{ app_name }}</p>
                <p class="text-body-secondary p-0 m-0">{{ 'about.version'|trans({'%version%': app_version}) }}</p>
                <a href="{{ path('about') }}" class="stretched-link" title="{{ 'footer.about_title'|trans }}"></a>
            </div>
        </div>
        <hr class="dropdown-divider my-1 w-100">
    {% endif %}
    {# home page #}
    <a class="navbar-brand mb-2" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
        {{- icon('home', 'index.title') -}}
    </a>
    {# menus #}
    <ul class="navbar-nav mb-auto pt-1 border-top w-100">
        {% if is_granted_calculation -%}
            {{ dropdownItem(path('calculation_index'), 'calculation.list.title', ICON_CALCULATION) }}
            {{ dropdownSeparator(false, 'mt-1') }}
        {% endif %}
        {% if is_granted_data %}
            {{ include('navigation/vertical/navigation_data.html.twig') }}
        {% endif %}
        {% if is_granted_calculation %}
            {{ include('navigation/vertical/navigation_chart.html.twig') }}
        {% endif %}
        {% if is_admin or is_granted_task %}
            {{ include('navigation/vertical/navigation_tools.html.twig') }}
        {% endif %}
        {% if is_admin -%}
            {{ include('navigation/vertical/navigation_admin.html.twig') }}
        {% endif %}
        {% if is_test -%}
            {{ include('navigation/vertical/navigation_test.html.twig') }}
        {% endif %}
    </ul>
    {# bottom menus #}
    <div class="d-flex-wrap-center border-top w-100 py-2">
        {{ include('navigation/vertical/navigation_user.html.twig') }}
        {{ include('navigation/vertical/navigation_theme.html.twig') }}
    </div>
</div>
