{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set submit_text = submit_text|default('common.button_ok') -%}
{%- set submit_class = submit_class|default('btn btn-form btn-primary') -%}
{%- set submit_params = submit_params|default({}) -%}
{%- set form_attr = form_attr|default({})|merge({'id': 'edit-form'}) -%}
{%- set cancel_text = cancel_text|default('common.button_cancel') -%}
{%- if cancel_path is not defined -%}
{%- set cancel_path = cancel_url(app.request, item.id|default(0), page_list|default('homepage')) -%}
{%- endif -%}

{% block start_card_container %}
{{ parent() -}}
{% block start_form %}
{{ form_start(form, {'attr': form_attr}) }}
{% endblock %}
{% endblock %}

{% block card_header %}
{{ parent() -}}
{{ form_errors(form) }}
{%- endblock %}

{% block card_body %}
{{ form_rest(form) }}
{% endblock %}

{% block card_footer -%}
<div class="row no-gutters">
    <div class="col-md-9">
    {% block actions_form -%}
        {{ icons.button_submit(submit_text, submit_class, submit_params) }}
        {% if cancel_path|default(false) %}
            {{ icons.button_cancel(cancel_path, cancel_text) }}
        {% endif %}
    {%- endblock %}
    </div>
    <div class="col-md-3 text-md-right mt-1">
        {% block required_form -%}<small>{{ 'common.required'|trans|raw }}</small>{%- endblock %}
    </div>
</div>
{%- endblock %}

{% block end_card_container -%}
{% block end_form -%}{{ form_end(form) }}{%- endblock %}
{{ parent() }}
{%- endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/jquery-validate/jquery.validate.js') }}
{{ asset_js('js/vendor/jquery-validate/additional-methods.js') }}
{{ asset_js('js/vendor/jquery-validate/localization/messages_fr.js') }}
{{ asset_js('js/extensions/validator-extensions.js') }}
{{ asset_js('js/extensions/validator-extensions-fr.js') -}}
{% else %}
{{ asset_js('js/core_edit.js') }}
{% endif %}
{%- endblock %}
