{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'macros/_attributes.html.twig' as tools %}

{% macro output_column(column) -%}
<th{{ tools.attributes(column.attributes, 'data-') }}>
    {{- column.title ? column.title|trans : '&nbsp;'|raw -}}
</th>
{%- endmacro %}

{# macros #}
{% macro output_dropdown(suffix, value, selection, text) -%}
<button type="button" data-value="{{ value }}" class="dropdown-item dropdown-{{ suffix }}{% if value == selection %} active{% endif %}">
    {{- text|default(value)|capitalize -}}
</button>
{%- endmacro %}

{% macro output_dropdown_header(text, translate=false) -%}
    {{ _self.item_separator() }}
    <h6 class="dropdown-header">{{ (translate ? text|trans : text)|upper }}</h6>
{%- endmacro %}

{% macro item_path(path, text, icon, class='') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.link(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_path_external(path, text, icon, class='') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_global(path, text, icon) %}
{{ icons.dropdownItem(path, text, icon) }}
{%- endmacro %}

{% macro item_external(path, text, icon, class='') %}
{%- set class = ('dropdown-item rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_separator() %}
{{ icons.dropdownSeparator() }}
{%- endmacro %}
{#
{% macro output_sort(column, sort, order) -%}
{%- set icon = column.numeric ? 'numeric' : 'alpha' -%}
{%- set active = (column.field == sort and 'asc' == order) ? ' active' : '' -%}
<button type="button" class="dropdown-item dropdown-menu-sort{{ active }}" data-sort="{{ column.field }}" data-order="asc">
    {{- icons.icon('fa-fw fa-sort-' ~ icon ~ '-up', 'list.sort_ascending_title', null, {'%name%': column.title|trans}) -}}
</button>
{%- set active = (column.field == sort and 'desc' == order) ? ' active' : '' -%}
<button type="button" class="dropdown-item dropdown-menu-sort{{ active }}" data-sort="{{ column.field }}" data-order="desc">
    {{- icons.icon('fa-fw fa-sort-' ~ icon ~ '-down', 'list.sort_descending_title', null, {'%name%': column.title|trans}) -}}
</button>
{%- endmacro %}
#}
{% macro property_row(field, value, class='') -%}
{% set class = ('col-8 text-truncate user-select-none ' ~ class)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="col-4 user-select-none">{{ field|trans }}</div>
    <div class="{{ class }}">{{ value|raw }}</div>
</div>
{%- endmacro %}

{% macro property_value(value, class='') -%}
{% set class = ('text-truncate user-select-none ' ~ class)|trim %}
<div class="{{ class }}">{{ value|raw }}</div>
{%- endmacro %}

{% macro property_both(leftValue, rightValue, left_class='', right_class='') -%}
{% set left_class = ('col-4 user-select-none ' ~ left_class)|trim %}
{% set right_class = ('col-8 user-select-none ' ~ right_class)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="{{ left_class }}">{{ leftValue|raw }}</div>
    <div class="{{ right_class }}">{{ rightValue|raw }}</div>
</div>
{%- endmacro %}

{% macro property_line() -%}
<div><hr class="my-1"></div>
{%- endmacro %}

{% macro button_view(text, icon, view, selection) %}
<button type="button" class="dropdown-item dropdown-menu-view{% if view == selection %} dropdown-item-checked{% endif %}" data-value="{{ view }}">
    {{- icons.icon(icon ~ ' fa-fw', text) -}}
</button>
{%- endmacro %}
{# granted actions #}
{%- set object_type = object_type|default('none') -%}
{%- set allow_show = allow_show is defined ? allow_show : is_granted(ATTRIBUTE_SHOW, object_type) -%}
{%- set allow_add = allow_add is defined ? allow_add : is_granted(ATTRIBUTE_ADD, object_type) -%}
{%- set allow_edit = allow_edit is defined ? allow_edit : is_granted(ATTRIBUTE_EDIT, object_type) -%}
{%- set allow_delete = allow_delete is defined ? allow_delete : is_granted(ATTRIBUTE_DELETE, object_type) -%}
{%- set allow_export = allow_export is defined ? allow_export : is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{# default action #}
{%- set row_none = app.actionNone -%}
{%- set row_show = allow_show and app.actionShow -%}
{%- set row_edit = allow_edit and app.actionEdit -%}
{%- set show_class = 'btn-show' ~ (row_show ? ' btn-default' : '') -%}
{%- set edit_class = 'btn-edit' ~ (row_edit ? ' btn-default' : '') -%}
{% if not row_edit and not row_none and allow_show %}
    {%- set row_show = true -%}
    {%- set show_class = 'btn-show btn-default' -%}
{% elseif not row_show and not row_none and allow_edit %}
    {%- set row_edit = true -%}
    {%- set edit_class = 'btn-edit btn-default' -%}
{% endif %}
{# parameters #}
{%- set sortable = columns|filter(c => c.sortable and c.visible)|length -%}
{%- set allow_search = attributes.search|default(true|json_encode) == true|json_encode -%}
{%- set allow_global = allow_global ?? is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{%- set row_selector = 'table-primary' -%}
{%- set caller = path(app.request.get('_route')) -%}
{%- set params = params|default({})|merge({'caller': caller}) -%}
{%- set id = params.id|default(0) -%}
{%- set limit = params.limit|default(20) -%}
{%- set attributes = attributes|default({})|merge({
    'classes': 'table table-hover table-list table-sm',
    'row-selector': 'tbody .' ~ row_selector,
    'custom-selector': '.custom-item.' ~ row_selector,
    'row-class': row_selector,
    'single-select': true,
    'toggle-selector': '#toggle',
    'undefined-text': '&nbsp;',
    'silent-sort': false,
    'side-pagination': "server",
    'show-extended-pagination': 'true',
    'pagination-pre-text': '<i class="fa fa-caret-left fa-lg"></i>',
    'pagination-next-text': '<i class="fa fa-caret-right fa-lg"></i>',
    'pagination-parts': '["pageInfo", "pageList"]',
    'pagination-loop': false,
    'pagination': true,
    'sortable': sortable,
    'loading-template': 'loadingTemplate',
    'error-message': 'error_page.description'|trans,
    'no-action-title': 'datatable.no_action'|trans,
    'dialog_title': 'datatable.dialog_title'|trans,
    'default-action': app.editAction.value,
    'defer-url': url(app.request.get('_route')),
    'save-url': url('ajax_save_table'),
    'icon-size': 'sm',
    'caller': caller
}) -%}
{# classes #}
{% block card_container_class '' %}
{% block card_body_class ' px-3 pt-0 pb-2' %}
{# header #}
{% block card_header -%}
<div class="row">
    <div class="col-md-4">{{ parent() }}</div>
    <div class="col-md-8 d-print-none text-md-right">{% block header_actions -%}{%- endblock %}</div>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
{# toolbar #}
<div class="row my-2 d-print-none">
    {# search #}
    <div class="col-auto col-search mr-auto">
        {% if allow_search %}
        <div class="form-inline">
            <div class="btn-group btn-group-sm btn-group-search" role="group">
                <div class="input-group input-group-sm input-group-search search">
                    {% block toolbar_actions -%}{%- endblock %}
                    <div class="input-group-append">
                        <button id="clear_search" name="clear_search" type="button" class="btn btn-outline-secondary" title="{{ 'datatable.clear'|trans }}">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                 </div>
            </div>
        </div>
        {% endif %}
    </div>
    {# right toolbar #}
    <div class="col-auto col-toolbar mt-1 mt-md-0">
        <div class="btn-group btn-group-sm btn-group-toolbar" role="group">
            {# page size #}
            {% if pageList is defined and pageList|length > 1 %}
            <div class="btn-group btn-group-sm" role="group">
                {# menu is created on the prebody event #}
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_page" data-value="{{ limit }}" data-toggle="dropdown" title="{{ 'list.limit_title'|trans }}">
                    {{- params.limit -}}
                </button>
                <div class="dropdown-menu dropdown-menu-page" aria-labelledby="button_page"></div>
            </div>
            {% endif %}
            {# sorting columns
            {% if sortable %}
                <div class="btn-group btn-group-sm btn-group-sort" role="group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_sort" data-toggle="dropdown" title="{{ 'list.sort_title'|trans }}">
                        <i class="fa-solid fa-sort-amount-down-alt"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="button_sort">
                    {% for column in columns|filter(c => c.sortable and c.visible) -%}
                        {{ _self.output_sort(column, params.sort, params.order) }}
                        {% if not loop.last %}{{ _self.item_separator }}{% endif %}
                    {%- endfor %}
                    </div>
                </div>
            {% endif %}

            {% if sortable %}
                <button class="btn btn-outline-secondary btn-sort-data" type="button" title="{{ 'list.sort_title'|trans }}">
                    {{ icons.icon('sort-amount-down-alt fa-fw fa-solid fa-sort-amount-down-alt') }}
                </button>
            {% endif %}
            #}
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_other_actions" data-toggle="dropdown" title="{{ 'common.other_actions'|trans }}">
                    <i class="fa-solid fa-bars"></i>
                </button>
                {# display mode #}
                <div class="dropdown-menu dropdown-menu-checked dropdown-menu-right" aria-labelledby="button_other_actions">
                {{ _self.button_view('view.table', 'table', 'table', params.view) }}
                {{ _self.button_view('view.custom', 'grip-horizontal', 'custom', params.view) }}
                {{ _self.button_view('view.card', 'list', 'card', params.view) }}
                {% if sortable %}
                    {{ _self.item_separator() }}
                    <button type="button" class="dropdown-item btn-sort-data">
                        {{- icons.icon('sort-amount-down-alt fa-fw fa-solid fa-sort-amount-down-alt', 'list.sort_title') -}}
                    </button>
                {% endif %}
                    <button type="button" class="dropdown-item btn-show-page">
                        {{- icons.icon('arrow-up-right-dots fa-solid fa-fw', 'datatable.dialog_title') -}}
                    </button>
                {% if allow_global %}
                    {{ _self.item_separator() }}
                    {% block global_actions -%}{%- endblock %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{# table #}
<table id="table-edit"{{ tools.attributes(attributes, 'data-') }}>
    <thead>
        <tr>
            {% for column in columns %}
            {{ _self.output_column(column) }}
            {% endfor %}
        </tr>
    </thead>
    <tbody{% if row_link|default(true) %} data-link="row" class="rowlink" data-target="a.btn-default"{% endif %}>
        {% for row in rows %}
        <tr{% if row.id == id %} class="{{ row_selector }}"{%- set row_selector = '' -%}{% endif %}>
            {% for column in columns %}
            <td>{{ row[column.alias]|raw }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{# dropdown actions #}
<div id="dropdown-actions" class="dropdown d-print-none d-none">
    {{ icons.dropdownEllipsis() }}
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-actions">
        {% if allow_edit %}
            {{- _self.item_separator() }}
            {% block edit_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_delete %}
            {{- _self.item_separator() }}
            {% block delete_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_add %}
            {{- _self.item_separator() }}
            {% block add_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_show %}
            {{- _self.item_separator() }}
            {% block show_actions -%}{%- endblock %}
        {% endif %}
        {% block other_actions -%}{%- endblock %}
    </div>
</div>
{# custom view template #}
<div id="custom-view" class="d-none">
    <div class="col mb-2 px-1">
        <div class="custom-item border rounded h-100 px-2 py-1{% block custom_view_card_class %}{%- endblock %}">
            <div class="row rowlink-skip no-gutters">
                <div class="col-11 text-truncate font-weight-bold{% if row_edit or row_show %} rowlink-skip{% endif %}">{% block custom_view_header -%}{%- endblock %}</div>
                <div class="col-1 text-right rowlink-skip d-print-none custom-view-actions"></div>
            </div>
            {% block custom_view_body -%}{%- endblock %}
        </div>
    </div>
</div>
{# page dialog #}
<div class="modal fade" id="modal-page" role="dialog" aria-labelledby="modal-title" aria-hidden="true" tabindex="-1" data-page="{{ 'datatable.dialog_page'|trans }}">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'datatable.dialog_title'|trans }}</h5>{{ icons.button_close_modal() }}
            </div>
            <div class="modal-body">
                <label id="dialog-page-title">{{ 'datatable.dialog_message'|trans }}</label>
                <div class="form-row align-items-center">
                    <input id="page-range" type="range" class="col custom-range" min="1" max="100" step="1" value="1">
                    <label id="page-label" for="page-range" class="col-auto mb-1 small">&nbsp;</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="page-button" class="btn btn-form btn-primary" role="button" style="">{{ 'common.button_ok'|trans }}</button>
                {{ icons.button_close_modal(false) }}
            </div>
        </div>
    </div>
</div>
{# sort dialog #}
{% if sortable %}
    <div class="modal fade" id="modal-sort" role="dialog" aria-labelledby="modal-title" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'list.sort_title'|trans }}</h5>{{ icons.button_close_modal() }}
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sort-name">{{ 'list.sort_column'|trans }}</label>
                    <select class="form-control" id="sort-name" name="sort-name">
                        {% for column in columns|filter(c => c.sortable and c.visible) -%}
                            <option value="{{ column.field }}" data-sort="{{ column.order }}" data-default="{{ column.default|json_encode }}">
                                {{- column.title|trans -}}
                            </option>
                        {%- endfor %}
                    </select>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sort-order-asc" name="sort-order" class="custom-control-input" value="asc">
                    <label class="custom-control-label" for="sort-order-asc">
                        {{- icons.icon('arrow-up-short-wide fa-solid fa-fw', 'list.sort_ascending') -}}
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sort-order-desc" name="sort-order" class="custom-control-input" value="desc">
                    <label class="custom-control-label" for="sort-order-desc">
                        {{- icons.icon('arrow-down-short-wide fa-solid fa-fw', 'list.sort_descending') -}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sort-button" class="btn btn-form btn-primary" role="button" style="">
                    {{- 'common.button_ok'|trans -}}
                </button>
                {% if columns|filter(c => c.sortable and c.visible and c.default)|length %}
                    <button id="sort-default-button" class="btn btn-form btn-success" role="button">
                        {{- 'list.sort_default_title'|trans -}}
                    </button>
                {% endif %}
                {{ icons.button_close_modal(false) }}
            </div>
        </div>
    </div>
    </div>
{% endif %}
{%- endblock -%}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/bootstrap-table.css') }}
{%- endblock -%}
{# javascripts #}
{% block javascripts -%}
{% if app.debug %}
{{ parent() -}}
{{ asset_js('js/vendor/jquery-mark/jquery.mark.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-defer-url.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-custom-view.js') }}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/extensions/bootstrap-table-extensions.js') }}
{{ asset_js('js/extensions/bootstrap-table-fr-CH.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/application/bootstrap_table.js') }}
{% else %}
{{ asset_js('js/bootstrap_tables.js') }}
{% endif %}
{%- endblock -%}
