{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{# hide navigation and footer #}
{% block navigation %}{% endblock %}
{%- block vertical_navigation -%}{% endblock %}
{% block footer %}{% endblock %}
{# class styles #}
{% block card_container_class ' col-xl-8 offset-xl-2 my-auto h-75' %}
{# header #}
{% block card_header -%}
{{ parent() }}
{%- if error|default(false) -%}
<p class="small text-danger mb-0">
    {{- error.messageKey|trans(error.messageData, 'security') -}}
</p>
{%- endif -%}
{%- endblock %}
{# footer #}
{% block card_footer -%}
{{ parent() }}
{{ icons.footer_center() }}
{% endblock %}
{# stylesheets #}
{% block stylesheets -%}{{ asset_css('css/center.css') }}{% endblock %}
