{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import button_ok, link %}
{# parameters #}
{% set title_icon = ICON_SHOW %}
{# body #}
{% block card_body %}
<div class="{% block table_responsive_class %}table-responsive{% endblock %}">
    <table class="table table-hover table-sm table-list mb-0">
        {% block property_header %}
        <thead>
            <tr>
                <th class="w-25">{{ 'show.name'|trans }}</th>
                <th class="w-75">{{ 'show.value'|trans }}</th>
            </tr>
        </thead>
        {% endblock %}
        <tbody>
            {% block property_body %}{% endblock %}
        </tbody>
    </table>
</div>
{% endblock %}
{# footer #}
{% block card_footer -%}
{% if cancel_path|default(false) %}
    {{ button_ok(cancel_path) }}
{% endif %}
{% if edit_path|default(false) %}
    {{ link(edit_path, 'common.button_edit', 'btn btn-form btn-outline-success') }}
{% endif %}
{% if delete_path|default(false) %}
    {{ link(delete_path, 'common.button_delete', 'btn btn-form btn-outline-danger') }}
{% endif %}
{%- endblock %}
{# javascripts #}
{% block javascripts -%}
    {{ parent() }}
    {% if cancel_path|default(false) %}
        <script nonce="{{ csp_nonce() }}">
            (function ($) {
                $('#btn-ok').trigger('focus');
            }(jQuery));
        </script>
    {% endif %}
{% endblock %}
