{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# create a sort menu #}
{% macro sortMenu(route, field, currentField, currentMode, separator) %}
{%- set name = field.name -%}
{%- set label = field.label|trans -%}
{%- set numeric = field.numeric is defined ? field.numeric : false -%}
{%- set asc_path = path(route, {'sortField': name, 'sortMode': 'ASC'}) -%}
{%- set desc_path = path(route, {'sortField': name, 'sortMode': 'DESC'}) -%}
{%- set asc_active = name == currentField and currentMode == 'ASC' -%}
{%- set desc_active = name == currentField and currentMode == 'DESC' -%}
<a class="dropdown-item{% if asc_active %} active{% endif %}" href="{{ asc_path }}">
    {%- set icon = numeric ? 'sort-numeric-down' : 'sort-alpha-down' -%}
    {{- icons.icon(icon, 'list.sort_ascending_title', null, {'%name%': label}) -}}
</a>
<a class="dropdown-item{% if desc_active %} active{% endif %}" href="{{ desc_path }}">
    {%- set icon = numeric ? 'sort-numeric-up' : 'sort-alpha-up' -%}
    {{- icons.icon(icon, 'list.sort_desscending_title', null, {'%name%': label}) -}}
</a>
{% if separator %}{{ icons.dropdownSeparator() }}{% endif %}
{% endmacro %}

{# parameters #}
{%- set caller = caller|default(path(app.request.get('_route'))) -%}

{# class #}
{% block card_container_class '' %}
{% block card_body_class ' d-flex flex-row flex-wrap p-1' %}
{% block card_footer_class ' d-none' %}

{% block card_header %}
<div class="row">
    {# title #}
    <div class="col-lg-5 mt-1">
        {{ parent() }}
    </div>
    {# toolbar #}
    <div class="col-lg-7 text-lg-right d-print-none">
        <div class="btn-toolbar align-items-center justify-content-lg-end" role="toolbar">
            {% block search_action %}
            <small id="counter" class="text-muted mr-2"></small>
            <div class="input-group input-group-sm mr-2 bg-white">
                <input type="text" class="form-control form-control-border-right-0 form-query-input" id="query" name="query" aria-label="{{ 'list.search_placeholder'|trans }}" placeholder="{{ 'list.search_placeholder'|trans }}" autocomplete="off" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-query-clear btn-outline-secondary border border-left-0" type="button" title="{{ 'search.clear'|trans }}">
                        <i class="fas fa-eraser" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            {% endblock %}
            <div class="btn-group btn-group-sm" role="group">
                {%- if add_page|default(false) -%}
                    {{ icons.link(path(add_page), '', 'btn btn-secondary rowlink-skip', 'file far', add_title|default('common.button_add')) }}
                {%- endif -%}
                {%- if pdf_page|default(false) -%}
                    {{ icons.linkExternal(path(pdf_page), '', 'btn btn-secondary', 'download', pdf_title|default('common.button_pdf')) }}
                {%- endif -%}
                {# sortable fields #}
                {% if sortFields is defined and sortFields|length %}
                    {% set route = app.request.get('_route') %}
                    {{ icons.dropdownBars('sortButton', 'list.sort_title', 'btn btn-secondary dropdown-toggle') }}
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortButton">
                    {% for field in sortFields %}
                        {{ _self.sortMenu(route, field, sortField, sortMode, not loop.last) }}
                    {% endfor %}
                    {%- block sort_actions -%}{%- endblock -%}
                    </div>
                {% endif %}
                {%- block toolbar_actions -%}{%- endblock -%}
            </div>
       </div>
    </div>
</div>
{% endblock %}

{% block card_body %}
{# pages #}
{%- set show_page = show_page|default(false) -%}
{%- set edit_page = edit_page|default(false) -%}
{%- set delete_page = delete_page|default(false) -%}
{%- set add_page = add_page|default(false) -%}
{%- set dropdown = show_page or edit_page or delete_page or add_page -%}
{%- set selection = app.request.get('id', 0) -%}

{# empty list #}
{%- set empty_class = 'alert alert-warning flex-fill m-3' -%}
{%- if items -%}{%- set empty_class = empty_class ~ ' d-none' -%}{%- endif -%}
<div id="nomatch" role="alert" class="{{ empty_class }}" data-filter="{{ 'list.filter'|trans }}">
    {{ empty_list|default('list.empty_list')|trans }}
</div>

{# items #}
{% for item in items %}
    {# links parameters #}
    {%- set params = route_params(app.request, item.id) -%}
    {% if caller|default(false) %}
        {%- set params = params|merge({'caller': caller}) -%}
    {% endif %}
    {# item class #}
    {%- set item_class = 'card-flex rounded border p-2 m-1 flex-fill' -%}
    {%- if item.id == selection -%}
        {%- set item_class = item_class ~ ' border-primary' -%}
    {%- endif -%}
    {%- if (query and not item.match(query)) -%}
        {%- set item_class = item_class ~ ' d-none' -%}
    {%- endif -%}

    <div class="{{ item_class }}">
        <div class="row">
            <div class="col-10 data-search mb-0 font-weight-bold">
                {% block item_title %}{% endblock %}
            </div>
            {%- if dropdown -%}
            <div class="col-2 d-print-none">
                <div class="dropdown dropleft text-right">
                    {%- set menu_id = 'dropdown_' ~ item.id -%}
                    {{ icons.dropdownEllipsis(menu_id) }}
                    <div class="dropdown-menu" aria-labelledby="{{ menu_id }}">
                        {%- if show_page -%}
                            {%- set show_path = path(show_page, params) -%}
                            {{ icons.dropdownItem(show_path, show_title|default('common.button_show'), 'tv') }}
                        {%- endif -%}
                        {%- block edit_action -%}
                        {%- if edit_page -%}
                            {% set edit_path = path(edit_page, params) %}
                            {{ icons.dropdownItem(edit_path, edit_title|default('common.button_edit'), 'pencil-alt') }}
                        {%- endif -%}
                        {% endblock %}
                        {%- block delete_action -%}
                        {%- if delete_page -%}
                            {% set delete_path = path(delete_page, params) %}
                            {{ icons.dropdownItem(delete_path, delete_title|default('common.button_delete'), 'times') }}
                        {%- endif -%}
                        {% endblock %}
                        {# custom actions #}
                        {% block actions %}{% endblock -%}
                        {% block add_action %}
                        {%- if add_page -%}
                            {{ icons.dropdownSeparator }}
                            {% set add_path = path(add_page, params) %}
                            {{ icons.dropdownItem(add_path, add_title|default('common.button_add'), 'file far') }}
                        {%- endif -%}
                        {% endblock %}
                    </div>
                </div>
            </div>
            {%- endif -%}
        </div>
        <table class="table table-borderless table-sm ml-2 my-0">
            {% block item_property %}{% endblock %}
        </table>
    </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/card_flex.js') }}
{% else %}
{{ asset_js('js/card_flex.js') }}
{% endif %}
{% endblock %}
