{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, button, dropdownSeparator %}
{# parameters #}
{%- set title_icon = 'fa-solid fa-unlock' -%}
{%- set title_description = 'user.rights.description' -%}
{%- set show_required = false -%}
{% block card_container_class '' %}
{# macros #}
{% macro header(permission, overwrite) %}
    <th>
        {{ button(
            text: permission,
            class: 'btn btn-link btn-col p-0',
            attributes: {
                title: 'user.rights.col_title'|trans,
                disabled: not overwrite}) }}
    </th>
{%- endmacro header %}
{% macro row(entries, permission, overwrite) -%}
    <tr class="text-center">
        <td class="text-start">
            {{ button(
                text: entries.vars.label,
                class: 'btn btn-link btn-row p-0',
                attributes: {
                    title: 'user.rights.row_title'|trans,
                    disabled: not overwrite}) }}
        </td>
        {% for entry in entries %}
            {%- set checked = permission.hasBits(entry.vars.value) -%}
            {%- set attr = {'data-default': checked|json_encode, class: 'form-check-no-label'} -%}
            {%- if not overwrite -%}
                {%- set attr = attr|merge({disabled: 'disabled', checked: checked}) -%}
            {%- endif -%}
            <td>{{ form_widget(entry, {attr: attr}) }}</td>
        {% endfor %}
    </tr>
{%- endmacro row %}
{% macro table(rights, permissions, entities, overwrite = true) %}
    <div class="table-responsive mb-3">
        <table class="table table-bordered table-list" id="table-edit">
            <thead>
            <tr class="text-center">
                <th class="text-start text-nowrap fw-normal">
                    {{- icon('fa-solid fa-arrow-down', 'user.rights.table_title') }}{{ icon('fa-solid fa-arrow-right ms-1') -}}
                </th>
                {% for entity in entities %}
                    {{ _self.header(entity, overwrite) }}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for entity_name in enum('App\\Enums\\EntityName')?.sorted %}
                {% set form_field = entity_name.formField %}
                {%- if rights[form_field] ?? false -%}
                    {{ _self.row(rights[form_field], permissions[form_field], overwrite) }}
                {%- endif -%}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro table %}
{% macro action(id, icon, overwrite) %}
    <li>
        {{ button(
            text: 'user.rights.' ~ id ~ '_title',
            class: ['dropdown-item'],
            icon: icon,
            inline: false,
            attributes: {
                id: id,
                disabled: not overwrite}) }}
    </li>
{% endmacro action %}
{% macro actions(overwrite) %}
    {{ button(
        text: 'common.actions',
        class: 'btn btn-outline-secondary dropdown-toggle',
        icon: 'fa-solid fa-bars',
        attributes: {
            'data-bs-toggle': 'dropdown',
            'aria-expanded': false}) }}
    <ul class="dropdown-menu dropdown-menu-end">
        {{ _self.action('all', 'fa-fw fa-solid fa-check-circle', overwrite) }}
        {{ _self.action('none', 'fa-fw fa-solid fa-times-circle', overwrite) }}
        {{ _self.action('toggle', 'fa-fw fa-solid fa-right-left', overwrite) }}
        {{ dropdownSeparator() }}
        {{ _self.action('default', 'fa-fw fa-solid fa-rotate-left', true) }}
    </ul>
{% endmacro actions %}
{# actions form #}
{% block actions_form -%}
    {{ parent() }}
    {{ _self.actions(overwrite) }}
{% endblock actions_form %}
{# javascripts #}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('js/application/user_rights.js') }}
    {% else %}
        {{ asset_js('js/compiled/user_rights.js') }}
    {% endif %}
{%- endblock javascripts %}
