{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'macros/_attributes.html.twig' as tools %}
{% import 'macros/_datatables.html.twig' as helper %}

{% macro button(path, text, class, title, icon, separator=false) %}
{%- if path -%}
    <a href="#" class="btn btn-secondary {{ class|default('') }}" data-path="{{ path }}"{% if title %} title="{{ title|default(text)|trans }}"{% endif %}{% if separator %} data-separator="true"{% endif %}>
        {{- icons.icon(icon ~ ' fa-fw') -}}
    </a>
{%- endif -%}
{% endmacro %}

{% macro item_data(path, text, icon, attributes={}) %}
{%- if path -%}
    <a href="#" data-path="{{ path }}" class="dropdown-item"{{ tools.attribs(attributes) }}>
        {{- icons.icon(icon ~ ' fa-fw', text) -}}
    </a>
{%- endif -%}
{% endmacro %}

{% macro item_data_external(path, text, icon) %}
{%- if path -%}
    <a href="#" data-path="{{ path }}" class="dropdown-item" target="_blank" rel="noopener noreferrer">
        {{- icons.icon(icon ~ ' fa-fw', text) -}}
    </a>
{%- endif -%}
{% endmacro %}

{% macro item_external(path, text, class, icon) %}
{%- if path -%}
    <a href="{{ path }}" target="_blank" rel="noopener noreferrer" class="{{ class }}">
        {{- icons.icon(icon ~ ' fa-fw', text) -}}
    </a>
{%- endif -%}
{% endmacro %}

{# parameters #}
{%- set object_type = object_type|default('none') -%}
{%- set ajax_path = path(app.request.get('_route')) -%}
{%- set ajax_lang = path('ajax_language') -%}
{%- set show_search = (show_search is defined ? show_search : true) and results.recordsTotal > 10 -%}
{%- set show_length = (show_length is defined ? show_length : true) and results.recordsTotal > 10 -%}

{%- set id = app.request.get('id', 0) -%}
{%- set ordercolumn = app.session.get(object_type ~ '.ordercolumn') -%}
{%- set orderdir = app.session.get(object_type ~ '.orderdir') -%}
{%- set pagelength = app.session.get(object_type ~ '.pagelength', 15) -%}

{%- set is_pdf_action = pdf_path|default(false) and is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{%- set is_excel_action = excel_path|default(false) and is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{%- set is_other_actions = is_pdf_action or is_excel_action or (is_other_actions ?? false) -%}
{%- set row_link = not app.actionNone and (is_granted(ATTRIBUTE_EDIT, object_type) or is_granted(ATTRIBUTE_SHOW, object_type)) -%}

{# classes #}
{% block card_container_class '' %}
{% block card_body_class ' px-3 pb-0 pt-2' %}
{% block card_footer_class ' footer-place-holder' %}

{% block card_header %}
<div class="row">
    <div class="col-lg-5 mt-1">{{ parent() }}</div>
    <div class="col-lg-7 text-lg-right d-print-none">
        {# actions toolbar #}
        <div class="btn-group btn-group-sm" role="group" aria-label="{{ 'common.actions'|trans }}">
            {% if show_path|default(false) and is_granted(ATTRIBUTE_SHOW, object_type) %}
                {{ _self.button(show_path|default(false), 'common.button_show', 'btn-table-show disabled', show_title ?? false, 'tv') }}
            {% endif %}
            {% if edit_path|default(false) and is_granted(ATTRIBUTE_EDIT, object_type) %}
                {{ _self.button(edit_path|default(false), 'common.button_edit', 'btn-table-edit disabled', edit_title ?? false, 'pencil') }}
            {% endif %}
            {% if delete_path|default(false) and is_granted(ATTRIBUTE_DELETE, object_type) %}
                {{ _self.button(delete_path|default(false), 'common.button_delete', 'btn-table-delete disabled', delete_title ?? false, 'times', true) }}
            {% endif %}
            {% if add_path|default(false) and is_granted(ATTRIBUTE_ADD, object_type) %}
                {{ _self.button(add_path|default(false), 'common.button_add', 'btn-table-add', add_title ?? false, 'file far') }}
            {% endif %}
            {% block other_actions -%}
            {%- if is_other_actions -%}
            <div id="other_actions" class="btn-group btn-group-sm" role="group" aria-label="{{ 'common.other_actions'|trans }}">
                <button id="other_actions_button" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ 'common.other_actions'|trans }}">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="other_actions_button">
                    {% block table_actions -%}
                    {% if is_pdf_action %}
                        {% set pdf_title = pdf_title|default('common.button_pdf_list') %}
                        {{ _self.item_external(pdf_path|default(false), pdf_title, 'dropdown-item btn-pdf-list', 'file-pdf far') }}
                    {% endif %}
                    {% if is_excel_action %}
                        {% set excel_title = excel_title|default('common.button_excel_list') %}
                        {{ icons.dropdownItem(excel_path, excel_title, 'file-excel far') }}
                    {% endif %}
                    {%- endblock %}
                </div>
            </div>
            {%- endif -%}
            {%- endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block card_body %}
{% if show_length or show_search -%}
<div class="row mb-2 d-print-none">
    {# search #}
    {% if show_search -%}
    <div class="col-lg-auto">
        <div class="form-inline">
             <div class="input-group input-group-sm">
                <input type="text" id="table_search" name="table_search" class="form-control form-control-sm" autocomplete="off" placeholder="{{ 'datatable.search'|trans }}">
                {% block search_input -%}{%- endblock %}
                <div class="input-group-append">
                    <button type="button" class="btn btn-clear btn-outline-secondary" title="{{ 'datatable.clear'|trans }}">
                        <i class="fa-solid fa-eraser"></i>
                    </button>
                </div>

             </div>
        </div>
    </div>
    {%- endif %}

    {% if show_length -%}
    <div class="col-lg-auto ml-auto">
        <div class="form-inline">
            <label class="mr-2" for="table_length">{{ 'datatable.show'|trans }}</label>
            <select id="table_length" name="table_length" class="form-control form-control-sm custom-select custom-select-sm">
                {{ helper.page(10, pagelength) }}
                {{ helper.page(15, pagelength, results.recordsTotal > 10) }}
                {{ helper.page(20, pagelength, results.recordsTotal > 15) }}
                {{ helper.page(25, pagelength, results.recordsTotal > 20) }}
                {{ helper.page(30, pagelength, results.recordsTotal > 25) }}
                {{ helper.page(50, pagelength, results.recordsTotal > 30) }}
            </select>
            <label class="ml-lg-2">{{ 'datatable.elements'|trans }}</label>
        </div>
    </div>
    {%- endif %}
</div>
{%- endif %}

{%- set attributes = attributes|default({})|merge({
        'id': 'data-table',
        'row-link': row_link,
        'edit-action': app.actionEdit,
        'class': 'table table-list table-hover table-sm dataTable border-bottom w-100',
        'data-ajax': ajax_path,
        'data-lang': ajax_lang,
        'data-total': results.recordsTotal,
        'data-filtered': results.recordsFiltered,
        'data-pagelength': pagelength,
        'data-ordercolumn': ordercolumn,
          'data-orderdir': orderdir,
        'data-debug': app.debug
}) -%}
<div class="table-responsive">
    <table{{ tools.attribs(attributes) }}>
        {{ helper.headers(columns) }}
        <tbody{% if row_link %} data-link="row" class="rowlink"{% endif %}>
            {% for row in results.data -%}
                <tr{% if row[0] == id %} class="datatables-selection"{% endif %}>
                {% for cell in row -%}
                    <td class="{{ columns[loop.index0].class }}">{{ columns[loop.index0].rawData ? cell|raw : cell }}</td>
                {%- endfor %}
                </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/datatables.css') }}
{%- endblock -%}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/jquery-mark/jquery.mark.js') }}
{{ asset_js('js/vendor/datatables/js/jquery.dataTables.js') }}
{{ asset_js('js/vendor/datatables/js/dataTables.bootstrap4.js') }}
{{ asset_js('js/vendor/datatables/js/dataTables.keyTable.js') }}
{{ asset_js('js/vendor/datatables/js/datatables.mark.js') }}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/extensions/datatables-extensions.js') }}
{{ asset_js('js/application/datatables.js') }}
{% else %}
{{ asset_js('js/datatables.js') }}
{% endif %}
{%- endblock -%}
