{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, link, linkExternal, dropdownItem, dropdownSeparator, dropdownEllipsis, button_close_modal %}
{% from 'macros/_attributes.html.twig' import attributes as output_attributes %}
{# macros #}
{% macro output_column(column) -%}
<th{{ output_attributes(column.attributes, 'data-') }}>
    {{- column.title ? column.title|trans : '&nbsp;'|raw -}}
</th>
{%- endmacro %}
{% macro output_dropdown_menu(id, icon, text, title, value, default) -%}
{% apply spaceless %}
    {% set attributes = attributes|default([])|merge({
        'id': id,
        'title': title|trans,
        'type': 'button',
        'class': 'btn btn-outline-secondary dropdown-toggle dropdown-input',
        'aria-expanded': 'false',
        'data-toggle': 'dropdown',
        'data-value': value,
        'data-icon': icon(icon ~ ' fa-fw')|raw,
        'data-default': default
    }) %}
    {% set attributes = attributes|filter(v => v is not empty) %}
    <button{{ output_attributes(attributes) }}>
        {{- icon(icon ~ ' fa-fw') }}{{ text -}}
    </button>
{% endapply %}
{% endmacro %}
{% macro output_dropdown(suffix, value, selection, text, attributes=[], icon=null) -%}
{% apply spaceless %}
    {% set active = value == selection ? ' active' : '' %}
    {% set attributes = attributes|default([])|merge({
        'type': 'button',
        'role': 'button',
        'data-value': value,
        'class': ('dropdown-item dropdown-' ~ suffix ~ active)|trim
    }) %}
    <button{{ output_attributes(attributes) }}>
        {%- if icon %}{{ icon(icon ~ ' fa-fw') }} {% endif %}{{ text|default(value)|capitalize -}}
    </button>
{% endapply %}
{%- endmacro %}
{% macro output_dropdown_header(text, translate=false, icon=null) -%}
    {{ _self.item_separator() }}
    <h6 class="dropdown-header">
        {%- if icon %}{{ icon(icon ~ ' fa-fw') }} {% endif %}{{ (translate ? text|trans : text)|upper -}}
    </h6>
{%- endmacro %}
{% macro item_path(path, text, icon, class='') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ link(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}
{% macro item_path_external(path, text, icon, class='') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}
{% macro item_global(path, text, icon) %}
{{ dropdownItem(path, text, icon) }}
{%- endmacro %}
{% macro item_external(path, text, icon, class='') %}
{%- set class = ('dropdown-item rowlink-skip ' ~ class|default(''))|trim -%}
{{ linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}
{% macro item_separator(class='') %}
{{ dropdownSeparator(false, class) }}
{%- endmacro %}
{% macro property_row(field, value, class='') -%}
{% set class = ('col-8 text-truncate user-select-none ' ~ class)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="col-4 user-select-none">{{ field|trans }}</div>
    <div class="{{ class }}">{{ value|raw }}</div>
</div>
{%- endmacro %}
{% macro property_value(value, class='') -%}
{% set class = ('text-truncate user-select-none ' ~ class)|trim %}
<div class="{{ class }}">{{ value|raw }}</div>
{%- endmacro %}
{% macro property_both(left_value, right_value, left_class='', right_class='') -%}
{% set left_class = ('col-4 user-select-none ' ~ left_class)|trim %}
{% set right_class = ('col-8 user-select-none ' ~ right_class)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="{{ left_class }}">{{ left_value|raw }}</div>
    <div class="{{ right_class }}">{{ right_value|raw }}</div>
</div>
{%- endmacro %}
{% macro property_line() -%}
<hr class="mt-2 mb-1">
{%- endmacro %}
{% macro button_view(text, icon, view, selection) %}
<button type="button" role="button" class="dropdown-item dropdown-menu-view{% if view == selection %} dropdown-item-checked{% endif %}" data-value="{{ view }}">
    {{- icon(icon ~ ' fa-fw', text) -}}
</button>
{%- endmacro %}
{# granted actions #}
{%- set object_type = object_type|default('none') -%}
{%- set allow_show = allow_show is defined ? allow_show : is_granted(ATTRIBUTE_SHOW, object_type) -%}
{%- set allow_add = allow_add is defined ? allow_add : is_granted(ATTRIBUTE_ADD, object_type) -%}
{%- set allow_edit = allow_edit is defined ? allow_edit : is_granted(ATTRIBUTE_EDIT, object_type) -%}
{%- set allow_delete = allow_delete is defined ? allow_delete : is_granted(ATTRIBUTE_DELETE, object_type) -%}
{%- set allow_export = allow_export is defined ? allow_export : is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{# default action #}
{%- set row_none = user_service.actionNone -%}
{%- set row_show = allow_show and user_service.actionShow -%}
{%- set row_edit = allow_edit and user_service.actionEdit -%}
{%- set show_class = 'btn-show' ~ (row_show ? ' btn-default' : '') -%}
{%- set edit_class = 'btn-edit' ~ (row_edit ? ' btn-default' : '') -%}
{% if not row_edit and not row_none and allow_show %}
    {%- set row_show = true -%}
    {%- set show_class = 'btn-show btn-default' -%}
{% elseif not row_show and not row_none and allow_edit %}
    {%- set row_edit = true -%}
    {%- set edit_class = 'btn-edit btn-default' -%}
{% endif %}
{# parameters #}
{%- set sortable_columns = columns|filter(c => c.sortable and c.visible) -%}
{%- set sortable = sortable_columns|length -%}
{%- set allow_search = attributes.search is defined ? attributes.search : true -%}
{%- set allow_global = allow_global ?? is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{%- set row_selector = 'table-primary' -%}
{%- set caller = path(app.request.get('_route')) -%}
{%- set params = params|default({})|merge({'caller': caller}) -%}
{%- set id = params.id|default(0) -%}
{%- set limit = params.limit|default(20) -%}
{%- set attributes = attributes|default({})|merge({
    'classes': 'table table-hover table-list table-sm',
    'row-selector': 'tbody .' ~ row_selector,
    'custom-selector': '.custom-item.' ~ row_selector,
    'row-class': row_selector,
    'single-select': true,
    'toggle-selector': '#toggle',
    'undefined-text': '&#8203;',
    'silent-sort': false,
    'side-pagination': 'server',
    'show-custom-view': false,
    'custom-view': 'customViewFormatter',
    'pagination': true,
    'pagination-loop': false,
    'pagination-parts': "['pageInfo', 'pageList']",
    'pagination-pre-text': '<i class="fa fa-caret-left fa-lg"></i>',
    'pagination-next-text': '<i class="fa fa-caret-right fa-lg"></i>',
    'show-extended-pagination': true,
    'sortable': sortable,
    'loading-template': 'loadingTemplate',
    'error-message': 'error_page.description'|trans,
    'no-action-title': 'datatable.no_action'|trans,
    'default-action': user_service.editAction.value,
    'defer-url': url(app.request.get('_route')),
    'save-url': url('ajax_save_table'),
    'icon-size': 'sm',
    'caller': caller
}) -%}
{# classes #}
{% block card_container_class '' %}
{% block card_body_class ' px-3 pt-0 pb-2' %}
{# header #}
{% block card_header -%}
<div class="row">
    <div class="col-md-4">{{ parent() }}</div>
    <div class="col-md-8 d-print-none text-md-right">{% block header_actions -%}{%- endblock %}</div>
</div>
{%- endblock %}
{# body #}
{% block card_body -%}
{# toolbar #}
<div class="row my-2 d-print-none">
    {# search #}
    <div class="col-auto col-search align-self-center mr-auto">
        {% if allow_search %}
        <div class="form-inline">
            <div class="btn-group btn-group-sm btn-group-search" role="group">
                <div class="input-group input-group-sm input-group-search search">
                    {% block toolbar_actions -%}{%- endblock %}
                    <div class="input-group-append">
                        <button id="clear_search" name="clear_search" type="button" class="btn btn-outline-secondary" title="{{ 'datatable.clear'|trans }}">
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                 </div>
            </div>
        </div>
        {% endif %}
    </div>
    {# right toolbar #}
    <div class="col-auto col-toolbar align-self-center mt-1 mt-md-0">
        <div class="btn-group btn-group-sm btn-group-toolbar" role="group">
            {# page size #}
            {% block page_list %}
            {% if pageList is defined and pageList|length > 1 %}
            <div class="btn-group btn-group-sm" role="group">
                {# menu is created on the prebody event #}
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_page" data-value="{{ limit }}" data-toggle="dropdown" title="{{ 'list.limit_title'|trans }}" aria-expanded="false">
                    {{- params.limit -}}
                </button>
                <div class="dropdown-menu dropdown-menu-page" aria-labelledby="button_page"></div>
            </div>
            {% endif %}
            {% endblock %}
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_other_actions" data-toggle="dropdown" title="{{ 'common.other_actions'|trans }}" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-checked dropdown-menu-right" aria-labelledby="button_other_actions">
                {# display mode #}
                {% block display_mode %}
                {{ _self.button_view('table_view.table', 'table', 'table', params.view) }}
                {{ _self.button_view('table_view.custom', 'grip-horizontal', 'custom', params.view) }}
                {{ _self.button_view('table_view.card', 'list', 'card', params.view) }}
                {%- endblock %}
                {% if sortable %}
                    {{ _self.item_separator() }}
                    <button type="button" role="button" class="dropdown-item btn-sort-data">
                        {{- icon('sort-amount-down-alt fa-fw fa-solid fa-sort-amount-down-alt', 'list.sort_title') -}}
                    </button>
                {% endif %}
                <button type="button" role="button" class="dropdown-item btn-show-page">
                    {{- icon('arrow-up-right-dots fa-solid fa-fw', 'datatable.dialog_title') -}}
                </button>
                {% if allow_global %}
                    {{ _self.item_separator() }}
                    {% block global_actions -%}{%- endblock %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{# table #}
<table id="table-edit"{{ output_attributes(attributes, 'data-') }}>
    <thead>
        <tr>
        {% for column in columns %}
            {{ _self.output_column(column) }}
        {% endfor %}
        </tr>
    </thead>
    <tbody{% if row_link|default(true) %} data-link="row" class="rowlink" data-target="a.btn-default"{% endif %}>
        {% for row in rows %}
        <tr{% if row.id == id %} class="{{ row_selector }}"{%- set row_selector = '' -%}{% endif %}>
            {% for column in columns %}
            <td>{{ row[column.alias]|raw }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{# dropdown actions #}
<div id="dropdown-actions" class="dropdown d-print-none d-none">
    {{ dropdownEllipsis() }}
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-actions">
        {% if allow_edit %}
            {{- _self.item_separator('edit-divider') }}
            {% block edit_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_delete %}
            {{- _self.item_separator('delete-divider') }}
            {% block delete_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_add %}
            {{- _self.item_separator('add-divider') }}
            {% block add_actions -%}{%- endblock %}
        {% endif %}
        {% if allow_show %}
            {{- _self.item_separator('show-divider') }}
            {% block show_actions -%}{%- endblock %}
        {% endif %}
        {% block other_actions -%}{%- endblock %}
    </div>
</div>
{# custom view template #}
<div id="custom-view" class="d-none">
    <div class="col mb-2 px-1">
        <div class="custom-item border rounded h-100 px-2 py-1{% block custom_view_card_class %}{%- endblock %}">
            <div class="row rowlink-skip no-gutters">
                <div class="col-11 text-truncate font-weight-bold text-themed{% if row_edit or row_show %} rowlink-skip{% endif %}">
                    {%- apply spaceless %}{% block custom_view_header -%}{%- endblock %}{% endapply -%}
                </div>
                <div class="col-1 text-right rowlink-skip d-print-none custom-view-actions"></div>
            </div>
            {% block custom_view_body -%}{%- endblock %}
        </div>
    </div>
</div>
{# page selection dialog #}
<div class="modal fade" id="modal-page" role="dialog" aria-labelledby="modal-title" aria-hidden="true" tabindex="-1" data-page="{{ 'datatable.dialog_page'|trans }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header cursor-move">
                <h5 class="modal-title">
                    {{- icon('arrow-up-right-dots fa-solid fa-fw', 'datatable.dialog_title') -}}
                </h5>
                {{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <label id="dialog-page-title">{{ 'datatable.dialog_message'|trans }}</label>
                <div class="form-row align-items-center">
                    <input id="page-range" type="range" class="col custom-range" min="1" max="100" step="1" value="1">
                    <label id="page-label" for="page-range" class="col-auto mb-1 small">&nbsp;</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" role="button" class="btn btn-form btn-primary"  id="page-button">
                    {{- 'common.button_ok'|trans -}}
                </button>
                {{ button_close_modal(false, 'common.button_cancel') }}
            </div>
        </div>
    </div>
</div>
{# sort column dialog #}
{% if sortable %}
<div class="modal fade" id="modal-sort" role="dialog" aria-labelledby="modal-title" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cursor-move">
                <h5 class="modal-title">
                    {{- icon('sort-amount-down-alt fa-fw fa-solid fa-sort-amount-down-alt', 'list.sort_title') -}}
                </h5>
                {{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sort-name">{{ 'list.sort_column'|trans }}</label>
                    <select class="form-control" id="sort-name" name="sort-name">
                        {% for column in sortable_columns -%}
                            <option value="{{ column.field }}" data-sort="{{ column.order }}" data-default="{{ column.default|json_encode }}">
                                {{- column.title|trans -}}
                            </option>
                        {%- endfor %}
                    </select>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sort-order-asc" name="sort-order" class="custom-control-input" value="asc">
                    <label class="custom-control-label" for="sort-order-asc">
                        {{- icon('arrow-down-a-z fa-solid fa-fw', 'list.sort_ascending') -}}
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sort-order-desc" name="sort-order" class="custom-control-input" value="desc">
                    <label class="custom-control-label" for="sort-order-desc">
                        {{- icon('arrow-down-z-a fa-solid fa-fw', 'list.sort_descending') -}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" role="button" class="btn btn-form btn-primary" id="sort-button">
                    {{- 'common.button_ok'|trans -}}
                </button>
                {% set default_column = columns|filter(c => c.visible and c.default)|first %}
                {% if default_column %}
                    {% set column_key = default_column.order == 'asc' ? 'list.sort_ascending_title' : 'list.sort_descending_title' %}
                    {% set column_text = column_key|trans({'%name%': default_column.title|trans}) %}
                    <button type="button" role="button" class="btn btn-form btn-success" id="sort-default-button" title="{{ column_text }}">
                        {{- 'list.sort_default_title'|trans -}}
                    </button>
                {% endif %}
                {{ button_close_modal(false, 'common.button_cancel') }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{%- endblock -%}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/table.css') }}
{%- endblock -%}
{# javascripts #}
{% block javascripts -%}
{% if app.debug %}
{{ parent() -}}
{{ asset_js('js/vendor/jquery-mark/jquery.mark.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-defer-url.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-custom-view.js') }}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-drag-modal.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/plugins/plugin-drop-down.js') }}
{{ asset_js('js/extensions/bootstrap-table-extensions.js') }}
{{ asset_js('js/extensions/bootstrap-table-fr-CH.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/application/bootstrap_table.js') }}
{% else %}
{{ asset_js('js/bootstrap_tables.js') }}
{% endif %}
{%- endblock -%}
