{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_timestampable.html.twig' import timestampable %}
{# parameters #}
{%- set title = new ? 'category.add.title' : 'category.edit.title' -%}
{%- set title_icon = ICON_CATEGORY -%}
{%- set page_list = 'category_table' -%}

{% block card_body %}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.code) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.group) }}
    </div>
</div>
{{ form_row(form.description) }}
{% endblock %}

{% block card_footer -%}
    {{ parent() }}
    {% if not item.new %}
        <hr class="card-footer-line">
        {{ timestampable(item) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/validation_edit.js') }}
{% else %}
{{ asset_js('js/validation_edit.js') }}
{% endif %}
{% endblock %}
