{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title      = new ? 'category.add.title' : 'category.edit.title' -%}
{%- set title_icon = 'folder far' -%}
{%- set page_list  = 'category_table' -%}

{% block card_body %}
<div class="form-row">
    <div class="col-md-6">
	    {{ form_row(form.code) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.group) }}
    </div>
</div>
{{ form_row(form.description) }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/validation_edit.js') }}
{% else %}
{{ asset_js('js/validation_edit.js') }}
{% endif %}
{% endblock %}
