{% extends 'cards/card_show.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}

{# parameters #}
{%- set id     = item.id -%}
{%- set title  = 'category.show.title' -%}
{%- set params = routeParams(app.request, id) %}

{# actions #}
{%- set edit_path   = is_granted(IEntityVoter.ATTRIBUTE_EDIT, item) ? path('category_edit', params) : null -%}
{%- set delete_path = is_granted(IEntityVoter.ATTRIBUTE_DELETE, item) ? path('category_delete', params) : null -%}
{%- set cancel_path = cancelUrl(app.request, id, 'category_list') -%}

{# properties #}
{% block property_body %}
{{ properties.property('category.fields.code', item.code) }}
{{ properties.property('category.fields.description', item.description) }}
{{ properties.property('category.fields.products', item.countProducts|integer) }}
{%- if not item.hasMargins -%}
{{- properties.property('category.fields.margins', item.countMargins|integer) }}
{% endif -%}
{% endblock %}

{% block card_body %}
{{ parent() }}
{%- if item.hasMargins -%}
 <table class="table table-hover table-sm table-list">
 	<thead>
 		<tr>
 			<th>{{ 'category.fields.margins'|trans }}</th>
            <th class="text-right">{{ 'categorymargin.fields.minimum'|trans }}</th>
            <th class="text-right">{{ 'categorymargin.fields.maximum'|trans }}</th>
            <th class="text-right">{{ 'categorymargin.fields.margin'|trans }}</th>
 		</tr>
    </thead>
    <tbody>
    {% for margin in item.margins -%}
    	<tr>
            <td>&nbsp;</td>
    		<td class="text-right">{{ margin.minimum|amount }}</td>
    		<td class="text-right">{{ margin.maximum|amount }}</td>
    		<td class="text-right">{{ margin.margin|percent(false) }}</td>
    	</tr>
    {% endfor %}
    </tbody>
 </table>
{%- endif -%}
{% endblock %}