{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'category.list.title' -%}
{%- set title_icon = 'folder far' -%}
{%- set groupid = customData.group.id|default(0) -%}
{%- set object_type = ENTITY_CATEGORY -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('category_add', params) }}">{{ 'category.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block toolbar_actions -%}
{% if customData.groups|length > 1 %}
<div class="input-group-append">
    <button id="groupid" data-value="{{ groupid }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'category.fields.group'|trans }}" title="{{ 'category.list.group_help'|trans }}">
        <i class="fa-solid fa-code-branch"></i>&nbsp;{{- customData.group ? customData.group.code : 'category.fields.group'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="groupid">
        {{ _self.output_dropdown('group', 0, groupid, 'datatable.all'|trans) }}
        {% for group in customData.groups %}
        {{ _self.output_dropdown('group', group.id, groupid, group.code) }}
        {% endfor %}
    </div>
</div>
{% endif %}
{%- endblock %}

{% block global_actions -%}
{{ _self.item_external(path('category_pdf'), 'category.list.pdf_title', 'file-pdf far') }}
{{ _self.item_external(path('category_excel'), 'category.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('category_show', params), 'category.show.title', 'tv', show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{ _self.item_path(path('category_edit', params), 'category.edit.title', 'pencil', edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('category_delete', params), 'category.delete.title', 'times', 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('category_add', params), 'category.add.title', 'file far', 'btn-add') }}
{{- _self.item_path(path('category_clone', params), 'common.button_clone', 'copy far', 'btn-clone') }}
{%- endblock %}

{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('category_edit', params) }}" class="item-link text-body" title="{{ 'category.edit.title'|trans }}">%code%</a>
{%- elseif row_show -%}
    <a href="{{ path('category_show', params) }}" class="item-link text-body" title="{{ 'category.show.title'|trans }}">%code%</a>
{%- else -%}
    <span>%code%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%description%') }}
{{ _self.property_row('category.fields.group', '%group.code%') }}
{{ _self.property_row('category.fields.products', '%products%') }}
{{ _self.property_row('category.fields.tasks', '%tasks%') }}
{%- endblock %}
