{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'customer.list.title' -%}
{%- set title_icon = ICON_CUSTOMER -%}
{%- set object_type = ENTITY_CUSTOMER -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('customer_add', params) }}">{{ 'customer.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('customer_pdf'), 'customer.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('customer_excel'), 'customer.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('customer_show', params), 'customer.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('customer_edit', params), 'customer.edit.title', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('customer_delete', params), 'customer.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('customer_add', params), 'customer.add.title', ICON_ADD, 'btn-add') }}
{%- endblock %}

{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('customer_edit', params) }}" class="item-link text-body" title="{{ 'customer.edit.title'|trans }}">%nameAndCompany%</a>
{%- elseif row_show -%}
    <a href="{{ path('customer_show', params) }}" class="item-link text-body" title="{{ 'customer.show.title'|trans }}">%nameAndCompany%</a>
{%- else -%}
    <span>%nameAndCompany%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%address%') }}
{{ _self.property_value('%zipCity%') }}
{%- endblock %}
