{% extends 'cards/card_flex.html.twig' %}
{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'globalmargin.list.title' -%}
{%- set title_icon   = 'percent' -%}
{%- set add_title    = 'globalmargin.list.add_title' -%}
{%- set pdf_title    = 'globalmargin.list.pdf_title' -%}
{%- set empty_list   = 'globalmargin.list.empty' -%}

{# actions #}
{%- set object_type  = EntityVoterInterface.ENTITY_GLOBAL_MARGIN -%}
{%- set add_page     = is_granted(EntityVoterInterface.ATTRIBUTE_ADD, object_type) ? 'globalmargin_add' : null -%}
{%- set edit_page    = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'globalmargin_edit' : null -%}
{%- set delete_page  = is_granted(EntityVoterInterface.ATTRIBUTE_DELETE, object_type) ? 'globalmargin_delete' : null -%}
{%- set show_page    = is_granted(EntityVoterInterface.ATTRIBUTE_SHOW, object_type) ? 'globalmargin_show' : null -%}
{%- set pdf_page     = is_granted(EntityVoterInterface.ATTRIBUTE_EXPORT, object_type) ? 'globalmargin_pdf' : null -%}
{%- set default_page = app.actionEdit ? edit_page|default(show_page) : show_page|default(edit_page) -%}
{%- set row_link     = not app.actionNone and (edit_page or show_page) -%}

{% block item_title %}
{%- set item_title = 'globalmargin.list.id'|trans({'%id%': loop.index}) -%}
{%- if row_link and default_page -%}
    {%- set default_path = path(default_page, params) -%}
    <a href="{{ default_path }}" class="text-body">{{ item_title }}</a>
{%- else -%} 
    {{ item_title }}
{%- endif -%}
{% endblock %}

{% block item_property %}
{{ properties.property('globalmargin.fields.minimum', item.minimum|amount) }}
{{ properties.property('globalmargin.fields.maximum', item.maximum|amount) }}
{{ properties.property('globalmargin.fields.margin', item.margin|percent) }}
{% endblock %}

{% block search_action -%}{%- endblock %}

{%- block toolbar_actions -%}
{{ parent() }}
{{ icons.linkTable('globalmargin_table') }}
{%- endblock -%}
