{% extends 'cards/card_table.html.twig' %}
{# parameters #}
{%- set title = 'globalmargin.list.title' -%}
{%- set title_icon = ICON_GLOBAL_MARGIN -%}
{%- set object_type = ENTITY_GLOBAL_MARGIN -%}
{% block card_container_class %}  col-md-8 offset-md-2{% endblock -%}

{% block header_actions -%}
{% if allow_edit -%}
    <a href="{{ path('globalmargin_edit', params) }}">{{ 'globalmargin.edit.title'|trans }}</a>
{%- endif %}
{%- endblock %}

{% block display_mode %}
{% if allow_edit -%}
    {{- _self.item_path(path('globalmargin_edit', params), 'globalmargin.edit.title', ICON_EDIT) }}
    {{ _self.item_separator() }}
{% endif %}
{{ parent() }}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('globalmargin_pdf'), 'globalmargin.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('globalmargin_excel'), 'globalmargin.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('globalmargin_show', params), 'globalmargin.show.title', ICON_SHOW, show_class ~ ' btn-default') }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('globalmargin_edit', params), 'globalmargin.edit.title', ICON_EDIT) }}
{%- endblock %}

{% block custom_view_header -%}
{%- if allow_show -%}
    <a href="{{ path('globalmargin_show', params) }}" class="item-link stretched-link text-body" title="{{ 'globalmargin.show.title'|trans }}">%minimum% - %maximum%</a>
{%- else -%}
    <span>%minimum% - %maximum%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_line() }}
{{ _self.property_row('globalmargin.fields.margin', '%margin%', 'text-right') }}
{%- endblock %}
