{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = new ? 'globalmargin.add.title' : 'globalmargin.edit.title' -%}
{%- set title_icon = ICON_GLOBAL_MARGIN -%}
{%- set page_list = 'globalmargin_table' -%}
{# body #}
{% block card_body %}
<div class="form-row">
    <div class="col-md-4">
        {{ form_row(form.minimum) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.maximum) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.margin) }}
    </div>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{- asset_js('js/plugins/plugin-input.js') }}
{{- asset_js('js/application/margins_edit.js') }}
{% else %}
{{- asset_js('js/margins_edit.js') }}
{% endif %}
{% endblock %}
