{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'globalmargin.list.title' -%}
{%- set title_icon = 'percent' -%}
{%- set defer_url = url('globalmargin_table') -%}
{%- set object_type = ENTITY_GLOBAL_MARGIN -%}

{% block card_container_class %} col-md-8 offset-md-2{% endblock -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('globalmargin_add', params) }}">{{ 'globalmargin.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('globalmargin_pdf'), 'globalmargin.list.pdf_title', 'file-pdf far') }}
{{- _self.item_external(path('globalmargin_excel'), 'globalmargin.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('globalmargin_show', params), 'globalmargin.show.title', 'tv', show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('globalmargin_edit', params), 'globalmargin.edit.title', 'pencil', edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('globalmargin_delete', params), 'globalmargin.delete.title', 'times', 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('globalmargin_add', params), 'globalmargin.add.title', 'file far', 'btn-add') }}
{%- endblock %}

{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('globalmargin_edit', params) }}" class="item-link stretched-link text-body" title="{{ 'globalmargin.edit.title'|trans }}">%minimum% - %maximum%</a>
{%- elseif row_show -%}
    <a href="{{ path('globalmargin_show', params) }}" class="item-link stretched-link text-body" title="{{ 'globalmargin.show.title'|trans }}">%minimum% - %maximum%</a>
{%- else -%}
    <span>%minimum% - %maximum%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_line() }}
{{ _self.property_row('globalmargin.fields.margin', '%margin%', 'text-right') }}
{%- endblock %}
