{% set button_attrs = {
    class: ['nav-link', 'dropdown-toggle']|merge(button_class),
    title: full_width ? app.user.role|role_name : app.user.userIdentifier ~ ' - ' ~ app.user.role|role_name,
    'data-bs-toggle': 'dropdown',
    'aria-expanded': false,
} %}
<button {{ html_attr(button_attrs) }}>
    {%- set image = asset_image_user(app.user, 32, {alt: 'user.image.title'|trans, class: 'avatar rounded-circle'}) -%}
    {%- if image -%}
        {{- image|raw -}}
    {%- else -%}
        <span class="badge rounded-circle text-bg-secondary user-image-empty">{{ app.user.initials }}</span>
    {%- endif -%}
    <span class="ms-2{% if not full_width %} d-lg-none{% endif %}">{{ app.user.userIdentifier }}</span>
</button>
{{ include('navigation/menu/_menu_user.html.twig', {dropdown_class: dropdown_class}) }}
