{% from 'macros/_properties.html.twig' import stateCss %}
<div id="calculations" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 m-0 mx-n1 mb-n2">
{% for calculation in calculations %}
    {%- set id = calculation.id -%}
    {%- set is_editable = calculation.stateEditable -%}
    {%- set params = route_params(app.request, id)|merge({caller: caller}) -%}
    {% set class_name = 'row-item border text-border h-100 px-2 py-1' %}
    {% if id == selection %}
        {% set class_name = class_name ~ ' table-primary' %}
    {% endif %}
    {% if not is_editable %}
        {% set class_name = class_name ~ ' text-body-secondary' %}
    {% endif %}
    <div class="col mb-2 px-1">
        <div data-id="{{ id }}" class="{{ class_name }}" style="{{ stateCss(calculation.stateColor) }}">
            <div class="d-flex-no-wrap-center context-menu-skip">
                <div class="text-truncate fw-bold flex-fill">
                    {% if edit_page or state_page %}
                        {% set edit_route = is_editable ? edit_page : state_page %}
                        {% set edit_title = is_editable ? 'calculation.edit.title_short' : 'calculation.list.state_title' %}
                        <a href="{{ path(edit_route, params) }}" class="item-link text-body w-100 d-block" title="{{ edit_title|trans }}">
                            {{- calculation.id|identifier -}}
                        </a>
                    {% elseif show_page %}
                        <a href="{{ path('calculation_show', params) }}" class="item-link text-body w-100 d-block" title="{{ 'calculation.show.title'|trans }}">
                            {{- calculation.id|identifier -}}
                        </a>
                    {% else %}
                        {{- calculation.id|identifier -}}
                    {% endif %}
                </div>
                {%- if is_drop_down -%}
                    <div class="context-menu-skip d-print-none">
                        {{ include('index/_calculation_menu.html.twig') }}
                    </div>
                {% endif %}
            </div>
            <div class="text-truncate user-select-none">
                <span title="{{ 'calculation.fields.date'|trans }}">{{- calculation.date|locale_date }}</span>
                <span>&nbsp;/&nbsp;</span>
                <span title="{{ 'calculation.fields.state'|trans }}">{{ calculation.stateCode -}}</span>
            </div>
            <div class="text-truncate user-select-none" title="{{ 'calculation.fields.customer'|trans }}">
                {{- calculation.customer -}}
            </div>
            <div class="text-truncate user-select-none" title="{{ 'calculation.fields.description'|trans }}">
                {{- calculation.description -}}
            </div>
            <hr class="mt-2 mb-1">
            <div class="d-flex-wrap-center">
                {%- if calculation.overallTotal and calculation.overallMargin < min_margin -%}
                    {%- set margin_title = 'calculation.list.margin_below'|trans({'%margin%': calculation.overallMargin|percent, '%minimum%': min_margin|percent}) -%}
                    <div class="user-select-none text-danger has-tooltip" title="{{ margin_title }}">
                        {{ calculation.overallMargin|percent }}
                    </div>
                {% else %}
                    <div class="user-select-none" title="{{ 'calculation.fields.globalMargin'|trans }}">{{ calculation.overallMargin|percent }}</div>
                {% endif %}
                <div class="user-select-none ms-auto" title="{{ 'calculation.fields.overallTotal'|trans }}">{{ calculation.overallTotal|amount }}</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
