{% extends 'base.html.twig' %}
{# parameters #}
{%- set title = 'index.title' -%}
{%- set enabled = app.user.enabled -%}
{# navigation #}
{%- block navigation_vertical -%}
    {%- if enabled -%}{{ parent() }}{% endif %}
{%- endblock %}
{% block navigation_horizontal -%}
{%- if enabled -%}
    {%- set show_navigation = true -%}
    {{ parent() }}
{%- endif -%}
{%- endblock %}
{# show footer #}
{% block footer -%}
{%- if enabled -%}{{- parent() -}}{%- endif -%}
{%- endblock %}
{# show body #}
{% block body -%}
<div class="row no-gutters">
{% if enabled %}
    <div class="col">
        {%- include 'index/panel_table.html.twig' -%}
        {% if user_service.panelState %}
        {%- include 'index/panel_state.html.twig' -%}
        {% endif %}
        {% if user_service.panelMonth %}
        {%- include 'index/panel_month.html.twig' -%}
        {% endif %}
        {% if user_service.panelCatalog %}
        {%- include 'index/panel_catalog.html.twig' -%}
        {% endif %}
        {%- include 'user/user_switch.html.twig' -%}
    </div>
{% else %}
    <div class="col-md-8 offset-md-2 my-auto h-50">
        {%- include 'index/panel_disabled.html.twig' -%}
        {%- include 'user/user_switch.html.twig' -%}
    </div>
{% endif %}
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css(enabled ? 'css/calculation.css' : 'css/center.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if enabled %}
{% if app.debug %}
{{ parent() -}}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/application/index.js') }}
{% else %}
{{ asset_js('js/index.js') }}
{% endif %}
{% include 'cookie_banner.html.twig' %}
{% endif %}
{% endblock %}
