{% extends 'base.html.twig' %}

{# parameters #}
{%- set title = 'index.title' -%}
{%- set enabled = app.user.enabled -%}

{# show search #}
{% block navigation -%}
{%- if enabled -%}
    {%- set show_navigation = true -%}
    {{ parent() }}
{%- endif -%}
{%- endblock %}

{% block footer -%}
{%- if enabled -%}{{- parent() -}}{%- endif -%}
{%- endblock %}

{% block body -%}
<div class="row no-gutters">
{% if enabled %}
    <div class="col">
        {%- if app.isDisplayTabular -%}
            {%- include 'index/panel_table.html.twig' -%}
        {%- else -%}
            {%- include 'index/panel_card.html.twig' -%}
        {%- endif -%}
        {%- include 'index/panel_state.html.twig' -%}
        {%- include 'index/panel_month.html.twig' -%}
        {%- include 'user/user_switch.html.twig' -%}
    </div>
{% else %}
    <div class="col my-auto h-50">
        {%- include 'index/panel_disabled.html.twig' -%}
        {%- include 'user/user_switch.html.twig' -%}
    </div>
{% endif %}
</div>
{%- endblock %}

{% block stylesheets %}
{{ asset_css(enabled ? 'css/calculation.css' : 'css/center.css') }}
{%- endblock -%}

{% block javascripts %}
{% if enabled %}
    {% if app.debug %}
        {{- parent() -}}
        {{- asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
        {{- asset_js('js/plugins/plugin-rowlink.js') }}
        {{- asset_js('js/extensions/contextmenu-extensions.js') }}
        {{- asset_js('js/application/index.js') }}
    {% else %}
        {{- asset_js('js/index.js') }}
    {% endif %}
    {% include 'cookie_banner.html.twig' %}
{% endif %}
{% endblock %}
