{# import #}
{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{% from 'macros/_attributes.html.twig' import attributes %}
{% from 'index/_macros.html.twig' import margin as macros_margin, empty_content %}
{# macros #}
{% macro cardEntry(item, route_name, min_margin) -%}
{%- set text = item.date|locale_date('none', 'MMMM Y') -%}
<div class="border index-child item-hover p-2 m-1">
    {%- if route_name -%}
        {%- set route_title = 'index.panel_month_title'|trans({'%month%': text}) -%}
        <a href="{{ path(route_name, {search: item.date|locale_date('none', 'MM.Y')}) }}" title="{{ route_title }}">
            {{- text -}}
        </a>
    {%- else -%}
        <div>{{ text }}</div>
    {%- endif -%}
    <h4 class="fw-normal my-1">
        <span title="{{ 'index.panel_title_total'|trans }}">{{- item.total|integer }}</span>
        {{ macros_margin(item.marginPercent, min_margin) }}
    </h4>
    <p class="mb-0" title="{{ 'index.panel_title_count'|trans }}">
        {{- 'counters.calculations'|trans({count: item.count}) -}}
    </p>
</div>
{%- endmacro cardEntry %}
{# parameters #}
{%- set panel_key = 'DISPLAY_MONTH' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'common.collapse' : 'common.expand' -%}
{%- set route_name = is_granted(PERMISSION_LIST, ENTITY_CALCULATION) ? 'calculation_index' : false -%}
{%- set is_months = months|length -%}
{%- set header_attributes = header_attributes|default({})|merge({
    href: '#' ~ panel_key,
    title: panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
{# content #}
<div class="card card-collapse card-month mb-2" data-path="{{ path('homepage_hide_month') }}">
    <div class="card-header d-flex-wrap-center">
        <a{{ attributes(header_attributes) }}>
            {{- icon('calendar-alt ms-1 far', 'index.panel_month') -}}
        </a>
        {%- if route_name and is_months -%}
            {{ link(path('chart_month_index'), null, 'btn btn-link p-0 d-print-none', 'chart-column fa-fw', 'index.menu_chart_title') }}
            {% if is_granted(PERMISSION_EXPORT, ENTITY_CALCULATION) %}
                {{ linkExternal(path('chart_month_pdf', {count: months|length}), null, 'btn btn-link p-0 d-print-none', ICON_PDF ~ ' fa-fw', 'common.button_export_pdf') }}
            {% endif %}
        {%- endif -%}
        <button type="button" class="btn btn-link hide-panel text-body p-0" title="{{ 'index.panel_month_hide'|trans }}">
            {{- icon('xmark fa-fw') -}}
        </button>
    </div>
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}">
        {% if is_months %}
            <div class="card-body index-parent g-0 p-1">
                {% for item in months.items %}
                    {{ _self.cardEntry(item, route_name, min_margin) }}
                {% endfor %}
            </div>
        {% else %}
            {{ empty_content() }}
        {% endif %}
    </div>
</div>
