{% import "macros/_icons.html.twig" as icons %}
{% import 'index/_macros.html.twig' as macros %}

{# macros #}
{% macro cardEntry(state, list_path, parameters=[], min_margin) -%}
{% import 'macros/_properties.html.twig' as properties %}
<div class="card index-child m-1 {% if state.color %} text-border{% endif %}"{% if state.color %} style="{{ properties.stateCss(state.color) }}"{% endif %}>
    <div class="card-body card-body-tooltip p-2">
        <div class="card-text mb-0">
            {%- if list_path -%}
                {%- set list_title = parameters|length ? 'index.panel_state_title'|trans({'%code%': state.code}) : 'index.panel_state_title_all'|trans -%}
                <a href="{{ path(list_path, parameters) }}" class="card-link stretched-link" title="{{ list_title }}">{{ state.code }}</a>
            {%- else -%}
                <span>{{ state.code }}</span>
            {%- endif -%}
        </div>
        <div class="h4 font-weight-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- state.total|integer }}</span> {{ macros.margin(state.margin, min_margin) -}}
        </div>
        <p class="card-text" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({'count': state.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}

{# parameters #}
{%- set list_path = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) ? 'calculation_table' : false -%}
{%- set is_states = states|length -%}

<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icons.icon(ICON_CALCULATION_STATE, "index.panel_state") }}</h1>
            </div>
            <div class="col-auto d-print-none">
                {%- if is_states -%}
                    {{- icons.link(path('chart_by_state'), null, null, 'chart-pie', 'index.menu_chart_title') -}}
                {%- endif -%}
            </div>
        </div>
    </div>
    {% if is_states %}
    <div class="card-body index-parent no-gutters p-1">
        {% for state in states %}
            {% set parameters = state.id ? {'stateid': state.id} : {} %}
            {{ _self.cardEntry(state, list_path, parameters, min_margin) }}
        {% endfor %}
    </div>
    {% else %}
        {{ macros.empty() }}
    {% endif %}
</div>
