{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{% from 'macros/_attributes.html.twig' import attributes %}
{% from 'index/_macros.html.twig' import margin as macros_margin, empty_content %}
{# macros #}
{% macro cardEntry(state, index_route, parameters, min_margin) -%}
{% set color = state.color|default %}
{% set code = state.code|default('calculation.fields.total'|trans) %}
<div class="border index-child m-1{% if color %} text-border state-border-{{ state.id }}{% endif %}">
    <div class="position-relative body-tooltip p-2">
        {%- if index_route -%}
            {%- set list_title = parameters|length ? 'index.panel_state_title'|trans({'%code%': state.code}) : 'index.panel_state_title_all'|trans -%}
            <a href="{{ path(index_route, parameters) }}" title="{{ list_title }}" class="stretched-link">
                {{- code -}}
            </a>
        {%- else -%}
            <span>{{ code }}</span>
        {%- endif -%}
        <div class="h4 fw-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- state.total|integer }}</span> {{ macros_margin(state.marginPercent, min_margin) -}}
        </div>
        <p class="mb-0" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({count: state.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set panel_key = 'DISPLAY_STATE' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'common.collapse' : 'common.expand' -%}
{%- set is_states = states|length -%}
{%- set table_path = is_granted(PERMISSION_LIST, ENTITY_CALCULATION) ? 'calculation_index' : false -%}
{%- set header_attributes = header_attributes|merge({
    href: '#' ~ panel_key,
    title: panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
{# content #}
<div class="card card-collapse card-state mb-2" data-path="{{ path('homepage_hide_state') }}">
    <div class="card-header d-flex-wrap-center">
        <a{{ attributes(header_attributes) }}>
            {{- icon(ICON_CALCULATION_STATE ~ ' ms-1', 'index.panel_state') -}}
        </a>
        {%- if table_path and is_states -%}
            {{ link(path('chart_state_index'), null, 'btn btn-link p-0 d-print-none', 'chart-pie fa-fw', 'index.menu_chart_title') }}
            {% if is_granted(PERMISSION_EXPORT, ENTITY_CALCULATION) %}
                {{ linkExternal(path('chart_state_pdf'), null, 'btn btn-link p-0 d-print-none', ICON_PDF ~ ' fa-fw', 'common.button_export_pdf') }}
            {% endif %}
        {%- endif -%}
        <button type="button" class="btn btn-link hide-panel text-body p-0" title="{{ 'index.panel_state_hide'|trans }}">
            {{- icon('xmark fa-fw') -}}
        </button>
    </div>
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}">
    {% if is_states %}
        <div class="card-body index-parent g-0 p-1">
        {% for state in states.items %}
            {{ _self.cardEntry(state, table_path, {stateId: state.id}, min_margin) }}
        {% endfor %}
        {{ _self.cardEntry(states.total, table_path, {}, min_margin) }}
        </div>
    {% else %}
        {{ empty_content() }}
    {% endif %}
    </div>
</div>
