{% from 'macros/_icons.html.twig' import icon, link %}
{% from 'macros/_attributes.html.twig' import attributes %}
{# macros #}
{% macro cardEntry(entity, count, list_path, icon) -%}
{% set title = entity ~ '.list.title' %}
{% set counter = 'index.panel_count_' ~ entity %}
<div class="border index-child m-1">
    <div class="position-relative p-2">
        {%- if list_path -%}
            {{- link(path(list_path), title, 'stretched-link', icon, 'index.panel_title_' ~ entity) -}}
        {%- else -%}
            {{- title|trans -}}
        {%- endif -%}
        <div class="h4 fw-normal my-1">
            <span title="{{ counter|trans }}">{{- count|integer -}}</span>
        </div>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set panel_key = 'DISPLAY_CATALOG' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'common.collapse' : 'common.expand' -%}
{%- set task_path = is_granted(PERMISSION_LIST, ENTITY_CALCULATION) ? 'task_index' : false -%}
{%- set group_path = is_granted(PERMISSION_LIST, ENTITY_GROUP) ? 'group_index' : false -%}
{%- set product_path = is_granted(PERMISSION_LIST, ENTITY_PRODUCT) ? 'product_index' : false -%}
{%- set category_path = is_granted(PERMISSION_LIST, ENTITY_CATEGORY) ? 'category_index' : false -%}
{%- set margin_path = is_granted(PERMISSION_LIST, ENTITY_GLOBAL_MARGIN) ? 'globalmargin_index' : false -%}
{%- set state_path = is_granted(PERMISSION_LIST, ENTITY_CALCULATION) ? 'calculationstate_index' : false -%}
{%- set header_attributes = header_attributes|merge({
    href: '#' ~ panel_key,
    title: panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
{# content #}
<div class="card card-collapse card-catalog mb-2" data-path="{{ path('homepage_hide_catalog') }}">
    <div class="card-header d-flex-wrap-center">
        <a{{ attributes(header_attributes) }}>
            {{- icon('database ms-1', 'index.panel_catalog') -}}
        </a>
        <button type="button" class="btn btn-link hide-panel text-body p-0" title="{{ 'index.panel_catalog_hide'|trans }}">
            {{- icon('xmark fa-fw') -}}
        </button>
    </div>
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}">
        <div class="card-body index-parent g-0 p-1">
            {{ _self.cardEntry('product', product_count, product_path, ICON_PRODUCT) }}
            {{ _self.cardEntry('task', task_count, task_path, ICON_TASK) }}
            {{ _self.cardEntry('category', category_count, category_path, ICON_CATEGORY) }}
            {{ _self.cardEntry('group', group_count, group_path, ICON_GROUP) }}
            {{ _self.cardEntry('calculationstate', state_count, state_path, ICON_CALCULATION_STATE) }}
            {{ _self.cardEntry('globalmargin', margin_count, margin_path, ICON_GLOBAL_MARGIN) }}
        </div>
    </div>
</div>
