{% import 'macros/_icons.html.twig' as icons %}
{% import 'index/_macros.html.twig' as macros %}

{# macros #}
{% macro cardEntry(month, list_path, min_margin) -%}
<div class="card index-child m-1">
    <div class="card-body card-body-tooltip p-2">
        <div class="card-text">
            {%- set text = month.date|localedate('none', null, null, 'MMMM Y')|capitalize -%}
            {%- if list_path -%}
                {%- set list_title = 'index.panel_month_title'|trans({'%month%': text}) -%}
                <a href="{{ path(list_path, {'search': month.date|localedate('none', null, null, 'MM.Y')}) }}" class="card-link" title="{{ list_title }}">
                    {{ text }}
                </a>
            {%- else -%}
                <span>{{ text }}</span>
            {%- endif -%}
        </div>
        <div class="h3 font-weight-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- month.total|integer }}</span> {{ macros.margin(month.margin, min_margin) -}}
        </div>
        <p class="card-text" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({'count': month.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}

{# parameters #}
{%- set list_path = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) ? 'calculation_table' : false -%}
{%- set is_months = months|length -%}

<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icons.icon('calendar-alt far', 'index.panel_month') }}</h1>
            </div>
            <div class="col-auto d-print-none">
                {%- if is_months -%}
                    {{- icons.link(path('chart_by_month', {'count': 6}), null, null, 'chart-column', 'index.menu_chart_title') -}}
                {%- endif -%}
            </div>
        </div>
    </div>
    {% if is_months %}
    <div class="card-body index-parent no-gutters p-1">
    {% for month in months %}
        {{ _self.cardEntry(month, list_path, min_margin) }}
    {% endfor %}
    </div>
    {% else %}
        {{ macros.empty() }}
    {% endif %}
</div>
