{% import 'macros/_properties.html.twig' as properties %}
{% from 'macros/_icons.html.twig' import icon, dropdownEllipsis, dropdownSeparator, dropdownItemWithClass, dropdownItem, dropdownItemExternal %}
{% import 'index/_macros.html.twig' as macros %}
{# parameters #}
{%- set restrict = restrict|default(0) -%}
{%- set selection = app.request.get('id', 0) -%}
{%- set caller = path(app.request.get('_route')) -%}
{# actions #}
{%- set is_app_dev = app_mode == 'dev' -%}
{%- set object_type = ENTITY_CALCULATION -%}
{%- set add_page = is_granted(ATTRIBUTE_ADD, object_type) ? 'calculation_add' : null -%}
{%- set clone_page = is_granted(ATTRIBUTE_ADD, object_type) ? 'calculation_clone' : null -%}
{%- set edit_page = is_granted(ATTRIBUTE_EDIT, object_type) ? 'calculation_edit' : null -%}
{%- set state_page = is_granted(ATTRIBUTE_EDIT, object_type) ? 'calculation_state' : null -%}
{%- set delete_page = is_granted(ATTRIBUTE_DELETE, object_type) ? 'calculation_delete' : null -%}
{%- set show_page = is_granted(ATTRIBUTE_SHOW, object_type) ? 'calculation_show' : null -%}
{%- set single_page_pdf = is_granted(ATTRIBUTE_EXPORT, object_type) ? 'calculation_pdf_id' : null -%}
{%- set single_page_excel = is_granted(ATTRIBUTE_EXPORT, object_type) ? 'calculation_excel_id' : null -%}
{%- set default_page = user_service.actionEdit ? edit_page : show_page -%}
{%- set row_link = not user_service.actionNone and (edit_page or show_page) -%}
{%- set is_drop_down = add_page or edit_page or delete_page or show_page or single_page_pdf -%}
{%- set is_calculations = calculations|length -%}
{# content #}
<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icon(ICON_CALCULATION, 'index.panel_last') }}</h1>
            </div>
            {%- if add_page -%}
            <div class="col-auto d-print-none">
                {%- set params = route_params(app.request)|merge({'caller': caller}) -%}
                {%- set path = path(add_page, params) -%}
                <a href="{{ path }}" class="p-0">{{ 'calculation.add.title'|trans }}</a>
            </div>
            {%- endif -%}
        </div>
    </div>
    <div class="card-body {% if is_calculations %}p-2{% else %}no-gutters p-1{% endif %}">
        {% if is_calculations %}
        <div class="table-responsive">
            <table id="calculations" class="table table-hover table-sm m-0">
                <tbody{% if row_link %} data-link="row" class="rowlink"{% endif %}>
                {% for calculation in calculations %}
                    {%- set id = calculation.id -%}
                    {%- set menu_id = 'dropdownMenuLast_' ~ id -%}
                    {%- set params = route_params(app.request, id)|merge({'caller': caller}) -%}
                    {%- set class_primary = id == selection ? 'table-primary' : '' -%}
                    {%- set class_muted = calculation.editable ? '' : 'text-muted' -%}
                    {%- set class_name = (class_primary ~ ' ' ~ class_muted)|trim -%}
                    <tr data-id="{{ id }}" {% if class_name %} class="{{ class_name }}"{% endif %}>
                        <td class="text-id text-border user-select-none" style="{{ properties.stateCss(calculation.stateColor) }}">
                        {%- if row_link and default_page -%}
                            <a href="{{ path(default_page, params) }}">{{ calculation.id|identifier }}</a>
                        {%- else -%}
                            {{- calculation.id|identifier -}}
                         {%- endif -%}
                        </td>
                        <td class="text-date user-select-none">{{ calculation.date|locale_date }}</td>
                        <td class="text-state user-select-none">{{ calculation.stateCode }}</td>
                        <td class="text-customer text-cell user-select-none">{{ calculation.customer }}</td>
                        <td class="text-description text-cell user-select-none">{{ calculation.description }}</td>
                        {%- if user_service.application.marginBelow(calculation) -%}
                            {%- set margin_title = 'calculation.list.margin_below'|trans({'%margin%': calculation.overallMargin|percent, '%minimum%': min_margin|percent}) -%}
                            <td class="text-percent user-select-none text-danger has-tooltip" data-html="true" title="{{ margin_title }}">{{ calculation.overallMargin|percent }}</td>
                        {%- else -%}
                            <td class="text-percent user-select-none">{{ calculation.overallMargin|percent }}</td>
                        {%- endif -%}
                        <td class="text-currency user-select-none">{{ calculation.overallTotal|amount }}</td>
                        {%- if is_drop_down -%}
                            <td class="actions rowlink-skip d-print-none">
                                <div class="dropdown dropleft text-right">
                                    {{ dropdownEllipsis(menu_id) }}
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ menu_id }}">
                                    {%- if edit_page -%}
                                        {{- dropdownSeparator() }}
                                        {%- set path = path(edit_page, params) -%}
                                        {{ dropdownItemWithClass(path, 'calculation.edit.title_short', ICON_EDIT, 'btn-default') }}
                                    {%- endif -%}
                                    {%- if state_page -%}
                                        {%- set path = path(state_page, params) -%}
                                        {{ dropdownItem(path, 'calculation.list.state_title', ICON_CALCULATION_STATE) }}
                                    {%- endif -%}
                                    {%- if delete_page -%}
                                        {{- dropdownSeparator() }}
                                        {%- set path = path(delete_page, params) -%}
                                        {{ dropdownItemWithClass(path, 'calculation.delete.title', ICON_DELETE, 'btn-delete') }}
                                    {%- endif -%}
                                    {%- if add_page -%}
                                        {{- dropdownSeparator() }}
                                        {%- set path = path(add_page, params) -%}
                                        {{ dropdownItem(path, 'calculation.add.title', ICON_ADD) }}
                                        {%- set path = path(clone_page, params) -%}
                                        {{ dropdownItem(path, 'common.button_clone', ICON_COPY) }}
                                    {%- endif -%}
                                    {%- if show_page -%}
                                        {{- dropdownSeparator() }}
                                        {%- set path = path(show_page, params) -%}
                                        {{ dropdownItem(path, 'calculation.show.title', ICON_SHOW) }}
                                    {%- endif -%}
                                    {%- if single_page_pdf -%}
                                        {{- dropdownSeparator() }}
                                        {%- set path = path(single_page_pdf, {'id': id}) -%}
                                        {{ dropdownItemExternal(path, 'calculation.list.pdf_single_title', ICON_PDF) }}
                                        {%- set path = path(single_page_excel, {'id': id}) -%}
                                        {{ dropdownItemExternal(path, 'calculation.list.excel_single_title', ICON_EXCEL) }}
                                    {%- endif -%}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
        {%- else -%}
            {{ macros.empty() }}
        {%- endif -%}
    </div>
    <div class="card-footer d-print-none p-2">
        <div class="text-sm-right">
            <div class="form-control-sm custom-control custom-switch" title="{{ 'index.panel_month_user_help'|trans }}">
                <input type="checkbox" class="custom-control-input" id="restrict" data-url="{{ url('homepage') }}" data-value="{{ restrict }}"{% if restrict %} checked="checked"{% endif %}>
                <label class="custom-control-label" for="restrict">{{ 'index.panel_month_user'|trans }}</label>
            </div>
        </div>
    </div>
</div>
