{% import "macros/_icons.html.twig" as icons %}
{# macros #}
{% macro cardEntry(entity, count, list_path, icon) -%}
{% set title = entity ~ '.list.title' %}
{% set counter = 'index.panel_count_' ~ entity %}
<div class="card index-child m-1">
    <div class="card-body p-2">
        <div class="card-text">
            {%- if list_path -%}
                {{- icons.link(path(list_path), title, 'card-link stretched-link', icon, 'index.panel_title_' ~ entity) -}}
            {%- else -%}
                {{- title|trans -}}
            {%- endif -%}
        </div>
        <div class="h4 font-weight-normal my-1">
            <span title="{{ counter|trans }}">{{- count|integer -}}</span>
        </div>
    </div>
</div>
{%- endmacro %}
{# list access #}
{%- set task_path = is_granted_task ? 'task_table' : false -%}
{%- set group_path = is_granted_group ? 'group_table' : false -%}
{%- set product_path = is_granted_product ? 'product_table' : false -%}
{%- set category_path = is_granted_category ? 'category_table' : false -%}
{%- set margin_path = is_granted_global_margin ? 'globalmargin_table' : false -%}
{%- set state_path = is_granted_calculation_state ? 'calculationstate_table' : false -%}
{# content #}
<div class="card mb-2">
    <div class="card-header">
        <h1 class="card-title">
            {{ icons.icon("database", "index.panel_count") }}
        </h1>
    </div>
    <div class="card-body index-parent no-gutters p-1">
        {{ _self.cardEntry('product', product_count, product_path, ICON_PRODUCT) }}
        {{ _self.cardEntry('task', task_count, task_path, ICON_TASK) }}
        {{ _self.cardEntry('category', category_count, category_path, ICON_CATEGORY) }}
        {{ _self.cardEntry('group', group_count, group_path, ICON_GROUP) }}
        {{ _self.cardEntry('calculationstate', state_count, state_path, ICON_CALCULATION_STATE) }}
        {{ _self.cardEntry('globalmargin', margin_count, margin_path, ICON_GLOBAL_MARGIN) }}
    </div>
</div>
