{# import #}
{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{% import 'index/_macros.html.twig' as macros %}
{# macros #}
{% macro cardEntry(month, list_path, min_margin) -%}
<div class="border index-child m-1">
    <div class="position-relative body-tooltip p-2">
        {%- set text = month.date|locale_date('none', 'MMMM Y') -%}
        {%- if list_path -%}
            {%- set list_title = 'index.panel_month_title'|trans({'%month%': text}) -%}
            <a href="{{ path(list_path, {'search': month.date|locale_date('none', 'MM.Y')}) }}" class="stretched-link" title="{{ list_title }}">
                {{- text -}}
            </a>
        {%- else -%}
            <span>{{ text }}</span>
        {%- endif -%}
        <div class="h4 fw-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- month.total|integer }}</span> {{ macros.margin(month.margin_percent, min_margin) -}}
        </div>
        <p class="mb-0" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({'count': month.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set state_key = 'DISPLAY_MONTH' -%}
{%- set state_show = app.request.cookies.boolean(state_key, true) -%}
{%- set state_title = state_show ? 'about.collapse' : 'about.expand' -%}
{%- set list_path = is_granted_calculation ? 'calculation_table' : false -%}
{%- set is_months = months|length -%}
{# content #}
<div class="card card-collapse card-month mb-2" data-path="{{ path('homepage_hide_month') }}">
    <div class="card-header d-flex-wrap-center">
        <a class="drop-down-icon-left card-title flex-fill h1" href="#{{ state_key }}" title="{{ state_title|trans }}" data-bs-toggle="collapse" aria-expanded="{{ state_show|json_encode }}" data-collapse="{{ 'about.collapse'|trans }}" data-expand="{{ 'about.expand'|trans }}">
            {{- icon('calendar-alt ms-1 far', 'index.panel_month') -}}
        </a>
        {%- if list_path and is_months -%}
            {{ link(path('chart_month'), null, 'd-print-none', 'chart-column fa-fw', 'index.menu_chart_title') }}
            {% if is_granted(ATTRIBUTE_EXPORT, ENTITY_CALCULATION) %}
                {{ linkExternal(path('chart_month_pdf', {'count': months|length}), null, 'd-print-none', ICON_PDF ~ ' fa-fw', 'common.button_export_pdf') }}
            {% endif %}
        {%- endif -%}
        <a href="#" class="hide-panel d-print-none text-body" title="{{ 'index.panel_month_hide'|trans }}">
            {{- icon('xmark') -}}
        </a>
    </div>
    <div class="collapse{% if state_show %} show{% endif %}" id="{{ state_key }}">
    {% if is_months %}
        <div class="card-body index-parent g-0 p-1">
            {% for month in months %}
                {{ _self.cardEntry(month, list_path, min_margin) }}
            {% endfor %}
        </div>
    {% else %}
        {{ macros.empty() }}
    {% endif %}
    </div>
</div>
