{% import "macros/_icons.html.twig" as icons %}

{% macro cardEntry(entity, count, list_path, icon) -%}
<div class="card index-child m-1">
    <div class="card-body p-2">
        <div class="card-title mb-1">
            {%- if list_path -%}
                {{- icons.link(path(list_path), entity ~ '.list.title', 'card-link', icon, 'index.panel_title_' ~ entity) -}}
            {%- else -%}
                {{- entity|trans -}}
            {%- endif -%}
        </div>
        <h3 class="font-weight-normal my-1">
            {{- count|integer -}}
        </h3>
    </div>
</div>
{%- endmacro %}

{# list access #}
{%- set task_path = is_granted(ATTRIBUTE_LIST, ENTITY_TASK) ? 'task_table' : false -%}
{%- set group_path = is_granted(ATTRIBUTE_LIST, ENTITY_GROUP) ? 'group_table' : false -%}
{%- set product_path = is_granted(ATTRIBUTE_LIST, ENTITY_PRODUCT) ? 'product_table' : false -%}
{%- set category_path = is_granted(ATTRIBUTE_LIST, ENTITY_CATEGORY) ? 'category_table' : false -%}
{%- set margin_path = is_granted(ATTRIBUTE_LIST, ENTITY_GLOBAL_MARGIN) ? 'globalmargin_table' : false -%}
{%- set state_path = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION_STATE) ? 'calculationstate_table' : false -%}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">
            {{ icons.icon("database", "index.panel_count") }}
        </h1>
    </div>
    <div class="card-body index-parent no-gutters p-2">
        {{ _self.cardEntry('product', product_count, product_path, 'file-alt far') }}
        {{ _self.cardEntry('task', task_count, task_path, 'tasks') }}
        {{ _self.cardEntry('category', category_count, category_path, 'folder far') }}
        {{ _self.cardEntry('group', group_count, group_path, 'code-branch') }}
        {{ _self.cardEntry('calculationstate', state_count, state_path, 'flag far') }}
        {{ _self.cardEntry('globalmargin', margin_count, margin_path, 'percent') }}
    </div>
</div>
