{# macros #}
{% macro cardEntry(count, total, text, color, enabled, parameters = []) -%}
{% import 'macros/_properties.html.twig' as properties %}
<div class="card card-index text-center border rounded m-1">
    <div class="card-body px-1 pt-1 pb-0">
        <p class="h4 font-weight-normal mb-1" style="{{ properties.stateCss(color) }}">{{ count|integer }}</hp>
        <p class="m-0 mb-1">{{ total|amount }}</p>
    </div>
    <div class="card-footer p-1">
    {%- if enabled -%}
        <a href="{{ path('calculation_list', parameters) }}">{{ text }}</a>
    {%- else -%}
        <span>{{ text }}</span>
    {%- endif -%}        
    </div>
</div>
{%- endmacro %}
 
{# imports #}
{% import "macros/_icons.html.twig" as icons %}

{# actions #}
{%- set enabled = is_granted(IEntityVoter.ATTRIBUTE_LIST, IEntityVoter.ENTITY_CALCULATION) -%}

<div class="card mb-2">
    <div class="card-header"> 
        <h1 class="card-title">{{ icons.icon("flag far", "index.panel_resume") }}</h1>
    </div>
    <div class="card-body d-flex flex-row flex-wrap p-2">
    {% if states|length %}
        {% for state in states %}
            {{ _self.cardEntry(state.count, state.total, state.code, state.color, enabled, {'query': state.code}) }}
        {% endfor %}
        {{ _self.cardEntry(count, total, 'calculation.fields.total'|trans, 'secondary', enabled) }}
    {% else %}
        <div class="alert alert-warning flex-fill mb-0 py-4 text-center">
            {{ 'calculation.list.empty'|trans }}
        </div>
    {% endif %}
    </div>
</div>
