{% import "macros/_icons.html.twig" as icons %}

{# macros #}
{% macro sup_margin(margin, min_margin) -%}
{%- if margin < min_margin -%}
    {%- set margin_title = 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}) -%}
    {%- set class_name = 'text-danger has-tooltip' -%}
{% else %}
    {%- set margin_title = 'calculation.fields.globalMargin'|trans -%}
    {%- set class_name = '' -%}
{%- endif -%}
<sup title="{{ margin_title }}" class="{{ class_name }}" data-html="true"><small>{{ margin|percent }}</small></sup>
{%- endmacro %}

{% macro cardEntry(count, total, text, color, list_path, parameters=[], margin, min_margin) -%}
{% import 'macros/_properties.html.twig' as properties %}
<div class="card index-child m-1 {% if color %} text-border{% endif %}"{% if color %} style="{{ properties.stateCss(color) }}"{% endif %}>
    <div class="card-body card-body-tootlip p-2">
        <div class="card-title mb-1">
        {%- if list_path -%}
            <a href="{{ path(list_path, parameters) }}" class="card-link" title="{{ 'index.panel_state_title'|trans }}">{{ text }}</a>
        {%- else -%}
            <span>{{ text }}</span>
        {%- endif -%}
        </div>
        <h3 class="font-weight-normal my-1">
            {{- total|integer }} {{ _self.sup_margin(margin, min_margin) -}}
        </h3>
        <p class="card-text">
            {{- 'counters.calculations_lower'|trans({'%count%': count|integer}) -}}
        </p>
    </div>
</div>
{%- endmacro %}

{# parameters #}
{%- set list_path = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) ? 'calculation_table' : false -%}

<div class="card mb-2">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icons.icon("flag far", "index.panel_state") }}</h1>
            </div>
            <div class="col-auto d-print-none">
                {{ icons.link(path('chart_by_state'), null, null, 'chart-pie', 'index.menu_chart_title') }}
            </div>
        </div>
    </div>
    {% if states|length %}
    <div class="card-body index-parent no-gutters p-2">
        {% for state in states %}
            {% set parameters = state.id ? {'stateid': state.id} : {} %}
            {{ _self.cardEntry(state.count, state.total, state.code, state.color, list_path, parameters, state.margin, min_margin) }}
        {% endfor %}
        {#{ _self.cardEntry(states_count, states_total, 'calculation.fields.total'|trans, false, list_path, [], states_margin, min_margin) }#}
    </div>
    {% else %}
    <div class="card-body p-2">
        <div class="alert alert-warning m-1 text-center" role="alert">
            {{- 'calculation.list.empty'|trans -}}
        </div>
    </div>
    {% endif %}
</div>

