{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{% import 'index/_macros.html.twig' as macros %}
{# macros #}
{% macro cardEntry(state, table_path, parameters=[], min_margin) -%}
{% from 'macros/_properties.html.twig' import stateCss %}
<div class="border index-child m-1 {% if state.color %} text-border{% endif %}"{% if state.color %} style="{{ stateCss(state.color) }}"{% endif %}>
    <div class="position-relative body-tooltip p-2">
        {%- if table_path -%}
            {%- set list_title = parameters|length ? 'index.panel_state_title'|trans({'%code%': state.code}) : 'index.panel_state_title_all'|trans -%}
            <a href="{{ path(table_path, parameters) }}" title="{{ list_title }}" class="stretched-link">
                {{- state.code -}}
            </a>
        {%- else -%}
            <span>{{ state.code }}</span>
        {%- endif -%}
        <div class="h4 fw-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- state.total|integer }}</span> {{ macros.margin(state.margin, min_margin) -}}
        </div>
        <p class="mb-0" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({'count': state.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set state_key = 'DISPLAY_STATE' -%}
{%- set state_show = app.request.cookies.boolean(state_key, true) -%}
{%- set state_title = state_show ? 'about.collapse' : 'about.expand' -%}
{%- set is_states = states|length -%}
{%- set table_path = is_granted_calculation ? 'calculation_table' : false -%}
{# content #}
<div class="card card-collapse card-state mb-2" data-path="{{ path('homepage_hide_state') }}">
    <div class="card-header d-flex-wrap-center">
        <a class="drop-down-icon-left card-title flex-fill h1" href="#{{ state_key }}" title="{{ state_title|trans }}" data-bs-toggle="collapse" aria-expanded="{{ state_show|json_encode }}" data-collapse="{{ 'about.collapse'|trans }}" data-expand="{{ 'about.expand'|trans }}">
            {{- icon(ICON_CALCULATION_STATE ~ ' ms-1', 'index.panel_state') -}}
        </a>
        {%- if table_path and is_states -%}
            {{ link(path('chart_by_state'), null, 'd-print-none', 'chart-pie fa-fw', 'index.menu_chart_title') }}
            {% if is_granted(ATTRIBUTE_EXPORT, ENTITY_CALCULATION) %}
                {{ linkExternal(path('chart_by_state_pdf'), null, 'd-print-none', ICON_PDF ~ ' fa-fw', 'common.button_export_pdf') }}
            {% endif %}
        {%- endif -%}
        <a href="#" class="hide-panel d-print-none text-body" title="{{ 'index.panel_state_hide'|trans }}">
            {{- icon('xmark') -}}
        </a>
    </div>
    <div class="collapse{% if state_show %} show{% endif %}" id="{{ state_key }}">
    {% if is_states %}
        <div class="card-body index-parent g-0 p-1">
        {% for state in states %}
            {% set parameters = state.id ? {'stateId': state.id} : {} %}
            {{ _self.cardEntry(state, table_path, parameters, min_margin) }}
        {% endfor %}
        </div>
    {% else %}
        {{ macros.empty() }}
    {% endif %}
    </div>
</div>
