{# macros #}
{% macro sup_margin(margin, min_margin) -%}
{%- if margin < min_margin -%}
    {%- set margin_title = 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}) -%}
    {%- set class_name = 'text-danger has-tooltip' -%}
{% else %}
    {%- set margin_title = 'calculation.fields.globalMargin'|trans -%}
    {%- set class_name = '' -%}
{%- endif -%}
<sup title="{{ margin_title }}" class="{{ class_name }}" data-html="true"><small>{{ margin|percent }}</small></sup>
{%- endmacro %}

{% macro cardEntry(count, total, date, margin, list_path, min_margin) -%}
<div class="card m-1">
    <div class="card-body card-body-tootlip p-2">
        <div class="card-title mb-1">
        {%- set text = date|localedate('none', null, null, 'MMMM Y')|capitalize -%}
        {%- if list_path -%}
            <a href="{{ path(list_path, {'query': date|localedate('none', null, null, 'MM.Y')}) }}" class="card-link" title="{{ 'index.panel_month_title'|trans }}">{{ text }}</a>
        {%- else -%}
            <span>{{ text }}</span>
        {%- endif -%}
        </div>
        <h3 class="font-weight-normal my-1">
            {{- total|integer }} {{ _self.sup_margin(margin, min_margin) -}}
        </h3>
        <p class="card-text">
            {{- 'counters.calculations_lower'|trans({'%count%': count|integer}) -}}
        </p>
    </div>
</div>
{%- endmacro %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set list_path = false -%}
{%- if is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) -%}
    {%- set list_path = app.displayTabular ? 'calculation_table' : 'calculation_card' -%}
{%- endif -%}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-auto mr-auto">
                <h1 class="card-title">{{ icons.icon('calendar-alt far', 'index.panel_month') }}</h1>
            </div>
            <div class="col-auto d-print-none">
                {{ icons.link(path('chart_by_month', {'count': 6}), null, null, 'chart-column', 'index.menu_chart_title') }}
            </div>
        </div>
    </div>
    <div class="card-body card-deck py-2">
    {% if months|length %}
        {% for month in months %}
            {{ _self.cardEntry(month.count, month.total, month.date, month.margin, list_path, min_margin) }}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning flex-fill mb-0 py-2 text-center" role="alert">
            {{ 'calculation.list.empty'|trans }}
        </div>
    {% endif %}
    </div>
</div>
