{% import "macros/_icons.html.twig" as icons %}

{% macro cardEntry(entity, count, list_path, icon) -%}
<div class="card index-child m-1">
    <div class="card-body p-2">
        <div class="card-title mb-1">
            {%- if list_path -%}
                {{- icons.link(path(list_path), entity ~ '.list.title', 'card-link', icon, 'index.panel_title_' ~ entity) -}}
            {%- else -%}
                {{- entity|trans -}}
            {%- endif -%}
        </div>
        <h3 class="font-weight-normal my-1">
            <span title="{{ ('index.panel_count_' ~ entity)|trans }}">{{- count|integer -}}</span>
        </h3>
    </div>
</div>
{%- endmacro %}

{# list access #}
{%- set task_path = is_granted(ATTRIBUTE_LIST, ENTITY_TASK) ? 'task_table' : false -%}
{%- set group_path = is_granted(ATTRIBUTE_LIST, ENTITY_GROUP) ? 'group_table' : false -%}
{%- set product_path = is_granted(ATTRIBUTE_LIST, ENTITY_PRODUCT) ? 'product_table' : false -%}
{%- set category_path = is_granted(ATTRIBUTE_LIST, ENTITY_CATEGORY) ? 'category_table' : false -%}
{%- set margin_path = is_granted(ATTRIBUTE_LIST, ENTITY_GLOBAL_MARGIN) ? 'globalmargin_table' : false -%}
{%- set state_path = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION_STATE) ? 'calculationstate_table' : false -%}

<div class="card mb-2">
    <div class="card-header">
        <h1 class="card-title">
            {{ icons.icon("database", "index.panel_count") }}
        </h1>
    </div>
    <div class="card-body index-parent no-gutters p-1">
        {{ _self.cardEntry('product', product_count, product_path, ICON_PRODUCT) }}
        {{ _self.cardEntry('task', task_count, task_path, ICON_TASK) }}
        {{ _self.cardEntry('category', category_count, category_path, ICON_CATEGORY) }}
        {{ _self.cardEntry('group', group_count, group_path, ICON_GROUP) }}
        {{ _self.cardEntry('calculationstate', state_count, state_path, ICON_CALCULATIONSTATE) }}
        {{ _self.cardEntry('globalmargin', margin_count, margin_path, ICON_GLOBALMARGIN) }}
    </div>
</div>
