{# import #}
{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{% from 'macros/_attributes.html.twig' import attributes %}
{% import 'index/_macros.html.twig' as macros %}
{# macros #}
{% macro cardEntry(month, list_path, min_margin) -%}
<div class="border index-child m-1">
    <div class="position-relative body-tooltip p-2">
        {%- set text = month.date|locale_date('none', 'MMMM Y') -%}
        {%- if list_path -%}
            {%- set list_title = 'index.panel_month_title'|trans({'%month%': text}) -%}
            <a href="{{ path(list_path, {search: month.date|locale_date('none', 'MM.Y')}) }}" class="stretched-link" title="{{ list_title }}">
                {{- text -}}
            </a>
        {%- else -%}
            <span>{{ text }}</span>
        {%- endif -%}
        <div class="h4 fw-normal my-1">
            <span title="{{ 'index.panel_title_total'|trans }}">{{- month.total|integer }}</span> {{ macros.margin(month.margin_percent, min_margin) -}}
        </div>
        <p class="mb-0" title="{{ 'index.panel_title_count'|trans }}">
            {{- 'counters.calculations'|trans({count: month.count}) -}}
        </p>
    </div>
</div>
{%- endmacro %}
{# parameters #}
{%- set panel_key = 'DISPLAY_MONTH' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'about.collapse' : 'about.expand' -%}
{%- set list_path = is_granted_calculation ? 'calculation_table' : false -%}
{%- set is_months = months|length -%}
{%- set header_attributes = header_attributes|merge({
    href: '#' ~ panel_key,
    title: panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
{# content #}
<div class="card card-collapse card-month mb-2" data-path="{{ path('homepage_hide_month') }}">
    <div class="card-header d-flex-wrap-center">
        <a{{ attributes(header_attributes) }}>
            {{- icon('calendar-alt ms-1 far', 'index.panel_month') -}}
        </a>
        {%- if list_path and is_months -%}
            {{ link(path('chart_month'), null, 'btn btn-link p-0 d-print-none', 'chart-column fa-fw', 'index.menu_chart_title') }}
            {% if is_granted(PERMISSION_EXPORT, ENTITY_CALCULATION) %}
                {{ linkExternal(path('chart_month_pdf', {count: months|length}), null, 'btn btn-link p-0 d-print-none', ICON_PDF ~ ' fa-fw', 'common.button_export_pdf') }}
            {% endif %}
        {%- endif -%}
        <button type="button" class="btn btn-link hide-panel text-body p-0" title="{{ 'index.panel_month_hide'|trans }}">
            {{- icon('xmark') -}}
        </button>
    </div>
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}">
    {% if is_months %}
        <div class="card-body index-parent g-0 p-1">
            {% for month in months %}
                {{ _self.cardEntry(month, list_path, min_margin) }}
            {% endfor %}
        </div>
    {% else %}
        {{ macros.empty() }}
    {% endif %}
    </div>
</div>
