{% from 'macros/_icons.html.twig' import icon, link %}
{% from 'macros/_attributes.html.twig' import attributes %}
{# macros #}
{% macro cardEntry(entity, count, index_route, add_route, icon) -%}
{% set entity_text = entity ~ '.list.title' %}
{% set entity_title = 'index.panel_title_' ~ entity %}
{% set counter_title = 'index.panel_count_' ~ entity %}
 {% set add_title = entity ~ '.add.title' %}
<div class="border index-child item-hover p-2 m-1">
    <div class="d-flex">
        <div class="me-auto">
            {%- if index_route -%}
                {{- link(href: path(index_route), text: entity_text, icon: icon, title: entity_title) -}}
            {%- else -%}
                <div>{{ entity|trans }}</div>
            {%- endif -%}
        </div>
        {%- if add_route -%}
            {{- link(href: path(add_route, {caller: path(app.current_route)}), icon: 'pen-to-square fa-fw', title: add_title) -}}
        {%- endif -%}
    </div>
    <h4 class="fw-normal my-0">
        <span title="{{ counter_title|trans }}">{{- count|integer -}}</span>
    </h4>
</div>
{%- endmacro %}
{# parameters #}
{%- set panel_key = 'DISPLAY_CATALOG' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'common.collapse' : 'common.expand' -%}
{# entities #}
{%- set task_index = is_granted(PERMISSION_LIST, ENTITY_TASK) ? 'task_index' : false -%}
{%- set task_add = is_granted(PERMISSION_ADD, ENTITY_TASK) ? 'task_add' : false -%}
{%- set group_index = is_granted(PERMISSION_LIST, ENTITY_GROUP) ? 'group_index' : false -%}
{%- set group_add = is_granted(PERMISSION_ADD, ENTITY_GROUP) ? 'group_add' : false -%}
{%- set product_index = is_granted(PERMISSION_LIST, ENTITY_PRODUCT) ? 'product_index' : false -%}
{%- set product_add = is_granted(PERMISSION_ADD, ENTITY_PRODUCT) ? 'product_add' : false -%}
{%- set category_index = is_granted(PERMISSION_LIST, ENTITY_CATEGORY) ? 'category_index' : false -%}
{%- set category_add = is_granted(PERMISSION_ADD, ENTITY_CATEGORY) ? 'category_add' : false -%}
{%- set state_index = is_granted(PERMISSION_LIST, ENTITY_CALCULATION_STATE) ? 'calculationstate_index' : false -%}
{%- set state_add = is_granted(PERMISSION_ADD, ENTITY_CALCULATION_STATE) ? 'calculationstate_add' : false -%}
{%- set margin_index = is_granted(PERMISSION_LIST, ENTITY_GLOBAL_MARGIN) ? 'globalmargin_index' : false -%}
{%- set header_attributes = header_attributes|merge({
    href: '#' ~ panel_key,
    title: panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
{# content #}
<div class="card card-collapse card-catalog mb-2" data-path="{{ path('homepage_hide_catalog') }}">
    <div class="card-header d-flex-wrap-center">
        <a{{ attributes(header_attributes) }}>
            {{- icon('database ms-1', 'index.panel_catalog') -}}
        </a>
        <button type="button" class="btn btn-link hide-panel text-body p-0" title="{{ 'index.panel_catalog_hide'|trans }}">
            {{- icon('xmark fa-fw') -}}
        </button>
    </div>
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}">
        <div class="card-body index-parent g-0 p-1">
            {{ _self.cardEntry('product', catalog.product, product_index, product_add, ICON_PRODUCT) }}
            {{ _self.cardEntry('task', catalog.task, task_index, task_add, ICON_TASK) }}
            {{ _self.cardEntry('category', catalog.category, category_index, category_add, ICON_CATEGORY) }}
            {{ _self.cardEntry('group', catalog.group, group_index, group_add, ICON_GROUP) }}
            {{ _self.cardEntry('calculationstate', catalog.calculationState, state_index, state_add, ICON_CALCULATION_STATE) }}
            {{ _self.cardEntry('globalmargin', catalog.globalMargin, margin_index, null, ICON_GLOBAL_MARGIN) }}
        </div>
    </div>
</div>
