{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'search.title' -%}
{%- set title_icon = 'search' -%}
{%- set path = path('homepage') -%}
{%- set allow_global = false -%}
{%- set entity = customData.entity|default('') -%}

{% block header_actions %}
<small id="search_minimum" class="text-danger d-print-none">{{ 'search.minimum'|trans }}</small>
{% endblock %}

{% block toolbar_actions -%}
{% if customData.entities and customData.entities|length > 1 %}
<div class="input-group-append btn-dropdown">
    <button id="entity" data-value="{{ entity }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'datatable.all'|trans }}" title="{{ 'search.entity_help'|trans }}">
        {{- entity ? customData.entities[entity]|trans : 'datatable.all'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="entity">
        {{ _self.output_dropdown('entity', '', entity, 'datatable.all'|trans) }}
        {% for key, value in customData.entities %}
        {{ _self.output_dropdown('entity', key, entity, value|trans) }}
        {% endfor %}
    </div>
</div>
{% endif %}
{%- endblock %}

{% block other_actions -%}
{%- set show_class = show_class ~ ' btn-search btn-show' -%}
{%- set edit_class = show_class ~ ' btn-search btn-edit' -%}
{{- _self.item_path(path ~ '_type_/show/_id_', 'common.button_show', ICON_SHOW, show_class) }}
{{- _self.item_path(path ~ '_type_/edit/_id_', 'common.button_edit', ICON_EDIT, edit_class) }}
{{- _self.item_path(path ~ '_type_/delete/_id_', 'common.button_delete', ICON_DELETE, 'btn-search btn-delete') }}
{%- endblock %}

{% block custom_view_header -%}
<a href="#" class="item-link text-body">%entityname%</a>
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_row('search.fields.field', '%fieldname%') }}
{{ _self.property_row('search.fields.content', '%content%', 'text-truncate') }}
{%- endblock %}
