{% extends 'cards/card_table.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro add_options(values) %}
<option value="">{{ 'datatable.all'|trans }}</option>
{% for key in values|keys %}
    <option value="{{ key }}">{{ key|humanize }}</option>
{% endfor %}
{% endmacro %}

{# parameters #}
{%- set title       = 'log.title' -%}
{%- set title_icon  = 'book' -%}
{%- set object_type = EntityVoterInterface.ENTITY_LOG -%}

{# actions #}
{%- set params        = {'id': 0} -%}
{%- set show_path     = path('log_show', params) -%}
{%- set show_title    = 'log.show.title' %}
{%- set pdf_path      = path('log_pdf') -%}
{%- set pdf_title     = 'log.show.pdf_title' %}

{% block card_header %}
{{ parent() }}
<small class="ml-3">{{ 'log.show.file'|trans({'%file%': file}) }}</small>
{% endblock %}

{% block row_input %}
<div class="col-auto pr-0">
    <div class="form-inline">
        <label class="mr-2" for="channel">{{ 'log.fields.channel'|trans }}</label>
        <select id="channel" name="channel" class="form-control form-control-sm custom-select custom-select-sm">
        {{ _self.add_options(channels) -}}
        </select>
    </div>
</div>
<div class="col-auto pr-0">
    <div class="form-inline">
        <label class="mr-2" for="level">{{ 'log.fields.level'|trans }}</label>
        <select id="level" name="level" class="form-control form-control-sm custom-select custom-select-sm">
        {{ _self.add_options(levels) -}}
        </select>
    </div>
</div>
{% endblock %}

{% block table_actions %}
{{ parent() }}
{{ icons.dropdownItem(path('log_delete', {'route' : app.request.get('_route')}), 'log.delete.title', 'times') }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItem(path('log_refresh', {'route' : app.request.get('_route')}), 'common.button_refresh', 'sync-alt') }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItemCard('log_list') }}
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/logs_table.css') }}
{% endblock %}

{% block javascripts -%}
{{- parent() }}
{{- asset_js('js/application/log_table.js') }}
{% endblock %}
