{% extends 'cards/card_show.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}

{# macros #}
{% macro format_var(value) -%}
{{- value|var_export|replace({
    '[': '<samp class="text-danger">[</samp>',
    ']': '<samp class="text-danger">]</samp>',
    '"': '<samp class="text-danger">"</samp>',
    '\'': '<samp class="text-danger">\'</samp>',
    '=>': '<samp class="text-danger">=></samp>',
    ',': '<samp class="text-muted">,</samp>'
})|raw -}}
{%- endmacro %}

{% macro formatArray(name, value) %}
{%- if value|length -%}
    <tr>
        <td class="w-25">{{ name|trans }}</td>
        <td class="w-75">
            <pre class="text-break text-success white-space-pre-wrap mb-0">{{- _self.format_var(value) -}}</pre>
        </td>
    </tr>
{%- endif -%}
{% endmacro %}

{% macro formatSql(name, value) %}
<tr>
    <td class="w-25">{{ name|trans }}</td>
    <td class="w-75">{{ value|doctrine_format_sql(true) }}</td>
</tr>
{% endmacro %}

{% macro level_class(level, background) -%}
{% switch level -%}
{%- case 'error' %}
    {%- set class = 'danger' -%}
{%- case 'critical' -%}
    {%- set class = 'danger' -%}
{%- case 'alert' -%}
    {%- set class = 'danger' -%}
{%- case 'emergency' -%}
    {%- set class = 'danger' -%}
{%- case 'warning' -%}
    {%- set class = 'warning' -%}
{%- case 'info' -%}
    {%- set class = 'info' -%}
{%- case 'notice' -%}
    {%- set class = 'info' -%}
{%- case 'debug' -%}
    {%- set class = 'secondary' -%}
{%- default -%}
    {%- set class = 'secondary' -%}
{%- endswitch %}
{% if background %}
    {%- set class = ' border-' ~ class ~ ' text-white bg-' ~ class -%}
{%- else -%}
    {%- set class = ' border-' ~ class -%}
{% endif %}
{{- class -}}
{%- endmacro %}

{# parameters #}
{%- set id = item.id -%}
{%- set title = 'log.show.title' -%}
{%- set route = route|default('log_table') -%}
{%- set params = route_params(app.request, id) -%}

{# actions #}
{%- set cancel_path = cancel_url(app.request, id, route) -%}

{# classes #}
{% block card_container_class '' %}
{% block card_class -%}{{ _self.level_class(item.level, false) }}{%- endblock %}
{% block card_header_class -%}{{ _self.level_class(item.level, true) }}{%- endblock %}

{# properties #}
{% block property_body %}
{{ properties.property('log.fields.createdAt', item.createdAt|localedatetime(null, 'medium')) }}
{{ properties.property('log.fields.channel', item.channel|humanize) }}
{{ properties.property('log.fields.level', item.level|humanize) }}
{%- if item.channel == 'doctrine' -%}
{{ _self.formatSql('log.fields.message', item.message) }}
{%- else -%}
{{ properties.property('log.fields.message', item.message, 'text-break') }}
{%- endif -%}
{{ _self.formatArray('log.fields.context', item.context) }}
{{ _self.formatArray('log.fields.extra', item.extra) }}
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/logs_boostrap_table.css') }}
{% endblock %}
