{% extends 'cards/card_table.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro add_options(values) %}
<option value="">{{ 'datatable.all'|trans }}</option>
{% for key in values|keys %}
    <option value="{{ key }}">{{ key|humanize }}</option>
{% endfor %}
{% endmacro %}

{% macro fill_options(options, suffix, all_text) %}
<button class="dropdown-item dropdown-{{ suffix }} active" type="button" data-id="">{{ 'datatable.all'|trans }}</button>
{% for key in options|keys %}
    <button class="dropdown-item dropdown-{{ suffix }}" type="button" data-id="{{ key }}">{{ key|humanize }}</button>
{% endfor %}
{% endmacro %}

{# parameters #}
{%- set title = 'log.title' -%}
{%- set title_icon = 'book' -%}
{%- set object_type = ENTITY_LOG -%}

{# actions #}
{%- set params = {'id': 0} -%}
{%- set show_path = path('log_show', params) -%}
{%- set pdf_path = path('log_pdf') -%}
{%- set excel_path = path('log_excel') -%}

{# titles #}
{%- set show_title = 'log.show.title' %}
{%- set pdf_title = 'log.list.pdf_title' %}
{%- set excel_title = 'log.list.excel_title' -%}

{% block card_header %}
{{ parent() }}
<small class="ml-3">{{ 'log.list.file'|trans({'%file%': file}) }}</small>
{% endblock %}

{% block search_input -%}
<div class="input-group-append" id="dropdown-menu-channel">
    <button id="button-channel" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" reference="dropdown-channel" aria-haspopup="true" aria-expanded="false" data-default="{{ 'log.fields.channel'|trans }}" title="{{ 'log.list.channel_help'|trans }}">
        {{- 'log.fields.channel'|trans -}}
    </button>
    <div class="dropdown-menu">
        {{ _self.fill_options(channels, 'channel') -}}
    </div>
    <input type="hidden" id="channel" name="channel">
</div>
<div class="input-group-append" id="dropdown-menu-level">
    <button id="button-level" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" reference="dropdown-level" aria-haspopup="true" aria-expanded="false" data-default="{{ 'log.fields.level'|trans }}" title="{{ 'log.list.level_help'|trans }}">
        {{- 'log.fields.level'|trans -}}
    </button>
    <div class="dropdown-menu">
        {{ _self.fill_options(levels, 'level') -}}
    </div>
    <input type="hidden" id="level" name="level">
</div>
{%- endblock %}

{% block table_actions %}
{{ parent() }}
{{ icons.dropdownItem(path('log_delete', {'route': app.request.get('_route')}), 'log.delete.title', 'times') }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItem(path('log_refresh', {'route': app.request.get('_route')}), 'common.button_refresh', 'sync-alt') }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItemCard('log_card') }}
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/logs_table.css') }}
{% endblock %}

{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/application/log_table.js') }}
{% endblock %}
