{% extends 'cards/card_show.html.twig' %}

{# macros #}
{% macro formatArray(name, value) %}
{% import 'log/_macro_log.html.twig' as tools %}
{%- if value|length -%}
    <tr>
        <td class="w-25">{{ name|trans }}</td>
        <td class="w-75">
            <pre class="text-break text-success white-space-pre-wrap mb-0">{{- tools.format_var(value) -}}</pre>
        </td>
    </tr>
{%- endif -%}
{% endmacro %}
{% macro formatSql(name, value) %}
<tr>
    <td class="w-25">{{ name|trans }}</td>
    <td class="w-75">{{ value|doctrine_format_sql(true)  }}</td>
</tr>
{% endmacro %}
{% macro level_class(level, background) -%}
{% switch level -%}
{%- case 'error' %}
	{%- set class = 'danger' -%}
{%- case 'critical' -%}
	{%- set class = 'danger' -%}
{%- case 'alert' -%}
	{%- set class = 'danger' -%}
{%- case 'emergency' -%}
	{%- set class = 'danger' -%}
{%- case 'warning' -%}	
	{%- set class = 'warning' -%}
{%- case 'info' -%}
	{%- set class = 'info' -%}
{%- case 'notice' -%}
	{%- set class = 'info' -%}
{%- case 'debug' -%}
    {%- set class = 'secondary' -%}
{%- default -%}
	{%- set class = 'secondary' -%}
{%- endswitch %}
{% if background %}
	{%- set class = ' border-' ~ class ~ ' text-white bg-' ~ class -%}
{%- else -%}
	{%- set class = ' border-' ~ class -%}
{% endif %}
{{- class -}}
{%- endmacro %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}

{# parameters #}
{%- set id     = item.id -%}
{%- set title  = 'logs.show.title' -%}
{%- set route  = route|default('log_table') -%}
{%- set params = route_params(app.request, id) -%}

{# actions #}
{%- set cancel_path = cancel_url(app.request, id, route) -%}

{# classes #}
{% block card_container_class '' %}
{% block card_class -%}{{ _self.level_class(item.level, false) }}{%- endblock %}
{% block card_header_class -%}{{ _self.level_class(item.level, true) }}{%- endblock %}

{# properties #}
{% block property_body %}
{{ properties.property('logs.fields.date', item.createdAt|localedatetime(null, 'medium')) }}
{{ properties.property('logs.fields.channel', item.channel|humanize) }}
{{ properties.property('logs.fields.level', item.level|humanize) }}
{%- if item.channel == 'doctrine' -%}
{{ _self.formatSql('logs.fields.message', item.message) }}
{%- else -%}
{{ properties.property('logs.fields.message', item.message, 'text-break') }}
{%- endif -%}
{{ _self.formatArray('logs.fields.context', item.context) }}
{{ _self.formatArray('logs.fields.extra', item.extra) }}
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/logs.css') }}
{% endblock %}
