{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'log.title' -%}
{%- set title_icon = ICON_LOG -%}
{%- set channel = customData.channel|default('') -%}
{%- set level = customData.level|default('') -%}
{%- set object_type = ENTITY_LOG -%}

{% block header_actions %}
<small>{{ 'log.list.file'|trans({'%file%': customData.file}) }}</small>
{% endblock %}

{% block toolbar_actions -%}
{% if customData.channels|length > 1 %}
<div class="input-group-append">
    <button id="channel" data-value="{{ channel }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'log.fields.channel'|trans }}" title="{{ 'log.list.channel_help'|trans }}">
        <i class="fa-solid fa-tools"></i>&nbsp;{{- channel|length ? channel|capitalize : 'log.fields.channel'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="channel">
        {{ _self.output_dropdown('channel', '', channel, 'datatable.all'|trans) }}
        {% for key in customData.channels %}
        {{ _self.output_dropdown('channel', key, channel, key|capitalize) }}
        {% endfor %}
    </div>
</div>
{% endif %}
{% if customData.levels|length > 1 %}
<div class="input-group-append">
    <button id="level" data-value="{{ level }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'log.fields.level'|trans }}" title="{{ 'log.list.level_help'|trans }}">
        <i class="fa-solid fa-layer-group"></i>&nbsp;{{- level|length ? level|capitalize : 'log.fields.level'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="level">
        {{ _self.output_dropdown('level', '', level, 'datatable.all'|trans) }}
        {% for key in customData.levels %}
        {{ _self.output_dropdown('level', key, level, key|capitalize) }}
        {% endfor %}
    </div>
</div>
{% endif %}
{%- endblock %}

{% block global_actions -%}
{%- set route = app.request.get('_route') -%}
{{- _self.item_global(path('log_refresh', {'route': route}), 'common.button_refresh', 'sync-alt') }}
{{- _self.item_separator() }}
{{- _self.item_global(path('log_delete', {'route': route}), 'log.delete.title', 'times') }}
{{- _self.item_separator() }}
{{- _self.item_external(path('log_pdf'), 'log.list.pdf_title', 'file-pdf far') }}
{{- _self.item_external(path('log_excel'), 'log.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('log_show', params), 'log.show.title', 'tv', 'btn-show btn-default') }}
{%- endblock %}

{% block stylesheets %}
{{ asset_css('css/logs_boostrap_table.css') }}
{% endblock %}

{% block custom_view_card_class ' text-border' %}
{% block custom_view_header -%}
{%- if allow_show -%}
    <a href="{{ path('log_show', params) }}" class="item-link text-body" title="{{ 'log.show.title'|trans }}">%createdAt%</a>
{%- else -%}
    <span>%createdAt%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%message%') }}
{{ _self.property_row('log.fields.channel', '%channel%') }}
{{ _self.property_row('log.fields.level', '%level%') }}
{{ _self.property_row('log.fields.user', '%user%') }}
{%- endblock %}
