{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage, button_close_modal %}
{% from 'macros/_properties.html.twig' import stateCss %}
{# parameters #}
{%- set title = 'archive.title' -%}
{%- set title_icon = 'calendar-xmark far' -%}
{%- set title_description = 'archive.result.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set results = result.results -%}
{# body #}
{% block card_body %}
<div class="table-responsive position-relative">
    <table class="table table-no-bottom table-sm mb-0">
        <tr>
            <td class="text-nowrap">{{ 'archive.result.date'|trans }}</td>
            <td class="text-right">{{ result.date|locale_date('full') }}</td>
        </tr>
        <tr>
            <td class="text-nowrap">{{ 'archive.result.new_state'|trans }}</td>
            <td class="text-right">{{ result.target.code }}</td>
        </tr>
        {% if result.valid %}
            <tr>
                <th class="pt-3 text-nowrap">{{ 'archive.result.old_state'|trans }}</th>
                <th class="pt-3 text-right">{{ 'archive.result.calculations'|trans }}</th>
            </tr>
            {% for key, value in results %}
                <tr>
                    <td class="text-border" style="{{ stateCss(value.state.color) }}">{{ key }}</td>
                    <td class="text-right">{{ value.calculations|length|integer }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th class="text-border">{{ 'archive.result.total'|trans }}</th>
                <th class="text-right">
                    <a href="#" class="stretched-link text-decoration-none text-reset" title="{{ 'archive.result.show'|trans }}" data-toggle="modal" data-target="#modal-result">{{ result.total|integer }}</a>
                </th>
            </tr>
        {% endif %}
    </table>
</div>
{% if result.valid %}
    {% if result.simulate %}
        <hr class="mt-0"/>
        <p class="mb-0 text-right text-muted small">{{ 'common.simulate.message'|trans }}</p>
    {% endif %}
    {# results dialog #}
    <div class="modal fade" id="modal-result" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title|trans }}</h5>{{ button_close_modal() }}
                </div>
                <div class="modal-body">
                    <label class="font-weight-bold">{{ 'archive.result.calculations'|trans }}</label>
                    <div id="overflow" class="overflow-auto table-fixed-header small-scrollbar border">
                        <table id="table-result" class="table table-hover table-sm mb-0">
                            <tbody>
                            {%- set border = ' border-top-0' -%}
                            {% for key, value in results %}
                                {%- set style = stateCss(value.state.color) -%}
                                <tr class="bg-themed">
                                    <th class="text-border{{ border }}" colspan="4" style="{{ style }}">{{ key }}</th>
                                    <th class="text-currency{{ border }}"colspan="2">{{ 'counters.calculations'|trans({'count': value.calculations|length}) }}</th>
                                </tr>
                                {% for calculation in value.calculations %}
                                <tr>
                                    <td class="text-id text-border" style="{{ style }}">{{ calculation.id|identifier }}</td>
                                    <td class="text-date">{{ calculation.date|locale_date }}</td>
                                    <td class="text-nowrap">{{ calculation.customer }}</td>
                                    <td class="text-nowrap">{{ calculation.description }}</td>
                                    <td class="text-percent">{{ calculation.overallMargin|percent }}</td>
                                    <td class="text-currency">{{ calculation.overallTotal|amount }}</td>
                                </tr>
                                {% endfor %}
                                {%- set border = '' %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="bg-themed">
                                    <th class="text-border" colspan="4">{{ 'archive.result.total'|trans }}</th>
                                    <th class="text-right" colspan="2">{{ 'counters.calculations'|trans({'count': result.total}) }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row align-items-center no-gutters w-100">
                        <div class="col">
                            {{ button_close_modal(false) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning text-center mt-4 mb-0" role="alert">
        {{- 'archive.result.empty'|trans -}}
    </div>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
{{ homepage() }}
{{ link(path('admin_archive'), 'archive.result.new_archive', 'btn btn-form btn-secondary', null) -}}
{% endblock %}
