{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'archive.title' -%}
{%- set title_icon = 'calendar-xmark far' -%}
{%- set title_description = 'archive.edit.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set submit_text = 'archive.edit.submit' -%}
{%- set form_attr = form_attr|default({})|merge({'data-error': 'archive.edit.error'|trans}) -%}
{# body #}
{% block card_body %}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form.sources) }}
    </div>
</div>
    {{ form_row(form.target) }}
<hr>
{{ form_row(form.simulate) }}
{{ form_row(form.confirm) }}
{{ form_rest(form) }}
{% if last_update is defined and last_update %}
    {%- set date = last_update|locale_datetime('long', 'short') -%}
    <hr class="my-2">
    <p class="mb-0 text-right text-muted small">{{ 'archive.edit.last_update'|trans({'%date%': date}) }}</p>
{% endif %}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-simulate.js') }}
{{ asset_js('js/application/calculation_archive.js') }}
{% else %}
{{ asset_js('js/calculation_archive.js') }}
{% endif %}
{% endblock %}
