{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, button_pdf %}
{# parameters #}
{%- set title = 'admin.commands.title' -%}
{%- set title_icon = 'code' -%}
{%- set title_description = 'admin.commands.description' -%}
{%- set selection = command.name -%}
{# body #}
{% block card_body %}
<div class="mb-3">
    <label for="command" class="form-label">{{ 'admin.commands.command'|trans }}</label>
    <select id="command" name="command" class="form-select" data-url="{{ path('command_content', {'name': 'query'}) }}">
    {% for name in names %}
        <option{% if name == selection %} selected="selected"{% endif %}>{{ name }}</option>
    {% endfor %}
    </select>
</div>
{{ include('admin/_command.htm.twig', {'command': command}, with_context=false) }}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap">
    {{ homepage() }}
    {{ button_pdf('command_pdf') }}
    <small class="ms-auto">{{ 'admin.commands.counter'|trans({'%count%': names|length|integer}) }}</small>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts -%}
    {{ parent() }}
    {{ asset_js('js/application/commands.js') }}
{%- endblock %}
