{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, button_copy %}
{# parameters #}
{%- set title = 'admin.dump_sql.title' -%}
{%- set title_icon = 'database' -%}
{%- set title_description = 'admin.dump_sql.description' -%}
{# body #}
{% block card_body %}
<div class="mb-1">{{ 'admin.dump_sql.count'|trans({'%count%': count|integer}) }}</div>
<div class="border pre-scrollable pre-scrollable-highlight-sql scrollbar-thin">
    {{ content|var_export_sql|raw }}
</div>
{% endblock card_body %}
{# footer #}
{% block card_footer %}
    {{ homepage() }}
    {{ button_copy('.highlight.highlight-sql') }}
{% endblock card_footer %}
{# stylesheets #}
{% block stylesheets %}
    {{ parent() }}
    {{- asset_css('css/highlight.css') }}
{% endblock stylesheets %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('build/clipboard/clipboard.js') }}
    {{ asset_js('js/plugins/plugin-copy.js') }}
    {{ asset_js('js/application/dump_sql.js') }}
{%- endblock javascripts %}
