{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import button_close_modal %}
{# parameters #}
{%- set title = 'generate.title' -%}
{%- set title_icon = 'random' -%}
{%- set title_description = 'generate.description' -%}
{%- set submit_text = 'generate.submit_text' -%}
{%- set form_attr = form_attr|default({})|merge({
    'data-empty': 'generate.error.empty'|trans,
    'data-error': 'generate.error.failed'|trans
}) -%}
{# body #}
{% block card_body %}
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.entity) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.count) }}
    </div>
</div>
{{ form_row(form.simulate) }}
{{ form_row(form.confirm) }}
{# results message #}
<div id="message-result" class="alert alert-primary mb-0" style="display: none;">
    <div class="row position-relative">
        <div class="col-auto mr-auto">
            <p id="message" class="mb-0">{{ 'generate.error.empty'|trans }}</p>
        </div>
        <div class="col-auto text-right position-static">
            <a href="#" class="alert-link stretched-link" data-toggle="modal" data-target="#modal-result" title="{{ 'generate.result_link'|trans }}">
                <i class="fa-fw fa-solid fa-eye"></i>
            </a>
        </div>
    </div>
</div>
{# results dialog #}
<div class="modal fade" id="modal-result" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title|trans }}</h5>{{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <label class="font-weight-bold">{{ 'generate.result_text'|trans }}</label>
                <div id="overflow" class="overflow-auto table-fixed-header border">
                    <table id="table-result" class="table table-hover table-fixed-header table-sm">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row no-gutters w-100">
                    <div class="col-md-3">
                        {{ button_close_modal(false) }}
                    </div>
                    <div class="col-md-9 text-md-right">
                        <p id="simulated" class="small mb-0 d-none">{{ 'common.simulate.message'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('js/plugins/plugin-simulate.js') }}
    {{ asset_js('js/application/generate.js') }}
{% endblock %}
