{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'generate.title' -%}
{%- set title_icon = 'random' -%}
{%- set title_description = 'generate.description' -%}
{%- set submit_text = 'generate.submit_text' -%}
{%- set form_attr = form_attr|default({})|merge({
	'data-empty': 'generate.error.empty'|trans,
	'data-error': 'generate.error.failed'|trans
}) -%}

{% block card_body %}
<div class="form-row">
	<div class="col-md-8">
		{{ form_row(form.entity) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.count) }}
	</div>
</div>
{{ form_row(form.simulate) }}
{{ form_row(form.confirm) }}
{# results message #}
<div id="message-result" class="text-center d-none">
	<hr class="mb-2">
	<a href="#" id="message" title="{{ 'generate.result_text'|trans }}" data-toggle="modal" data-target="#modal-result">{{ 'generate.result_text'|trans }}</a>
</div>
{# results dialog #}
<div class="modal fade" id="modal-result" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header">
                <h5 class="modal-title">{{ title|trans }}</h5>
                {{ icons.button_close_modal }}
            </div>
    		<div class="modal-body">
    			<label class="font-weight-bold">{{ 'generate.result_text'|trans }}</label>
    			<div id="overflow" class="overflow-auto border-bottom" style="max-height: 308px;">
    				<table class="table table-hover table-sm mb-0" id="result">
    				</table>
    			</div>
        		<p id="simulated" class="text-muted text-right small mt-2 mb-0 d-none">{{ 'generate.result_simulated'|trans }}</p>
    		</div>
    		<div class="modal-footer">
                <button type="button" class="btn btn-form btn-secondary" data-dismiss="modal">{{ 'common.button_close'|trans }}</button>
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/application/generate.js') }}
{% endblock %}
