{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import button_close_modal %}
{# parameters #}
{%- set title = 'generate.title' -%}
{%- set title_icon = 'random' -%}
{%- set title_description = 'generate.description' -%}
{%- set submit_text = 'generate.submit_text' -%}
{%- set form_attr = form_attr|default({})|merge({
    'data-empty': 'generate.error.empty'|trans,
    'data-error': 'generate.error.failed'|trans,
}) -%}
{# body #}
{% block card_body %}
<div class="row">
    <div class="col-md-8">
        {{ form_row(form.entity) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.count) }}
    </div>
</div>
{{ form_row(form.simulate) }}
{{ form_row(form.confirm) }}
{# results message #}
<div id="message-result" class="alert alert-success mb-0" style="display: none;">
    <div class="hstack">
        <p id="message" class="mb-0 me-auto">{{ 'generate.error.empty'|trans }}</p>
        <a href="#modal-result" class="alert-link stretched-link" data-bs-toggle="modal" title="{{ 'generate.result_link'|trans }}">
            <i class="fa-fw fa-solid fa-eye"></i>
        </a>
    </div>
</div>
{# results dialog #}
<div class="modal fade" id="modal-result" tabindex="-1" aria-labelledby="modal-generate-title" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-generate-title">{{ title|trans }}</h5>
                {{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <span class="form-label fw-bold">{{ 'generate.result_text'|trans }}</span>
                <div id="overflow" class="overflow-auto table-fixed-header small-scrollbar border">
                    <table id="table-result" class="table table-hover table-fixed-header table-sm">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex-wrap flex-fill">
                    <div class="me-auto">
                        {{ button_close_modal(false) }}
                    </div>
                    <p id="simulated" class="small mb-0 d-none">{{ 'simulate.message'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-simulate.js') }}
{{ asset_js('js/application/generate.js') }}
{% endblock %}
