{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title       = 'generate.title' -%}
{%- set title_icon  = 'random' -%}
{%- set submit_text = 'generate.submit_text' -%}
{%- set cancel_text = 'common.button_close' -%}

{% block card_container_class '' %}

{% block card_header %}
{{ parent() }}
<p class="ml-4 mb-0">{{ 'generate.description'|trans }}</p>
{% endblock %}

{% block card_body %}
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.entity) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.count) }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.simulate) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.confirm) }}
    </div>
</div>
<div class="row" id="content" style="display: none;">
    <div class="col">
        <table class="table table-sm mb-0" id="result"></table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/application/generate.js') }}
{% endblock %}
