{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title = 'import.title' -%}
{%- set title_icon = 'download' -%}
{%- set cancel_path = path('homepage') -%}

{% block card_header %}
{{ parent() }}
<p class="ml-4 mb-0">{{ 'import.description'|trans }}</p>
{% endblock %}

{% block card_body %}
{{ parent() }}
{% if last_import -%}
    {%- set date = last_import|localedate('long') -%}
    <p class="mb-0 text-right text-muted small">{{ 'import.last_import'|trans({'%date%': date}) }}</p>
{%- endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ asset_css('css/fileinput.css') }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-fileinput.js') }}
{{ asset_js('js/extensions/file-input-extensions.js') }}
{{ asset_js('js/application/import_file.js') }}
{% else %}
{{ asset_js('js/import_file.js') }}
{% endif %}
{% endblock %}
