{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'swisspost.title' -%}
{%- set title_icon = 'download' -%}
{%- set title_description = 'swisspost.result.description' -%}

{% block card_class -%}
{% if results.valid %}{{ parent() }}{% else %} border-danger{% endif %}
{%- endblock %}
{% block card_header_class -%}
{% if results.valid %}{{ parent() }}{% else %} text-white bg-danger{% endif %}
{%- endblock %}

{% block card_body %}
{%- if results.valid %}
<p>{{ 'swisspost.result.success'|trans({'%date%': results.validity|localedate('long')}) }}</p>
<table class="table table-bordered table-sm mb-0">
    <thead>
        <tr>
            <th>{{ 'swisspost.fields.objects'|trans }}</th>
            <th class="text-currency">{{ 'swisspost.fields.errors'|trans }}</th>
            <th class="text-currency">{{ 'swisspost.fields.valids'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'swisspost.fields.states'|trans }}</td>
            <td class="text-currency">{{ results.errorStates|integer }}</td>
            <td class="text-currency">{{ results.validStates|integer }}</td>
        </tr>
        <tr>
            <td>{{ 'swisspost.fields.cities'|trans }}</td>
            <td class="text-currency">{{ results.errorCities|integer }}</td>
            <td class="text-currency">{{ results.validCities|integer }}</td>
        </tr>
        <tr>
            <td>{{ 'swisspost.fields.streets'|trans }}</td>
            <td class="text-currency">{{ results.errorStreets|integer }}</td>
            <td class="text-currency">{{ results.validStreets|integer }}</td>
        </tr>
        <tr>
            <th>{{ 'swisspost.fields.total'|trans }}</<th>
            <th class="text-currency">{{ (results.errors)|integer }}</th>
            <th class="text-currency">{{ (results.valids)|integer }}</th>
        </tr>
    </tbody>
</table>
{%- else -%}
<p>{{ 'swisspost.result.failure'|trans }}</p>
{% if results.error -%}<p class="mb-0">{{ results.error }}</p>{%- endif %}
{%- endif %}
{% endblock %}

{% block card_footer %}
{{- icons.homepage() -}}
{% if not results.valid %}
    {{ icons.link(path('admin_import'), 'swisspost.result.new_import', 'btn btn-outline-secondary', null) -}}
{%- endif %}
{% endblock %}
