{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'swisspost.title' -%}
{%- set title_icon = 'download' -%}
{%- set title_description = 'swisspost.import.description' -%}
{%- set cancel_path = path('homepage') -%}
{# body #}
{% block card_body %}
{{ parent() }}
{%- if data_url|default(false) -%}
<p class="mb-0">
    {{ 'swisspost.import.data_url_text'|trans }} <a href="{{ data_url }}" target="_blank" rel="noopener noreferrer" title="Accéder au site">{{ 'swisspost.import.data_url_content'|trans }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</p>
{%- endif -%}
{% if last_import|default(false) -%}
<hr />
{%- set date = last_import|locale_date('long') -%}
<p class="mb-0 text-end text-body-secondary small">{{ 'swisspost.import.last_import'|trans({'%date%': date}) }}</p>
{%- endif %}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if is_js_debug %}
    {{ parent() }}
    {{ asset_js('js/application/import_file.js') }}
{% else %}
    {{ asset_js('js/compiled/import_file.js') }}
{% endif %}
{% endblock %}
