{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title      = 'import.title' -%}
{%- set title_icon = 'download' -%}

{% block card_header %}
{{ parent() }}
<p class="ml-4 mb-0">{{ 'import.results'|trans }}
{% endblock %}

{% block card_class -%}
{% if data.valid %}{{ parent() }}{% else %} border-danger{% endif %}
{%- endblock %}
{% block card_header_class -%}
{% if data.valid %}{{ parent() }}{% else %} text-white bg-danger{% endif %}
{%- endblock %}

{% block card_body %}
{%- if data.valid %}
<p>{{ 'import.success'|trans({'%date%': data.validity|localedate('long')}) }}</p>
<table class="table table-bordered table-sm mb-0">
    <thead>
        <tr>
            <th>{{ 'import.objects'|trans }}</th>
            <th class="text-currency">{{ 'import.errors'|trans }}</th>
            <th class="text-currency">{{ 'import.valids'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ 'import.states'|trans }}</td>
            <td class="text-currency">{{ data.states.error|integer }}</td>
            <td class="text-currency">{{ data.states.valid|integer }}</td>
        </tr>
        <tr>
            <td>{{ 'import.cities'|trans }}</td>
            <td class="text-currency">{{ data.cities.error|integer }}</td>
            <td class="text-currency">{{ data.cities.valid|integer }}</td>
        </tr>
        <tr>
            <td>{{ 'import.streets'|trans }}</td>
            <td class="text-currency">{{ data.streets.error|integer }}</td>
            <td class="text-currency">{{ data.streets.valid|integer }}</td>
        </tr>
        <tr>
            <th>{{ 'import.total'|trans }}</<th>
            <th class="text-currency">{{ (data.states.error + data.cities.error + data.streets.error)|integer }}</th>
            <th class="text-currency">{{ (data.states.valid + data.cities.valid + data.streets.valid)|integer }}</th>
        </tr>
    </tbody>
</table>
{%- else -%}
<p>{{ 'import.failure'|trans }}</p>
{% if data.message is defined and data.message -%}<p class="mb-0">{{ data.message }}</p>{%- endif %}
{%- endif %}
{% endblock %}

{% block card_footer %}
{{- icons.homepage() -}}
{% endblock %}
