{# See http://symfony.com/doc/current/cookbook/form/form_customization.html#how-to-customize-an-individual-field #}
{% extends 'cards/card_edit.html.twig' %}
{% form_theme form with _self %}

{# macros #}
{% macro collapseLine(href) %}
{%- set name = ('parameters.group_' ~ href)|trans -%}
{%- set show = 'parameters.display_parameters.show'|trans({'%name%': name}) -%}
{%- set hide = 'parameters.display_parameters.hide'|trans({'%name%': name}) -%}
<div class="d-flex flex-row" style="margin-right: -8px;" data-show="{{ show }}" data-hide="{{ hide }}">
    <a href="#{{ href }}" role="button" aria-expanded="false" data-toggle="collapse" title="{{ show }}" class="horizontal-line flex-fill">{{ name }}</a>
    <a href="#{{ href }}" role="button" aria-expanded="false" data-toggle="collapse" title="{{ show }}" data-show="{{ show }}" data-hide="{{ hide }}"><i class="fa-solid fa-fw fa-lg fa-caret-left"></i></a>
</div>
{% endmacro %}

{# customized fields #}
{% block _parameters_message_sub_title_widget -%}
<div class="input-group">
    {{- block('choice_widget') -}}
    <div class="input-group-append d-print-none">
        <button class="btn btn-notify btn-outline-secondary" type="button">{{ 'parameters.action_test'|trans }}</button>
    </div>
</div>
{%- endblock %}

{# parameters #}
{%- set title = 'parameters.title' -%}
{%- set title_icon = 'cogs' -%}
{%- set title_description = 'parameters.description' -%}
{%- set super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set cancel_path = path('homepage') -%}
{%- set form_attr = form_attr|default({})|merge({
                        'data-random': url('ajax_random_text'),
                        'data-title': 'parameters.title'|trans,
                        'data-failure': 'parameters.failure'|trans}) -%}

{% block card_body -%}
<div class="accordion" id="parent_accordion">
    {{ _self.collapseLine('customer') }}
    <div class="toggle-icon collapse show" id="customer" data-parent="#parent_accordion" aria-expanded="true">
        {{ form_row(form.customer_name) }}
        {{ form_row(form.customer_address) }}
        {{ form_row(form.customer_zip_city) }}
        <div class="form-row ml-0 mt-1">
            <div class="col-md-6">{{ form_row(form.customer_phone) }}</div>
            <div class="col-md-6">{{ form_row(form.customer_fax) }}</div>
        </div>
        <div class="form-row ml-0 mt-1">
            <div class="col-md-6">{{ form_row(form.customer_email) }}</div>
            <div class="col-md-6">{{ form_row(form.customer_url) }}</div>
        </div>
    </div>
    {{ _self.collapseLine('default') }}
    <div class="toggle-icon collapse" id="default" data-parent="#parent_accordion">
        <div class="form-row ml-0 mt-1">
            <div class="col-md-4">
                {{ form_row(form.default_state) }}
            </div>
             <div class="col-md-4">
                {{ form_row(form.default_category) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.minimum_margin) }}
            </div>
        </div>
    </div>
    {{ _self.collapseLine('display') }}
    <div class="toggle-icon collapse" id="display" data-parent="#parent_accordion">
        <div class="form-row ml-0 mt-1">
            <div class="col-md-7">
                {{ form_row(form.display_tabular) }}
            </div>
            <div class="col-md-5">
                {{ form_row(form.edit_action) }}
            </div>
        </div>
    </div>
    {{ _self.collapseLine('message') }}
    <div class="toggle-icon collapse" id="message" data-parent="#parent_accordion">
        <div class="form-row ml-0 mt-1">
            <div class="col-md-4">
                {{ form_row(form.message_position) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.message_timeout) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.message_sub_title) }}
            </div>
        </div>
    </div>
    {% if super_admin %}
    {{ _self.collapseLine('options') }}
    <div class="toggle-icon collapse" id="options" data-parent="#parent_accordion">
        {{ form_row(form.qr_code) }}
        {{ form_row(form.print_address) }}
    </div>
    {{ _self.collapseLine('security') }}
    <div class="toggle-icon collapse" id="security" data-parent="#parent_accordion">
        <div class="form-row ml-0 mt-1">
            <div class="col-md-6">
                {{ form_row(form.display_captcha) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.minstrength) }}
            </div>
        </div>
        <label class="horizontal-line">{{ 'parameters.group_password'|trans }}</label>
        <div class="ml-2">
            {{ form_rest(form) }}
        </div>
    </div>
    {% endif %}
</div>
{%- endblock %}

{% block actions_form -%}
{{ parent() }}
<button type="button" class="btn btn-form btn-default btn-outline-success">{{ 'theme.default'|trans }}</button>
{%- endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/parameters_edit.js') }}
{% else %}
{{ asset_js('js/parameters_edit.js') }}
{% endif %}
{% endblock %}
