{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage, button_close_modal %}
{# macro #}
{% macro add_line_info(name, value) -%}
<tr>
    <td class="w-30 text-nowrap">{{ name|trans }}</td>
    <td>{{ value|raw }}</td>
</tr>
{%- endmacro %}
{# parameters #}
{%- set title = 'product.update.title' -%}
{%- set title_icon = ICON_PRODUCT -%}
{%- set title_description = 'product.result.description' -%}
{# body #}
{% block card_body %}
<table class="table table-sm border-bottom position-relative">
    {{ _self.add_line_info('category.fields.group', query.groupCode) }}
    {{ _self.add_line_info('product.fields.category', query.categoryCode) }}
    {{ _self.add_line_info('product.update.type', (query.percent ? 'product.update.percent' : 'product.update.fixed')|trans) }}
    {{ _self.add_line_info('product.result.value', query.formattedValue) }}
    {{ _self.add_line_info('product.update.round', query.round|boolean) }}
    {% if result.valid %}
        <tr>
            <td class="w-30 text-nowrap">{{ 'product.result.updated'|trans }}</td>
            <td>
                <a href="#" class="stretched-link text-decoration-none text-reset" data-toggle="modal" data-target="#resultModal" title="{{ 'product.result.updated'|trans }}">
                    {{- result.count|integer -}}
                </a>
            </td>
        </tr>
    {% endif %}
</table>
{% if result.valid %}
    {% if result.simulate %}
        <p class="mb-0 text-right text-muted small">{{ 'simulate.message'|trans }}</p>
    {% endif %}
{% else %}
    <div class="alert alert-warning mb-0" role="alert">
        {{- 'product.result.empty'|trans -}}
    </div>
{% endif %}
{# dialog #}
{% if result.valid %}
<div class="modal fade" id="resultModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'product.update.title'|trans }}</h5>
                {{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <p class="mb-2 font-weight-bold">{{ 'product.result.updated'|trans }}</p>
                <div class="overflow-auto table-fixed-header small-scrollbar border">
                    <table class="table table-hover table-fixed-header table-sm mb-0">
                        <thead>
                            <tr class="bg-themed">
                                <th class="text-nowrap">{{ 'product.fields.description'|trans }}</th>
                                <th class="text-currency">{{ 'product.result.old_price'|trans }}</th>
                                <th class="text-currency">{{ 'product.result.new_price'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in result.products -%}
                        <tr>
                            <td class="text-nowrap">{{ product.description }}</td>
                            <td class="text-currency">{{ product.oldPrice|amount }}</td>
                            <td class="text-currency">{{ product.newPrice|amount }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="bg-themed">
                                <th class="text-nowrap" colspan="2">{{ 'product.result.total'|trans }}</th>
                                <th class="text-currency">{{- 'counters.products'|trans({'count': result.count}) -}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row align-items-center no-gutters w-100">
                    <div class="col">
                        {{ button_close_modal(false) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
{{ homepage() }}
{{ link(path('admin_product'), 'product.result.new_update', 'btn btn-form btn-secondary', null) }}
{% endblock %}
