{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_rights.html.twig' as rights %}

{# parameters #}
{%- set title = 'admin.rights.title' -%}
{%- set title_icon = 'unlock' -%}
{%- set title_description = 'user.rights.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set show_required = false -%}

{% block card_container_class '' %}

{% block card_header %}
<div class="row">
    <div class="col-lg-5 mt-1">{{ parent() }}</div>
    <div class="col-lg-7 text-lg-right d-print-none">{{ rights.actions() }}</div>
</div>
{%- endblock %}

{% block card_body %}
{{ form_row(form.name) }}
{{ rights.table(form, default, permissions) }}
{% endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/user_rights.js') }}
{% else %}
{{ asset_js('js/user_rights.js') }}
{% endif %}
{%- endblock %}
