{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage, sitemap, button_close_modal %}
{% from 'macros/_properties.html.twig' import stateCss %}
{# macro #}
{% macro add_line_info(name, value) -%}
<tr>
    <td class="w-30 text-nowrap">{{ name|trans }}</td>
    <td>{{ value|raw }}</td>
</tr>
{%- endmacro %}
{# parameters #}
{%- set title = 'calculation.update.title' -%}
{%- set title_icon = 'pencil' -%}
{%- set title_description = 'calculation.result.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set results = result.results -%}
{# body #}
{% block card_body %}
<div class="table-responsive position-relative">
    <table class="table table-no-bottom table-sm">
        {{ _self.add_line_info('calculation.update.dateFrom', query.dateFrom|locale_date('full')) }}
        {{ _self.add_line_info('calculation.update.dateTo', query.dateTo|locale_date('full')) }}
        {{ _self.add_line_info('calculation.update.states', query.statesCode) }}
        {% if result.valid %}
            <tr>
                <td class="w-30 text-nowrap">{{ 'calculation.list.title'|trans }}</td>
                <td>
                    <a href="#modal-result" class="stretched-link" title="{{ 'archive.result.show'|trans }}" data-bs-toggle="modal">
                        <i class="fa-solid fa-eye me-1"></i>{{ result.count|integer }}
                    </a>
                </td>
            </tr>
        {% else %}
            {{ _self.add_line_info('calculation.list.title', result.count|integer) }}
        {% endif %}
    </table>
</div>
{% if result.valid %}
{% if query.simulate %}
    <p class="mb-0 text-end text-body-secondary small">{{ 'simulate.message'|trans }}</p>
{% endif %}
{# dialog #}
<div class="modal fade" id="modal-result" role="dialog" tabindex="-1" aria-labelledby="modal-result-title" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-result-title">{{ title|trans }}</h1>{{ button_close_modal() }}
            </div>
            <div class="modal-body">
                <span class="form-label">{{ 'calculation.list.title'|trans }}</span>
                <div class="overflow-auto table-fixed-header small-scrollbar border">
                    <table class="table table-hover table-fixed-header table-no-end-line table-sm mb-0">
                        <thead>
                            <tr>
                                <th class="text-id text-border">{{ 'calculation.fields.id'|trans }}</th>
                                <th class="text-date">{{ 'calculation.fields.date'|trans }}</th>
                                <th class="text-nowrap">{{ 'calculation.fields.customer'|trans }}</th>
                                <th class="text-nowrap">{{ 'calculation.fields.description'|trans }}</th>
                                <th class="text-currency">{{ 'calculation.result.old_value'|trans }}</th>
                                <th class="text-currency">{{ 'calculation.result.new_value'|trans }}</th>
                                <th class="text-currency">{{ 'calculation.result.delta'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for value in result.results %}
                            <tr>
                                <td class="text-id text-border" style="{{ stateCss(value.color) }}">{{ value.id|identifier }}</td>
                                <td class="text-date">{{ value.date|locale_date }}</td>
                                <td class="text-nowrap">{{ value.customer }}</td>
                                <td class="text-nowrap">{{ value.description }}</td>
                                <td class="text-currency">{{ value.old_value|amount }}</td>
                                <td class="text-currency">{{ value.new_value|amount }}</td>
                                <td class="text-currency">{{ value.delta|amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                {{ button_close_modal(false) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="d-flex-wrap-center">
    {{ homepage() }}
    {{ link(path('admin_update'), 'calculation.result.update', 'btn btn-form btn-secondary', null) -}}
    {{ sitemap() }}
</div>
{% endblock %}
