{# add a plain text input #}
{% macro plain_text_input(id, class='') %}
{%- set class = ('form-control-plaintext form-control-readonly text-end ' ~ class)|trim -%}
<span id="{{ id }}" class="{{ class }}">{{ 0|amount }}</span>
{% endmacro %}
{# add a task item #}
{% macro task_item_input(task, item, visible=false, disabled=false) %}
{% set task_item_id = item.id %}
<div class="row align-items-center mb-2 task-item-row{% if not visible %} d-none{% endif %}" data-id="{{ task.id }}" data-unit="{{ task.unit }}">
    <div class="col-sm-6">
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input item-input" id="item_{{ task_item_id }}" name="items[]" value="{{ task_item_id }}" checked="checked"{% if disabled %} disabled="disabled"{% endif %}>
            <label class="form-check-label" for="item_{{ task_item_id }}">{{ item.name }}</label>
        </div>
    </div>
    <div class="col-sm-3">
        {{ _self.plain_text_input('task_value_' ~ task_item_id, 'task_value') }}
    </div>
    <div class="col-sm-3">
        {{ _self.plain_text_input('task_total_' ~ task_item_id, 'task_total') }}
    </div>
</div>
{% endmacro %}
<div id="table-task-edit">
    {# header row #}
    <div class="row mb-2">
        <div class="col-sm-6"><span class="required">{{ 'task.fields.items'|trans }}</span></div>
        <div class="col-sm-3">{{ 'task_compute.fields.price'|trans }}</div>
        <div class="col-sm-3">{{ 'task_compute.fields.total'|trans }}</div>
    </div>
    {# items #}
    {% for task in tasks %}
        {% set visible = loop.index == 1 %}
        {% set items = task.items|filter(item => item.count > 0) %}
        {% set disabled = items|length == 1 %}
        {% for item in items %}
            {{ _self.task_item_input(task, item, visible, disabled) }}
        {% endfor %}
    {% endfor %}
    {# error and total #}
    <hr>
    <div class="row align-items-center">
        <div class="col-sm-6">
            <span class="task-items-empty text-danger small d-none">{{ 'task_compute.error.items'|trans }}</span>
        </div>
        <div class="col-sm-3 text-end">
            {{- 'task_compute.fields.overall_total'|trans -}}
        </div>
        <div class="col-sm-3">
            {{- _self.plain_text_input('task_overall') -}}
        </div>
    </div>
</div>
