{% extends 'cards/card_table.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, link %}
{# parameters #}
{%- set title = 'task.list.title' -%}
{%- set title_icon = ICON_TASK -%}
{%- set object_type = ENTITY_TASK -%}
{%- set category_id = customData.category.id|default(0) -%}
{%- set category_param = constant('App\\Table\\AbstractCategoryItemTable::PARAM_CATEGORY') -%}

{% block header_actions -%}
{% if allow_add %}
    {{ link(path('task_add', params), 'task.add.title', 'add-link p-0') }}
{% endif %}
{%- endblock %}

{% block toolbar_actions -%}
{% if customData.categories|length > 1 %}
{% set group = '' %}
<div class="input-group-append">
    <button id="{{ category_param }}" data-value="{{ category_id }}" data-copy-icon="true" data-icon="{{ icon(ICON_CATEGORY)|e }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'task.fields.category'|trans }}" title="{{ 'task.list.category_help'|trans }}">
        {{ icon(ICON_CATEGORY) }}&nbsp;{{- customData.category ? customData.category.code : 'task.fields.category'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="{{ category_param }}">
        {{ _self.output_dropdown('category', 0, category_id, 'product.list.category_all_text'|trans) }}
        {% for category in customData.categories %}
            {% if group != category.group %}
                {% set group = category.group %}
                {{ _self.output_dropdown_header(group) }}
            {% endif %}
            {{ _self.output_dropdown('category', category.id, category_id, category.code) }}
        {% endfor %}
    </div>
</div>
{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('task_pdf'), 'task.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('task_excel'), 'task.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('task_edit', params), 'task.edit.title', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('task_delete', params), 'task.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_path(path('task_add', params), 'task.add.title', ICON_ADD, 'btn-add') }}
{{- _self.item_path(path('task_clone', params), 'common.button_clone', ICON_COPY, 'btn-task-clone') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('task_show', params), 'task.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block other_actions -%}
{% if allow_show %}
    {{- _self.item_separator('task-compute-divider') }}
    {{- _self.item_path(path('task_compute', params), 'task_compute.title', 'keyboard', 'btn-task-compute') }}
{% endif %}
{%- endblock %}

{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('task_edit', params) }}" class="item-link text-body" title="{{ 'task.edit.title'|trans }}">%name%</a>
{%- elseif row_show -%}
    <a href="{{ path('task_show', params) }}" class="item-link text-body" title="{{ 'task.show.title'|trans }}">%name%</a>
{%- else -%}
    <span>%name%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%group.code% / %category.code%') }}
{{ _self.property_row('task.fields.unit', '%unit%') }}
{{ _self.property_row('task.fields.items', '%items%') }}
{%- endblock %}
