{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import button_cancel, homepage %}
{# parameters #}
{%- set title = 'task_compute.title' -%}
{%- set title_icon = 'keyboard' -%}
{%- set form_attr = form_attr|default({})|merge({'action': path('ajax_task'), 'data-failed': 'task_compute.failed'|trans}) -%}
{%- set submit_text = 'task_compute.button_ok' -%}
{%- set service = form.vars.value -%}
{%- set task = service.task -%}
{%- set selection = task.id -%}
{%- set tasks_count = task.count -%}
{# body #}
{% block card_body %}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.task) }}
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>{{ 'task.fields.unit'|trans }}</label>
            <span id="unit" class="form-control-plaintext form-control-readonly skip-reset">{{ task.unit|default('&nbsp;')|raw }}</span>
        </div>
    </div>
    <div class="col-md-3">
        {{ form_row(form.quantity) }}
    </div>
</div>
<div class="form-row row-table{% if tasks_count == 0 %} d-none{% endif %}">
    {% include 'task/_task_table.html.twig' with tasks %}
</div>
<div class="form-row row-empty{% if tasks_count != 0 %} d-none{% endif %}">
    <p class="small text-muted">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}
{# actions #}
{% block actions_form -%}
{% if form.vars['simple_widget'] %}
    {{ button_cancel(cancel_path, 'common.button_back_list') }}
{% else %}
    {{ homepage() }}
{% endif %}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input-number.js') }}
{{ asset_js('js/application/task_compute.js') }}
{% else %}
{{ asset_js('js/task_compute.js') }}
{% endif %}
{% endblock %}
