{% extends 'cards/card_show.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}

{# parameters #}
{%- set id     = item.id -%}
{%- set title  = 'task.show.title' -%}
{%- set params = route_params(app.request, id) %}

{# actions #}
{%- set edit_path   = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, item) ? path('task_edit', params) : null -%}
{%- set delete_path = is_granted(EntityVoterInterface.ATTRIBUTE_DELETE, item) ? path('task_delete', params) : null -%}
{%- set cancel_path = cancel_url(app.request, id, 'task_list') -%}

{# properties #}
{% block property_body %}
{{ properties.property('task.fields.name', item.name) }}
{{ properties.property('task.fields.category', item.categoryCode) }}
{{ properties.property('task.fields.unit', item.unit) }}
{{ properties.property('task.fields.items', item.count ? item.count|integer : 'task.edit.empty_items'|trans) }}
{% endblock %}

{% block card_body %}
{{ parent() }}
{% if not item.empty %}
<table class="table table-hover table-sm table-list my-0">
{% for taskItem in item.items %}
	<tbody>
    {% for margin in taskItem.margins %}
        <tr>
            <td>{{ loop.index == 1 ? taskItem.name : '&nbsp;'|raw }}</td>
            <td class="text-currency">{{ margin.minimum|amount }}</td>
            <td class="text-currency">{{ margin.maximum|amount }}</td>
            <td class="text-currency">{{ margin.value|amount }}</td>
        </tr>
    {% else %}
        <tr>
            <td>{{ taskItem.name }}</td>
            <td class="text-right" colspan="3">{{ 'taskitem.edit.empty_items'|trans }}</td>
        </tr>
	{% endfor %}
    </tbody>
{% endfor %}
</table>
{% endif %}
{% endblock %}
