{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_icons.html.twig' import button_cancel, homepage %}
{# macros #}
{% macro plain_text_input(id, class='') %}
{%- set class = (class ~ ' text-right form-control-plaintext border rounded px-2')|trim -%}
<div id="{{ id }}" class="{{ class }}">{{ 0|amount }}</div>
{% endmacro %}
{% macro row_input(id, item, visible) %}
<tr class="item-row{% if not visible %} d-none{% endif %}" task-id="{{ id }}">
    <td>
        <div class="custom-control custom-switch mt-1">
            <input type="checkbox" class="custom-control-input item-input" id="item_{{ item.id }}" name="items[]" value="{{ item.id }}" checked="checked">
            <label class="custom-control-label" for="item_{{ item.id }}">{{ item.name }}</label>
        </div>
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('value_' ~ item.id, 'task_value') }}
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('amount_' ~ item.id, 'task_total') }}
    </td>
</tr>
{% endmacro %}
{# parameters #}
{%- set title = 'taskcompute.title' -%}
{%- set title_icon = 'keyboard' -%}
{%- set form_attr = form_attr|default({})|merge({'action': path('ajax_task'), 'data-failed': 'taskcompute.failed'|trans}) -%}
{%- set submit_text = 'taskcompute.button_ok' -%}
{%- set service = form.vars.value -%}
{%- set selection = service.task.id -%}
{%- set items_count = service.task.count -%}
{# body #}
{% block card_body %}
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.task) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.quantity) }}
    </div>
</div>
<div class="form-row row-table{% if items_count == 0 %} d-none{% endif %}">
    <table class="table table-sm table-borderless mb-0" id="table-edit">
        <thead>
            <tr>
                <td class="required">{{ 'task.fields.items'|trans }}</td>
                <td class="w-25">{{ 'taskcompute.fields.price'|trans }}</td>
                <td class="w-25">{{ 'taskcompute.fields.total'|trans }}</td>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% set visible = task.id == selection %}
            {% for item in task.items|filter(item => item.count > 0) %}
                {{ _self.row_input(task.id, item, visible) }}
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><hr class="my-1"></td>
            </tr>
            <tr>
                <td><span class="task-items-empty text-danger small d-none">{{ 'taskcompute.error.items'|trans }}</span></td>
                <td class="w-25 text-right pt-2">{{ 'taskcompute.fields.overall_total'|trans }}</td>
                <td class="w-25 text-right">{{ _self.plain_text_input('overall') }}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="form-row row-empty{% if items_count != 0 %} d-none{% endif %}">
    <p class="small text-muted">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}
{# actions #}
{% block actions_form -%}
{% if form.vars['simple_widget'] %}
    {{ button_cancel(cancel_path, 'common.button_back_list') }}
{% else %}
    {{ homepage() }}
{% endif %}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/task_compute.js') }}
{% else %}
{{ asset_js('js/task_compute.js') }}
{% endif %}
{% endblock %}
