{% extends 'cards/card_edit.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro plain_text_input(id, value = 0, class = '') %}
{%- set class = (class ~ ' text-right form-control-plaintext border rounded px-2')|trim -%}
<input id="{{ id }}" type="text" class="{{ class }}" disabled="disabled" value="{{ value|amount }}">
{% endmacro %}

{% macro row_input(id, item, visible) %}
<tr class="item-row{% if not visible %} d-none{% endif %}" task-id="{{ id }}">
    <td>        
        <div class="custom-control custom-switch mt-1">
            <input type="checkbox" class="custom-control-input item-input" id="item_{{ item.id }}" name="items[]" value="{{ item.id }}" checked="checked">
            <label class="custom-control-label" for="item_{{ item.id }}">{{ item.name }}</label>
        </div>
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('value_' ~ item.id) }}
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('amount_' ~ item.id) }}
    </td>
</tr>
{% endmacro %}

{# parameters #}
{%- set title       = 'taskcompute.title' -%}
{%- set title_icon  = 'keyboard' -%}
{%- set submit_text = 'taskcompute.button_ok' -%}
{%- set cancel_path = app.request.get('caller',  path(app.displayTabular ? 'task_table' : 'task_list')) -%}
{%- set form_attr   = form_attr|default({})|merge({'data-url': path('ajax_task'), 'data-failed': 'taskcompute.failed'|trans}) -%}
{%- set service     = form.vars.value -%}
{%- set selection   = service.task.id -%}
{%- set items_count = service.task.count -%}

{% block card_body %}
<div class="form-row">
{% if form.category is defined %}
    <div class="col-5">
        {{ form_row(form.task) }}
    </div>
    <div class="col-4">
        {{ form_row(form.category) }}
    </div>
{% else %}
    <div class="col-9">
        {{ form_row(form.task) }}
    </div>
{% endif %}
    <div class="col-3">
        {{ form_row(form.quantity) }}
    </div>    
</div>
<div class="form-row row-table{% if items_count == 0 %} d-none{% endif %}">
    <table class="table table-sm table-borderless" id="table-edit">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td class="text-right w-25">{{ 'taskcompute.fields.price'|trans }}</td>
                <td class="text-right w-25">{{ 'taskcompute.fields.total'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                {% for item in task.items %}
                    {{ _self.row_input(task.id, item, task.id == selection) }}
                {% endfor %}
            {% endfor %}            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><hr class="my-1"></td>
            </tr>
            <tr>
                <th class="pt-3" colspan="2">{{ 'taskcompute.fields.overall_total'|trans }}</th>
                <th class="text-right w-25">{{ _self.plain_text_input('overall', service.overall, 'font-weight-bold') }}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="form-row row-empty{% if items_count != 0 %} d-none{% endif %}">
    <p class="small text-muted">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/task_compute.js') }}
{% endblock %}
