{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_timestampable.html.twig' import timestampable %}
{% from 'macros/_icons.html.twig' import link %}
{% form_theme form with _self %}
{# item label #}
{% block _task_items_entry_name_label -%}
    <div class="row">
        <div class="col-auto mr-auto">
            {{- form_label(form) -}}
        </div>
        <div class="col-auto">
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-edit btn-outline-secondary btn-toggle" type="button" data-toggle="collapse" data-target="#{{ id_content }}" title="{{ title|trans }}">
                    <i class="d-print-none fa-solid fa-caret-{% if show %}down{% else %}right{% endif %}"></i>
                </button>
                <button type="button" class="btn btn-edit btn-outline-secondary btn-up-item" title="{{ 'task.edit.move_up_item'|trans }}" disabled="disabled">
                    <i class="fa-solid fa-angle-up"></i>
                </button>
                <button type="button" class="btn btn-edit btn-outline-secondary btn-down-item" title="{{ 'task.edit.move_down_item'|trans }}" disabled="disabled">
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <button type="button" class="btn btn-edit btn-outline-danger btn-delete-item" title="{{ 'task.edit.delete_item'|trans }}">
                    <i class="fa-solid fa-times"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{# item margins #}
{% macro printTaskItemMargin(margin) %}
<tr>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.minimum, {'attr': {'aria-label': 'taskitemmargin.fields.minimum'|trans}}) }}
            <em>{{ form_errors(margin.minimum) }}</em>
        </div>
    </td>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.maximum, {'attr': {'aria-label': 'taskitemmargin.fields.maximum'|trans}}) }}
            <em>{{ form_errors(margin.maximum) }}</em>
        </div>
    </td>
    <td class="w-30">
        <div class="form-group">
            {{ form_widget(margin.value, {'attr': {'aria-label': 'taskitemmargin.fields.value'|trans}}) }}
            <em>{{ form_errors(margin.value) }}</em>
        </div>
    </td>
    <td class="actions align-middle px-0 d-print-none">
        {{- link('#', false, 'btn btn-sm btn-outline-danger btn-edit btn-delete-margin d-print-none', ICON_DELETE, 'taskitem.edit.delete_item') -}}
    </td>
</tr>
{% endmacro -%}
{# item #}
{% macro printTaskItem(item, show=false) %}
{%- set id = item.vars.id|default(0) -%}
{%- set id_header = 'item_header_' ~ id -%}
{%- set id_content = 'item_content_' ~ id -%}
{%- set count = item.vars.value.count|default(0) -%}
{%- set name = item.vars.value.name|default('taskitem.fields.name'|trans) -%}
{%- set title = show ? 'taskitem.edit.items_hide' : 'taskitem.edit.items_show' %}
<div class="item card">
    <div class="card-header card-header-item bg-transparent px-3 pb-1" id="{{ id_header }}">
        <div class="form-group">
            {{ form_row(item.name, {id_content: id_content, title: title, show: show}) }}
        </div>
        {{ form_widget(item.position) }}
    </div>
    <div id="{{ id_content }}" class="collapse{% if show %} show{% endif %}" aria-labelledby="{{ id_header }}" data-parent="#items">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-auto mr-auto">
                    <label class="control-label">{{ 'taskitem.fields.margins'|trans }}</label>
                </div>
                <div class="col-auto d-print-none">
                    <a href="#" type="button" class="p-0 btn-add-margin btn btn-link">{{ 'taskitem.edit.add_item'|trans }}</a>
                    <a href="#" type="button" class="p-0 btn-sort-margin btn btn-link {% if count < 2 %} disabled{% endif %}" title="{{ 'taskitem.edit.sort_items'|trans }}"><i class="fa-solid fa-sort-numeric-up"></i></a>
                </div>
            </div>
            <hr class="my-0">
            <table class="table table-borderless table-sm table-edit{% if count == 0 %} d-none{% endif %}" data-prototype="{{ _self.printTaskItemMargin(item.margins.vars.prototype)|e('html_attr') }}">
                <thead>
                    <tr>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.minimum'|trans }}</th>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.maximum'|trans }}</th>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.value'|trans }}</th>
                        <th class="actions d-print-none">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for margin in item.margins -%}
                    {{ _self.printTaskItemMargin(margin) }}
                {% endfor -%}
                </tbody>
            </table>
            <small class="text-muted text-right empty-margins{% if count > 0 %} d-none{% endif %}">{{- 'taskitem.edit.empty_items'|trans -}}</small>
        </div>
    </div>
</div>
{% endmacro -%}
{# parameters #}
{%- set title = new ? 'task.add.title' : 'task.edit.title' -%}
{%- set title_icon = ICON_TASK -%}
{%- set page_list = 'task_table' -%}
{%- set form_attr = form_attr|default({})|merge({
                     'data-title': title|trans,
                     'data-category': 'taskitem.fields.name'|trans,
                     'data-show': 'taskitem.edit.items_show'|trans,
                     'data-hide': 'taskitem.edit.items_hide'|trans,
                     'data-unit-search': url('ajax_search_unit'),
                     'data-unit-error': 'product.edit.error_search_unit'|trans,
                     'data-supplier-search': url('ajax_search_supplier'),
                     'data-supplier-error': 'product.edit.error_search_supplier'|trans}) -%}
{# header #}
{% block card_header %}
<div class="row">
    <div class="col-auto mr-auto">{{ parent() }}</div>
    <div class="col-auto d-print-none"><a href="#" class="btn-add-item p-0" role="button">{{ 'task.edit.add_item'|trans }}</a></div>
</div>
{% endblock %}
{# body #}
{% block card_body %}
{{ form_row(form.name) }}
<div class="form-row">
    <div class="col-md-5">
        {{ form_row(form.category) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.unit) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.supplier) }}
    </div>
</div>
<div class="items accordion" id="items" data-item-index="{{ item_index }}" data-margin-index="{{ margin_index }}" data-prototype="{{ _self.printTaskItem(form.items.vars.prototype, true)|e('html_attr') }}">
    {% for item in form.items -%}
        {{ _self.printTaskItem(item, loop.index == 1) }}
    {% endfor -%}
</div>
<small class="text-muted empty-items{% if form.vars.value.count > 0 %} d-none{% endif %}">{{- 'task.edit.empty_items'|trans -}}</small>
{% endblock %}
{# footer #}

{% block card_footer -%}
    {{ parent() }}
    {% if not item.new %}
        <hr class="card-footer-line">
        {{ timestampable(item) }}
    {% endif %}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/html5sortable/html5sortable.js') }}
{{ asset_js('js/plugins/plugin-typeahead.js') }}
{{ asset_js('js/plugins/plugin-input-number.js') }}
{{ asset_js('js/extensions/typeahead-extensions.js') }}
{{ asset_js('js/application/task_edit.js') }}
{% else %}
{{ asset_js('js/task_edit.js') }}
{% endif %}
{% endblock %}
