{% extends 'cards/card_edit.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro printTaskItemMargin(margin) %}
<tr>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.minimum, {'attr': {'aria-label': 'taskitemmargin.fields.minimum'|trans}}) }}
            <em>{{ form_errors(margin.minimum) }}</em>
        </div>
    </td>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.maximum, {'attr': {'aria-label': 'taskitemmargin.fields.maximum'|trans}}) }}
            <em>{{ form_errors(margin.maximum) }}</em>
        </div>
    </td>
    <td class="w-30">
        <div class="form-group">
            {{ form_widget(margin.value, {'attr': {'aria-label': 'taskitemmargin.fields.value'|trans}}) }}
            <em>{{ form_errors(margin.value) }}</em>
        </div>
    </td>
    <td class="actions pt-2 px-0 d-print-none">
        {{- icons.link('#', false, 'btn btn-sm btn-outline-danger btn-edit btn-delete-margin d-print-none', 'times', 'taskitem.edit.delete_item') -}}
    </td>
</tr>
{% endmacro -%}

{% macro printTaskItem(item) %}
{%- set id = item.vars.value.id|default(0) -%}
{%- set count = item.vars.value.count|default(0) -%}
<div class="item">
    {#{ form_row(item.name) }#}
    <div class="form-group">
        <div class="row">
            <div class="col">{{ form_label(item.name) }}</div>
            <div class="col-auto d-print-none">
                {{- icons.link('#', false, 'btn btn-sm btn-outline-danger btn-edit btn-delete-item', 'times', 'task.edit.delete_item') -}}
            </div>
        </div>
        {{ form_widget(item.name) }}
        {{ form_help(item.name) }}
        {{ form_errors(item.name) }}
    </div>
    <div class="form-row ml-3 mt-1">
        <div class="col-md-12">
            <div class="row">
                <div class="col-auto mr-auto">
                    <label class="control-label">{{ 'taskitem.fields.margins'|trans }}</label>
                </div>
                <div class="col-auto d-print-none">
                    <a href="#" type="button" class="p-0 btn-add-margin btn btn-link ">{{ 'taskitem.edit.add_item'|trans }}</a>
                    <a href="#" type="button" class="p-0 btn-sort-margin btn btn-link {% if count < 2 %} disabled{% endif %}" title="{{ 'taskitem.edit.sort_items'|trans }}"><i class="fas fa-sort-numeric-up"></i></a>
                </div>
            </div>
            <hr class="my-0">
            <table class="table table-borderless table-sm table-edit{% if count == 0 %} d-none{% endif %}" data-prototype="{{ _self.printTaskItemMargin(item.margins.vars.prototype)|e('html_attr') }}">
                <thead>
                    <tr>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.minimum'|trans }}</th>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.maximum'|trans }}</th>
                        <th class="vertical-middle text-right font-weight-normal required">{{ 'taskitemmargin.fields.value'|trans }}</th>
                        <th class="actions d-print-none">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for margin in item.margins -%}
                    {{ _self.printTaskItemMargin(margin) }}
                {% endfor -%}
                </tbody>
            </table>
            <small class="text-muted text-right empty-margins{% if count > 0 %} d-none{% endif %}">{{- 'taskitem.edit.empty_items'|trans -}}</small>
        </div>
    </div>
    <hr>
</div>
{% endmacro -%}

{# parameters #}
{%- set title = new ? 'task.add.title' : 'task.edit.title' -%}
{%- set title_icon = 'tasks' -%}
{%- set page_list = 'task_table' -%}

{% block card_header %}
<div class="row">
    <div class="col-auto mr-auto">{{ parent() }}</div>
    <div class="col-auto d-print-none"><a href="#" class="btn-add-item p-0" role="button">{{ 'task.edit.add_item'|trans }}</a></div>
</div>
{% endblock %}

{% block card_body %}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.category) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.unit) }}
    </div>
</div>
<div class="items" data-item-index="{{ item_index }}" data-margin-index="{{ margin_index }}" data-prototype="{{ _self.printTaskItem(form.items.vars.prototype)|e('html_attr') }}">
    {% for item in form.items -%}
        {{ _self.printTaskItem(item) }}
    {% endfor -%}
    <small class="text-muted text-right empty-items{% if form.vars.value.count > 0 %} d-none{% endif %} ">{{- 'task.edit.empty_items'|trans -}}</small>
</div>
{% endblock %}

{#% block actions_form -%}
{{ parent() }}
<button type="button" class="btn btn-form btn-outline-success btn-add-item">{{ 'task.edit.add_item'|trans }}</button>
{% endblock %#}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/task_edit.js') }}
{% else %}
{{ asset_js('js/task_edit.js') }}
{% endif %}
{% endblock %}
