/* global Highcharts */

/**
 * @typedef Point
 * @property {string} color
 * @property {string} calculations
 * @property {string} net_amount
 * @property {string} margin_percent
 * @property {string} margin_amount
 * @property {string} margin_color
 * @property {string} total_amount
 */
function renderTooltip () {
    'use strict';
    /** @var Point point */
    const point = this.points[0].point;
    let html = '<table class="m-1">';
        html +=
            '<tr>' +
            '<th>{{ 'chart.month.fields.month'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + point.date + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<td class="text-category">{{ 'calculation.list.title'|trans }}</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.calculations + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:darkgreen"></span>' +
                    '<span>{{ 'calculationgroup.fields.amount'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.net_amount + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:darkred"></span>' +
                    '<span>{{ 'calculation.fields.margin'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.margin_amount + '</td>' +
            '<td class="text-calculation ps-3" style="color:'+ point.margin_color + '">' + point.margin_percent + '</td>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<th>{{ 'calculation.fields.total'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + point.total_amount + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '</table>';
    return html;
}
