/* global Highcharts */
{% trans_default_domain 'chart' %}
/**
 * @typedef Point
 * @property {string} color
 * @property {string} calculations
 * @property {string} net_amount
 * @property {string} margin_amount
 * @property {string} margin_percent
 * @property {string} total_amount
 */
function renderTooltip () {
    'use strict';
    const values = this.points[0].point;
    let html = '<table class="m-1">';
        html +=
            '<tr>' +
            '<th>{{ 'fields.month'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + values.date + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<td class="text-category">{{ 'fields.count'|trans }}</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + values.calculations + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:darkgreen"></span>' +
                    '<span>{{ 'fields.net'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + values.net_amount + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:darkred"></span>' +
                    '<span>{{ 'fields.margin'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + values.margin_amount + '</td>' +
            '<td class="text-calculation ps-3">' + values.margin_percent + '</td>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<th>{{ 'fields.total'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + values.total_amount + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '</table>';
    return html;
}
