/**
 * @typedef Point
 * @type {object}
 * @property {string} date
 * @property {string} count
 * @property {string} items
 * @property {string} marginAmount
 * @property {string} marginColor
 * @property {string} marginPercent
 * @property {string} totalAmount
 */
function renderTooltip () {
    'use strict';
    /** @type Point point */
    const point = this.points[0].point;
    let html = '<table class="m-1">';
        html +=
            '<tr>' +
            '<th>{{ 'chart.month.fields.month'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + point.date + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<td class="text-category">{{ 'calculation.list.title'|trans }}</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.count + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:{{ colorAmount }}"></span>' +
                    '<span>{{ 'calculationgroup.fields.amount'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.items + '</td>' +
            '<td class="text-calculation">&nbsp;</td>' +
            '</tr>';
        html +=
            '<tr>' +
            '<td class="text-category">' +
                '<div class="d-flex align-items-center">' +
                    '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:{{ colorMargin }}"></span>' +
                    '<span>{{ 'calculation.fields.margin'|trans }}</span>' +
                '</div>' +
            '</td>' +
            '<td class="px-1">:</td>' +
            '<td class="text-calculation">' + point.marginAmount + '</td>' +
            '<td class="text-calculation ps-3" style="color:'+ point.marginColor + '">' + point.marginPercent + '</td>' +
            '</tr>';
        html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
        html +=
            '<tr>' +
            '<th>{{ 'calculation.fields.total'|trans }}</th>' +
            '<th class="px-1">:</th>' +
            '<th class="text-calculation">' + point.totalAmount + '</th>' +
            '<th class="text-calculation">&nbsp;</th>' +
            '</tr>';
        html += '</table>';
    return html;
}
