/**
 * @typedef Point
 * @type {object}
 * @property {string} color
 * @property {string} name
 * @property {string} count
 * @property {string} calculationsPercent
 * @property {string} items
 * @property {string} marginAmount
 * @property {string} marginPercent
 * @property {string} marginColor
 * @property {string} totalPercent
 * @property {string} totalAmount
 */
function renderTooltip () {
    'use strict';
    /** @type Point point */
    const point = this.point;
    let html = '<table class="m-1">';
    html +=
        '<tr>' +
        '<th>{{ 'calculation.fields.state'|trans }}</th>' +
        '<th class="px-1">:</th>' +
        '<th class="text-calculation">' +
            '<div class="d-flex align-items-center">' +
                '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:' + point.color + '"></span>' +
                '<span>' + point.name + '</span>' +
            '</div>' +
        '</th>' +
        '<th class="text-calculation">&nbsp;</th>' +
        '</tr>';
    html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
    html +=
        '<tr>' +
        '<td>{{ 'calculation.list.title'|trans }}</td>' +
        '<td class="px-1">:</td>' +
        '<td class="text-calculation">' + point.count + '</td>' +
        '<td class="text-calculation ps-3">' + point.calculationsPercent + '</td>' +
        '</tr>';
    html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
    html +=
        '<tr>' +
        '<td>{{ 'calculationgroup.fields.amount'|trans }}</td>' +
        '<td class="px-1">:</td>' +
        '<td class="text-calculation">' + point.items + '</td>' +
        '<td class="text-calculation">&nbsp;</td>' +
        '</tr>';
    html +=
        '<tr>' +
        '<td>{{ 'calculation.fields.margin'|trans }}</td>' +
        '<td class="px-1">:</td>' +
        '<td class="text-calculation">' + point.marginAmount + '</td>' +
        '<td class="text-calculation" style="color:'+ point.marginColor + '">' + point.marginPercent + '</td>' +
        '</tr>';
    html += '<tr><td colspan="4"><hr class="my-1"></td></tr>';
    html +=
        '<tr>' +
        '<th>{{ 'calculation.fields.total'|trans }}</th>' +
        '<th class="px-1">:</th>' +
        '<th class="text-calculation">' + point.totalAmount + '</th>' +
        '<th class="text-calculation ps-3">' + point.totalPercent + '</th>' +
        '</tr>';
    html += '</table>';
    return html;
}
