{% extends 'chart/base_chart.html.twig' %}
{% trans_default_domain 'chart' %}

{# add a month option #}
{% macro month(value, default) -%}
<option value="{{ value }}" {% if value == default %} selected="selected" {% endif %}>
    {{- 'counters.months'|trans({'%count%': value}, 'messages') -}}
</option>
{%- endmacro %}

{# parameters #}
{%- set title = 'title_by_month' -%}
{%- set title_icon = 'calendar-alt far' -%}
{%- set list_path = tabular ? 'calculation_table' : 'calculation_card' -%}

{# class #}
{% block card_container_class '' -%}

{% block card_header %}
<div class="row">
    <div class="col-auto mr-auto">
        {{ parent() }}
    </div>
    <div class="col-auto">
        <div class="form-inline">
            <label class="mr-2">{{ 'last_month.period'|trans }}</label>
            <select id="months" name="months" data-months="{{ months }}" data-url="{{ path('chart_by_month') }}" class="form-control form-control-sm custom-select custom-select-sm">
                {% for m in allowed_months %}
                    {{ _self.month(m, m == months) }}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{%- endblock %}

{% block data %}
<div class="col my-2 table-responsive">
    <table class="table table-bordered table-hover table-list table-sm">
        <thead>
            <tr>
                <th class="text-nowrap">{{ 'fields.month'|trans }}</th>
                <th class="text-currency">{{ 'fields.count'|trans }}</th>
                <th class="text-currency" style="border: 2px solid darkgreen;">{{ 'fields.net'|trans }}</th>
                <th class="text-percent">{{ 'fields.margin_percent'|trans }}</th>
                <th class="text-currency" style="border: 2px solid darkred;">{{ 'fields.margin_amount'|trans }}</th>
                <th class="text-currency">{{ 'fields.total'|trans }}</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for item in data -%}
            {%- set month = item.date|localedate('none', null, 'gregorian', 'MMMM Y')|capitalize -%}
            <tr title="{{ 'row_by_month'|trans({'%name%': month}) }}">
                <td class="text-nowrap">
                    <a href="{{ path(list_path, {'query': item.date|localedate('none', null, 'gregorian', 'MM.Y')}) }}">{{ month }}</a>
                </td>
                <td class="text-currency">{{ item.count|integer }}</td>
                <td class="text-currency">{{ item.items|integer }}</td>
                <td class="text-percent{% if app.marginBelow(item.marginPercent) %} text-danger{% endif %}">{{ item.marginPercent|percent(false) }}</td>
                <td class="text-currency">{{ item.marginAmount|integer }}</td>
                <td class="text-currency">{{ item.sum|integer }}</td>
            </tr>
            {% endfor -%}
            <tr title="{{ 'row_show_all'|trans }}">
                <td class="font-weight-bold">
                    <a href="{{ path(list_path) }}">{{ 'fields.total'|trans }}</a>
                </td>
                <td class="font-weight-bold text-currency">{{ count|integer }}</td>
                <td class="font-weight-bold text-currency">{{ items|integer }}</td>
                <td class="font-weight-bold text-percent{% if app.marginBelow(marginPercent) %} text-danger{% endif %}">{{ marginPercent|percent(false) }}</td>
                <td class="font-weight-bold text-currency">{{ marginAmount|integer }}</td>
                <td class="font-weight-bold text-currency">{{ total|integer }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/application/chart_last_month.js') }}
{% endblock %}
