{% extends 'chart/base_chart.html.twig' %}
{% import 'macros/_properties.html.twig' as properties %}
{% trans_default_domain 'chart' %}

{# parameters #}
{%- set title = 'title_by_state' -%}
{%- set title_icon = 'flag far' -%}
{%- set list_path = tabular ? 'calculation_table' : 'calculation_card' -%}

{% block data %}
<div class="col my-2 table-responsive">
    <table class="table table-bordered table-hover table-list table-sm">
        <thead>
            <tr>
                <th class="text-nowrap">{{ 'fields.state'|trans }}</th>
                <th class="text-state">{{ 'fields.editable'|trans }}</th>
                <th class="text-currency">{{ 'fields.count'|trans }}</th>
                <th class="text-percent">{{ 'fields.percent'|trans }}</th>
                <th class="text-currency">{{ 'fields.sum'|trans }}</th>
                <th class="text-currency">{{ 'fields.margin'|trans }}</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for item in data -%}
            {%- set parameters = tabular ? {'search[0][index]': 8, 'search[0][value]': item.id} : {'query': item.code} -%}
            <tr title="{{ 'row_by_state'|trans({'%name%': item.code}) }}">
                <td class="text-nowrap">
                    <span class="mr-2 text-border" style="border-left-width: 1.25rem !important; {{ properties.stateCss(item.color) }}"></span><a href="{{ path(list_path, parameters) }}">{{- item.code }}</a>
                </td>
                <td class="text-state">{{ (item.editable ? 'common.value_true' : 'common.value_false')|trans([], 'messages') }}</td>
                <td class="text-currency">{{ item.count|integer }}</td>
                <td class="text-percent">{{ item.percent|percent(true) }}</td>
                <td class="text-currency">{{ item.total|amount }}</td>
                <td class="text-currency{% if app.marginBelow(item.margin) %} text-danger{% endif %}">{{ item.margin|percent(true) }}</td>
            </tr>
            {% endfor -%}
        </tbody>
        <tfoot data-link="row" class="rowlink">
            <tr title="{{ 'row_show_all'|trans }}">
                <td class="font-weight-bold text-nowrap" colspan="2">
                    <a href="{{ path(list_path) }}">{{ 'fields.total'|trans }}</a>
                </td>
                <td class="font-weight-bold text-currency">{{ count|integer }}</td>
                <td class="font-weight-bold text-percent">{{ 1.0|percent(true) }}</td>
                <td class="font-weight-bold text-currency">{{ total|amount }}</td>
                <td class="font-weight-bold text-currency{% if app.marginBelow(margin) %} text-danger{% endif %}">{{- margin|percent(true) -}}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
