{% extends 'chart/chart_base.html.twig' %}
{% from 'macros/_properties.html.twig' import stateCss %}
{# parameters #}
{%- set title = 'chart.state.title' -%}
{%- set title_icon = ICON_CALCULATION_STATE -%}
{%- set pdf_route = 'chart_state_pdf' -%}
{# class #}
{% block chart_class ' state' -%}
{# data #}
{% block data %}
<thead>
    <tr>
        <th class="text-nowrap">{{ 'calculation.fields.state'|trans }}</th>
        <th class="text-center" colspan="2">{{ 'calculation.list.title'|trans }}</th>
        <th class="text-currency">{{ 'calculationgroup.fields.amount'|trans }}</th>
        <th class="text-center" colspan="2">{{ 'calculation.fields.margin'|trans }}</th>
        <th class="text-center" colspan="2">{{ 'calculation.fields.total'|trans }}</th>
    </tr>
</thead>
<tbody data-link="row" class="rowlink">
    {% for item in data -%}
    <tr title="{{ 'chart.state.row'|trans({'%name%': item.code}) }}">
        <td class="text-nowrap">
            <a class="d-flex align-items-center" href="{{ path(list_path, {stateId: item.id}) }}">
                <span class="border me-1" style="width: 1.5rem; height: 1rem; background: {{ item.color }}"></span>
                <span>{{ item.code }}</span>
            </a>
        </td>
        <td class="text-currency">{{ item.count|integer }}</td>
        <td class="text-percent">{{ item.percent_calculation|percent(true, 2, 5) }}</td>
        <td class="text-currency">{{ item.items|amount }}</td>
        <td class="text-currency">{{ item.margin_amount|amount }}</td>
        <td class="text-percent{{ _self.margin_below_class(item.margin_percent, min_margin) }}"
                {{ _self.margin_below_tooltip(item.margin_percent, min_margin) }}>
            {{- item.margin_percent|percent -}}
        </td>
        <td class="text-currency">{{ item.total|amount }}</td>
        <td class="text-percent">{{ item.percent_amount|percent(true, 2, 5) }}</td>
    </tr>
    {% endfor -%}
    <tr title="{{ 'chart.row_all'|trans }}" class="fw-bold">
        <td class="text-nowrap">
            <a href="{{ path(list_path) }}">{{ 'calculation.fields.total'|trans }}</a>
        </td>
        <td class="text-currency">{{ totals.calculation_count|integer }}</td>
        <td class="text-percent">{{ totals.calculation_percent|percent(true, 2, 5) }}</td>
        <td class="text-currency">{{ totals.items_amount|amount }}</td>
        <td class="text-currency">{{ totals.margin_amount|amount }}</td>
        <td class="text-percent{{ _self.margin_below_class(totals.margin_percent, min_margin) }}"
                {{ _self.margin_below_tooltip(totals.margin_percent, min_margin) }}>
            {{- totals.margin_percent|percent -}}
        </td>
        <td class="text-currency">{{ totals.total_amount|amount }}</td>
        <td class="text-percent">{{ totals.total_percent|percent(true, 2, 5) }}</td>
    </tr>
</tbody>
{% endblock %}
{# body #}
{% block card_body %}
    {{ parent() }}
    <p class="small mb-0">{{ 'chart.state.tooltip'|trans|raw }}</p>
{%- endblock %}
