{% extends 'chart/chart_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, button_pdf %}
{% trans_default_domain 'chart' %}
{# add a month option #}
{% macro month(value, selected) -%}
<option value="{{ value }}"{% if selected %} selected="selected"{% endif %}>
    {{- 'counters.months'|trans({'count': value}, 'messages') -}}
</option>
{%- endmacro %}
{# format the value with arrow #}
{% macro cell_value(value, previous, user_percent=false) -%}
{% if not previous %}
    {% set icon = false %}
{% elseif previous == value %}
    {% set icon = 'right' %}
    {% set color = 'text-secondary' %}
{% elseif previous < value %}
    {% set icon = 'up' %}
    {% set color = 'text-success' %}
{% elseif previous > value %}
    {% set icon = 'down' %}
    {% set color = 'text-danger' %}
{% endif %}
{% if icon %}
    <i class="fa-fw fa-solid fa-caret-{{ icon }} position-absolute top-50 start-0 translate-middle-y {{ color }}"></i>
{% endif %}
{{- user_percent ? value|percent : value|integer -}}
{%- endmacro %}
{# parameters #}
{%- set title = 'title_by_month' -%}
{%- set title_icon = 'calendar-alt far' -%}
{# class #}
{% block card_container_class '' -%}
{# header #}
{% block card_header %}
<div class="d-flex-wrap-center">
    {{ parent() }}
    {% if allowed_months|length > 1 %}
        <div class="d-flex-wrap-center ms-sm-auto">
            <label class="form-label mb-0" for="months">{{ 'last_month.period'|trans }}</label>
            <select class="form-select form-select-sm w-auto d-print-none" id="months" name="months" data-months="{{ months }}" data-url="{{ url('chart_month') }}">
            {% for current in allowed_months %}
                {{ _self.month(current, current == months) }}
            {% endfor %}
            </select>
        </div>
    {% endif %}
</div>
{%- endblock %}
{# data #}
{% block data %}
<thead>
    <tr>
        <th class="text-nowrap">{{ 'fields.month'|trans }}</th>
        <th class="text-currency">{{ 'fields.count'|trans }}</th>
        <th class="text-center">
            <div class="d-inline-flex align-items-baseline justify-content-center">
                <span class="border me-1" style="width: 1.25rem; height: 0.75rem; background: darkgreen;"></span>
                <span class="ms-auto">{{ 'fields.net'|trans }}</span>
            </div>
        </th>
        <th class="text-center" colspan="2">
            <div class="d-inline-flex align-items-baseline justify-content-center">
                <span class="border me-1" style="width: 1.25rem; height: 0.75rem; background: darkred;"></span>
                <span>{{ 'fields.margin'|trans }}</span>
            </div>
        </th>
        <th class="text-currency">{{ 'fields.total'|trans }}</th>
    </tr>
</thead>
<tbody data-link="row" class="rowlink">
    {% for item in data -%}
    {%- set month = item.date|locale_date('none', 'MMMM Y') -%}
    {%- set parameters = {'search': item.date|locale_date('none', 'MM.Y')} -%}
    <tr title="{{ 'row_by_month'|trans({'%name%': month}) }}">
        <td class="text-nowrap">
            <a href="{{ path(list_path, parameters) }}">{{ month }}</a>
        </td>
        <td class="text-currency position-relative ps-4">
            {{- _self.cell_value(item.count|round, last_count|default) -}}
            {%- set last_count = item.count|round -%}
        </td>
        <td class="text-currency position-relative ps-4">
            {{- _self.cell_value(item.items|round, last_items|default) -}}
            {%- set last_items = item.items|round -%}
        </td>
        <td class="text-currency position-relative ps-4">
            {{- _self.cell_value(item.margin_amount|round, last_amount|default) -}}
            {%- set last_amount = item.margin_amount|round -%}
        </td>
        <td class="text-percent position-relative ps-4{{ _self.margin_below_class(item.margin_percent, min_margin) }}"{{ _self.margin_below_tooltip(item.margin_percent, min_margin) }}>
            {{- _self.cell_value(item.margin_percent|round(2, 'floor'), last_percent|default, true) -}}
            {%- set last_percent = item.margin_percent|round(2, 'floor') -%}
        </td>
        <td class="text-currency position-relative ps-4">
            {{- _self.cell_value(item.total|round, last_sum|default) -}}
            {%- set last_sum = item.total|round -%}
        </td>
    </tr>
    {% endfor -%}
    <tr title="{{ 'row_show_all'|trans }}">
        <td class="fw-bold text-nowrap">
            <a href="{{ path(list_path) }}">{{ 'fields.total'|trans }}</a>
        </td>
        <td class="fw-bold text-currency">{{ totals.count|integer }}</td>
        <td class="fw-bold text-currency">{{ totals.items|integer }}</td>
        <td class="fw-bold text-currency">{{ totals.margin_amount|integer }}</td>
        <td class="fw-bold text-percent{{ _self.margin_below_class(totals.margin_percent, min_margin) }}"{{ _self.margin_below_tooltip(totals.margin_percent, min_margin) }}>{{ totals.margin_percent|percent }}</td>
        <td class="fw-bold text-currency">{{ totals.total|integer }}</td>
    </tr>
</tbody>
{% endblock %}
{# footer #}
{% block card_footer -%}
<div class="d-flex-wrap">
    {{ homepage() }}
    {% if is_granted(ATTRIBUTE_EXPORT, ENTITY_CALCULATION) %}
        {{ button_pdf('chart_month_pdf', {'count': months}, 'common.button_export_pdf') }}
    {% endif %}
    <small class="ms-xl-auto">{{ 'month_chart.tooltip'|trans|raw }}</small>
</div>
{%- endblock %}
