{% extends 'chart/chart_base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, button_pdf %}
{% trans_default_domain 'chart' %}
{# add a month option #}
{% macro month(value, selected) -%}
<option value="{{ value }}"{% if selected %} selected="selected"{% endif %}>
    {{- 'counters.months'|trans({'count': value}, 'messages') -}}
</option>
{%- endmacro %}
{# format the percent with arrow #}
{% macro cell_percent(value, previous) -%}
{% set icon = 'right' %}
{% set color = 'var(--bs-secondary)' %}
{% if previous and previous < value %}
    {% set icon = 'up' %}
    {% set color = 'var(--bs-success)' %}
{% elseif previous and previous > value %}
    {% set icon = 'down' %}
    {% set color = 'var(--bs-danger)' %}
{% endif %}
<i class="fa-fw fa-solid fa-caret-{{ icon }} position-absolute top-50 start-0 translate-middle-y" style="color:{{ color }}"></i>{{ value|percent(false) -}}
{%- endmacro %}
{# format the integer with arrow #}
{% macro cell_integer(value, previous) -%}
    {% set icon = 'right' %}
    {% set color = 'var(--bs-secondary)' %}
    {% if previous and previous < value %}
        {% set icon = 'up' %}
        {% set color = 'var(--bs-success)' %}
    {% elseif previous and previous > value %}
        {% set icon = 'down' %}
        {% set color = 'var(--bs-danger)' %}
    {% endif %}
<i class="fa-fw fa-solid fa-caret-{{ icon }} position-absolute top-50 start-0 translate-middle-y" style="color:{{ color }}"></i>{{ value|integer -}}
{%- endmacro %}
{# parameters #}
{%- set title = 'title_by_month' -%}
{%- set title_icon = 'calendar-alt far' -%}
{# class #}
{% block card_container_class '' -%}
{# header #}
{% block card_header %}
<div class="d-flex-wrap-center">
    <h1 class="card-title me-auto">
        {{- icon(title_icon, title, title_domain|default(null), title_parameters|default({})) -}}
    </h1>
    <div class="d-flex-wrap-center d-print-none">
        <label class="form-label ms-sm-auto mb-0" for="months">{{ 'last_month.period'|trans }}</label>
        <select class="form-select form-select-sm w-auto d-print-none" id="months" name="months" data-months="{{ months }}" data-url="{{ url('chart_by_month') }}">
            {% for current in allowed_months %}
                {{ _self.month(current, current == months) }}
            {% endfor %}
        </select>
    </div>
</div>
{%- endblock %}
{# data #}
{% block data %}
<thead>
    <tr>
        <th class="text-nowrap">{{ 'fields.month'|trans }}</th>
        <th class="text-currency">{{ 'fields.count'|trans }}</th>
        <th class="text-currency" style="border-bottom: 2px solid darkgreen;">{{ 'fields.net'|trans }}</th>
        <th class="text-currency" style="border-bottom: 2px solid darkred;">{{ 'fields.margin_amount'|trans }}</th>
        <th class="text-percent">{{ 'fields.margin_percent'|trans }}</th>
        <th class="text-currency">{{ 'fields.total'|trans }}</th>
    </tr>
</thead>
<tbody data-link="row" class="rowlink">
    {% for item in data -%}
    {%- set month = item.date|locale_date('none', null, null, 'MMMM Y')|capitalize -%}
    {%- set parameters = {'search': item.date|locale_date('none', null, null, 'MM.Y')} -%}
    <tr title="{{ 'row_by_month'|trans({'%name%': month}) }}">
        <td class="text-nowrap">
            <a href="{{ path(list_path, parameters) }}">{{ month }}</a>
        </td>
        <td class="text-currency position-relative">
            {{- _self.cell_integer(item.count|round, last_count|default) -}}
            {%- set last_count = item.count|round -%}
        </td>
        <td class="text-currency position-relative">
            {{- _self.cell_integer(item.items|round, last_items|default) -}}
            {%- set last_items = item.items|round -%}
        </td>
        <td class="text-currency position-relative">
            {{- _self.cell_integer(item.marginAmount|round, last_amount|default) -}}
            {%- set last_amount = item.marginAmount|round -%}
        </td>
        <td class="text-percent position-relative{{ _self.margin_below_class(item.marginPercent, min_margin) }}"{{ _self.margin_below_tooltip(item.marginPercent, min_margin) }}>
            {{- _self.cell_percent(item.marginPercent|round(2, 'floor'), last_percent|default) -}}
            {%- set last_percent = item.marginPercent|round(2, 'floor') -%}
        </td>
        <td class="text-currency position-relative">
            {{- _self.cell_integer(item.sum|round, last_sum|default) -}}
            {%- set last_sum = item.sum|round -%}
        </td>
    </tr>
    {% endfor -%}
    <tr title="{{ 'row_show_all'|trans }}">
        <td class="fw-bold text-nowrap">
            <a href="{{ path(list_path) }}">{{ 'fields.total'|trans }}</a>
        </td>
        <td class="fw-bold text-currency">{{ count|integer }}</td>
        <td class="fw-bold text-currency">{{ items|integer }}</td>
        <td class="fw-bold text-currency">{{ marginAmount|integer }}</td>
        <td class="fw-bold text-percent{{ _self.margin_below_class(marginPercent, min_margin) }}"{{ _self.margin_below_tooltip(marginPercent, min_margin) }}>{{ marginPercent|percent(false) }}</td>
        <td class="fw-bold text-currency">{{ total|integer }}</td>
    </tr>
</tbody>
{% endblock %}
{# footer #}
{% block card_footer -%}
    {{ parent() }}
    {{ button_pdf('chart_by_month_pdf', {'count': months}, 'common.button_export_pdf') }}
{%- endblock %}
