{% extends 'chart/chart_base.html.twig' %}
{% trans_default_domain 'chart' %}

{# add a month option #}
{% macro month(value, selected) -%}
<option value="{{ value }}"{% if selected %} selected="selected"{% endif %}>
    {{- 'counters.months'|trans({'%count%': value}, 'messages') -}}
</option>
{%- endmacro %}

{# parameters #}
{%- set title = 'title_by_month' -%}
{%- set title_icon = 'calendar-alt far' -%}
{%- set list_path = 'calculation_table' -%}

{# class #}
{% block card_container_class '' -%}

{% block card_header %}
<div class="row">
    <div class="col-auto mr-auto">
        {{ parent() }}
    </div>
    <div class="col-auto">
        <div class="form-inline">
            <label class="mr-2">{{ 'last_month.period'|trans }}</label>
            <select id="months" name="months" data-months="{{ months }}" data-url="{{ path('chart_by_month') }}" class="form-control form-control-sm custom-select custom-select-sm">
                {% for current in allowed_months %}
                    {{ _self.month(current, current == months) }}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{%- endblock %}

{% block data %}
<div class="col my-2 table-responsive">
    <table class="table table-bordered table-hover table-list table-sm">
        <thead>
            <tr>
                <th class="text-nowrap">{{ 'fields.month'|trans }}</th>
                <th class="text-currency">{{ 'fields.count'|trans }}</th>
                <th class="text-currency" style="border-bottom: 2px solid darkgreen;">{{ 'fields.net'|trans }}</th>
                <th class="text-currency" style="border-bottom: 2px solid darkred;">{{ 'fields.margin_amount'|trans }}</th>
                <th class="text-percent">{{ 'fields.margin_percent'|trans }}</th>
                <th class="text-currency">{{ 'fields.total'|trans }}</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for item in data -%}
            {%- set month = item.date|localedate('none', null, null, 'MMMM Y')|capitalize -%}
            {%- set parameters = {'search': item.date|localedate('none', null, null, 'MM.Y')} -%}
            <tr title="{{ 'row_by_month'|trans({'%name%': month}) }}">
                <td class="text-nowrap">
                    <a href="{{ path(list_path, parameters) }}">{{ month }}</a>
                </td>
                <td class="text-currency">{{ item.count|integer }}</td>
                <td class="text-currency">{{ item.items|integer }}</td>
                <td class="text-currency">{{ item.marginAmount|integer }}</td>
                <td class="text-percent{{ _self.margin_below_class(item.marginPercent, min_margin) }}"{{ _self.margin_below_tooltip(item.marginPercent, min_margin) }}>{{ item.marginPercent|percent(false) }}</td>
                <td class="text-currency">{{ item.sum|integer }}</td>
            </tr>
            {% endfor -%}
            <tr title="{{ 'row_show_all'|trans }}">
                <td class="font-weight-bold text-nowrap">
                    <a href="{{ path(list_path) }}">{{ 'fields.total'|trans }}</a>
                </td>
                <td class="font-weight-bold text-currency">{{ count|integer }}</td>
                <td class="font-weight-bold text-currency">{{ items|integer }}</td>
                <td class="font-weight-bold text-currency">{{ marginAmount|integer }}</td>
                <td class="font-weight-bold text-percent{{ _self.margin_below_class(marginPercent, min_margin) }}"{{ _self.margin_below_tooltip(marginPercent, min_margin) }}>{{ marginPercent|percent(false) }}</td>
                <td class="font-weight-bold text-currency">{{ total|integer }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
