/* global Highcharts */
{% trans_default_domain 'chart' %}
/**
 * @typedef Point
 * @property {string} color
 * @property {string} calculations
 * @property {string} net_amount
 * @property {string} margin_amount
 * @property {string} margin_percent
 * @property {string} total_amount
 */
function renderTooltip () {
    /** @var Point point */
    const point = this.point;
    const color = point.color;
    let html = '<table class="m-1" style="padding: 5px">';
    html +=
        '<tr class="border-bottom border-dark">' +
        '<th>{{ 'fields.state'|trans }}</th>' +
        '<th>&nbsp:&nbsp</th>' +
        '<th class="text-calculation">' +
            '<div class="d-flex align-items-center">' +
                '<span class="border me-1" style="width: 1rem; height: 0.75rem; background:' + color + '"></span>' +
                '<span>' + point.name + '</span>' +
            '</div>' +
        '</th>' +
    '</tr>';
    html +=
        '<tr>' +
            '<td>{{ 'fields.count'|trans }}</td>' +
            '<td>&nbsp:&nbsp</td>' +
            '<td class="text-calculation">' + point.calculations + '</td>' +
        '</tr>';
    html +=
        '<tr>' +
            '<td>{{ 'fields.net'|trans }}</td>' +
            '<td>&nbsp:&nbsp</td>' +
            '<td class="text-calculation">' + point.net_amount + '</td>' +
        '</tr>';
    html +=
        '<tr>' +
            '<td>{{ 'fields.margin_amount'|trans }}</td>' +
            '<td>&nbsp:&nbsp</td>' +
            '<td class="text-calculation">' + point.margin_amount + '</td>' +
        '</tr>';
    html +=
        '<tr>' +
            '<td>{{ 'fields.margin_percent'|trans }}</td>' +
            '<td>&nbsp:&nbsp</td>' +
            '<td class="text-calculation">' + point.margin_percent + '</td>' +
        '</tr>';
    html +=
        '<tr class="border-top border-dark">' +
            '<th>{{ 'fields.total'|trans }}</th>' +
            '<th>&nbsp:&nbsp</th>' +
            '<th class="text-calculation">' + point.total_amount + '</th>' +
        '</tr>';
    html += '</table>';

    return html;
}
