{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{% trans_default_domain 'chart' %}

{# macros #}
{% macro margin_below_class(margin, min_margin) -%}
{% if margin < min_margin %} text-danger has-tooltip{% endif %}
{%- endmacro %}

{% macro margin_below_tooltip(margin, min_margin) -%}
{% if margin < min_margin %} title="{{ 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}, 'messages') }}" data-html="true"{% endif %}
{%- endmacro %}

{# parameters #}
{%- set title_domain = 'chart' -%}
{%- set title_icon = title_icon|default('area-chart') -%}

{% block card_body %}
<div class="row">
    <div class="col chart" id="{{ constant('App\\Chart\\Basechart::CONTAINER') }}"></div>
</div>
<div class="row" id="data">
{% block data %}{% endblock %}
</div>

{% endblock %}

{% block card_footer -%}
{{ icons.homepage() }}

{%- endblock %}

{% block stylesheets %}
{{ asset_css('css/chart.css') }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() -}}
{{ asset_js('js/vendor/highcharts/highcharts.js') }}
{{ asset_js('js/vendor/highcharts/accessibility.js') }}
{{ asset_js('js/plugins/plugin-rowlink.js') }}
{{ asset_js('js/application/chart.js') }}
{% else %}
{{ asset_js('js/chart.js') }}
{% endif %}
<script nonce="{{ csp_nonce() }}">
    {{ chart(chart) }}
</script>
{% endblock %}
