{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, sitemap, button_pdf, link %}
{# macros #}
{% macro margin_below_class(margin, min_margin) -%}
{% if margin < min_margin %} text-danger has-tooltip{% endif %}
{%- endmacro %}
{% macro margin_below_tooltip(margin, min_margin) -%}
{% if margin < min_margin %} title="{{ 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}, 'messages') }}"{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title_icon = title_icon|default('area-chart') -%}
{%- set list_path = 'calculation_index' -%}
{# body #}
{% block card_body %}
<div id="{{ constant('App\\Chart\\AbstractHighchart::CONTAINER') }}" class="chart{% block chart_class %}{% endblock %}"></div>
<div id="data" class="table-responsive my-2">
    <table class="table table-bordered table-hover table-list table-sm">
        {% block data %}{% endblock %}
    </table>
</div>
{% endblock %}
{# footer #}
{% block card_footer -%}
<div class="d-flex-wrap">
    {{ homepage() }}
    {% if pdf_route is defined and is_granted(PERMISSION_EXPORT, ENTITY_CALCULATION) %}
        {{ button_pdf(pdf_route, pdf_params|default({})) }}
    {% endif %}
    {{ sitemap() }}
</div>
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if is_js_debug %}
    {{ parent() }}
    {{ asset_js('vendor/highcharts/highcharts.js') }}
    {{ asset_js('js/plugins/plugin-rowlink.js') }}
    {{ asset_js('js/application/chart.js') }}
{% else %}
    {{ asset_js('js/compiled/chart.js') }}
{% endif %}
<script nonce="{{ csp_nonce() }}">
    {{- chart(chart) -}}
</script>
{% endblock %}
