{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, button_pdf, link %}
{% trans_default_domain 'chart' %}
{# macros #}
{% macro margin_below_class(margin, min_margin) -%}
{% if margin < min_margin %} text-danger has-tooltip{% endif %}
{%- endmacro %}
{% macro margin_below_tooltip(margin, min_margin) -%}
{% if margin < min_margin %} title="{{ 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}, 'messages') }}"{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title_domain = 'chart' -%}
{%- set title_icon = title_icon|default('area-chart') -%}
{%- set list_path = 'calculation_table' -%}
{# body #}
{% block card_body %}
{% block chart %}
    <div class="chart" id="{{ constant('App\\Chart\\AbstractHighchart::CONTAINER') }}"></div>
{% endblock %}
<div id="data" class="table-responsive my-2">
    <table class="table table-bordered table-hover table-list table-sm">
        {% block data %}{% endblock %}
    </table>
</div>
{% endblock %}
{# footer #}
{% block card_footer -%}
    <div class="d-flex-wrap">
        {% set caller = app.request.query.string('caller')|default %}
        {% if caller %}
            {{ link(caller, 'common.button_back', 'btn btn-form btn-primary', 'chevron-left') }}
        {% else %}
            {{ homepage() }}
        {% endif %}
        {% if pdf_route is defined and is_granted(ATTRIBUTE_EXPORT, ENTITY_CALCULATION) %}
            {{ button_pdf(pdf_route, pdf_params|default({})) }}
        {% endif %}
    </div>
{%- endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
    {{ parent() }}
    {{ asset_js('vendor/highcharts/highcharts.js') }}
    {{ asset_js('js/plugins/plugin-rowlink.js') }}
    {{ asset_js('js/application/chart.js') }}
{% else %}
    {{ asset_js('js/compiled/chart.js') }}
{% endif %}
<script nonce="{{ csp_nonce() }}">
    {{- chart(chart) -}}
</script>
{% endblock %}
