{% extends 'chart/base_chart.html.twig' %}
{% trans_default_domain 'chart' %}

{# add a month option #}
{% macro month(value, default) -%}
<option value="{{ value }}" {% if value == default %} selected="selected" {% endif %}>{{ value }} {{ 'last_month.months'|trans }}</option>
{%- endmacro %}

{# parameters #}
{%- set title      = 'title_by_month' -%}
{%- set title_icon = 'calendar-alt far' -%}
{%- set list_path  =  tabular ? 'calculation_table' : 'calculation_list' -%}

{# class #}
{% block card_container_class '' -%}

{% block card_header %}
<div class="row">
    <div class="col-auto mr-auto">
        {{ parent() }}
    </div>
    <div class="col-auto">
        <div class="form-inline">
            <label class="mr-2">{{ 'last_month.period'|trans }}</label>
            <select id="months" name="months" data-months="{{ months }}" data-url="{{ path('chart_by_month') }}" class="form-control form-control-sm custom-select custom-select-sm">
                {% for i in [4, 6, 12, 18, 24] %}
                    {{ _self.month(i, i == months) }}
                {% endfor %}
            </select>                
        </div>
    </div>
</div>
{%- endblock %}

{% block data %}
<div class="col my-2">
    <table class="table table-bordered table-hover table-list table-sm">
        <thead>
            <tr>
                <th>{{ 'fields.month'|trans }}</th>
                <th class="text-currency">{{ 'fields.count'|trans }}</th>
                <th class="text-currency" style="border: 2px solid darkgreen;">{{ 'fields.net'|trans }}</th>
                <th class="text-percent">{{ 'fields.margin_percent'|trans }}</th>
                <th class="text-currency" style="border: 2px solid darkred;">{{ 'fields.margin_amount'|trans }}</th>
                <th class="text-currency">{{ 'fields.total'|trans }}</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for item in data -%}
            {%- set month = item.date|strftime('%B %Y') -%}
        	<tr title="{{ 'row_by_month'|trans({'%name%': month}) }}">
                <td>
                	<a href="{{ path(list_path, {'query': item.date|strftime('%m.%Y')}) }}">{{ month }}</a>
                </td>
                <td class="text-currency">{{ item.count|integer }}</td>
                <td class="text-currency">{{ item.items|number_format(0) }}</td>
                {%- set class_name = marginBelow(item.marginPercent) ? 'text-percent text-danger' : 'text-percent' -%}
                <td class="{{ class_name }}">{{ item.marginPercent|percent(false) }}</td>
                <td class="text-currency">{{ item.marginAmount|number_format(0) }}</td>
                <td class="text-currency">{{ item.sum|number_format(0) }}</td>
            </tr>
            {% endfor -%}
        </tbody>
        <tfoot>
            <tr>
            	<td class="font-weight-bold">{{ 'fields.total'|trans }}</td>
            	<td class="font-weight-bold text-currency">{{ count|integer }}</td>
                <td class="font-weight-bold text-currency">{{ items|number_format(0) }}</td>
            	<td class="font-weight-bold text-percent">{{ marginPercent|percent(false) }}</td>
                <td class="font-weight-bold text-currency">{{ marginAmount|number_format(0) }}</td>
                <td class="font-weight-bold text-currency">{{ total|number_format(0) }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/application/chart_last_month.js') }}
{% endblock %}
