{# output a data colum header #}
{% macro header(column) %}
{% import 'macros/_attributes.html.twig' as tools %}
<th class="{{ column.headerClass }}"{{ tools.attribs(column.attributes, 'data-') }}>
    {{- column.title ? column.title|trans : column.name -}}
</th>
{% endmacro %}

{# output the data table header #}
{% macro headers(columns) %}
<thead>
    <tr role="row">
        {% for column in columns %}
        {{ _self.header(column) }}
        {% endfor %}
    </tr>
</thead>
{% endmacro %}

{# add a page length option #}
{% macro page(value, default, display = true) -%}
{%- if display -%}
    <option value="{{ value }}"{% if value == default %} selected="selected"{% endif %}>{{ value }}</option>
{%- endif -%}
{%- endmacro %}
