{# output attributes #}
{% macro attribs(attributes, prefix = '') -%}
{% for attrname, attrvalue in attributes %} {{ prefix }}{{ attrname }}="{{ attrvalue }}"{% endfor %}
{%- endmacro %}

{# output a data colum header #}
{% macro header(column) %}
<th class="{{ column.headerClass }}"{{ _self.attribs(column.attributes, 'data-') }}>
    {{- column.title ? column.title|trans : column.name -}}
</th>
{% endmacro %}

{# output the data table header #}
{% macro headers(columns) %}
<thead>
    <tr role="row">
        {% for column in columns %}
        {{ _self.header(column) }}
        {% endfor %}
    </tr>
</thead>
{% endmacro %}

{# add a page length option #}
{% macro page(value, default, display = true) -%}
{%- if display -%}
    <option value="{{ value }}"{% if value == default %} selected="selected"{% endif %}>{{ value }}</option>
{%- endif -%}
{%- endmacro %}
