{# macros for icons, links and navigation entries #}
{% macro icon(icon, text, parameters = []) -%}
{%- if icon -%}
    {%- if 'fab' in icon -%}
        {%- set class = 'fa-brands fa-' ~ icon|split(' ')|filter(c => c != 'fab')|join(' ') -%}
    {%- elseif 'far' in icon -%}
        {%- set class = 'fa-regular fa-' ~ icon|split(' ')|filter(c => c != 'far')|join(' ') -%}
    {%- else -%}
        {%- set class = 'fa-solid fa-' ~ icon -%}
    {%- endif -%}
    {%- if text -%}
        {%- set class = class ~ ' me-1' -%}
    {%- endif -%}
    <i class="{{ class }}"></i>
{%- endif %}
{%- if text -%}
    {{- text|trans(parameters) -}}
{%- endif %}
{%- endmacro icon %}

{% macro link(href, text, class, icon = null, title = null, parameters = []) -%}
{%- set role = (class and 'btn' in class) ? ' role="button"' : '' -%}
{%- set title = title ? ' title="' ~ title|trans(parameters) ~ '"' : '' -%}
{%- set class = class ? ' class="' ~ class ~ '"' : '' -%}
<a href="{{ href }}"{{ class|raw }}{{ role|raw }}{{ title|raw }}>
    {{- _self.icon(icon, text, parameters) -}}
</a>
{%- endmacro link %}

{% macro linkExternal(href, text, class, icon = null, title = null, parameters = []) -%}
{%- set role = (class and 'btn' in class) ? ' role="button"' : '' -%}
{%- set title = title ? ' title="' ~ title|trans(parameters) ~ '"' : '' -%}
{%- set class = class ? ' class="' ~ class ~ '"' : '' -%}
<a href="{{ href }}" target="_blank" rel="noopener noreferrer"{{ class|raw }}{{ title|raw }}{{ role|raw }}>
    {{- _self.icon(icon, text, parameters) -}}
</a>
{%- endmacro linkExternal %}

{% macro apiLink(href, class = null, icon = null) -%}
    {{ _self.linkExternal(href, 'common.api_documentation', class, icon, 'common.api_documentation_help') -}}
{%- endmacro apiLink %}

{% macro dropdownItem(href, text, icon = null, parameters = []) -%}
<li>
    {{- _self.link(href, text, 'dropdown-item rowlink-skip', (icon ? icon ~ ' fa-fw' : null), null, parameters) -}}
</li>
{%- endmacro dropdownItem %}

{% macro dropdownItemExternal(href, text, icon = null, parameters = []) -%}
<li>
    {{- _self.linkExternal(href, text, 'dropdown-item rowlink-skip', (icon ? icon ~ ' fa-fw' : null), null, parameters) -}}
</li>
{%- endmacro dropdownItemExternal %}

{% macro dropdownItemWithClass(href, text, icon = null, class, hidden, parameters = []) -%}
{%- set class = ('dropdown-item rowlink-skip ' ~ (hidden ? 'd-none ' : '') ~ class|default(''))|trim -%}
<li>
    <a href="{{ href }}" class="{{ class }}">
        {{- _self.icon((icon ? icon ~ ' fa-fw' : null), text, parameters) -}}
    </a>
</li>
{%- endmacro dropdownItemWithClass %}

{% macro dropdownItemButton(text, icon, class = null, hidden = false, parameters = []) -%}
{%- set class = ('dropdown-item rowlink-skip ' ~ (hidden ? 'd-none ' : '') ~ class|default(''))|trim -%}
<li>
    <button type="button" class="{{ class }}">
        {{- _self.icon((icon ? icon ~ ' fa-fw' : null), text, parameters) -}}
    </button>
</li>
{%- endmacro dropdownItemButton %}

{% macro dropdownSeparator(hidden = false, class = '') -%}
{%- set class = (class ~ (hidden ? ' d-none' : ''))|trim -%}
<li{% if class %} class="{{ class }}"{% endif %}>
    <hr class="dropdown-divider">
</li>
{%- endmacro dropdownSeparator %}

{% macro dropdownEllipsis(id = null) -%}
<button type="button" class="btn btn-sm btn-outline-secondary border-0 px-1"{% if id %} id="{{ id }}"{% endif %} data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'common.actions'|trans }}">
    {{- _self.icon('ellipsis-v') -}}
</button>
{%- endmacro dropdownEllipsis %}

{% macro homepage() -%}
{{- _self.link(path('homepage'), 'index.title', 'btn btn-form btn-primary', 'home', 'index.title_help') -}}
{%- endmacro homepage %}

{% macro button_submit(text = 'common.button_ok', class = 'btn-primary', parameters = []) -%}
{% from 'macros/_attributes.html.twig' import attributes %}
{%- set parameters = parameters|merge({type: 'submit', role: 'button', class: ('btn btn-form btn-submit ' ~ class)|trim}) -%}
<button{{ attributes(parameters) }}>{{ text|trans }}</button>
{%- endmacro button_submit %}

{% macro button_ok(href = '#', text = 'common.button_ok', class = 'btn btn-ok btn-form btn-primary') -%}
{{- _self.link(href: href, text: text, class: class) -}}
{%- endmacro button_ok %}

{% macro button_cancel(href = '#', text = 'common.button_cancel', class = 'btn btn-cancel btn-form btn-secondary') -%}
{%- set text = text|default('common.button_cancel') -%}
{%- set class = class|default('btn btn-cancel btn-form btn-secondary') -%}
{{- _self.link(href, text, class) -}}
{%- endmacro button_cancel %}

{% macro link_pdf(route, class = null) -%}
{{- _self.linkExternal(path(route), null, class, ICON_PDF, 'common.button_export_pdf') -}}
{%- endmacro link_pdf %}

{% macro button_pdf(route) -%}
{{- _self.linkExternal(path(route), 'common.button_pdf', 'btn btn-form btn-outline-secondary', ICON_PDF, 'common.button_export_pdf') -}}
{%- endmacro button_pdf %}

{% macro link_excel(route, class = null) -%}
{{ _self.linkExternal(path(route), null, class, ICON_EXCEL, 'common.button_export_excel') }}
{%- endmacro link_excel %}

{% macro button_excel(route) -%}
{{- _self.linkExternal(path(route), 'common.button_export', 'btn btn-form btn-outline-secondary', ICON_EXCEL, 'common.button_export_excel') -}}
{%- endmacro button_excel %}

{% macro link_word(route, class = null) -%}
{{- _self.linkExternal(path(route), null, class, ICON_WORD, 'common.button_export_word') -}}
{%- endmacro link_word %}

{% macro button_word(route) -%}
{{- _self.linkExternal(path(route), 'common.button_export', 'btn btn-form btn-outline-secondary', ICON_WORD, 'common.button_export_word') -}}
{%- endmacro button_word %}

{% macro copyright_link(class = null) -%}
{%- set parameters = {'%year%': 'now'|date('Y'), '%owner%': application_service.ownerName} -%}
{{- _self.linkExternal(application_service.ownerUrl, 'footer.copyright', class, null, 'footer.copyright_title', parameters) -}}
{%- endmacro copyright_link %}

{% macro modal_title(id, title_icon, title_text, data_target = false, header_class = null) %}
    <div class="modal-header{% if header_class %} {{ header_class }}{% endif %}">
        <h5 class="modal-title"{% if id %} id="{{ id }}{% endif %}">
            {{- _self.icon(title_icon, title_text) -}}
        </h5>
        {{- _self.modal_close_button(for_header: true, data_target: data_target) -}}
    </div>
{% endmacro modal_title %}

{% macro modal_footer(label = null, data_target = false) %}
    <div class="modal-footer">
        {{ _self.modal_close_button(label: label, data_target: data_target) }}
    </div>
{% endmacro modal_footer %}

{% macro modal_close_button(for_header = false, label = null, data_target = false) -%}
{% set label = label|default('common.button_close')|trans %}
{% if for_header %}
    <button type="button"{% if data_target %} data-bs-target="#{{ data_target }}"{% endif %} data-bs-dismiss="modal" class="btn-close" title="{{ label }}"></button>
{% else %}
    <button type="button"{% if data_target %} data-bs-target="#{{ data_target }}"{% endif %} data-bs-dismiss="modal" class="btn btn-form btn-secondary">
        {{- label -}}
    </button>
{% endif %}
{%- endmacro modal_close_button %}

{% macro footer_center() -%}
<hr class="mb-2 mx-n3">
<div class="d-flex-wrap-center">
    <small class="me-auto">{{ application_service.fullName }}</small>
    <small>{{ _self.copyright_link() }}</small>
</div>
{%- endmacro footer_center %}

{% macro vertical_title(icon, text) -%}
<h6 class="dropdown-header text-uppercase">
    {{- _self.icon(icon, text) -}}
</h6>
{% endmacro vertical_title %}

{% macro sitemap() -%}
{% set caller = app.request.query.string('caller')|default %}
{% if app.user and caller === path('site_map') %}
    {{ _self.link(caller, 'index.menu_site_map', 'btn btn-form btn-outline-success') }}
{% endif %}
{% endmacro sitemap %}

{% macro button_copy(target, class = 'btn-success', hide_modal = false, disabled = false) %}
<button type="button" class="btn btn-copy btn-form {{ class }}"{% if disabled %} disabled{% endif %}
        data-success="{{ 'common.copy_success'|trans }}"
        data-error="{{ 'common.copy_error'|trans }}"
        data-title="{{ 'common.copy_title'|trans }}"
        data-hide-modal="{{ hide_modal|json_encode }}"
        {% if target %} data-clipboard-target="{{ target }}"{% endif %}>
    {{- 'common.button_copy'|trans -}}
</button>
{% endmacro button_copy %}
