{# macros for icons, links and navigation entries #}
{% macro icon(icon, text, domain=null, parameters=[]) -%}
{%- if icon -%}
    {%- if 'fab' in icon -%}
        {%- set class = 'fa-brands fa-' ~ icon|split(' ')|filter(c => c != 'fab')|join(' ') -%}
    {%- elseif 'far' in icon -%}
        {%- set class = 'fa-regular fa-' ~ icon|split(' ')|filter(c => c != 'far')|join(' ') -%}
    {%- else -%}
        {%- set class = 'fa-solid fa-' ~ icon -%}
    {%- endif -%}
<i class="{{ class }}"></i>
{%- endif %}
{%- if text %}{% if icon %} {% endif %}{{ text|trans(parameters, domain) -}}{%- endif -%}
{%- endmacro %}

{# iconify version
{% macro icon2(icon, text, domain = null, parameters = []) -%}
{%- if icon -%}
    {% if 'fa-fw' in icon -%}
        {% set size = 'data-width="1.5rem" data-height="1rem" hAlign="left"' %}
    {%- endif %}
    {%- if 'fab' in icon -%}
        {%- set prefix = 'fa-brands:' -%}
    {%- elseif 'far' in icon -%}
        {%- set prefix = 'fa-regular:' -%}
    {%- else -%}
        {%- set prefix = 'fa-solid:' -%}
    {%- endif -%}
    {%- set class = prefix ~ icon|split(' ')|filter(c => c != 'fab' and c != 'far' and c != 'fa-fw' )|join(' ') -%}
    <span class="iconify" data-icon="{{ class }}"{% if size is defined %}{{ size|raw }}{% endif %}></span>
{%- endif %}
{%- if text %}{% if icon %} {% endif %}{{ text|trans(parameters, domain) -}}{%- endif -%}
{%- endmacro %}
#}

{% macro link(href, text, class, icon, title=null, domain=null, parameters=[]) -%}
{%- set role = (class and 'btn' in class) ? ' role="button"' : '' -%}
{%- set title = title ? ' title="' ~ title|trans(parameters, domain) ~ '"' : '' -%}
{%- set class = class ? ' class="' ~ class ~ '"' : '' -%}
<a href="{{ href }}"{{ class|raw }}{{ role|raw }}{{ title|raw }}>
    {{- _self.icon(icon, text, domain, parameters) -}}
</a>
{%- endmacro %}

{% macro linkExternal(href, text, class, icon, title=null, domain=null, parameters=[]) -%}
{%- set role = (class and 'btn' in class) ? ' role="button"' : '' -%}
{%- set title = title ? ' title="' ~ title|trans(parameters, domain) ~ '"' : '' -%}
{%- set class = class ? ' class="' ~ class ~ '"' : '' -%}
<a href="{{ href }}" target="_blank" rel="noopener noreferrer"{{ class|raw }}{{ title|raw }}{{ role|raw }}>
    {{- _self.icon(icon, text, domain, parameters) -}}
</a>
{%- endmacro %}

{% macro navItem(href, text, icon, domain=null, parameters=[]) -%}
<li class="nav-item">{{ _self.link(href, text, 'nav-link', icon, null, domain, parameters) }}</li>
{%- endmacro %}

{% macro navItemExternal(href, text, icon, domain=null, parameters=[]) -%}
    <li class="nav-item">{{ _self.linkExternal(href, text, 'nav-link', icon, null, domain, parameters) }}</li>
{%- endmacro %}

{% macro dropdownItem(href, text, icon, domain=null, parameters=[]) -%}
{{- _self.link(href, text, 'dropdown-item rowlink-skip', (icon ? icon ~ ' fa-fw' : null), null, domain, parameters) -}}
{%- endmacro %}

{% macro dropdownItemExternal(href, text, icon, domain=null, parameters=[]) -%}
{{- _self.linkExternal(href, text, 'dropdown-item rowlink-skip', (icon ? icon ~ ' fa-fw' : null), null, domain, parameters) -}}
{%- endmacro %}

{% macro dropdownItemWithId(href, text, icon, id, disabled, domain=null, parameters=[]) -%}
<a href="{{ href }}" class="dropdown-item rowlink-skip{% if disabled %} disabled {% endif %}" id="{{ id }}">
    {{- _self.icon((icon ? icon ~ ' fa-fw' : null), text, domain, parameters) -}}
</a>
{%- endmacro %}

{% macro dropdownItemWithClass(href, text, icon, class, hidden, domain=null, parameters=[]) -%}
{%- set class = ('dropdown-item rowlink-skip ' ~ (hidden ? 'd-none ' : '') ~ class|default(''))|trim -%}
<a href="{{ href }}" class="{{ class }}">
    {{- _self.icon((icon ? icon ~ ' fa-fw' : null), text, domain, parameters) -}}
</a>
{%- endmacro %}

{% macro dropdownSeparator(hidden=false, extra_class='') -%}
{%- set class = ('dropdown-divider ' ~ extra_class ~ (hidden ? ' d-none' : ''))|trim -%}
<div role="separator" class="{{ class }}"></div>
{%- endmacro %}

{% macro dropdownEllipsis(id=null, title='common.actions', class='btn btn-sm border-0 pt-0') -%}
{% if not ('btn-outline' in class) %}
    {% set class = (class ~ ' btn-outline-secondary')|trim %}
{% endif %}
<button type="button" role="button" class="{{ class }}"{% if id %} id="{{ id }}"{% endif %} data-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" title="{{ title|trans }}">
    {{- _self.icon('ellipsis-v') -}}
</button>
{%- endmacro %}

{% macro dropdownBars(id, title='common.actions', class='btn btn-sm border-0 py-0') -%}
{% if not ('btn-' in class) %}
    {% set class = (class ~ ' btn-secondary')|trim %}
{% endif %}
<button type="button" role="button" class="{{ class }}" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ title|trans }}">
    {{- _self.icon('bars') -}}
</button>
{%- endmacro %}

{% macro homepage(href=null, text='index.title', class='btn btn-form btn-primary', domain=null) -%}
{%- set href = href|default(path('homepage')) -%}
{{- _self.link(href, text, class, 'home', 'index.title_help', domain) -}}
{%- endmacro %}

{% macro button_submit(text='common.button_ok', class='btn btn-form btn-primary', parameters={}) -%}
{%- set parameters = parameters|merge({'class': class}) -%}
<button type="submit" role="button"{% for attrname, attrvalue in parameters %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ text|trans }}</button>
{%- endmacro %}

{% macro button_ok(href='#', text='common.button_ok', class='btn btn-form btn-primary', autofocus=false) -%}
{{- _self.link(href, text, class) -}}
{%- endmacro %}

{% macro button_cancel(href='#', text='common.button_cancel', class='btn btn-cancel btn-form btn-secondary') -%}
{%- set text = text|default('common.button_cancel') -%}
{%- set class = class|default('btn btn-cancel btn-form btn-secondary') -%}
{{- _self.link(href, text, class) -}}
{%- endmacro %}

{% macro button_pdf(route, parameters=[]) -%}
{{- _self.linkExternal(path(route, parameters), 'common.button_pdf', 'btn btn-form btn-outline-secondary', ICON_PDF) -}}
{%- endmacro %}

{% macro copyright_link(class=null) -%}
{%- set parameters = {'%year%': 'now'|date('Y'), '%owner%': app_owner} -%}
{{- _self.linkExternal(app_owner_url, 'footer.copyright', class, null, 'footer.copyright_title', null, parameters) -}}
{%- endmacro %}

{% macro dropdownItemCard(route_name, parameters=[]) -%}
{% if route_name %}{{ _self.dropdownItem(path(route_name, parameters), 'common.button_flex', 'grip-horizontal') }}{% endif %}
{%- endmacro %}

{% macro dropdownItemTable(route_name, parameters=[]) -%}
{% if route_name %}{{ _self.dropdownItem(path(route_name, parameters), 'common.button_table', 'table') }}{% endif %}
{%- endmacro %}

{% macro linkTable(route_name, parameters=[]) -%}
{% if route_name %}{{ _self.link(path(route_name, parameters), '', 'btn btn-secondary', 'table', 'common.button_table') }}{% endif %}
{%- endmacro %}

{% macro button_close_modal(for_header=true, label='common.button_close') -%}
{% set text = label|default('common.button_close')|trans %}
{% if for_header %}
    <button type="button" role="button" class="close" data-dismiss="modal" aria-label="{{ text }}" title="{{ text }}" >
        <span aria-hidden="true">&times;</span>
    </button>
{% else %}
    <button type="button" role="button" class="btn btn-form btn-secondary" data-dismiss="modal">
        {{- text -}}
    </button>
{% endif %}
{%- endmacro %}

{% macro footer_center() -%}
<hr class="mb-2 mx-n4">
<div class="row">
    <div class="col-md-6">
        <small>{{ app_name_version }}</small>
    </div>
    <div class="col-md-6 text-md-right">
        <small>{{ _self.copyright_link() }}</small>
    </div>
</div>
{%- endmacro %}

{% macro vertical_title(icon, text, domain) -%}
<h6 class="dropdown-header text-uppercase">
    {{- _self.icon(icon, text, domain) -}}
</h6>
{% endmacro %}
