{# macros for icons, links and navigation entries #}
{% macro icon(icon, text, parameters = [], inline = false) -%}
    {%- if icon -%}
        {%- if text and not inline -%}
            {%- set icon = icon ~ ' me-1' -%}
        {%- endif -%}
        <i class="{{ icon }}"></i>
    {%- endif %}
    {%- if text -%}
        {%- if icon and inline -%}
            <span class="ms-1 d-none d-md-inline-block">{{- text|trans(parameters) -}}</span>
        {%- else -%}
            {{- text|trans(parameters) -}}
        {%- endif -%}
    {%- endif %}
{%- endmacro icon %}

{% macro link(href, text, class, icon = null, title = null, parameters = [], inline = false) -%}
    {% set attrs = {
        href: href,
        role: (class and 'btn' in class) ? 'button' : null,
        title: title ? title|trans(parameters) : null,
        class: class} %}
    <a {{ html_attr(attrs) }}>
        {{- _self.icon(
            icon: icon,
            text: text,
            parameters: parameters,
            inline: inline) -}}
    </a>
{%- endmacro link %}

{% macro linkExternal(href, text, class, icon = null, title = null, parameters = [], inline = false) -%}
    {% set attrs = {
        href: href,
        target: '_blank',
        rel: ['noopener', 'noreferrer'],
        role: (class and 'btn' in class) ? 'button' : null,
        title: title ? title|trans(parameters) : null,
        class: class} %}
    <a {{ html_attr(attrs) }}>
        {{- _self.icon(
            icon: icon,
            text: text,
            parameters: parameters,
            inline: inline) -}}
    </a>
{%- endmacro linkExternal %}

{% macro linkApi(href, class = null) -%}
    {{ _self.linkExternal(
        href: href,
        text: 'common.api_documentation',
        class: class,
        icon: 'fa-solid fa-code-branch',
        title: 'common.api_documentation_help') -}}
{%- endmacro linkApi %}

{% macro dropdownItem(href, text, icon = null, parameters = []) -%}
    <li>
        {{- _self.link(
            href: href,
            text: text,
            class: 'dropdown-item rowlink-skip',
            icon: icon ? icon ~ ' fa-fw' : null,
            parameters: parameters) -}}
    </li>
{%- endmacro dropdownItem %}

{% macro dropdownItemExternal(href, text, icon = null, parameters = [], class = '') -%}
    <li>
        {{- _self.linkExternal(
            href: href,
            text: text,
            class: ('dropdown-item rowlink-skip ' ~ class)|trim,
            icon: icon ? icon ~ ' fa-fw' : null,
            parameters: parameters) -}}
    </li>
{%- endmacro dropdownItemExternal %}

{% macro dropdownItemWithClass(href, text, icon = null, class = null, hidden = false, parameters = []) -%}
    {% set attrs = {
        href: href,
        class: ['dropdown-item', 'rowlink-skip', class, hidden ? 'd-none']} %}
    <li>
        <a {{ html_attr(attrs) }}>
            {{- _self.icon(
                icon: icon ? icon ~ ' fa-fw' : null,
                text: text,
                parameters: parameters) -}}
        </a>
    </li>
{%- endmacro dropdownItemWithClass %}

{% macro dropdownItemButton(text, icon, class = null, hidden = false, parameters = []) -%}
    {% set attrs = {
        type: 'button',
        class: ['dropdown-item', 'rowlink-skip', class, hidden ? 'd-none']} %}
    <li>
        <button {{ html_attr(attrs) }}>
            {{- _self.icon(
                icon: icon ? icon ~ ' fa-fw' : null,
                text: text,
                parameters: parameters) -}}
        </button>
    </li>
{%- endmacro dropdownItemButton %}

{% macro dropdownSeparator(hidden = false, class = null) -%}
    {% set attrs = {class: [class, hidden ? 'd-none']} %}
    <li {{ html_attr(attrs) }}>
        <hr class="dropdown-divider">
    </li>
{%- endmacro dropdownSeparator %}

{% macro dropdownEllipsis(id = null) -%}
    {{ _self.button(
        text: null,
        class: ['btn', 'btn-sm', 'btn-outline-secondary', 'border-0', 'px-1'],
        icon: 'fa-solid fa-ellipsis-v',
        inline: false,
        attributes: {
            id: id,
            title: 'common.actions'|trans,
            'data-bs-toggle': 'dropdown',
            'aria-expanded': false})
    }}
{%- endmacro dropdownEllipsis %}

{% macro homepage() -%}
    {{- _self.link(
        href: path('homepage'),
        text: 'index.title',
        class: 'btn btn-form btn-primary',
        icon: 'fa-solid fa-home',
        title: 'index.title_help',
        inline: true) -}}
{%- endmacro homepage %}

{% macro button(text, class, icon, inline = true, attributes = {}, type = 'button') -%}
    {% set attrs = {
        type: type,
        role: 'button',
        class: class,
    } %}
    <button {{ html_attr(attrs, attributes) }}>{{ _self.icon(icon: icon, text: text, inline: inline) }}</button>
{%- endmacro button %}

{% macro button_submit(text = 'common.button_ok', class = 'btn-primary', attributes = {}, icon = 'fa-solid fa-check') -%}
    {{ _self.button(
        text: text,
        class: ['btn', 'btn-form', 'btn-submit', class],
        icon: icon,
        inline: true,
        attributes: attributes,
        type: 'submit')
    }}
{%- endmacro button_submit %}

{% macro button_ok(href, text = 'common.button_ok', class = 'btn btn-ok btn-form btn-primary', icon = 'fa-solid fa-check') -%}
    {{- _self.link(
        href: href,
        icon: icon,
        text: text,
        class: class,
        inline: true) -}}
{%- endmacro button_ok %}

{% macro button_cancel(href, text = 'common.button_cancel', class = 'btn btn-cancel btn-form btn-secondary') -%}
    {{- _self.link(
        href: href,
        icon: 'fa-solid fa-xmark',
        text: text,
        class: class,
        inline: true) -}}
{%- endmacro button_cancel %}

{% macro link_pdf(route, class = null) -%}
    {{- _self.linkExternal(
        href: path(route),
        class: class,
        icon: ICON_PDF,
        title: 'common.button_export_pdf',
        inline: true) -}}
{%- endmacro link_pdf %}

{% macro button_pdf(route) -%}
    {{- _self.linkExternal(
        href: path(route),
        text: 'common.button_pdf',
        class: 'btn btn-form btn-outline-secondary',
        icon: ICON_PDF,
        title: 'common.button_export_pdf',
        inline: true) -}}
{%- endmacro button_pdf %}

{% macro link_excel(route, class = null) -%}
    {{ _self.linkExternal(
        href: path(route),
        class: class,
        icon: ICON_EXCEL,
        title: 'common.button_export_excel',
        inline: true) }}
{%- endmacro link_excel %}

{% macro button_excel(route) -%}
    {{- _self.linkExternal(
        href: path(route),
        text: 'common.button_export',
        class: 'btn btn-form btn-outline-secondary',
        icon: ICON_EXCEL,
        title: 'common.button_export_excel',
        inline: true) -}}
{%- endmacro button_excel %}

{% macro link_word(route, class = null) -%}
    {{- _self.linkExternal(
        href: path(route),
        class: class,
        icon: ICON_WORD,
        title: 'common.button_export_word',
        inline: true) -}}
{%- endmacro link_word %}

{% macro button_word(route) -%}
    {{- _self.linkExternal(
        href: path(route),
        text: 'common.button_export',
        class: 'btn btn-form btn-outline-secondary',
        icon: ICON_WORD,
        title: 'common.button_export_word',
        inline: true) -}}
{%- endmacro button_word %}

{% macro copyright_link(class = null) -%}
    {{- _self.linkExternal(
        href: app_owner_url,
        text: 'footer.copyright',
        class: class,
        title: 'footer.copyright_title',
        parameters: {'%year%': 'now'|date('Y'), '%owner%': app_owner_name}) -}}
{%- endmacro copyright_link %}

{% macro modal_title(id, title_icon, title_text, data_target = false, header_class = null) %}
    <div {{ html_attr({class: ['modal-header', header_class]}) }}>
        <h5 {{ html_attr({class: 'modal-title', id: id}) }}>
            {{- _self.icon(title_icon, title_text) -}}
        </h5>
        {{- _self.modal_close_button(for_header: true, data_target: data_target) -}}
    </div>
{% endmacro modal_title %}

{% macro modal_footer(label = 'common.button_close', data_target = false) -%}
    <div class="modal-footer">
        {{ _self.modal_close_button(label: label, data_target: data_target) }}
    </div>
{%- endmacro modal_footer %}

{% macro modal_close_button(for_header = false, label = 'common.button_close', data_target = false) -%}
    {{ _self.button(
        text: for_header ? null : label,
        class: for_header ? ['btn-close'] : ['btn', 'btn-form', 'btn-secondary'],
        icon: for_header ? null : 'fa-solid fa-xmark',
        attributes: {
            'data-bs-dismiss': 'modal',
            'data-target': data_target ? '#' ~ data_target : null,
        }) }}
{%- endmacro modal_close_button %}

{% macro footer_center() -%}
    <hr class="mb-2 mx-n3">
    <div class="d-flex-wrap-center">
        <small class="me-auto">{{ app_full_name }}</small>
        <small>{{ _self.copyright_link() }}</small>
    </div>
{%- endmacro footer_center %}

{% macro vertical_title(icon, text) -%}
    <h6 class="dropdown-header text-uppercase">
        {{- _self.icon(icon, text) -}}
    </h6>
{% endmacro vertical_title %}

{% macro sitemap() -%}
    {% set caller = app.request.query.string('caller')|default %}
    {% if app.user and caller === path('site_map') %}
        {{- _self.link(
            href: caller,
            text: 'index.menu_site_map',
            class: 'btn btn-form btn-outline-success',
            icon: 'fa-solid fa-sitemap') -}}
    {% endif %}
{% endmacro sitemap %}

{% macro button_copy(target, class = 'btn-success', hide_modal = false, disabled = false) -%}
    {{ _self.button(
        text: 'common.button_copy',
        class: ['btn', 'btn-copy', 'btn-form', class],
        icon: ICON_COPY,
        attributes: {
            disabled: disabled,
            'data-title': 'common.copy_title'|trans,
            'data-success': 'common.copy_success'|trans,
            'data-error': 'common.copy_error'|trans,
            'data-hide-modal': hide_modal,
            'data-clipboard-target': target})
    }}
{%- endmacro button_copy %}
