{# output a sigle margin row #}
{% macro outputMarginRow(margin) %}
{% from 'macros/_icons.html.twig' import icon %}
<tr>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.minimum, {attr: {'aria-label': 'globalmargin.fields.minimum'|trans}}) }}
            <em>{{ form_errors(margin.minimum) }}</em>
        </div>
    </td>
    <td class="w-35">
        <div class="form-group">
            {{ form_widget(margin.maximum, {attr: {'aria-label': 'globalmargin.fields.maximum'|trans}}) }}
            <em>{{ form_errors(margin.maximum) }}</em>
        </div>
    </td>
    <td class="w-30">
        <div class="form-group">
        {% if margin.margin is defined %}
            {{ form_widget(margin.margin, {attr: {'aria-label': 'globalmargin.fields.margin_percent'|trans}}) }}
            <em>{{ form_errors(margin.margin) }}</em>
        {% else %}
            {{ form_widget(margin.value, {attr: {'aria-label': 'taskitemmargin.fields.value'|trans}}) }}
            <em>{{ form_errors(margin.value) }}</em>
        {% endif %}
        </div>
    </td>
    <td class="delete-margin d-print-none">
        <button type="button" class="btn btn-sm btn-outline-danger btn-edit btn-delete-margin py-2" title="{{ 'group.edit.delete_margin'|trans }}">
            {{- icon(ICON_DELETE) -}}
        </button>
    </td>
</tr>
{% endmacro %}
{# output all margins #}
{% macro outputMargins(margins) %}
{%- set margins_length = margins|length %}
{%- set table_class = 'table table-borderless table-edit' ~ (margins_length == 0 ? ' d-none' : '') -%}
<div class="d-flex-wrap-center">
    <span class="form-label me-auto">{{ 'group.fields.margins'|trans }}</span>
    <div class="mb-2 d-print-none">
        <button type="button" class="p-0 btn btn-link btn-add">
            {{- 'group.edit.add_margin'|trans -}}
        </button>
        <button type="button" class="p-0 btn btn-link btn-sort" title="{{ 'group.edit.sort_margins'|trans }}" disabled>
            <i class="fa-solid fa-sort-numeric-up fa-fw"></i>
        </button>
    </div>
</div>
<hr class="mt-0 mb-2">
<div class="table-responsive">
    <table id="data-table-edit" class="{{ table_class }}" data-index="{{ margins_length }}" data-prototype="{{ _self.outputMarginRow(margins.vars.prototype)|e('html_attr') }}">
        <thead>
        <tr>
            <th class="vertical-middle text-end fw-normal required">{{ 'globalmargin.fields.minimum'|trans }}</th>
            <th class="vertical-middle text-end fw-normal required">{{ 'globalmargin.fields.maximum'|trans }}</th>
            <th class="vertical-middle text-end fw-normal required">{{ 'globalmargin.fields.margin_percent'|trans }}</th>
            <th class="actions d-print-none" aria-label="{{ 'common.actions'|trans }}">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for margin in margins %}
            {{ _self.outputMarginRow(margin) }}
        {% endfor %}
        </tbody>
    </table>
</div>
{{ form_errors(margins) }}
<small id="empty_margins" class="text-body-secondary{% if margins_length %} d-none{% endif %}">
    {{- 'group.edit.empty_margins'|trans -}}
</small>
{% endmacro %}
