{# create a property row #}
{% macro property(name, value, class) %}
{%- set value = value|default('&nbsp;') -%}
{%- set class = ('w-70 ' ~ class|default(''))|trim -%}
<tr>
    <td class="w-30">{{ name|trans }}</td>
    <td class="{{ class }}">{{ value|raw }}</td>
</tr>
{% endmacro %}

{# create a property row with a single value #}
{% macro line(value, class, colspan=2) %}
{%- set value = value|default('&nbsp;') -%}
{%- set class = ('d-table-cell text-nowrap text-truncate ' ~ class|default('text-body'))|trim -%}
<tr class="d-table-row">
    <td{% if colspan > 1 %} colspan="{{ colspan }}"{% endif %} class="{{ class }}">{{ value|raw }}</td>
</tr>
{% endmacro %}

{# create a property row with an e-mail value #}
{% macro email(value, class, name=false, colspan=2) %}
{%- if value -%}
    {%- set value = '<a href="mailto:{0}">{0}</a>'|replace({'{0}': value}) -%}
{%- endif -%}
{%- if name -%}
    {{- _self.property(name, value, class) -}}
{%- else -%}
    {{- _self.line(value, class, colspan) -}}
{%- endif -%}
{% endmacro %}

{# create a property row with a link value #}
{% macro link(href, text, class, name=false, colspan=2) %}
{%- set text = text|default(href) -%}
{%- if href -%}
    {%- set href = '<a href="{0}">{1}</a>'|replace({'{0}': href, '{1}': text}) -%}
{%- endif -%}
{%- if name -%}
    {{- _self.property(name, href, class) -}}
{%- else -%}
    {{- _self.line(href, class, colspan) -}}
{%- endif -%}
{% endmacro %}

{# create a property row with an external link #}
{% macro externalLink(href, text, class, name=false, colspan=2) %}
{%- set text = text|default(href) -%}
{%- if href -%}
    {%- set href = '<a href="{0}" target="_blank" rel="noopener noreferrer">{1}</a>'|replace({'{0}': href, '{1}': text}) -%}
{%- endif -%}
{%- if name -%}
    {{- _self.property(name, href, class) -}}
{%- else -%}
    {{- _self.line(href, class, colspan) -}}
{%- endif -%}
{% endmacro %}

{# create a property line separator #}
{% macro separator(colspan=2) %}
<tr>
    <td{% if colspan > 1 %} colspan="{{ colspan }}"{% endif %}><hr class="my-1 mr-3"></td>
</tr>
{% endmacro %}

{# set the CSS left border style for the given state color #}
{% macro stateCss(color) -%}
{{ 'border-left-color: %s !important;'|format(color|default('transparent')) }}
{%- endmacro %}
