{# macros #}
{% macro header(permission, overwrite) %}
<th>
    <button type="button" class="btn btn-link link-col p-0" title="{{ 'user.rights.col_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>{{ permission|trans }}</button>
</th>
{%- endmacro %}

{% macro row(data, default, overwrite) -%}
<tr class="text-center">
    <td class="text-start">
        <button type="button" class="btn btn-link link-row p-0" title="{{ 'user.rights.row_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>{{ data.vars.label|trans }}</button>
    </td>
    {% for entry in data %}
        {%- set checked = default.hasBits(entry.vars.value) -%}
        {%- set attr = {'data-default': checked|json_encode, 'class': 'form-check-no-label'} -%}
        {%- if not overwrite -%}
            {%- set attr = attr|merge({'disabled': 'disabled', 'checked': checked}) -%}
        {%- endif -%}
        <td>{{ form_widget(entry, {attr: attr}) }}</td>
    {% endfor %}
</tr>
{%- endmacro %}

{% macro table(form, default, permissions, overwrite=true) %}
{% from 'macros/_icons.html.twig' import icon %}
<div class="table-responsive">
    <table class="table table-bordered table-list" id="table-edit">
        <thead>
           <tr class="text-center">
               <th class="text-start text-nowrap fw-normal">
                   {{ icon('arrow-down me-1', 'user.rights.table_title') }}{{ icon('arrow-right ms-1') }}
               </th>
               {% for permission in permissions %}
                   {{ _self.header(permission, overwrite) }}
               {% endfor %}
           </tr>
        </thead>
        <tbody>
            {{ _self.row(form.CalculationRights, default.CalculationRights, overwrite) }}
            {{ _self.row(form.ProductRights, default.ProductRights, overwrite) }}
            {{ _self.row(form.TaskRights, default.TaskRights, overwrite) }}
            {{ _self.row(form.CategoryRights, default.CategoryRights, overwrite) }}
            {{ _self.row(form.GroupRights, default.GroupRights, overwrite) }}
            {{ _self.row(form.CalculationStateRights, default.CalculationStateRights, overwrite) }}
            {{ _self.row(form.GlobalMarginRights, default.GlobalMarginRights, overwrite) }}
            {%- if form.CustomerRights is defined -%}
                {{ _self.row(form.CustomerRights, default.CustomerRights, overwrite) }}
            {%- endif -%}
            {%- if form.UserRights is defined -%}
                {{ _self.row(form.UserRights, default.UserRights, overwrite) }}
            {%- endif -%}
            {%- if form.LogRights is defined -%}
                {{ _self.row(form.LogRights, default.LogRights, overwrite) }}
            {%- endif -%}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro actions(overwrite=true) %}
{%- set button_class = 'btn btn-secondary' -%}
<div class="btn-group btn-group-sm" role="group" aria-label="{{ 'common.actions'|trans }}">
    <button type="button" id="all" class="{{ button_class }}" title="{{ 'user.rights.all_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-check-circle"></i>
    </button>
    <button type="button" id="none" class="{{ button_class }}" title="{{ 'user.rights.none_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-times-circle"></i>
    </button>
    <button type="button" id="toggle" class="{{ button_class }}" title="{{ 'user.rights.toggle_title'|trans }}" {%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-arrows-turn-to-dots"></i>
    </button>
    <button type="button" id="default" class="{{ button_class }}" title="{{ 'user.rights.default_title'|trans }}">
        <i class="fa-fw fa-solid fa-list-check"></i>
    </button>
</div>
{% endmacro %}
