{# macros #}
{% macro header(label, overwrite) %}
<th>
    <button type="button" class="btn btn-link btn-col p-0" title="{{ 'user.rights.col_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>{{ label|trans }}</button>
</th>
{%- endmacro %}

{% macro row(data, default, overwrite) -%}
<tr class="text-center">
    <td class="text-left">
        <button type="button" class="btn btn-link btn-row p-0" title="{{ 'user.rights.row_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>{{ data.vars.label_format|trans }}</button>
    </td>
    {% for entry in data %}
        {%- set checked = default.hasBits(entry.vars.value) -%}
        {%- set attr = {'data-default': checked|json_encode} -%}
        {%- if not overwrite -%}
            {%- set attr = attr|merge({'disabled': 'disabled', 'checked': checked}) -%}
        {%- endif -%}
        <td>{{ form_widget(entry, {label_attr: {class: 'checkbox-custom'}, attr: attr}) }}</td>
    {% endfor %}
</tr>
{%- endmacro %}

{% macro table(form, default, permissions, overwrite=true) %}
{% from 'macros/_icons.html.twig' import icon %}
<div class="table-responsive">
    <table class="table table-bordered table-list" id="table-edit">
        <thead>
           <tr class="text-center">
               <th class="text-left text-nowrap font-weight-normal">{{ icon('arrow-down') }} {{ 'user.rights.table_title'|trans }} {{ icon('arrow-right') }}</th>
               {% for permission in permissions %}
                   {{ _self.header(permission.readable, overwrite) }}
               {% endfor %}
           </tr>
        </thead>
        <tbody>
            {{ _self.row(form.EntityCalculation, default.EntityCalculation, overwrite) }}
            {{ _self.row(form.EntityProduct, default.EntityProduct, overwrite) }}
            {{ _self.row(form.EntityTask, default.EntityTask, overwrite) }}
            {{ _self.row(form.EntityCategory, default.EntityCategory, overwrite) }}
            {{ _self.row(form.EntityGroup, default.EntityGroup, overwrite) }}
            {{ _self.row(form.EntityCalculationState, default.EntityCalculationState, overwrite) }}
            {{ _self.row(form.EntityGlobalMargin, default.EntityGlobalMargin, overwrite) }}
            {%- if form.EntityCustomer|default(false) -%}
                {{ _self.row(form.EntityCustomer, default.EntityCustomer, overwrite) }}
            {%- endif -%}
            {%- if form.EntityUser|default(false) -%}
                {{ _self.row(form.EntityUser, default.EntityUser, overwrite) }}
            {%- endif -%}
            {%- if form.EntityLog|default(false) -%}
                {{ _self.row(form.EntityLog, default.EntityLog, overwrite) }}
            {%- endif -%}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro actions(overwrite=true) %}
<div class="btn-group btn-group-sm" role="group" aria-label="{{ 'common.actions'|trans }}">
    <button type="button" id="all" class="btn btn-outline-secondary" title="{{ 'user.rights.all_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-check-circle"></i>
    </button>
    <button type="button" id="none" class="btn btn-outline-secondary" title="{{ 'user.rights.none_title'|trans }}"{%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-times-circle"></i>
    </button>
    <button type="button" id="toggle" class="btn btn-outline-secondary" title="{{ 'user.rights.toggle_title'|trans }}" {%- if not overwrite -%} disabled="disabled"{%- endif -%}>
        <i class="fa-fw fa-solid fa-toggle-on"></i>
    </button>
    <button type="button" id="default" class="btn btn-outline-secondary" title="{{ 'user.rights.default_title'|trans }}">
        <i class="fa-fw fa-brands fa-rev"></i>
    </button>
</div>
{% endmacro %}
