{# macros #}
{% macro header(label, action) %}
<th><a href="#" class="data-col font-weight-normal text-body" data-action="{{ action }}" title="{{ 'user.rights.col_title'|trans }}">{{ label|trans }}</a></th>
{%- endmacro %}

{%- macro aria_label(index, action) -%}
{%- switch index -%}
{%- case 0 -%}
    {%- set column = 'rights.list'|trans -%}
{%- case 1 -%}
    {%- set column = 'rights.show'|trans -%}
{%- case 2 -%}
    {%- set column = 'rights.add'|trans -%}
{%- case 3 -%}
    {%- set column = 'rights.edit'|trans -%}
{%- case 4 -%}
    {%- set column = 'rights.delete'|trans -%}
{%- case 5 -%}
    {%- set column = 'rights.pdf'|trans -%}                
{%- endswitch -%}
{%- set row = (action|lower ~ '.name')|trans -%}
{{ column ~ ' - ' ~ row }}
{%- endmacro %}

{% macro row(data, action, default, overwrite) -%}
<tr class="text-center">
    <td class="text-left"><a href="#" class="data-row text-body" data-action="{{ action }}" title="{{ 'user.rights.row_title'|trans }}">{{ form_label(data, null, {'label_attr': {'class': 'p-0'}}) }}</a></td>
    {% for entry in data %}   
        {%- set data_default = entry.vars.value in default ? 1 : 0 -%}
        {%- set aria_label = _self.aria_label(loop.index0, action) -%}
        {%- set attr = {'data-default': data_default, 'aria-label': aria_label } -%}
        {%- if not overwrite -%}
            {%- set attr = attr|merge({'disabled': 'disabled'}) -%}
	    {%- endif -%}    
        <td>{{ form_widget(entry, {label_attr: {class: 'switch-custom'}, attr: attr}) }}</td>
    {% endfor %}
</tr>    
{%- endmacro %}

{% macro table(form, default, overwrite = true) %}
{% import 'macros/_icons.html.twig' as icons %}
<table class="table table-bordered table-list" id="table-edit">
    <thead>
	   <tr class="text-center">
            <th class="text-left font-weight-normal">{{ icons.icon('arrow-down')}} {{ 'user.rights.table_title'|trans }} {{ icons.icon('arrow-right')}}</th>        
            {{ _self.header('rights.list',   IEntityVoter.ATTRIBUTE_LIST) }}
            {{ _self.header('rights.show',   IEntityVoter.ATTRIBUTE_SHOW) }}
            {{ _self.header('rights.add',    IEntityVoter.ATTRIBUTE_ADD) }}
            {{ _self.header('rights.edit',   IEntityVoter.ATTRIBUTE_EDIT) }}
            {{ _self.header('rights.delete', IEntityVoter.ATTRIBUTE_DELETE) }}
            {{ _self.header('rights.pdf',    IEntityVoter.ATTRIBUTE_PDF) }}
       </tr>
    </thead>
    <tbody>
        {{ _self.row(form.Calculation, IEntityVoter.ENTITY_CALCULATION, default.Calculation, overwrite) }}
        {{ _self.row(form.Product, IEntityVoter.ENTITY_PRODUCT, default.Product, overwrite) }}
        {{ _self.row(form.Category, IEntityVoter.ENTITY_CATEGORY, default.Category, overwrite) }}
        {{ _self.row(form.CalculationState, IEntityVoter.ENTITY_CALCULATION_STATE, default.CalculationState, overwrite) }}
        {{ _self.row(form.GlobalMargin, IEntityVoter.ENTITY_GLOBAL_MARGIN, default.GlobalMargin, overwrite) }}
        {%- if form.Customer|default(false) -%}
            {{ _self.row(form.Customer, IEntityVoter.ENTITY_CUSTOMER, default.Customer, overwrite) }}
        {%- endif -%}
        {%- if form.User|default(false) -%}
            {{ _self.row(form.User, IEntityVoter.ENTITY_USER, default.User, overwrite) }}
        {%- endif -%}
    </tbody>
</table>
{% endmacro %}

{% macro actions() %}
<input type="button" id="all"     class="btn btn-form btn-outline-success" value="{{ 'user.rights.all_title'|trans }}" />
<input type="button" id="none"    class="btn btn-form btn-outline-success" value="{{ 'user.rights.none_title'|trans }}" />
<input type="button" id="toggle"  class="btn btn-form btn-outline-success" value="{{ 'user.rights.toggle_title'|trans }}" />
<input type="button" id="default" class="btn btn-form btn-outline-success" value="{{ 'user.rights.default_title'|trans }}" />
{% endmacro %}
