{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'schema.table.title' -%}
{%- set title_description = 'schema.table.description' -%}
{%- set title_parameters = {'%name%': name} -%}
{%- set title_icon = 'table-columns' -%}

{% block card_body -%}
{% if columns|length %}
<p class="mb-0 font-weight-bold">{{ 'schema.table.columns'|trans }}</p>
<div class="table-responsive">
    <table class="table table-hover table-list table-sm">
        <thead>
            <tr>
                <th class="w-100">{{ 'schema.table.fields.name'|trans }}</th>
                <th class="text-date-time">{{ 'schema.table.fields.type'|trans }}</th>
                <th class="text-currency">{{ 'schema.table.fields.length'|trans }}</th>
                <th class="text-boolean">{{ 'schema.table.fields.empty'|trans }}</th>
                <th class="text-id">{{ 'schema.table.fields.default'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for column in columns %}
            {% set foreign_table = column.foreignTableName ?? false %}
            <tr>
                <td class="w-100">
                    {{- column.name }}{% if column.primaryKey %} <i class="fa-solid fa-key" title="{{ 'schema.table.primary_key'|trans }}"></i>{% endif %}
                    {% if column.unique and not column.primaryKey %} <i class="fa-solid fa-lock" title="{{ 'schema.table.index_unique'|trans }}"></i>{% endif %}
                    {% if foreign_table -%} {{ icons.link(path('schema_table', {'name': foreign_table}), null, null, 'link', 'schema.index.tooltip'|trans({'%name%': foreign_table})) }}{%- endif -%}
                </td>
                <td class="text-date-time">{{ column.type }}</td>
                <td class="text-currency">{{ column.length ? column.length|integer : '&nbsp;' }}</a></td>
                <td class="text-boolean">{{ column.nullable|boolean }}</td>
                <td class="text-id">{{ column.default }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="alert alert-warning text-center" role="alert">{{ 'schema.table.empty'|trans }}</div>
{% endif %}

{% if associations|length %}
<p class="mb-0 font-weight-bold">{{ 'schema.table.associations'|trans }}</p>
<div class="table-responsive">
    <table class="table table-hover table-list table-sm">
        <tr>
            <th class="w-30">{{ 'schema.table.fields.name'|trans }}</th>
            <th class="w-35">{{ 'schema.table.fields.table'|trans }}</th>
            <th class="w-25">{{ 'schema.table.fields.relation'|trans }}</th>
        </tr>
        {% for association in associations %}
            <tr>
                <td>{{ association.name }}</td>
                <td><a href="{{ association.table }}" title="{{ 'schema.index.tooltip'|trans({'%name%': association.table}) }}">{{ association.table }}</a></td>
                <td>{{ association.inverseSide|boolean('schema.table.one_to_many', 'schema.table.many_to_one', true) }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{%- endblock %}

{% block card_footer -%}
{{- icons.homepage() }}
{{ icons.link(path('schema'), 'schema.index.title', 'btn btn-secondary btn-form') -}}
{%- endblock %}
