{# test menu #}
{% import 'macros/_icons.html.twig' as icons %}

{% if is_test -%}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="testDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{- icons.icon('bug', 'index.menu_test') -}}
    </a>
    <div class="dropdown-menu" aria-labelledby="testDropdown">
        {{- icons.dropdownItem(path('test_notifications'), 'test.notification', 'bell far') -}}
        {{- icons.dropdownItem(path('test_tinymce'), 'test.tinymce', 'edit') -}}
        {{- icons.dropdownItem(path('test_simple'), 'test.simple_editor', 'edit') -}}
        {{- icons.dropdownItem(path('calendar_year'), 'calendar.year_title', 'calendar-alt far', null, {'%year%': 'now'|date('Y')}) -}}
        {{- icons.dropdownItem(path('test_timeline'), 'timeline.title', 'stream') -}}
        {{- icons.dropdownItem(path('test_recaptcha'), 'test.recaptcha', 'google fab') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('exchange_display'), 'exchangerate.title', 'hand-holding-usd') -}}
        {{- icons.dropdownItem(path('openweather_weather'), 'openweather.current.title', 'cloud-sun') -}}
        {{- icons.dropdownItem(path('test_translate'), 'translator.title', 'globe') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItemExternal(path('test_html'), 'test.html', 'code') -}}
        {{- icons.dropdownItem(path('test_password'), 'password.title', 'lock') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('admin_import'), 'import.title', 'download') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('generate'), 'generate.title', 'random') -}}
        {{- icons.dropdownItem(path('update'), 'update.title', 'edit') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('help'), 'help.title', 'question-circle') -}}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="testTable" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{- icons.icon('table', 'index.menu_table') -}}
    </a>
    <div class="dropdown-menu" aria-labelledby="testTable">
        {{- icons.dropdownItem(path('table_calculation'), 'calculation.list.title', 'calculator') -}}
        {{- icons.dropdownItem(path('table_below'), 'below.title', 'percent') -}}
        {{- icons.dropdownItem(path('table_duplicate'), 'duplicate.title', 'copy far') -}}
        {{- icons.dropdownItem(path('table_empty'), 'empty.title', 'file-code far') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('table_product'), 'product.list.title', 'file-alt far') -}}
        {{- icons.dropdownItem(path('table_task'), 'task.list.title', 'tasks') -}}
        {{- icons.dropdownItem(path('table_category'), 'category.list.title', 'folder far') -}}
        {{- icons.dropdownItem(path('table_group'), 'group.list.title', 'code-branch') -}}
        {{- icons.dropdownItem(path('table_calculationstate'), 'calculationstate.list.title', 'flag far') -}}
        {{- icons.dropdownItem(path('table_globalmargin'), 'globalmargin.list.title', 'percent') -}}
        {{- icons.dropdownItem(path('table_customer'), 'customer.list.title', 'address-card far') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('table_search'), 'search.title', 'search') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('table_user'), 'user.list.title', 'user far') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('table_log'), 'log.title', 'book') -}}
    </div>
</li>
{% endif -%}
