{# tool menu #}
{% import 'macros/_icons.html.twig' as icons %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{- icons.icon('tools', 'index.menu_tools') -}}
    </a>
    <div class="dropdown-menu" aria-labelledby="toolsDropdown">
        {{- icons.dropdownItem(path('search'), 'search.title', 'search') -}}
        {% if is_admin %}
        {{- icons.dropdownSeparator -}}
        {% if is_test %}
        {{- icons.dropdownItem(path('admin_calculation'), 'calculation.update.title', 'calculator') -}}
        {% endif -%}
        {{- icons.dropdownItem(path('admin_product'), 'product.update.title', 'file-alt far') -}}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('below_table'), 'below.title', 'percent') -}}
        {{- icons.dropdownItem(path('duplicate_table'), 'duplicate.title', 'copy far') -}}
        {{- icons.dropdownItem(path('empty_table'), 'empty.title', 'file-code far') -}}
        {%- if is_granted_task -%}
        {{- icons.dropdownSeparator -}}
        {{- icons.dropdownItem(path('task_compute', {'id': 0, 'caller': path('homepage')}), 'taskcompute.title', 'keyboard') -}}
        {% endif -%}
        {% endif -%}
    </div>
</li>
