{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{% form_theme form _self %}

{% block _form_category_widget -%}
<div class="input-group">
    {{ block('choice_widget') }}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#products" title="{{ 'product.list.category_help'|trans }}">
            <i class="far fa-eye"></i>
        </button>
    </div>
</div>
{%- endblock %}

{% block _form_percent_widget -%}
<div class="input-group">
	<div class="input-group-prepend">
    	<div class="input-group-text">
        	<input type="radio" id="form_type_percent" name="form_type" class="mr-1"{% if options.is_percent %} checked="checked"{% endif %}>
            <label class="form-check-label" for="form_type_percent">{{ 'product.update.percent'|trans }}</label>
        </div>
    </div>
    {{ block('form_widget_simple') }}
    <div class="input-group-append">
        <span class="input-group-text">%</span>
    </div>
</div>
{{ block('form_help') }}
{%- endblock %}

{% block _form_fixed_widget -%}
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="form_type_fixed" name="form_type" class="mr-1"{% if not options.is_percent %} checked="checked"{% endif %}>
            <label class="form-check-label" for="form_type_fixed">{{ 'product.update.fixed'|trans }}</label>
        </div>
    </div>
    {{ block('form_widget_simple') }}
    <div class="input-group-append">
        <span class="input-group-text">CHF</span>
    </div>
</div>
{{ block('form_help') }}
{%- endblock %}

{# parameters #}
{%- set title = 'product.update.title' -%}
{%- set title_icon = 'file-alt far' -%}
{%- set title_description = 'product.update.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set is_percent = form.type.vars.value == 'percent' -%}
{%- set percent_attr = is_percent ? {} : {'disabled': 'disabled'} %}
{%- set fixed_attr = is_percent ? {'disabled': 'disabled'} : {} %}

{% block card_body %}
{{ form_row(form.category) }}
<label class="required">{{ 'product.update.type'|trans }}</label>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.percent, {'attr': percent_attr, 'options': {'is_percent': is_percent}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
	        {{ form_widget(form.fixed, {'attr': fixed_attr, 'options': {'is_percent': is_percent}}) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}
{% if last_update is defined and last_update %}
    {%- set date = last_update|localedatetime('long', 'short') -%}
    <hr class="my-2">
    <p class="mb-0 text-right text-muted small">{{ 'product.update.last_update'|trans({'%date%': date}) }}</p>
{% endif %}
{% endblock %}

{% block body -%}
{{ parent() }}
<div class="modal fade" id="products" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-title"><i class="far fa-file-alt" aria-hidden="true"></i> {{ 'product.list.title'|trans }}</h5>
                {{ icons.button_close_modal }}
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="max-height: 276px;">
                    <table class="table table-sm mb-0">
                        <thead>
                            <tr>
                                <th>{{ 'product.fields.description'|trans }}</th>
                                <th class="text-currency-scroll">{{ 'product.fields.price'|trans }}</th>
                                <th class="text-unit">{{ 'product.fields.unit'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products -%}
                            <tr category="{{ product.categoryId }}">
                                <td>{{ product.description }}</td>
                                <td class="text-currency">{{ product.price|amount }}</td>
                                <td class="text-unit">{{ product.unit }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
	           </div>
               <hr class="mt-0 mb-1">
               <p class="mb-0 font-weight-bold" id="count_products" data-text="{{ 'product.update.count_products'|trans }}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-form btn-primary" data-dismiss="modal">
	                {{- 'common.button_close'|trans -}}
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/product_update.js') }}
{% else %}
{{ asset_js('js/product_update.js') }}
{% endif %}
{% endblock %}
