{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{% macro add_line_info(name, value) -%}
</tr>
    <td class="w-30">{{ name|trans }}</td>
    <td>{{ value|raw }}</td>
</tr>
{%- endmacro %}

{%- set title = 'product.update.title' -%}
{%- set title_icon = ICON_PRODUCT -%}
{%- set title_description = 'product.result.description' -%}

{% block card_body %}
<table class="table table-sm border-bottom">
    {{ _self.add_line_info('category.fields.group', query.groupCode) }}
    {{ _self.add_line_info('product.fields.category', query.categoryCode) }}
    {{ _self.add_line_info('product.update.type', (query.percent ? 'product.update.percent' : 'product.update.fixed')|trans) }}
    {{ _self.add_line_info('product.result.value', query.formattedValue) }}
    {{ _self.add_line_info('product.update.round', (query.round ? 'common.value_true' : 'common.value_false')|trans) }}
    {% if result.valid %}
        <tr>
            <td class="w-30">{{ 'product.result.updated'|trans }}</td>
            <td>
                <a href="#" data-toggle="modal" data-target="#resultModal" title="{{ 'product.result.updated'|trans }}">
                    {{- result.count|integer -}}
                </a>
            </td>
        </tr>
    {% endif %}
</table>
{% if result.valid %}
    {% if query.simulate %}
        <p class="mb-0 text-right text-muted small">{{ 'product.result.simulated'|trans }}</p>
    {% endif %}
{% else %}
    <div class="alert alert-warning mb-0" role="alert">{{ 'product.result.empty'|trans }}</div>
{% endif %}
{# dialog #}
{% if result.valid %}
<div class="modal fade" id="resultModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'product.update.title'|trans }}</h5>
                {{ icons.button_close_modal }}
            </div>
            <div class="modal-body">
                <p class="mb-2 font-weight-bold">{{ 'product.result.updated'|trans }}</p>
                <div class="overflow-auto table-fixed-header border">
                    <table class="table table-hover table-fixed-header table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>{{ 'product.fields.description'|trans }}</th>
                                <th class="text-currency">{{ 'product.result.old_price'|trans }}</th>
                                <th class="text-currency">{{ 'product.result.new_price'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in result.products -%}
                        <tr>
                            <td>{{ product.description }}</td>
                            <td class="text-currency">{{ product.oldPrice|amount }}</td>
                            <td class="text-currency">{{ product.newPrice|amount }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row no-gutters w-100">
                    <div class="col-3">
                        <button type="button" class="btn btn-form btn-secondary" data-dismiss="modal">{{ 'common.button_close'|trans }}</button>
                    </div>
                    <div class="col-9 text-right">
                        <p class="small mb-0{% if not query.simulate %} d-none{% endif %}">{{ 'product.result.simulated'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block card_footer %}
{{ icons.homepage() }}
{{ icons.link(path('admin_product'), 'product.result.new_update', 'btn btn-outline-secondary', null) }}
{% endblock %}
