{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{% form_theme form _self %}

{% macro add_product(item, category_id) -%}
{%- set product_category_id = item.vars.attr.category -%}
<tr category="{{ product_category_id }}" class="text-secondary user-select-none{% if product_category_id != category_id %} d-none{% endif %}">
    <td>{{- form_widget(item, {attr: {'disabled': 'disabled'}}) -}}</td>
    <td class="text-currency">{{ item.vars.attr.price|amount }}</td>
    <td class="text-currency">{{ item.vars.attr.price|amount }}</td>
</tr>
{%- endmacro %}

{% block _form_percent_widget -%}
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="form_type_percent" name="form_type" class="mr-1"{% if options.is_percent %} checked="checked"{% endif %}>
            <label class="form-check-label" for="form_type_percent">{{ 'product.update.percent'|trans }}</label>
        </div>
    </div>
    {{ block('form_widget_simple') }}
</div>
{{ block('form_help') }}
{{ block('form_errors') }}
{%- endblock %}

{% block _form_fixed_widget -%}
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="radio" id="form_type_fixed" name="form_type" class="mr-1"{% if not options.is_percent %} checked="checked"{% endif %}>
            <label class="form-check-label" for="form_type_fixed">{{ 'product.update.fixed'|trans }}</label>
        </div>
    </div>
    {{ block('form_widget_simple') }}
</div>
{{ block('form_help') }}
{{ block('form_errors') }}
{%- endblock %}

{# parameters #}
{%- set title = 'product.update.title' -%}
{%- set title_icon = ICON_PRODUCT -%}
{%- set title_description = 'product.update.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set is_percent = form.type.vars.value == 'percent' -%}
{%- set percent_attr = is_percent ? {} : {'disabled': 'disabled'} -%}
{%- set fixed_attr = is_percent ? {'disabled': 'disabled'} : {} -%}
{%- set category_id = form.category.vars.value|default(0) -%}

{% block card_body %}
{{ form_row(form.category) }}
<div class="row mb-2">
    <div class="col-md-6">
        {{ form_row(form.allProducts) }}
    </div>
    <div class="col-md-6 text-md-right d-print-none">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" id="btn-all" class="btn btn-outline-secondary" disabled="disabled" title="{{ 'product.update.check_all'|trans }}">
                <i class="fa-fw fa-solid fa-check-circle"></i>
            </button>
            <button type="button" id="btn-none" class="btn btn-outline-secondary" disabled="disabled" title="{{ 'product.update.check_none'|trans }}">
                <i class="fa-fw fa-solid fa-times-circle"></i>
            </button>
            <button type="button" id="btn-reverse" class="btn btn-outline-secondary" disabled="disabled" title="{{ 'product.update.check_reverse'|trans }}">
                <i class="fa-fw fa-solid fa-toggle-on"></i>
            </button>
        </div>
    </div>
</div>
<div class="overflow-auto table-fixed-header table-fixed-header-sm border">
    <table class="table table-hover table-fixed-header table-sm" id="form_products">
        <thead class="thead-light">
            <tr>
                <th>{{ 'product.fields.description'|trans }}</th>
                <th class="text-currency">{{ 'product.result.old_price'|trans }}</th>
                <th class="text-currency">{{ 'product.result.new_price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, item in form.products.children -%}
            {{- _self.add_product(item, category_id) }}
        {%- endfor %}
        </tbody>
    </table>
</div>
<label class="required">{{ 'product.update.type'|trans }}</label>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.percent, {'attr': percent_attr, 'options': {'is_percent': is_percent}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.fixed, {'attr': fixed_attr, 'options': {'is_percent': is_percent}}) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}
{% if last_update is defined and last_update %}
    {%- set date = last_update|localedatetime('long', 'short') -%}
    <hr class="my-2">
    <p class="mb-0 text-right text-muted small">{{ 'product.update.last_update'|trans({'%date%': date}) }}</p>
{% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.debug %}
        {{ parent() }}
        {{ asset_js('js/plugins/plugin-simulate.js') }}
        {{ asset_js('js/application/product_update.js') }}
    {% else %}
        {{ asset_js('js/product_update.js') }}
    {% endif %}
{% endblock %}
