{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title      = new ? 'product.add.title' : 'product.edit.title' -%}
{%- set title_icon = 'file-alt far' -%}
{%- set page_list  = 'product_table' -%}
{%- set form_attr  = form_attr|default({})|merge({
                     'data-title': title|trans,
                     'data-search-unit': url('ajax_search_unit'),
                     'data-search-supplier': url('ajax_search_supplier'),
                     'data-error-unit': 'product.edit.error_search_unit'|trans,
                     'data-error-supplier': 'product.edit.error_search_supplier'|trans}) -%}
                      
{% block card_body %}
{{ form_row(form.description) }}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.category) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.price) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.unit) }}
    </div>
</div>
{{ form_row(form.supplier) }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-typeahead.js') }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/product_edit.js') }}
{% else %}
{{ asset_js('js/product_edit.js') }}
{% endif %}
{% endblock %}
