{% extends 'cards/card_table.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro fill_categories(categories, total) %}
<button class="dropdown-item dropdown-category active" type="button" data-id="">{{ 'datatable.all'|trans }}</button>
{% for category in categories %}
    <button class="dropdown-item dropdown-category" type="button" data-id="{{ category.id }}">{{ category.code }}</button>
{% endfor %}
{% endmacro %}

{# parameters #}
{%- set title = 'product.list.title' -%}
{%- set title_icon = 'file-alt far' -%}
{%- set object_type = ENTITY_PRODUCT -%}

{# actions #}
{%- set params = {'id': 0} -%}
{%- set add_path = path('product_add') -%}
{%- set show_path = path('product_show', params) -%}
{%- set edit_path = path('product_edit', params) -%}
{%- set delete_path = path('product_delete', params) -%}
{%- set clone_path = path('product_clone', params) -%}
{%- set pdf_path = path('product_pdf') -%}
{%- set excel_path = path('product_excel') -%}

{# titles #}
{%- set add_title = 'product.add.title' %}
{%- set show_title = 'product.show.title' %}
{%- set edit_title = 'product.edit.title' %}
{%- set delete_title = 'product.delete.title' %}
{%- set pdf_title = 'product.list.pdf_title' -%}
{%- set excel_title = 'product.list.excel_title' -%}

{# highlight search #}
{%- set attributes = attributes|default({})|merge({'data-search-highlight': true}) -%}

{% block search_input -%}
<div class="input-group input-group-sm">
    <div class="input-group-prepend" id="dropdown-menu-category">
        <button id="button-category" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="{{ 'product.fields.category'|trans }}" title="{{ 'product.list.category_help'|trans }}">
            {{- 'product.fields.category'|trans -}}
        </button>
        <div class="dropdown-menu">
            {{ _self.fill_categories(categories, total) -}}
        </div>
        <input type="hidden" id="category" name="category">
    </div>
    {{ parent() }}
</div>
{%- endblock %}

{% block table_actions -%}
{{ _self.item_data(clone_path, 'common.button_clone', 'copy far') }}
{{ icons.dropdownSeparator() }}
{{ parent() }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItemCard('product_card') }}
{%- endblock %}

{% block javascripts -%}
{{- parent() }}
{{- asset_js('js/application/product_table.js') }}
{% endblock %}
