{% extends 'cards/card_edit.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro plain_text_input(id, value = 0, class = null) %}
{%- set class = (class|default('') ~ ' text-right form-control-plaintext border rounded px-2')|trim -%}
<input id="{{ id }}" name="{{ id }}" type="text" class="{{ class }}" readonly="readonly" value="{{ value|amount }}">
{% endmacro %}

{# parameters #}
{%- set title       = 'digiprint.compute.title' -%}
{%- set title_icon  = 'keyboard' -%}
{%- set submit_text = 'digiprint.compute.button_ok' -%}
{%- set cancel_path = app.request.get('caller', path('digiprint_table')) -%}
{%- set values      = form.vars.value -%}
{%- set form_attr   = form_attr|default({})|merge({'data-url': path('ajax_digiprint'), 'data-failed': 'digiprint.compute.failed'|trans}) -%}

{% block card_body %}
<div class="form-row">
    <div class="col-9">
        {{ form_row(form.digiprint) }}
    </div>
    <div class="col-3">
        {{ form_row(form.quantity) }}
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-3 text-right">{{ 'digiprint.compute.fields.price'|trans }}</div>
    <div class="col-md-3 text-right">{{ 'digiprint.compute.fields.total'|trans }}</div>
</div>
<div class="form-row mb-2">
    <div class="col-md-6 mt-1">      
        {{ form_row(form.price) }}          
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('priceAmount', values.priceAmount) }}
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('priceTotal', values.priceTotal) }}
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-md-6">
        {{ form_row(form.blacklit) }}
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('blacklitAmount', values.blacklitAmount) }}
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('blacklitTotal', values.blacklitTotal) }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
         {{ form_row(form.replicating) }}
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('replicatingAmount', values.replicatingAmount) }}
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('replicatingTotal', values.replicatingTotal) }}
    </div>
</div>
<hr>
<div class="form-row">
    <div class="col-md-9 mt-1 font-weight-bold">
        <label>{{ 'digiprint.compute.fields.overall_total'|trans }}</label>
    </div>
    <div class="col-md-3">
        {{ _self.plain_text_input('overall', values.overall, 'font-weight-bold') }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input.js') }}
{{ asset_js('js/application/digiprint_compute.js') }}
{% endblock %}
