{% extends 'cards/card_flex.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'digiprint.list.title' -%}
{%- set title_icon   = 'outdent' -%}
{%- set add_title    = 'digiprint.list.add_title' -%}
{%- set pdf_title    = 'digiprint.list.pdf_title' -%}
{%- set empty_list   = 'digiprint.list.empty' -%}

{# actions #}
{%- set object_type  = EntityVoterInterface.ENTITY_DIGI_PRINT -%}
{%- set add_page     = is_granted(EntityVoterInterface.ATTRIBUTE_ADD, object_type) ? 'digiprint_add' : null -%}
{%- set edit_page    = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'digiprint_edit' : null -%}
{%- set delete_page  = is_granted(EntityVoterInterface.ATTRIBUTE_DELETE, object_type) ? 'digiprint_delete' : null -%}
{%- set show_page    = is_granted(EntityVoterInterface.ATTRIBUTE_SHOW, object_type) ? 'digiprint_show' : null -%}
{%- set pdf_page     = is_granted(EntityVoterInterface.ATTRIBUTE_EXPORT, object_type) ? 'digiprint_pdf' : null -%}
{%- set default_page = app.actionEdit ? edit_page|default(show_page) : show_page|default(edit_page) -%}
{%- set row_link     = not app.actionNone and (edit_page or show_page) -%}

{% block item_title %}
{%- set item_title = item.format -%}
{%- if row_link and default_page -%}
    {%- set default_path = path(default_page, params) -%}    
    <a href="{{ default_path }}" class="text-body rowlink-skip">{{ item_title }}</a>
{%- else -%} 
    {{ item_title }}
{%- endif -%}
{% endblock %}

{% block item_property %}
{{ properties.property('digiprint.fields.dimension', item.dimension) }}
{{ properties.separator() }}
{{ properties.property('digiprint.fields.price', item.itemsPrice|length) }}
{{ properties.property('digiprint.fields.blacklit', item.itemsBacklit|length) }}
{{ properties.property('digiprint.fields.replicating', item.itemsReplicating|length) }}
{% endblock %}

{%- block toolbar_actions -%}
{{ parent() }}
{{ icons.link(path('digiprint_compute', {'caller': path('digiprint_list')}), '', 'btn btn-sm btn-outline-secondary', 'keyboard', 'digiprint.compute.title') }}
{{ icons.linkTable('digiprint_table') }}
{%- endblock -%}
