{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{# parameters #}
{%- set is_env_dev = app_mode == 'dev' -%}
{%- set is_env_prod = app_mode == 'prod' -%}
{%- set is_env_local = app_mode == 'local' -%}
{%- set is_dev = app.debug or is_env_dev -%}
{%- set is_admin = is_granted('ROLE_ADMIN') -%}
{%- set is_super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set is_previous_admin = is_granted('IS_IMPERSONATOR') -%}
{%- set is_remembered = is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
{%- set is_test = is_dev and is_remembered and app.user.userIdentifier == 'Bibi' -%}
{# rights #}
{%- set is_granted_calculation = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) -%}
{%- set is_granted_product = is_granted(ATTRIBUTE_LIST, ENTITY_PRODUCT) -%}
{%- set is_granted_task = is_granted(ATTRIBUTE_LIST, ENTITY_TASK) -%}
{%- set is_granted_category = is_granted(ATTRIBUTE_LIST, ENTITY_CATEGORY) -%}
{%- set is_granted_group = is_granted(ATTRIBUTE_LIST, ENTITY_GROUP) -%}
{%- set is_granted_calculation_state = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION_STATE) -%}
{%- set is_granted_global_margin = is_granted(ATTRIBUTE_LIST, ENTITY_GLOBAL_MARGIN) -%}
{%- set is_granted_customer = is_granted(ATTRIBUTE_LIST, ENTITY_CUSTOMER) and is_test -%}
{%- set is_granted_data = is_granted_calculation or is_granted_product or is_granted_task or is_granted_category or is_granted_group or is_granted_calculation_state or is_granted_global_margin or is_granted_customer -%}
<!-- vertical navigation -->
<div id="sidebar" class="d-print-none navbar navbar-vertical navbar-color {{ theme_background(app.request) }}{{ active }}" style="padding-bottom: 30px;"
     data-url="{{ url('ajax_save_navigation') }}"
     data-show-menu="{{ 'index.menu_show'|trans }}"
     data-hide-menu="{{ 'index.menu_hide'|trans }}"
     data-show-sidebar="{{ 'index.sidebar_show'|trans }}"
     data-hide-sidebar="{{ 'index.sidebar_hide'|trans }}">
    {# logo
    <div class="p-2 mb-1">
        <div class="media position-relative d-flex align-items-center">
            <img src="{{ asset('/images/logo/logo-customer-148x148.png') }}" alt="{{ app.customerName }}" width="65" class="mr-3 rounded-circle shadow-sm">
            <div class="media-body">
                <h4 class="m-0 text-white">{{ app.customerName }}</h4>
                <p class="font-weight-light text-muted small mb-0">PUB PROD & PRINT</p>
                <a href="{{ app.customerUrl }}" rel="noopener noreferrer" class="stretched-link" target="_blank"></a>
            </div>
        </div>
    </div>
    #}
    <div class="py-2 mb-1">
        <div class="media position-relative d-flex align-items-center">
            <img alt="{{ app_name }}" class="rounded-lg img-fluid border border-dark mr-2" src="{{ asset('/images/icons/apple-icon-60x60.png') }}">
            <div class="media-body">
                <h4 class="m-0 text-white">{{ app_name }}</h4>
                <p class="font-weight-light text-muted mb-0"> {{ 'about.version'|trans({'%version%': app_version}) }}</p>
                <a href="{{ path('about') }}" class="stretched-link" title="{{ 'footer.about_title'|trans }}"></a>
            </div>
        </div>
    </div>
    {# home page #}
    <a class="navbar-brand" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
        {{- icons.icon('home', 'index.title') -}}
    </a>
    {# pages #}
    <ul class="navbar-nav">
        {{ include('navigation_vertical/navigation_data.html.twig') }}
        {{ include('navigation_vertical/navigation_chart.html.twig') }}
        {{ include('navigation_vertical/navigation_tools.html.twig') }}
        {{ include('navigation_vertical/navigation_admin.html.twig') }}
        {{ include('navigation_vertical/navigation_test.html.twig') }}
    </ul>
</div>
