{# admin menu #}
{% import 'macros/_icons.html.twig' as icons %}
{% if is_admin -%}
    {% set id = 'menu_admin' %}
    {% set expanded = app.session.get(id, false) %}
    {% set toggle_class = expanded ? ' nav-link-toggle-show active' : '' %}
    {% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
    {% set display_style = expanded ? 'block' : 'none' %}
    <li class="nav-item nav-item-dropdown" id="{{ id }}">
        <a class="nav-link nav-link-toggle{{ toggle_class }}" href="#" role="button" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
            {{- icons.icon('gear fa-solid fa-fw', 'index.menu_admin') -}}
        </a>
        <ul class="navbar-nav navbar-menu" style="display: {{ display_style }}">
            {{ icons.navItem(path('admin_product'), 'product.update.title', ICON_PRODUCT) }}
            {{ icons.navItem(path('admin_archive'), 'archive.title', 'calendar-xmark far') }}
            {{ icons.dropdownSeparator(false, 'border-secondary') }}
            {{ icons.navItem(path('admin_parameters'), 'parameters.title', 'cogs') }}
            {{ icons.navItem(path('log_table'), 'log.title', ICON_LOG) }}
            {{ icons.navItem(path('admin_clear'), 'clear_cache.title', ICON_DELETE) }}
            {{ icons.dropdownSeparator(false, 'border-secondary') }}
            {{ icons.navItem(path('user_table'), 'user.list.title', ICON_USER) }}
            {{ icons.navItem(path('admin_rights_user'), 'index.menu_rights_user', 'user-check') }}
            {% if is_super_admin -%}
                {{ icons.navItem(path('admin_rights_admin'), 'index.menu_rights_admin', 'user-shield') }}
            {% endif %}
            {% if is_previous_admin -%}
                {{ icons.dropdownSeparator(false, 'border-secondary') }}
                {{ icons.navItem(impersonation_exit_path(path('user_table')), 'user.switch.exit.title', 'user-slash') }}
            {% endif %}
        </ul>
    </li>
{% endif %}
