{# tools menu #}
{% import 'macros/_icons.html.twig' as icons %}
{% if is_granted_data -%}
<li class="nav-item nav-item-dropdown" id="tools">
    <a class="nav-link nav-link-toggle font-weight-bold" href="#" role="button" aria-expanded="false">
        {{- icons.icon('tools', 'index.menu_tools') -}}
    </a>
    <ul class="navbar-nav d-none">
        {{ icons.navItem(path('search'), 'search.title', 'search') }}
        {% if is_admin %}
            {{ icons.navItem(path('admin_product'), 'product.update.title', ICON_PRODUCT) }}
            {{ icons.navItem(path('admin_archive'), 'archive.title', 'calendar-xmark far') }}
            {{ icons.dropdownSeparator }}
            {{ icons.navItem(path('below_table'), 'below.title', ICON_GLOBAL_MARGIN) }}
            {{ icons.navItem(path('duplicate_table'), 'duplicate.title', ICON_COPY) }}
            {{ icons.navItem(path('empty_table'), 'empty.title', 'file-code far') }}
            {%- if is_granted_task -%}
                {{ icons.dropdownSeparator }}
                {{ icons.navItem(path('task_compute', {'caller': path('homepage'), 'id': 0}), 'taskcompute.title', 'keyboard') }}
            {% endif -%}
        {% endif %}
    </ul>
</li>
{% endif %}
