{# imports #}
{% from 'macros/_icons.html.twig' import icon, dropdownSeparator %}
{% from 'macros/_attributes.html.twig' import attributes %}
<!-- vertical navigation -->
{%- set sidebar_attributes = {
    'url': url('ajax_save_navigation'),
    'show-menu': 'index.menu_show'|trans,
    'hide-menu': 'index.menu_hide'|trans,
    'show-sidebar': 'index.sidebar_show'|trans,
    'hide-sidebar': 'index.sidebar_hide'|trans
} -%}
<div id="sidebar" class="navbar navbar-vertical navbar-themed d-print-none{{ sidebar_class }}"{{ attributes(sidebar_attributes, 'data-') }}>
    {# logo
    <div class="p-2 mb-1">
        <div class="media position-relative d-flex align-items-center">
            <img src="{{ asset('/images/logo/logo-customer-148x148.png') }}" alt="{{ user_service.application.customerName }}" width="65" class="mr-3 rounded-circle shadow-sm">
            <div class="media-body">
                <h4 class="m-0 text-white">{{ user_service.application.customerName }}</h4>
                <p class="font-weight-light text-muted small mb-0">PUB PROD & PRINT</p>
                <a href="{{ user_service.application.customerUrl }}" rel="noopener noreferrer" class="stretched-link" target="_blank"></a>
            </div>
        </div>
    </div>
    #}
    <div class="mb-1">
        <div class="media position-relative">
            <img src="{{ asset_icon(57) }}" width="57" height="57" alt="{{ app_name }}" class="rounded-lg mr-2 align-self-end">
            <div class="media-body">
                <p class="navbar-brand p-0 m-0" style="font-size: 1.75rem">{{ app_name }}</p>
                <p class="font-weight-light text-muted p-0 m-0">{{ 'about.version'|trans({'%version%': app_version}) }}</p>
                <a href="{{ path('about') }}" class="stretched-link" title="{{ 'footer.about_title'|trans }}"></a>
            </div>
        </div>
    </div>
    {# home page #}
    <a class="navbar-brand" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
        {{- icon('home', 'index.title') -}}
    </a>
    {# search
    {% if is_granted_data and app.request.get('_route') != 'search' -%}
        <form role="search" action="{{ path('search') }}" autocomplete="off" novalidate="novalidate">
            <div class="input-group input-group-sm">
                <input id="search" name="search" type="text" class="form-control bg-transparent text-white" required="required" minlength="2" placeholder="{{ 'search.placeholder'|trans }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" role="button">
                        {{- icon('search fa-fw') -}}
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
    #}
    {# pages #}
    <ul class="navbar-nav">
        {% if is_granted_data %}
            {{ include('navigation_vertical/navigation_data.html.twig') }}
        {% endif %}
        {% if is_granted_calculation %}
            {{ include('navigation_vertical/navigation_chart.html.twig') }}
        {% endif %}
        {% if is_granted_data or is_admin %}
            {{ include('navigation_vertical/navigation_tools.html.twig') }}
        {% endif %}
        {% if is_admin -%}
            {{ include('navigation_vertical/navigation_admin.html.twig') }}
        {% endif %}
        {% if is_test -%}
            {{ include('navigation_vertical/navigation_test.html.twig') }}
        {% endif %}
        {% if is_test -%}
            {{ dropdownSeparator() }}
            {{ include('navigation_vertical/navigation_user.html.twig') }}
        {% endif %}
    </ul>
</div>
