{# chart menu #}
{% import 'macros/_icons.html.twig' as icons %}
{% if is_granted_calculation %}
    <li class="nav-item nav-item-dropdown" id="chart">
        <a class="nav-link nav-link-toggle font-weight-bold" href="#" role="button" aria-expanded="false">
            {{- icons.icon('chart-area', 'menu_graphics', 'chart') -}}
        </a>
        <ul class="navbar-nav d-none">
            {{ icons.navItem(path('chart_by_month'), 'title_by_month', 'calendar-alt far', 'chart') }}
            {{ icons.navItem(path('chart_by_state'), 'title_by_state', ICON_CALCULATION_STATE, 'chart') }}
            {% if is_test %}
                {{ icons.dropdownSeparator }}
                {{ icons.navItem(path('calculation_pivot'), 'pivot.title', 'table') }}
            {% endif %}
        </ul>
    </li>
{% endif %}
