{% set current = theme(app.request) %}
<li class="nav-item nav-item-dropdown">
    <a class="nav-link nav-link-toggle theme-switcher" href="#" role="button" aria-expanded="false">
        <i class="theme-icon {{ current.iconLight }} me-1"></i><span class="theme-text">{{ current|trans }}</span>
    </a>
    <ul class="navbar-nav navbar-menu" style="display: none">
    {% for theme in themes() %}
        <li class="nav-item">
            <button class="nav-link" data-theme="{{ theme.value }}">
                <i class="theme-icon {{ theme.iconLight }} me-1"></i><span class="theme-text">{{ theme|trans }}</span>
            </button>
        </li>
    {% endfor %}
    </ul>
</li>
