{# tools menu #}
{% from 'macros/_icons.html.twig' import icon, navItem, dropdownSeparator, dropdownItem %}
{% set id = 'menu_tools' %}
{% set expanded = app.session.get(id, false) %}
{% set toggle_class = expanded ? ' active' : '' %}
{% set display_style = expanded ? 'block' : 'none' %}
{% set toggle_title = expanded ? 'index.menu_hide' : 'index.menu_show' %}
<li class="nav-item nav-item-dropdown" id="{{ id }}">
    <a class="nav-link nav-link-toggle{{ toggle_class }}" href="#" role="button" aria-expanded="{{ expanded|json_encode }}" title="{{ toggle_title|trans }}">
        {{- icon('tools fa-fw', 'index.menu_tools') -}}
    </a>
    <ul class="navbar-nav navbar-menu" style="display: {{ display_style }}">
        {% if not is_test and is_granted_data and show_navigation_search ?? false -%}
            {{ navItem(path('search'), 'search.title', 'search') }}
        {% endif %}
        {% if is_admin %}
            {{ dropdownSeparator() }}
            {{ navItem(path('below_table'), 'below.title', ICON_GLOBAL_MARGIN) }}
            {{ navItem(path('duplicate_table'), 'duplicate.title', ICON_COPY) }}
            {{ navItem(path('empty_table'), 'empty.title', 'file-code far') }}
            {%- if is_granted_task -%}
                {{ dropdownSeparator() }}
                {{ navItem(path('task_compute', {'caller': path('homepage'), 'id': 0}), 'task_compute.title', 'keyboard') }}
            {% endif -%}
        {% endif %}
        {% if is_test and is_granted_data and show_navigation_search ?? false -%}
            {{ dropdownSeparator() }}
            {{ include('navigation_vertical/navigation_search.html.twig') }}
        {% endif %}
    </ul>
</li>
