{# edit modal dialog #}

{# macro #}
{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{# parameters #}
{%- set icon = icon|default('fa-edit') -%}
{%- set form_prefix = form_prefix|default('edit') -%}
{%- set add_title = add_title|default('common.button_add'|trans) -%}
{%- set edit_title = edit_title|default('common.button_edit'|trans) -%}
{%- set form_attr = form_attr|default({}) -%}

<div id="{{ form_prefix }}_modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
            <form id="{{ form_prefix }}_form" autocomplete="off" data-add="{{ add_title }}" data-edit="{{ edit_title }}"{{ _self.attributes(form_attr) }}>
                <div class="modal-header cursor-move">
                    <h5 class="modal-title"><i class="fas fa-fw {{ icon }}" aria-hidden="true"></i><span class="dialog-title">{{ edit_title }}</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'common.button_close'|trans }}" title="{{ 'common.button_close'|trans }}" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <div class="row no-gutters w-100">
                        <div class="col-9">
                            {% block modal_buttons %}{% endblock %}
                        </div>
                        <div class="col-3 text-right">
                            <small class="text-danger">{{ 'common.required'|trans }}</small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
