{# Modal dialog to edit a calculation task #}
{% extends 'dialogs/edit_dialog.html.twig' %}

{# macros #}
{% macro plain_text_input(id, class = '') %}
{%- set class = (class ~ ' text-right form-control-plaintext border rounded px-2')|trim -%}
<div id="{{ id }}" class="{{ class }}">{{ 0|amount }}</div>
{% endmacro %}

{% macro row_input(task, item, visible = false) %}
<tr class="task-item-row{% if not visible %} d-none{% endif %}" task-id="{{ task.id }}" task-unit="{{ task.unit }}">
    <td>        
        <div class="custom-control custom-switch pt-2">
            <input type="checkbox" class="custom-control-input item-input" id="item_{{ item.id }}" name="items[]" value="{{ item.id }}" checked="checked">
            <label class="custom-control-label" for="item_{{ item.id }}">{{ item.name }}</label>
        </div>
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('task_value_' ~ item.id, 'task_value') }}
    </td>
    <td class="text-right w-25">
        {{ _self.plain_text_input('task_total_' ~ item.id, 'task_total') }}
    </td>
</tr>
{% endmacro %}

{# parameters #}
{%- set icon        = 'fa-tasks' -%}
{%- set form_prefix = 'task' -%}
{%- set add_title   = 'taskcompute.add'|trans -%}
{%- set edit_title  = 'taskcompute.edit'|trans -%}
{%- set form_attr   = form_attr|default({})|merge({'data-url': path('ajax_task'), 'data-failed': 'taskcompute.failed'|trans}) -%}

{% block modal_body %}
<div class="form-row">
    <div class="col-6">
        {{ form_row(form.task) }}
    </div>
    <div class="col-6">
        {{ form_row(form.category) }}
    </div>
</div>
<div class="form-row">
    <div class="col-3 offset-6">
        {{ form_row(form.unit) }}
    </div>
    <div class="col-3">
        {{ form_row(form.quantity, {'attr': {'value': 1.00}}) }}
    </div>  
</div>
<div class="form-row task-row-table">
    <table class="table table-sm table-borderless mb-0" id="table-task-edit">
        <thead>
            <tr>
                <td><span class="task-items-empty text-danger d-none">{{ 'taskcompute.error.items'|trans }}</span></td>
                <td class="w-25">{{ 'taskcompute.fields.price'|trans }}</td>
                <td class="w-25">{{ 'taskcompute.fields.total'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                {% set visible = loop.index == 1 %}
                {% for item in task.items|filter(item => item.count > 0) %}
	                {{ _self.row_input(task, item, visible) }}
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><hr class="my-1"></td>
            </tr>
            <tr>
                <td class="text-right pt-2" colspan="2">{{ 'taskcompute.fields.overall_total'|trans }}</td>
                <td class="text-right">{{ _self.plain_text_input('task_overall') }}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="form-row task-row-empty d-none pl-1">
    <p class="small text-muted">{{ 'task.edit.empty_items'|trans }}</p>
</div>
{% endblock %}

{% block modal_buttons %}
<input type="submit" id="task_submit_button" class="btn btn-form btn-primary" value="{{ 'common.button_ok'|trans }}">
<input type="button" id="task_cancel_button" class="btn btn-form btn-secondary" value="{{ 'common.button_cancel'|trans }}" data-dismiss="modal">
{% endblock %}
