{# Macro for calculation groups #}
{% macro printGroupRow(group, editable) -%}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'calculation/_macro_items.html.twig' as macroItems %}

<tbody{% if editable %} data-link="row" class="rowlink" data-prototype="{{ macroItems.printItemRow(group.items.vars.prototype, false, false, editable)|e }}"{% endif -%}>
	<tr class="drag-skip">
        {{ form_widget(group.categoryId) }}
        {{ form_widget(group.code) }}
		<th class="rowlink-skip" colspan="5">{{ group.code.vars.value }}</th>
        {% if editable -%}        
		<th class="rowlink-skip actions d-print-none">
            {# menu #}
            <div class="dropdown">
                {%- set menu_id = 'dropdownMenuGroup_' ~ group.vars.id -%}
                {{ icons.dropdownEllipsis(menu_id) }}
      			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ menu_id }}">
                    {{ icons.dropdownItemWithClass('#', 'calculation.edit.delete_group', 'times', 'btn-delete-group') }}
                    {{ icons.dropdownSeparator() }}
                    {{ icons.dropdownItemWithClass('#', 'calculation.edit.add_item', 'file far', 'btn-add-item') }}
      			</div>
  			</div>
		</th> 
        {%- endif %}
    </tr>
	{% for item in group.items %}
	    {{ macroItems.printItemRow(item, loop.first, loop.last, editable) }}
	{% endfor %}
</tbody>
{%- endmacro %}
