{# Macro for a calculation categories #}
{% macro outputCategoryRow(category, editable, first, last) -%}
{% from 'macros/_icons.html.twig' import dropdownEllipsis, dropdownItemButton, dropdownSeparator %}
{% from 'calculation/_macro_items.html.twig' import outputItemRow %}
{# body #}
<tbody{% if editable %} data-link="row" class="rowlink" data-prototype="{{ outputItemRow(category.items.vars.prototype, editable, false, false)|e('html_attr') }}"{% endif -%}>
    <tr class="drag-skip category">
        {{ form_widget(category.position) }}
        {{ form_widget(category.code) }}
        {{ form_widget(category.category) }}
        <th class="rowlink-skip text-description text-cell ps-2" colspan="5">{{ category.code.vars.value }}</th>
        {% if editable -%}
        <th class="rowlink-skip actions d-print-none">
            {# menu #}
            <div class="dropdown position-static">
                {%- set menu_id = 'dropdownMenuCategory_' ~ category.vars.id -%}
                {{ dropdownEllipsis(menu_id) }}
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ menu_id }}">
                    {{ dropdownItemButton('calculation.edit.delete_category', ICON_DELETE, 'btn-delete-category') }}
                    {{ dropdownSeparator() }}
                    {{ dropdownItemButton('calculation.edit.add_item', ICON_PRODUCT, 'btn-default btn-add-item') }}
                    {{ dropdownItemButton('calculation.edit.add_task', ICON_TASK, 'btn-add-task') }}
                    {{ dropdownSeparator(first and last) }}
                    {{ dropdownItemButton('calculation.edit.move_first', 'step-backward fa-rotate-90', 'btn-first-category', first) }}
                    {{ dropdownItemButton('calculation.edit.move_up', 'chevron-up', 'btn-up-category', first) }}
                    {{ dropdownItemButton('calculation.edit.move_down', 'chevron-down', 'btn-down-category', last) }}
                    {{ dropdownItemButton('calculation.edit.move_last', 'step-forward fa-rotate-90', 'btn-last-category', last) }}
                </ul>
            </div>
        </th>
        {%- endif %}
    </tr>
    {% for item in category.items %}
        {{ outputItemRow(item, editable, loop.first, loop.last) }}
    {% endfor %}
</tbody>
{%- endmacro %}
