{# Macro for calculation groups #}
{% macro outputGroupRow(group, editable, first, last) -%}
{% from 'macros/_icons.html.twig' import dropdownEllipsis, dropdownSeparator, dropdownItemWithClass %}
{% from 'calculation/_macro_categories.html.twig' import outputCategoryRow %}
{# head #}
<thead class="group"{% if editable %} data-prototype="{{ outputCategoryRow(group.categories.vars.prototype, editable, false, false)|e('html_attr') }}"{% endif -%}>
    <tr class="drag-skip border">
        {{ form_widget(group.position) }}
        {{ form_widget(group.code) }}
        {{ form_widget(group.group) }}
        <th class="rowlink-skip bg-body-tertiary text-description text-cell pb-1 ps-1" colspan="5">{{ group.code.vars.value }}</th>
        {% if editable -%}
        <th class="rowlink-skip bg-body-tertiary actions d-print-none">
            {# menu #}
            <div class="dropdown position-static">
                {%- set menu_id = 'dropdownMenuGroup_' ~ group.vars.id -%}
                    {{ dropdownEllipsis(menu_id) }}
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ menu_id }}">
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.delete_group', ICON_DELETE, 'btn-delete-group') }}</li>
                    <li>{{ dropdownSeparator() }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.add_item', ICON_PRODUCT, 'btn-default btn-add-item') }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.add_task', ICON_TASK, 'btn-add-task') }}</li>
                    <li>{{ dropdownSeparator(first and last) }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.move_first', 'step-backward fa-rotate-90', 'btn-first-group', first) }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.move_up', 'chevron-up', 'btn-up-group', first) }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.move_down', 'chevron-down', 'btn-down-group', last) }}</li>
                    <li>{{ dropdownItemWithClass('#', 'calculation.edit.move_last', 'step-forward fa-rotate-90', 'btn-last-group', last) }}</li>
                </ul>
            </div>
        </th>
        {%- endif %}
    </tr>
</thead>
{% for category in group.categories %}
    {{ outputCategoryRow(category, editable, loop.first, loop.last) }}
{% endfor %}
{%- endmacro %}
