{# Macro for calculation groups #}
{% macro printGroupRow(group, editable, first, last) -%}
{% from 'macros/_icons.html.twig' import dropdownEllipsis, dropdownSeparator, dropdownItemWithClass %}
{% from 'calculation/_macro_categories.html.twig' import printCategoryRow %}
{# head #}
<thead class="group"{% if editable %} data-prototype="{{ printCategoryRow(group.categories.vars.prototype, editable, false, false)|e('html_attr') }}"{% endif -%}>
    <tr class="drag-skip border-left border-right bg-themed">
        {{ form_widget(group.group) }}
        {{ form_widget(group.code) }}
        {{ form_widget(group.position) }}
        <th class="rowlink-skip text-description text-cell pb-1" colspan="5">{{ group.code.vars.value }}</th>
        {% if editable -%}
        <th class="rowlink-skip actions d-print-none">
            {# menu #}
            <div class="dropdown">
                {%- set menu_id = 'dropdownMenuGroup_' ~ group.vars.id -%}
                {{ dropdownEllipsis(menu_id) }}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ menu_id }}">
                    {{ dropdownItemWithClass('#', 'calculation.edit.delete_group', ICON_DELETE, 'btn-delete-group') }}
                    {{ dropdownSeparator() }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.add_item', ICON_PRODUCT, 'btn-default btn-add-item') }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.add_task', ICON_TASK, 'btn-add-task') }}
                    {{ dropdownSeparator(first and last) }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.move_first', 'step-backward fa-rotate-90', 'btn-first-group', first) }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.move_up', 'chevron-up', 'btn-up-group', first) }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.move_down', 'chevron-down', 'btn-down-group', last) }}
                    {{ dropdownItemWithClass('#', 'calculation.edit.move_last', 'step-forward fa-rotate-90', 'btn-last-group', last) }}
                </div>
            </div>
        </th>
        {%- endif %}
    </tr>
</thead>
{% for category in group.categories %}
    {{ printCategoryRow(category, editable, loop.first, loop.last) }}
{% endfor %}
{%- endmacro %}
