{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'calculation.update.title' -%}
{%- set title_icon = 'pencil-alt' -%}
{%- set title_description = 'calculation.result.description' -%}
{%- set tabular = app.displayTabular -%}
{%- set empty_path = tabular ? path('empty_table') : path('empty_card') -%}
{%- set duplicate_path = tabular ? path('duplicate_table') : path('duplicate_card') -%}

{% block card_body %}
<table class="table table-hover table-sm mb-0">
    {% if empty > 0 %}
        <tr>
            <td>{{ 'calculation.result.empty'|trans }}</td>
            <td class="text-right"><a href="{{ empty_path }}" title="{{ 'empty.description'|trans }}">{{ empty|integer }}</a></td>
        </tr>
    {% endif %}
    {% if duplicated > 0 %}
        <tr>
            <td>{{ 'calculation.result.duplicated'|trans }}</td>
            <td class="text-right"><a href="{{ duplicate_path }}" title="{{ 'duplicate.description'|trans }}">{{ duplicated|integer }}</a></td>
        </tr>
    {% endif %}
    {% if sorted > 0 %}
        <tr>
            <td>{{ 'calculation.result.sorted'|trans }}</td>
            <td class="text-right">{{ sorted|integer }}</td>
        </tr>
    {% endif %}
    {% if empty > 0 or duplicated > 0 or sorted > 0 %}
        <tr class="not-hover">
            <td colspan="2">&nbsp;</td>
        </tr>
    {% endif %}
    <tr>
        <td>{{ 'calculation.result.updated'|trans }}</td>
        <td class="text-right">{{ updated|integer }}</td>
    </tr>
    <tr>
        <td>{{ 'calculation.result.skipped'|trans }}</td>
        <td class="text-right">{{ skipped|integer }}</td>
    </tr>
    {% if unmodifiable > 0 %}
        <tr>
            <td>{{ 'calculation.result.unmodifiable'|trans }}</td>
            <td class="text-right">{{ unmodifiable|integer }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="font-weight-bold">{{ 'calculation.result.total'|trans }}</<td>
        <td class="font-weight-bold text-right">{{ total|integer }}</td>
    </tr>
</table>
{% if simulated %}
    <hr class="my-1">
    <p class="text-right my-0 small">{{ 'calculation.result.simulated'|trans }}</p>
{% endif %}
{% endblock %}

{% block card_footer %}
{{ icons.homepage() }}
{% endblock %}
