{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'empty.title' -%}
{%- set title_icon = 'file-code far' -%}
{%- set object_type = ENTITY_CALCULATION -%}
{%- set allow_add = false -%}

{% block card_header -%}
{{ parent() }}
<small>{{ 'empty.description'|trans }}</small>
{%- endblock %}

{% block header_actions -%}
{% if customData.itemsCount and rows|length -%}<small>{{ 'empty.count'|trans({'%calculations%': rows|length, '%items%': customData.itemsCount}) }}</small>{%- endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('empty_pdf'), 'calculation.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('empty_excel'), 'calculation.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block edit_actions -%}
{{ _self.item_path(path('calculation_edit', params), 'calculation.edit.title_short', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('calculation_delete', params), 'calculation.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('calculation_show', params), 'calculation.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block other_actions -%}
{% if allow_export %}
    {% if is_separator %}{{- _self.item_separator() }}{% endif %}
    {{- _self.item_path_external(path('calculation_pdf_id', params), 'calculation.list.pdf_single_title', ICON_PDF, 'btn-calculation-pdf') }}
    {{- _self.item_path_external(path('calculation_excel_id', params), 'calculation.list.excel_single_title', ICON_EXCEL, 'btn-calculation-excel') }}
{% endif %}
{%- endblock %}

{% block custom_view_card_class ' text-border' %}
{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('calculation_edit', params) }}" class="item-link text-body" title="{{ 'calculation.edit.title_short'|trans }}">%id%</a>
{%- elseif row_show -%}
    <a href="{{ path('calculation_show', params) }}" class="item-link text-body" title="{{ 'calculation.show.title'|trans }}">%id%</a>
{%- else -%}
    <span>%id%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%date% / %stateCode%') }}
{{ _self.property_value('%customer%') }}
{{ _self.property_value('%description%') }}
{{ _self.property_line() }}
{{ _self.property_value('%items%', 'text-danger') }}
{%- endblock %}
