{% extends 'cards/card_table.html.twig' %}
{% from 'macros/_icons.html.twig' import icon %}
{# parameters #}
{%- set title = title|default('calculation.list.title') -%}
{%- set title_icon = title_icon|default(ICON_CALCULATION) -%}
{%- set object_type = ENTITY_CALCULATION -%}
{%- set attributes = attributes|default({})|merge({'danger-tooltip-selector': 'span.has-tooltip'}) -%}
{# header actions #}
{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('calculation_add', params) }}">{{ 'calculation.add.title'|trans }}</a>{% endif %}
{%- endblock %}
{# toolbar actions #}
{% block toolbar_actions -%}
{% if customData.dropdown is defined and customData.dropdown|length %}
    {%- set state_editable = customData.editable|default(0) -%}
    {%- set state_id = customData.state.id|default(0) -%}
    {%- set input_value = state_id ? state_id : state_editable -%}
    {%- set data_default = 'calculation.fields.state'|trans -%}
    {%- set text = data_default -%}
    {% if state_id %}
        {% set text = customData.state.code %}
    {% elseif state_editable %}
        {% set text = (state_editable ? 'calculationstate.list.editable' : 'calculationstate.list.not_editable')|trans %}
    {% endif %}
    {{ _self.output_dropdown_menu('state', ICON_CALCULATION_STATE, text, 'calculation.list.state_help', input_value, data_default) }}
    <ul class="dropdown-menu" aria-labelledby="state">
        {{ _self.output_dropdown('state', 0, input_value, 'calculation.list.state_all_text'|trans, {}, 'filter-circle-xmark') }}
        {% for key, entry in customData.dropdown %}
            {{ _self.item_separator() }}
            {{ _self.output_dropdown('editable', entry.id, state_editable, entry.text|trans, {'data-parameter': 'stateEditable'}, entry.icon) }}
            {% for code, id in entry.states %}
                {{ _self.output_dropdown('child state', id, state_id, code, {'data-parameter': 'stateId'}, ICON_CALCULATION_STATE) }}
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{%- endblock %}
{# global actions #}
{% block global_actions -%}
{{- _self.item_external(path('calculation_pdf'), 'calculation.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('calculation_excel'), 'calculation.list.excel_title', ICON_EXCEL) }}
{% if is_admin -%}
    {{- _self.item_separator() }}
    {{- _self.item_path(path('admin_archive', {'caller': path('calculation_table')}), 'archive.title', 'calendar-xmark far') }}
    {{- _self.item_path(path('admin_update', {'caller': path('calculation_table')}), 'calculation.update.title', 'pencil') }}
{% endif %}
{%- endblock %}
{# edit actions #}
{% block edit_actions -%}
{{- _self.item_path(path('calculation_edit', params), 'calculation.edit.title_short', ICON_EDIT, edit_class ~ ' btn-calculation-edit') }}
{{- _self.item_path(path('calculation_state', params), 'calculation.list.state_title', ICON_CALCULATION_STATE, 'btn-state') }}
{%- endblock %}
{# delete actions #}
{% block delete_actions -%}
{{- _self.item_path(path('calculation_delete', params), 'calculation.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}
{# add actions #}
{% block add_actions -%}
{{- _self.item_path(path('calculation_add', params), 'calculation.add.title', ICON_ADD, 'btn-add') }}
{{- _self.item_path(path('calculation_clone', params), 'common.button_clone', ICON_COPY, 'btn-clone') }}
{%- endblock %}
{# show actions #}
{% block show_actions -%}
{{- _self.item_path(path('calculation_show', params), 'calculation.show.title', ICON_SHOW, show_class) }}
{%- endblock %}
{# other actions #}
{% block other_actions -%}
{% if allow_export %}
    {{- _self.item_separator() }}
    {{- _self.item_path_external(path('calculation_pdf_id', params), 'calculation.list.pdf_single_title', ICON_PDF, 'btn-calculation-pdf') }}
    {{- _self.item_path_external(path('calculation_excel_id', params), 'calculation.list.excel_single_title', ICON_EXCEL, 'btn-calculation-excel') }}
{% endif %}
{%- endblock %}
{# custom view header #}
{% block custom_view_card_class ' text-border' %}
{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('calculation_edit', params) }}" class="item-link text-body" title="{{ 'calculation.edit.title_short'|trans }}">%id%</a>
{%- elseif row_show -%}
    <a href="{{ path('calculation_show', params) }}" class="item-link text-body" title="{{ 'calculation.show.title'|trans }}">%id%</a>
{%- else -%}
    <span>%id%</span>
{%- endif -%}
{%- endblock %}
{# custom view body #}
{% block custom_view_body -%}
{{ _self.property_value('%date% / %stateCode%') }}
{{ _self.property_value('%customer%') }}
{{ _self.property_value('%description%') }}
{{ _self.property_line() }}
{{ _self.property_both('%overallMargin%', '%overallTotal%', '', 'text-end') }}
{%- endblock %}
