{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{% macro add_line_info(name, value) -%}
</tr>
    <td>{{ name|trans }}</td>
    <td class="text-right">{{ value|raw }}</td>
</tr>
{%- endmacro %}

{# parameters #}
{%- set title = 'calculation.update.title' -%}
{%- set title_icon = 'calculator' -%}
{%- set title_description = 'calculation.result.description' -%}
{%- set tabular = app.displayTabular -%}
{%- set empty_path = tabular ? path('empty_table') : path('empty_card') -%}
{%- set duplicate_path = tabular ? path('duplicate_table') : path('duplicate_card') -%}

{% block card_body %}
<table class="table table-hover table-sm mb-0">
    {% if empty > 0 %}
        <tr>
            <td>{{ 'calculation.result.empty'|trans }}</td>
            <td class="text-right"><a href="{{ empty_path }}" title="{{ 'empty.description'|trans }}">{{ empty|integer }}</a></td>
        </tr>
    {% endif %}
    {% if duplicated > 0 %}
        <tr>
            <td>{{ 'calculation.result.duplicated'|trans }}</td>
            <td class="text-right"><a href="{{ duplicate_path }}" title="{{ 'duplicate.description'|trans }}">{{ duplicated|integer }}</a></td>
        </tr>
    {% endif %}
    {% if sorted > 0 %}
        {{ _self.add_line_info('calculation.result.sorted', sorted|integer) }}
    {% endif %}
    {% if empty > 0 or duplicated > 0 or sorted > 0 %}
        <tr class="not-hover"><td colspan="2">&nbsp;</td></tr>
    {% endif %}
    {{ _self.add_line_info('calculation.result.updated', updated|integer) }}
    {{ _self.add_line_info('calculation.result.skipped', skipped|integer) }}
    {% if unmodifiable > 0 %}
        {{ _self.add_line_info('calculation.result.unmodifiable', unmodifiable|integer) }}
    {% endif %}
    <tr>
        <th>{{ 'calculation.result.total'|trans }}</<th>
        <th class="text-right">{{ total|integer }}</th>
    </tr>
</table>
{% if simulated %}
    <hr class="mt-0">
    <p class="text-right my-0 small">{{ 'calculation.result.simulated'|trans }}</p>
{% endif %}
{% endblock %}

{% block card_footer %}
{{ icons.homepage() }}
{{ icons.link(path('admin_calculation'), 'calculation.result.new_update', 'btn btn-outline-secondary', null) }}
{% endblock %}
