{# Macro for a calculation items #}
{% macro printItemRow(item, first, last, editable) -%}
{% import 'macros/_icons.html.twig' as icons %}
<tr>
	<td class="pl-3">{{ form_widget(item.description) -}}
        {%- if editable -%}
            <a href='#' class="btn-edit-item">{{ item.description.vars.value }}</a>  
        {%- else -%}
            {{ item.description.vars.value }}
        {%- endif -%}
	</td>
	<td class="text-unit">{{ form_widget(item.unit) }}{{ item.unit.vars.value }}</td>
	<td class="text-currency">{{ form_widget(item.price) }}{{ item.price.vars.value|amount }}</td>
	<td class="text-currency">{{ form_widget(item.quantity) }}{{ item.quantity.vars.value|amount }}</td>
	<td class="text-currency">{{ form_widget(item.total) }}{{ item.total.vars.value|amount }}</td>
    {% if editable %}  
	<td class="actions d-print-none rowlink-skip">
		
		<div class="dropdown">
			{%- set menu_id = 'dropdownMenuItem_' ~ item.vars.id -%}
            {{ icons.dropdownEllipsis(menu_id) }}
  			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ menu_id }}">
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.edit_item', 'pencil-alt', 'btn-edit-item') }}
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.delete_item', 'times', 'btn-delete-item') }}                
				{{ icons.dropdownSeparator(first and last) }}
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.move_first_item', 'step-backward fa-rotate-90', 'btn-first-item', first) }}
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.move_up_item', 'chevron-up', 'btn-up-item', first) }}
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.move_down_item', 'chevron-down', 'btn-down-item', last) }}
                {{ icons.dropdownItemWithClass('#', 'calculation.edit.move_last_item', 'step-forward fa-rotate-90', 'btn-last-item', last) }}
                {{ icons.dropdownSeparator() }}
	            {{ icons.dropdownItemWithClass('#', 'calculation.edit.add_item', 'file far', 'btn-add-item') }}
  			</div>
		</div>
    </td>
    {% endif %}
</tr>
{%- endmacro %}
