{% extends 'cards/card_flex.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = title|default('calculation.list.title') -%}
{%- set title_icon   = title_icon|default('calculator') -%}
{%- set add_title    = 'calculation.list.add_title' -%}
{%- set pdf_title    = 'calculation.list.pdf_title' -%}
{%- set empty_list   = empty_list|default('calculation.list.empty') -%}
{%- set col_span     = col_span|default(2) -%}

{# actions #}
{%- set object_type  = EntityVoterInterface.ENTITY_CALCULATION -%}
{%- set edit_page    = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'calculation_edit' : null -%}
{%- set show_page    = is_granted(EntityVoterInterface.ATTRIBUTE_SHOW, object_type) ? 'calculation_show' : null -%}
{%- set single_page  = is_granted(EntityVoterInterface.ATTRIBUTE_PDF, object_type) ? 'calculation_pdf_id' : null -%}
{%- set default_page = edit ? edit_page|default(show_page) : show_page|default(edit_page) -%}

{%- if add_page is not defined -%}
    {%- set add_page = is_granted(EntityVoterInterface.ATTRIBUTE_ADD, object_type) ? 'calculation_add' : null -%}
{%- endif -%}
{%- if clone_page is not defined -%}
    {%- set clone_page = is_granted(EntityVoterInterface.ATTRIBUTE_ADD, object_type) ? 'calculation_clone' : null -%}
{%- endif -%}
{%- if state_page is not defined -%}
    {%- set state_page = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'calculation_state' : null -%}
{%- endif -%}
{%- if pdf_page is not defined -%}
    {%- set pdf_page = is_granted(EntityVoterInterface.ATTRIBUTE_PDF, object_type) ? 'calculation_pdf' : null -%}
{%- endif -%}
{%- if delete_page is not defined -%}
    {%- set delete_page = is_granted(EntityVoterInterface.ATTRIBUTE_DELETE, object_type) ? 'calculation_delete' : null -%}
{%- endif -%}

{% block item_title %}
{%- set item_title = item.id|identifier -%}
<div style="{{ properties.stateCss(item.stateColor) }}">
    {%- if default_page -%}       
        {%- set default_path = path(default_page, params) -%}
        {#
        {%- set params = routeParams(app.request, item.id) -%}
        {%- if caller|default(false) -%}{%- set params = params|merge({'caller': caller}) -%}{%- endif -%}
        {%- set edit_path = path(default_page, params) -%}
        #}
        <a href="{{ default_path }}" class="text-body  rowlink-skip ml-1">{{ item_title }}</a>    
    {%- else -%}
        <span class="ml-1">{{ item_title }}</span>
    {%- endif -%}   
</div>
{% endblock %}

{% block item_property -%}
{{ properties.line(item.customer, false, col_span) }}
{{ properties.line(item.description, false, col_span) }}
{{ properties.line(item.date|localedate ~ ' / ' ~ item.stateCode, false, col_span) }}
{{ properties.separator(col_span) }}
{% block calculation_properties -%}
    {%- if marginBelow(item) -%}
        {%- set margin_below_title = 'calculation.list.margin_below'|trans({'%margin%': item.overallMargin|percent, '%minimum%': min_margin|percent}) -%}
        <tr>
        	<td>{{ 'calculation.fields.total'|trans }}</td>
        	<td class="text-right pr-4 text-danger below-cell has-tooltip" data-html="true" title="{{ margin_below_title }}">{{ item.overallTotal|amount }}</td>
        </tr>
    {%- else -%}
    	{{ properties.property('calculation.fields.total', item.overallTotal|amount, 'text-right pr-4') }}
    {%- endif -%}
{% endblock -%}
{%- endblock %}

{% block actions -%}
{%- if state_page or single_page -%}
    {{ icons.dropdownSeparator }}
    {%- if state_page -%}
        {%- set state_path  = path(state_page, {'id': item.id}) -%}
        {{ icons.dropdownItem(state_path, 'calculation.list.state_title', 'edit') }}
    {%- endif -%}
    {%- if single_page -%}
        {%- set single_path = path(single_page, {'id': item.id}) -%}
        {{ icons.dropdownItemExternal(single_path, 'common.button_pdf', 'file-pdf far') }}            
    {%- endif -%}
{%- endif -%}
{%- endblock %}

{% block edit_action %}
{{ parent() }}
{%- if clone_page -%}
    {% set clone_path = path(clone_page, {'id': item.id, 'selection': item.id}) %}
    {{ icons.dropdownItem(clone_path, 'common.button_clone', 'copy far') }}
{%- endif -%}
{% endblock %}

{%- block sort_actions -%}
{{ parent() }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItem(path('calculation_table'), 'common.button_table', 'table fas') }}
{%- endblock -%}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/calculation_card.js') }}
{% else %}
{{ asset_js('js/calculation_card.js') }}
{% endif %}
{%- endblock %}
