{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

<div id="totals-panel" class="card mb-3">
    <div class="card-header">
        <h1 class="card-title">{{ icons.icon('list-ul', 'calculation.edit.panel_resume') }}</h1>
    </div>
    <div class="card-body card-body-overview">
        <table id="totals-table" class="table table-overview table-sm">
            <tbody>
                {% include 'calculation/calculation_ajax_totals.html.twig' %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-print-none">
        {%- if editable -%}
            <div class="row">
                <div class="col-md-9">
                    {{ icons.button_submit() }}
                    {{ icons.button_cancel(cancel_path) }}
                </div>
                <div class="col-md-3 text-md-right mt-1">
                    <small>{{ 'common.required'|trans|raw }}</small>
                </div>
            </div>
        {%- else -%}
            <div class="row">
                <div class="col-md-3">
                    {{ icons.button_ok(cancel_path) }}
                </div>
                <div class="col-md-9 text-md-right">
                    <small class="text-danger">{{ 'calculation.edit.read_only'|trans({'%name%': item.stateCode}) }}</small>
                </div>
            </div>
        {%- endif -%}
    </div>
</div>
