{% extends 'base.html.twig' %}
{% form_theme form _self %}
{# customize the user margin field to display a tooltip #}
{% block _calculation_userMargin_widget -%}
    {%- set type = type|default('number') -%}
    <div class="input-group">
        {%- if not disabled -%}
            {% from 'macros/_attributes.html.twig' import attributes %}
            {%- set label = 'calculation.edit.adjust_label'|trans -%}
            {%- set title = 'calculation.edit.adjust_title'|trans({'%minimum%': minMargin|percent}) -%}
            {%- set class_name = 'btn btn-adjust btn-outline-secondary px-2 d-print-none' ~ (overallBelow ? '' : ' cursor-default') -%}
            {%- set attrs = {
                type: 'button',
                id: 'btn-adjust',
                name: 'btn-adjust',
                'aria-label': label,
                class: class_name,
                'data-bs-html': 'true',
                'data-bs-title': title,
                'data-bs-toggle': 'tooltip',
                'data-bs-custom-class': 'tooltip-success',
            } -%}
            <button{{ attributes(attrs) }}{% if not overallBelow %} disabled{% endif %}>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
            </button>
        {%- endif -%}
        {{- block('form_widget_simple') -}}
        <span class="input-group-text">%</span>
    </div>
{%- endblock _calculation_userMargin_widget %}
{# parameters #}
{%- set title = title|default(new ? 'calculation.add.title' : 'calculation.edit.title') -%}
{%- set title_parameters = new ? {} : {'%id%': item.id|identifier} -%}
{%- set form_attr = form_attr|default({})|merge({id: 'edit-form'}) -%}
{%- if editable -%}
    {%- set form_attr = form_attr|merge({
        'data-title': title|trans(title_parameters),
        'data-update': url('calculation_update'),
        'data-edit': (new ? app_params.product.edit : false)|json_encode,
        'data-search-customer': url('ajax_search_customer'),
        'data-search-product': url('ajax_search_product'),
        'data-search-unit': url('ajax_search_unit'),
        'data-dialog-item': url('ajax_dialog_item'),
        'data-dialog-task': url('ajax_dialog_task'),
        'data-error-update': 'calculation.edit.error.update_total'|trans,
        'data-error-customer': 'calculation.edit.error.search_customer'|trans,
        'data-error-product': 'calculation.edit.error.search_product'|trans,
        'data-error-unit': 'calculation.edit.error.search_unit'|trans,
        'data-error-margin': 'calculation.edit.error.user_margin'|trans,
        'data-item-empty': 'calculation.edit.empty_search'|trans,
        'data-save': 'common.save_data'|trans}) -%}
{%- endif -%}
{%- set list_path = 'calculation_index' -%}
{%- set cancel_path = cancel_url(app.request, item, list_path) -%}
{# class #}
{%- block container_class 'container-fluid' -%}
{# body #}
{% block body -%}
{# form #}
{{ form_start(form, {attr: form_attr}) }}
<div id="main-content" class="row">
    <div class="col-xl-5 pe-xl-0">
        {{ include('calculation/calculation_edit_panel_main.html.twig') }}
        {{ include('calculation/calculation_edit_panel_totals.html.twig') }}
    </div>
    <div class="col-xl-7">
        {{ include('calculation/calculation_edit_panel_items.html.twig') }}
    </div>
</div>
{{ form_end(form) }}
{%- endblock body %}
{# stylesheets #}
{% block stylesheets -%}
    {{ preload_css('css/calculation.css') }}
    {{ asset_css('css/calculation.css') }}
{% endblock stylesheets %}
{# javascripts #}
{% block javascripts -%}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('js/application/calculation_error.js') }}
        {% if editable %}
            {{ asset_js('build/jquery-validation/jquery.validate.js') }}
            {{ asset_js('build/jquery-validation/additional-methods.js') }}
            {{ asset_js('build/jquery-validation/messages_fr.js') }}
            {{ asset_js('build/html5sortable/html5sortable.js') }}
            {{ asset_js('build/jquery-contextmenu/jquery.contextMenu.js') }}
            {{ asset_js('build/jquery-contextmenu/jquery.ui.position.js') }}
            {{ asset_js('js/extensions/contextmenu-extensions.js') }}
            {{ asset_js('js/extensions/validator-extensions.js') }}
            {{ asset_js('js/extensions/validator-extensions-fr.js') }}
            {{ asset_js('js/extensions/typeahead-extensions.js') }}
            {{ asset_js('js/plugins/plugin-typeahead.js') }}
            {{ asset_js('js/plugins/plugin-rowlink.js') }}
            {{ asset_js('js/plugins/plugin-input-number.js') }}
            {{ asset_js('js/plugins/plugin-drag-modal.js') }}
            {{ asset_js('js/plugins/plugin-cell-edit.js') }}
            {{ asset_js('js/application/calculation_edit_dialog.js') }}
            {{ asset_js('js/application/calculation_edit_item.js') }}
            {{ asset_js('js/application/calculation_edit_task.js') }}
            {{ asset_js('js/application/calculation_edit.js') }}
        {% endif %}
    {% else %}
        {% if editable %}
            {{ asset_js('js/compiled/calculation_edit.js') }}
        {% else %}
            {{ asset_js('js/compiled/calculation_error.js') }}
        {% endif %}
    {% endif %}
{% endblock javascripts %}
