{% extends 'cards/card_show.html.twig' %}
{% from 'macros/_icons.html.twig' import link, button_pdf %}
{% from 'macros/_properties.html.twig' import property %}
{% from 'macros/_timestampable.html.twig' import timestampable_properties as properties %}
{# parameters #}
{%- set id = item.id -%}
{%- set title = 'calculation.show.title' -%}
{%- set params = route_params(app.request, id) %}
{# actions #}
{%- set list_path = 'calculation_table' -%}
{%- set edit_path = is_granted(ATTRIBUTE_EDIT, item) and item.editable ? path('calculation_edit', params) : null -%}
{%- set state_path = is_granted(ATTRIBUTE_EDIT, item) and not item.editable ? path('calculation_state', params) : null -%}
{%- set delete_path = is_granted(ATTRIBUTE_DELETE, item) ? path('calculation_delete', params) : null -%}
{%- set cancel_path = cancel_url(app.request, id, list_path) -%}
{%- set pdf_export = is_granted(ATTRIBUTE_EXPORT, item) -%}
{# class #}
{% block card_header_class ' d-print-none' %}
{% block card_container_class '' %}
{% block card_body_class '' %}
{# no header #}
{% block property_header %}{% endblock %}
{# body #}
{% block card_body %}
{{ parent() }}
{% if not item.empty %}
<div class="{{ block('table_responsive_class') }}">
    <table class="table table-hover table-sm table-list mt-3" id="data-table-edit">
        <tbody>
            {# groups #}
            {% for group in item.groups %}
            <tr>
                <th colspan="5">{{ group.code }}</th>
            </tr>
            {# categories #}
            {% for category in group.categories %}
            <tr>
                <th class="pl-3" colspan="5">{{ category.code }}</th>
            </tr>
            {# items #}
            {% for product in category.items %}
            <tr class="item">
                <td class="text-nowrap pl-3">{{ product.description }}</td>
                <td class="text-unit">{{ product.unit }}</td>
                <td class="text-currency">{{ product.price|amount }}</td>
                <td class="text-currency">{{ product.quantity|amount }}</td>
                <td class="text-currency">{{ product.total|amount }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {# items total #}
            <tr>
                <td class="font-weight-bold" colspan="4">{{ 'calculation.fields.itemsTotal'|trans }}</td>
                <td class="font-weight-bold text-currency">{{ item.groupsAmount|amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
{# totals #}
<div class="{{ block('table_responsive_class') }}">
    <table class="table table-hover table-sm table-list mt-3 mb-0">
        <thead>
            <tr>
                <th class="text-nowrap">{{ 'calculation.edit.panel_resume'|trans }}</th>
                <th class="text-currency">{{ 'report.calculation.amount'|trans }}</th>
                <th class="text-percent">{{ 'report.calculation.margin_percent'|trans }}</th>
                <th class="text-currency">{{ 'report.calculation.margin_amount'|trans }}</th>
                <th class="text-currency">{{ 'report.calculation.total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {# total by group #}
            {% for group in item.groups %}
                <tr>
                    <td class="text-nowrap">{{ group.code }}</td>
                    <td class="text-currency">{{ group.amount|amount }}</td>
                    <td class="text-percent">{{ group.margin|percent }}</td>
                    <td class="text-currency">{{ group.marginAmount|amount }}</td>
                    <td class="text-currency">{{ group.total|amount }}</td>
                </tr>
            {% endfor %}

            {# groups total #}
            <tr>
                <td class="text-nowrap font-weight-bold">{{ 'calculation.fields.marginTotal'|trans }}</td>
                <td class="text-currency">{{ item.groupsAmount|amount }}</td>
                <td class="text-percent">{{ item.groupsMargin|percent }}</td>
                <td class="text-currency">{{ item.groupsMarginAmount|amount }}</td>
                <td class="font-weight-bold text-currency">{{ item.groupsTotal|amount }}</td>
            </tr>

            {# global margin #}
            <tr>
                <td class="text-nowrap" colspan="2">{{ 'calculation.fields.globalMargin'|trans }}</td>
                <td class="text-percent">{{ item.globalMargin|percent }}</td>
                <td class="text-currency" colspan="2">{{ item.globalMarginAmount|amount }}</td>
            </tr>

            {# user margin #}
            {% if item.userMargin != 0 %}
                <tr>
                    <td class="text-nowrap font-weight-bold" colspan="4">{{ 'calculation.fields.totalNet'|trans }}</td>
                    <td class="font-weight-bold text-currency">{{ item.totalNet|amount }}</td>
                </tr>
                <tr>
                    <td class="text-nowrap" colspan="2">{{ 'calculation.fields.userMargin'|trans }}</td>
                    <td class="text-percent">{{ item.userMargin|percent }}</td>
                    <td class="text-currency" colspan="2">{{ item.userMarginAmount|amount }}</td>
                </tr>
            {% endif %}

            {# overall total #}
            <tr>
                <td class="text-nowrap font-weight-bold">{{ 'calculation.fields.overallTotal'|trans }}</td>
                <td class="font-weight-bold text-currency">{{ item.groupsAmount|amount }}</td>
                {%- if user_service.application.marginBelow(item) -%}
                    {%- set margin_below_title = 'calculation.list.margin_below'|trans({'%margin%': item.overallMargin|percent, '%minimum%': min_margin|percent}) -%}
                    <td class="font-weight-bold text-currency text-danger has-tooltip" data-html="true" title="{{ margin_below_title }}">{{ item.overallMargin|percent }}</td>
                {%- else -%}
                    <td class="font-weight-bold text-currency">{{ item.overallMargin|percent }}</td>
                {%- endif -%}
                <td class="font-weight-bold text-currency">{{ item.overallMarginAmount|amount }}</td>
                <td class="font-weight-bold text-currency">{{ item.overallTotal|amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{# properties #}
{% block property_body %}
{{ property('calculation.fields.id', id|identifier, 'font-weight-bold') }}
{{ property('calculation.fields.customer', item.customer) }}
{{ property('calculation.fields.description', item.description) }}
{{ property('calculation.fields.date', item.date|locale_date) }}
<tr>
    <td class="w-25">{{ 'calculation.fields.state'|trans }}</td>
    <td class="w-75"><span class="state-color border border-secondary" style="background-color: {{ item.state.color|default('transparent') }};"></span> {{ item.stateCode }}</td>
</tr>
{{ properties(item) }}
{% if item.empty %}
    {{ property('calculation.edit.panel_items', 'calculation.edit.empty'|trans) }}
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
<div class="row">
    <div class="col-md-8">
    {{ parent() }}
    {% if state_path %}
        {{ link(state_path, 'calculation.list.state_title', 'btn btn-form btn-outline-success') -}}
    {% endif %}
    {% if pdf_export %}
        {{ button_pdf('calculation_pdf_id', {'id': id}) }}
    {%- endif %}
    </div>
    <div class="col-md-4 text-md-right">
        <p id="error-all" class="mb-0" class="d-none">
            <span id="error-duplicate" class="d-none"><span class="duplicate-cell"></span>{{ 'duplicate.title'|trans }}</span>
            <span id="error-empty" class="d-none ml-1"><span class="empty-cell"></span>{{ 'empty.title'|trans }}</span>
        </p>
    </div>
</div>
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/calculation_error.js') }}
{% else %}
{{ asset_js('js/calculation_error.js') }}
{% endif %}
{% endblock %}
