{% extends 'base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItemExternal %}
{# macros #}
{% macro colspan(value) -%}
    {% if value > 1 %} colspan="{{ value }}"{% endif %}
{%- endmacro colspan %}

{% macro rowspan(value) -%}
    {% if value > 1 %} rowspan="{{ value }}"{% endif %}
{%- endmacro rowspan %}

{% macro outputPopoverCell(cell, separator) -%}
    <table class="table table-borderless table-sm mb-0">
        <tbody>
        <tr>
            <td><i class="fa-solid fa-arrow-right me-1"></i>{{ cell.column.titles|join(separator)|raw }}</td>
            <td class="text-currency">{{ cell.column.formattedValue }}</td>
        </tr>
        <tr>
            <td><i class="fa-solid fa-arrow-down me-1"></i>{{ cell.row.titles|join(separator)|raw }}</td>
            <td class="text-currency">{{ cell.row.formattedValue }}</td>
        </tr>
        <tr>
            <td class="border-top">{{ icon('fa-solid fa-calculator', 'pivot.value') }}</td>
            <td class="border-top text-currency">{{ cell.formattedValue }}</td>
        </tr>
        </tbody>
    </table>
{%- endmacro outputPopoverCell %}

{% macro outputPopoverTitle(cell, separator) -%}
    {%- set titles = cell.titles|default([cell.title])|merge([cell.formattedValue]) -%}
    <p class="mb-0">
        {{- titles|join(separator)|raw -}}
    </p>
{%- endmacro outputPopoverTitle %}

{% macro outputPopoverTotal(cell, separator) -%}
    <td class="text-bg-success text-currency" data-bs-toggle="popover"
        data-bs-html="{{ _self.outputPopoverTitle(cell, separator)|e }}">
        {{- cell.formattedValue -}}
    </td>
{%- endmacro outputPopoverTotal %}

{% macro outputHeaders(nodes, separator) -%}
    {%- for node in nodes %}
        {%- set data_html = _self.outputPopoverTitle(node, separator) -%}
        {%- if node.leaf -%}
            <td class="not-hover text-currency" data-bs-toggle="popover" data-bs-html="{{ data_html|e }}">
                {{- node.title|raw -}}
            </td>
        {%- else -%}
            <td class="not-hover text-nowrap" data-bs-toggle="popover"
                data-bs-html="{{ data_html|e }}"{{ _self.colspan(node.leafNodes|length) }}>
                {{- node.title|raw -}}
            </td>
        {%- endif -%}
    {%- endfor -%}
{%- endmacro outputHeaders %}

{% macro outputValue(cell, class, separator) -%}
    {%- set class = ('text-currency ' ~ class|default(''))|trim -%}
    {% if cell %}
        {%- set popover = 'not-hover' not in class -%}
        <td class="{{ class }}"{% if popover %} data-bs-toggle="popover" data-bs-html="{{ _self.outputPopoverCell(cell, separator)|e }}"{% endif %}>
            {{- cell.formattedValue -}}
        </td>
    {% else %}
        <td class="{{ class }} not-hover">&nbsp;</td>
    {% endif %}
{%- endmacro outputValue %}

{% macro outputCell(table, column, row, class, separator) -%}
    {%- set cell = table.findCell(column, row) -%}
    {{ _self.outputValue(cell, class, separator) }}
{%- endmacro outputCell %}

{% macro outputCells(table, columns, row, separator) -%}
    {%- for column in columns %}
        {{ _self.outputCell(table, column, row, 'hover', separator) }}
    {%- endfor -%}
    {{ _self.outputPopoverTotal(row, separator) }}
{%- endmacro outputCells %}

{% macro outputRow(table, columns, row, separator) %}
    {% if row.index >= row.level - 1 -%}
        <tr>
    {% endif -%}
    <td class="text-nowrap not-hover" data-bs-toggle="popover"
        data-bs-html="{{ _self.outputPopoverTitle(row, separator)|e }}"{{ _self.rowspan(row.leafNodes|length) }}>
        {{- row.title -}}
    </td>
    {%- if row.leaf -%}
        {{ _self.outputCells(table, columns, row, separator) -}}
        </tr>
    {% else -%}
        {%- for child in row.children %}
            {{- _self.outputRow(table, columns, child, separator) -}}
        {%- endfor -%}
    {%- endif -%}
{% endmacro outputRow %}

{% macro outputTitle(table, max_col_level) -%}
    <table class="table table-borderless m-0">
        <tbody>
        <tr class="skip">
            <td class="not-hover fw-bold">{{ table.title|default('&nbsp;')|raw }}</td>
            <td class="not-hover text-end">
                {%- if table.rootColumn.title -%}
                    {{- table.rootColumn.title -}}<i class="fa-solid fa-arrow-right ms-1"></i>
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
        </tr>
        {%- for i in 2..max_col_level - 1 -%}
            <tr class="skip">
                <td class="not-hover" colspan="2">&nbsp;</td>
            </tr>
        {%- endfor -%}
        <tr class="skip">
            <td class="not-hover" colspan="2">
                {%- if table.rootRow.title %}
                    <i class="fa-solid fa-arrow-down me-1"></i>{{- table.rootRow.title -}}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
        </tr>
        </tbody>
    </table>
{%- endmacro outputTitle %}

{%- macro output_month(month, selection) %}
    {% set attrs = {
        class: ['dropdown-item', month === selection ? 'dropdown-item-checked-right'],
        href: path('calculation_pivot_index', {months: month}),
    } %}
    <li><a {{ html_attr(attrs) }}>{{ 'counters.months'|trans({count: month}) }}</a></li>
{% endmacro output_month -%}

{%- macro output_operation(operation, selection) %}
    {% set attrs = {
        class: ['dropdown-item', operation === selection ? 'dropdown-item-checked-right'],
        href: path('calculation_pivot_index', {operation: operation.value}),
    } %}
    <li><a {{ html_attr(attrs) }}>{{ operation|trans }}</a></li>
{% endmacro output_operation -%}

{# parameters #}
{%- set title = 'pivot.title' -%}
{%- set title_icon = 'fa-solid fa-table' -%}
{%- set max_row_level = table.maxRowLevel -%}
{%- set max_col_level = table.maxColumnLevel -%}
{%- set total_title = table.totalTitle|default('calculation.fields.total'|trans) -%}
{%- set separator = '<i class="fa-solid fa-caret-right mx-1"></i>' -%}
{% block container_class 'container-fluid' %}
{# body #}
{% block body %}
    <div class="d-flex-wrap-center mb-2">
        <h4 class="flex-grow-1">{{ icon(title_icon, title) }}</h4>
        <div class="btn-toolbar d-print-none" role="toolbar">
            <div class="btn-group btn-group-sm" role="group">
                {%- set button_attrs = {
                    type: 'button',
                    class: ['btn', 'btn-outline-secondary', 'dropdown-toggle'],
                    'data-bs-toggle': 'dropdown',
                    'data-bs-target': '#month',
                    'aria-expanded': false} -%}
                <button {{ html_attr(button_attrs) }}>
                    {{- icon(icon: 'fa-regular fa-calendar-days', text: 'timeline.interval', inline: true) -}}
                </button>
                <ul id="month" class="dropdown-menu dropdown-menu-checked-sm">
                    {% for i in [1, 2, 3, 6, 12] -%}
                        {{ _self.output_month(i, months) }}
                    {%- endfor -%}
                </ul>
                <button {{ html_attr(button_attrs|merge({'data-bs-target': '#operation'})) }}>
                    {{- icon(icon: 'fa-solid fa-calculator', text: 'pivot.operation.title', inline: true) -}}
                </button>
                <ul id="operation" class="dropdown-menu dropdown-menu-checked-sm">
                    {% for current in enum_sorted('App\\Pivot\\PivotOperation') -%}
                        {{ _self.output_operation(current, operation) }}
                    {%- endfor %}
                </ul>
                {%- set button_attrs = button_attrs|merge({
                    class: ['btn', 'btn-outline-secondary', 'px-1'],
                    title: 'common.actions'|trans,
                    'data-bs-target': '#actions'}) -%}
                <button {{ html_attr(button_attrs) }}>
                    {{- icon('fa-solid fa-ellipsis-v') -}}
                </button>
                <ul id="actions" class="dropdown-menu">
                    {%- set button_attrs = {
                        id: 'popover',
                        type: 'button',
                        class: ['dropdown-item', popover ? 'dropdown-item-checked-right']} -%}
                    <li>
                        <button {{ html_attr(button_attrs) }}>
                            {{- icon('fa-solid fa-message', 'pivot.popover') -}}
                        </button>
                    </li>
                    {%- set button_attrs = {
                        id: 'highlight',
                        type: 'button',
                        class: ['dropdown-item', highlight ? 'dropdown-item-checked-right']} -%}
                    <li>
                        <button {{ html_attr(button_attrs) }}>
                            {{- icon('fa-solid fa-highlighter', 'pivot.highlight') -}}
                        </button>
                    </li>
                    {{ dropdownSeparator() }}
                    <li>
                        {{- dropdownItemExternal(
                            href: path('calculation_pivot_csv', {months: months}),
                            text: 'common.button_export_csv',
                            icon: 'fa-solid fa-file-csv') -}}
                    </li>
                    <li>
                        {{- dropdownItemExternal(
                            href: path('calculation_pivot_json', {months: months, operation: operation.value}),
                            text: 'common.button_export_json',
                            icon: 'fa-solid fa-folder-tree') -}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="pivot" class="table table-bordered table-sm popover-w-100 mb-0"
               data-session="{{ url('ajax_session_set') }}">
            <thead>
            {%- for i in 1..max_col_level -%}
                <tr>
                    {%- if i == 1 -%}
                        <td class="text-nowrap not-hover p-0"{{ _self.rowspan(max_col_level) }}{{ _self.colspan(max_row_level) }}>
                            {{- _self.outputTitle(table, max_col_level) -}}
                        </td>
                    {%- endif -%}
                    {{ _self.outputHeaders(table.rootColumn.nodesAtLevel(i), separator) }}
                    {%- if i == 1 -%}
                        <td{{ _self.rowspan(max_col_level) }} class="text-currency text-bg-success not-hover align-bottom">
                            {{- total_title -}}
                        </td>
                    {%- endif -%}
                </tr>
            {%- endfor -%}
            </thead>
            <tbody>
            {%- set columns = table.rootColumn.leafNodes -%}
            {%- for row in table.rootRow.children %}
                {{ _self.outputRow(table, columns, row, separator) }}
            {%- endfor -%}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-nowrap not-hover text-bg-success"{{ _self.colspan(max_row_level) }}>
                        {{- total_title -}}
                    </td>
                    {%- for cell in table.rootColumn.nodesAtLevel(max_col_level) -%}
                        {{ _self.outputPopoverTotal(cell, separator) }}
                    {%- endfor -%}
                    {{ _self.outputPopoverTotal(table, separator) }}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock body %}
{# javascripts #}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('js/plugins/plugin-cell-highlight.js') }}
        {{ asset_js('js/application/calculation_pivot.js') }}
    {% else %}
        {{ asset_js('js/compiled/calculation_pivot.js') }}
    {%- endif %}
{%- endblock javascripts %}
