{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_timestampable.html.twig' import timestampable %}
{# parameters #}
{%- set title = 'calculation.list.state_title' -%}
{%- set title_icon = ICON_CALCULATION_STATE -%}
{# body #}
{% block card_body %}
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.id) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.date) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.overallMargin) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.overallTotal) }}
    </div>
</div>
{{ form_row(form.customer) }}
{{ form_row(form.description) }}
{{ form_row(form.state) }}
{% endblock %}
{# footer #}
{% block card_footer -%}
{{ parent() }}
{{ timestampable(item) }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/calculation_edit_state.js') }}
{% else %}
{{ asset_js('js/calculation_edit_state.js') }}
{% endif %}
{% endblock %}
