{% extends 'base.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro format(value) -%}
{{ is_int(value) ? value|integer : value|amount }}
{%- endmacro %}

{% macro colspan(value) -%}
{% if value > 1 %} colspan="{{ value }}"{% endif %}
{%- endmacro %}

{% macro rowspan(value) -%}
{% if value > 1 %} rowspan="{{ value }}"{% endif %}
{%- endmacro %}

{% macro outputPopover(cell, value) -%}
{%- set sep = '&nbsp;&nbsp;<i class="fas fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;' -%}
<table class="table table-borderless table-sm mb-0">
    <tbody>
    	<tr>
            <td class="font-weight-bold">{{ 'pivot.value'|trans }}</td>
            <td class="text-currency" colspan="2">{{ value }}</td>
        </tr>
        <tr>
            <td class="border-top font-weight-bold">{{ 'pivot.line'|trans }}</td>
            <td class="border-top">{{ cell.rowTitle(sep)|raw }}</td>
            <td class="border-top text-currency">{{ _self.format(cell.row.value) }}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">{{ 'pivot.column'|trans }}</td>
            <td>{{ cell.columnTitle(sep)|raw }}</td>
            <td class="text-currency">{{ _self.format(cell.column.value) }}</td>
        </tr>
    </tbody>
</table>
{%- endmacro %}

{% macro outputPopoverTitle(cell, row = false) -%}
{%- set sep = '&nbsp;&nbsp;<i class="fas fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;' -%}
<p class="mb-0">{{ cell.titles|join(sep)|raw }}{{ sep|raw }}{{ _self.format(cell.value) }}</p>
{%- endmacro %}

{% macro outputHeaders(nodes) -%}
{%- for node in nodes %}
    {%- if node.leaf -%}
        <td class="text-currency not-hover" data-toggle="popover" data-body="{{ _self.outputPopoverTitle(node)|e }}">{{ node.title|raw }}</td>
    {%- else -%}
        <td class="text-nowrap not-hover" data-toggle="popover" data-body="{{ _self.outputPopoverTitle(node)|e }}"{{ _self.colspan(node.lastChildren|length) }}>{{ node.title|raw }}</td>
    {%- endif -%}
{%- endfor -%}
{%- endmacro %}

{% macro outputValue(cell, class) -%}
{%- set class = ('text-currency ' ~ class|default(''))|trim -%}
{% if cell %}
    {%- set popover = 'not-hover' not in class -%}
    {%- set value   = _self.format(cell.value) -%}    
	<td class="{{ class }}"{% if popover %} data-toggle="popover" data-body="{{ _self.outputPopover(cell, value)|e }}"{% endif %}>{{ value }}</td>
{% else %}
	<td class="{{ class }} not-hover">&nbsp;</td>
{% endif %}
{%- endmacro %}

{% macro outputCell(table, column, row, class) -%}
{%- set cell = table.findCellByNode(column, row) -%}
{{ _self.outputValue(cell, class) }}
{%- endmacro %}

{% macro outputCells(table, columns, row) -%}
{%- for column in columns %}
    {{ _self.outputCell(table, column, row, 'hover') }}
{%- endfor -%} 
    {{ _self.outputValue(row, 'not-hover bg-success text-white') -}}
{%- endmacro %}

{% macro outputRow(table, columns, row) %}
{% if row.index >= row.level - 1 -%}
<tr>
{% endif -%}
	<td class="text-nowrap not-hover" data-toggle="popover" data-body="{{ _self.outputPopoverTitle(row, true)|e }}"{{ _self.rowspan(row.lastChildren|length) }}>{{ row.title }}</td>
{%- if row.leaf -%}
    {{ _self.outputCells(table, columns, row) -}}
</tr>
{% else -%}
    {%- for child in row.children %}
        {{- _self.outputRow(table, columns, child) -}}
    {%- endfor -%}
{%- endif -%}
{% endmacro %}

{% macro outputTitle(table, col_level) -%}
<table class="table table-borderless m-0">
    <tbody>
        <tr class="skip">
            <td class="not-hover font-weight-bold">{{ table.title|default('&nbsp;')|raw }}</td>
            <td class="not-hover text-right">{% if table.column.title %}{{ table.column.title }} <i class="fas fa-fw fa-arrow-right" aria-hidden="true"></i>{% else %}&nbsp;{% endif %}</td>
        </tr>
        {%- for i in 2..col_level - 1 -%}
        <tr class="skip">
            <td class="not-hover" colspan="2">&nbsp;</td>
        </tr>
        {%- endfor -%}
        <tr class="skip">
            <td class="not-hover" colspan="2">{% if table.row.title %}<i class="fas fa-fw fa-arrow-down" aria-hidden="true"></i> {{ table.row.title }}{% else %}&nbsp;{% endif %}</td>
        </tr>
    </tbody>
</table>
{%- endmacro %}

{# parameters #}
{%- set title       = 'pivot.title' -%}
{%- set title_icon  = 'table' -%}
{%- set row_level   = table.row.maxLevel -%}
{%- set col_level   = table.column.maxLevel -%}
{%- set total_title = table.totalTitle|default('calculation.fields.total'|trans) -%}

{% block container_class 'container-fluid' %}

{# header #}
{% block body %}
<div class="row mb-2">
    <div class="col-auto mr-auto">
        <h4>{{ icons.icon(title_icon, title) }}</h4>
    </div>
    <div class="col-auto  d-print-none">
    	<div class="form-inline">
        	<div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="popover" name="popover"{% if popover %} checked="checked"{% endif %}>
                <label class="custom-control-label" for="popover">{{ 'pivot.popover'|trans }}</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="highlight" name="highlight"{% if highlight %} checked="checked"{% endif %}>
                <label class="custom-control-label" for="highlight">{{ 'pivot.highlight'|trans }}</label>
            </div>
       </div>
    </div>
</div>
<div class="table-responsive pb-3">
    <table id="pivot" class="table table-bordered table-sm popover-w-100 mb-0" data-session="{{ url('ajax_session_set') }}">
        <thead>
            {%- for i in 1..col_level -%}
            <tr>
                {%- if i == 1 -%}<td  class="text-nowrap not-hover p-0"{{ _self.rowspan(col_level) }}{{ _self.colspan(row_level) }}>{{ _self.outputTitle(table, col_level) }}</td>{%- endif -%}
                {{ _self.outputHeaders(table.column.childrenAtLevel(i)) }}
                {%- if i == 1 -%}<td{{ _self.rowspan(col_level) }} class="text-currency bg-success text-white not-hover align-bottom">{{ total_title }}</td>{%- endif -%}
            </tr>
            {%- endfor -%} 
        </thead>
        <tbody>
            {%- set columns = table.column.lastChildren -%}
            {%- for row in table.row.children %}
                {{ _self.outputRow(table, columns, row) }}
            {%- endfor -%}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-nowrap not-hover bg-success text-white"{{ _self.colspan(row_level) }}>{{ total_title }}</td>
                {%- for col in table.column.lastChildren %}
                    {{ _self.outputValue(col, 'not-hover bg-success text-white') }}
                {%- endfor -%}
                {{ _self.outputValue(table, 'not-hover bg-success text-white') }}
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/cell-highlight.js') }}
{{ asset_js('js/application/calculation_pivot.js') }}
{% else %}
{{ asset_js('js/calculation_pivot.js') }}
{%- endif %}
{%- endblock %}
