{% extends 'cards/card_table.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro fill_states(states) %}
<button class="dropdown-item dropdown-state active" type="button"  data-id="">{{ 'datatable.all'|trans }}</button>
{% for state in states %}
    <button class="dropdown-item dropdown-state" type="button" data-id="{{ state.id }}">{{ state.code }}</button>
{% endfor %}
{% endmacro %}

{# parameters #}
{%- set title = 'calculation.list.title' -%}
{%- set title_icon = 'calculator' -%}
{%- set object_type = ENTITY_CALCULATION -%}

{# actions #}
{%- set params = {'id': 0} -%}
{%- set add_path = path('calculation_add') -%}
{%- set show_path = path('calculation_show', params) -%}
{%- set edit_path = path('calculation_edit', params) -%}
{%- set delete_path = path('calculation_delete', params) -%}
{%- set pdf_path = path('calculation_pdf') -%}
{%- set excel_path = path('calculation_excel') -%}
{%- set clone_path = path('calculation_clone', params) -%}
{%- set state_path = path('calculation_state', params) -%}
{%- set single_pdf_path = path('calculation_pdf_id', params) -%}
{%- set single_excel_path = path('calculation_excel_id', params) -%}

{# titles #}
{%- set add_title = 'calculation.add.title' %}
{%- set show_title = 'calculation.show.title' %}
{%- set edit_title = 'calculation.edit.title_short' %}
{%- set delete_title = 'calculation.delete.title' %}
{%- set pdf_title = 'calculation.list.pdf_title' -%}
{%- set excel_title = 'calculation.list.excel_title' -%}

{# highlight search #}
{%- set attributes = attributes|default({})|merge({'data-search-highlight': true}) -%}

{% block search_input -%}
{% if states is defined %}
<div class="input-group-append" id="dropdown-menu-state">
    <button id="button-state" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-default="{{ 'calculation.fields.state'|trans }}" title="{{ 'calculation.list.state_help'|trans }}">
        {{- 'calculation.fields.state'|trans -}}
    </button>
    <div class="dropdown-menu">
        {{ _self.fill_states(states) -}}
    </div>
    <input type="hidden" id="state" name="state">
</div>
{% else %}
    {{ parent() }}
{% endif %}
{%- endblock %}

{# other actions #}
{% block table_actions %}
{{ _self.item_data(clone_path, 'common.button_clone', 'copy far') }}
{{ _self.item_data(state_path, 'calculation.list.state_title', 'flag far') }}
{{ icons.dropdownSeparator() }}
{{ _self.item_data_external(single_pdf_path, 'calculation.list.pdf_single_title', 'file-pdf far') }}
{{ _self.item_data_external(single_excel_path, 'calculation.list.excel_single_title', 'file-excel far') }}
{{ icons.dropdownSeparator() }}
{{ parent() }}
{{ icons.dropdownSeparator() }}
{{ icons.dropdownItemCard('calculation_card') }}
{% endblock %}

{% block javascripts -%}
{{ parent() }}
{% if states is defined %}
{{ asset_js('js/application/calculation_table.js') }}
{% endif %}
{% endblock %}
