{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

<div id="main-panel" class="card mb-3">
    <div class="card-header">
        <h1 class="card-title">
            {{- icons.icon('calculator', title, null, title_parameters) -}}
        </h1>
        <div>{{ form_errors(form) }}</div>
    </div>

    <div class="card-body">
        {{ form_row(form.customer, {disabled: not editable}) }}
        {{ form_row(form.description, {disabled: not editable}) }}
        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.date, {disabled: not editable}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.state, {disabled: not editable}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.userMargin, {disabled: not editable, overall_below: overall_below ?? false, min_margin: min_margin|default(0)}) }}
            </div>
        </div>
    </div>
    <div class="card-footer py-1{% if new %} d-none{% endif %}">
        <div class="row">
            <div class="col small text-muted my-2 mx-1">
               <span>{{ created_item|raw }}</span>
            </div>
            <div class="col small text-muted my-2 mx-1 text-right">
                <span>{{ updated_item|raw }}</span>
            </div>
        </div>
    </div>
</div>
