{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'macros/_properties.html.twig' as properties %}

{% macro add_line_info(name, value) -%}
</tr>
    <td>{{ name|trans }}</td>
    <td class="text-right">{{ value|raw }}</td>
</tr>
{%- endmacro %}

{% macro add_descriptions(descriptions) -%}
<ul>
{% for description in descriptions %}
	<li>{{ description }}</li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro popover_content(messages) -%}
{%- set title = '<p class="mb-2"><b>' ~ 'calculation.fields.updatedBy'|trans ~ '</b></p>' -%}
{%- set items = '<ul>' ~ messages|reduce((carry, value) => carry ~ '<li>' ~ value ~ '</li>', '') ~ '</ul>' -%}
{{- title ~ items -}}
{%- endmacro %}

{# parameters #}
{%- set title = 'calculation.update.title' -%}
{%- set title_icon = 'calculator' -%}
{%- set title_description = 'calculation.result.description' -%}
{%- set tabular = app.displayTabular -%}
{%- set empty_path = tabular ? path('empty_table') : path('empty_card') -%}
{%- set duplicate_path = tabular ? path('duplicate_table') : path('duplicate_card') -%}

{% block card_body %}
<table class="table table-hover table-sm mb-0">
    {% if result.emptyItems > 0 %}
        <tr>
            <td>{{ 'calculation.result.emptyItems'|trans }}</td>
            <td class="text-right"><a href="{{ empty_path }}" title="{{ 'empty.description'|trans }}">{{ result.emptyItems|integer }}</a></td>
        </tr>
    {% endif %}
    {% if result.duplicateItems > 0 %}
        <tr>
            <td>{{ 'calculation.result.duplicateItems'|trans }}</td>
            <td class="text-right"><a href="{{ duplicate_path }}" title="{{ 'duplicate.description'|trans }}">{{ result.duplicateItems|integer }}</a></td>
        </tr>
    {% endif %}
    {% if result.sortItems > 0 %}
        {{ _self.add_line_info('calculation.result.sortItems', result.sortItems|integer) }}
    {% endif %}
    {% if result.copyCodes > 0 %}
        {{ _self.add_line_info('calculation.result.copyCodes', result.copyCodes|integer) }}
    {% endif %}
    {% if result.emptyItems > 0 or result.duplicateItems > 0 or result.sortItems > 0 or result.copyCodes > 0 %}
        <tr class="not-hover"><td colspan="2">&nbsp;</td></tr>
    {% endif %}
    {% if result.updateCalculations > 0 %}
        <tr>
            <td>{{ 'calculation.result.updateCalculations'|trans }}</td>
            <td class="text-right">
                <a href="#" data-toggle="modal" data-target="#resultModal" title="{{ 'calculation.result.updateCalculations'|trans }}">
                    {{- result.updateCalculations|integer -}}
                </a>
            </td>
        </tr>
    {% else %}
        {{ _self.add_line_info('calculation.result.updateCalculations', result.updateCalculations|integer) }}
    {% endif %}
    {{ _self.add_line_info('calculation.result.skipCalculations', result.skipCalculations|integer) }}
    {% if result.unmodifiableCalculations > 0 %}
        {{ _self.add_line_info('calculation.result.unmodifiableCalculations', result.unmodifiableCalculations|integer) }}
    {% endif %}
    <tr>
        <th>{{ 'calculation.result.total'|trans }}</<th>
        <th class="text-right">{{ result.totalCalculations|integer }}</th>
    </tr>
</table>

{% if result.simulate %}
    <hr class="mt-0">
    <p class="mb-0 text-right text-muted small">{{ 'calculation.result.simulate'|trans }}</p>
{% endif %}

{% if result.calculations|length %}
<div class="modal fade" id="resultModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'calculation.update.title'|trans }}</h5>
                {{ icons.button_close_modal }}
            </div>
            <div class="modal-body">
                <p class="mb-2 font-weight-bold">{{ 'calculation.result.updateCalculations'|trans }}</p>
                <div class="overflow-auto" style="max-height: 211px;">
                    <table class="table table-hover table-sm mb-0 border-bottom">
                    {% for calculation in result.calculations %}
                        {%- set deleted = calculation.deleted -%}
                        {%- set custom_class = deleted ? 'popover-danger' : 'popover-info' -%}
                        {%- set action_class = deleted ? 'actions text-danger' : 'actions text-info' -%}
                        {%- set margin_class = app.marginBelow(calculation.overallMargin) ? 'text-percent text-danger' : 'text-percent' -%}
                        <tr{% if deleted %} class="strikeout-danger text-muted"{% endif %}>
                            <td class="text-id text-border" style="{{ properties.stateCss(calculation.stateColor) }}">{{ calculation.id|identifier }}</td>
                            <td class="text-state">{{ calculation.stateCode }}</td>
                            <td>{{ calculation.customer }}</td>
                            <td>{{ calculation.description }}</td>
                            <td class="{{ margin_class }}">{{ calculation.overallMargin|percent }}</td>
                            <td class="text-currency">{{ calculation.overallTotal|amount }}</td>
                            <td class="{{ action_class }}">
                                <span data-toggle="popover" data-custom-class="{{ custom_class }}" data-content="{{ _self.popover_content(calculation.messages) }}" data-trigger="hover" data-placement="auto" data-html="true">
                                    <i class="fa-solid fa-info-circle"></i>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <p class="mt-2 mb-0 text-right">{{ 'counters.calculations'|trans({count: result.calculations|length}) }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-form btn-secondary" data-dismiss="modal">{{ 'common.button_close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block card_footer %}
{{ icons.homepage() }}
{{ icons.link(path('admin_calculation'), 'calculation.result.new_update', 'btn btn-outline-secondary', null) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/application/all_popover.js') }}
{% endblock %}
