{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

<div id="main-panel" class="card mb-3">
    <div class="card-header">
    {%- if editable -%}
        <h1 class="card-title">
            {{- icons.icon(ICON_CALCULATION, title, null, title_parameters) -}}
        </h1>
    {% else %}
        <div class="row">
            <div class="col-xl-5">
                <h1 class="card-title">
                    {{- icons.icon(ICON_CALCULATION, title, null, title_parameters) -}}
                </h1>
            </div>
            <div class="col-xl-7 text-xl-right">
                 <small class="text-danger">{{ 'calculation.edit.read_only'|trans({'%name%': item.stateCode}) }}</small>
            </div>
        </div>
    {% endif %}
        <div>{{ form_errors(form) }}</div>
    </div>

    <div class="card-body">
        {{ form_row(form.customer, {disabled: not editable}) }}
        {{ form_row(form.description, {disabled: not editable}) }}
        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.date, {disabled: not editable}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.state, {disabled: not editable}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.userMargin, {disabled: not editable, overall_below: overall_below ?? false, min_margin: min_margin|default(0)}) }}
            </div>
        </div>
    </div>
    <div class="card-footer d-print-none">
        {%- if editable -%}
            <div class="row">
                <div class="col-md-8">
                    {{ icons.button_submit() }}
                    {{ icons.button_cancel(cancel_path) }}
                </div>
                <div class="col-md-4 text-md-right mt-1">
                    <small>{{ 'common.required'|trans|raw }}</small>
                </div>
            </div>
        {%- else -%}
            <div class="row">
                <div class="col">
                    {{ icons.button_ok(cancel_path, 'common.button_close') }}
                    {% if is_granted(ATTRIBUTE_EDIT, ENTITY_CALCULATION) %}
                        {%- set state_params = route_params(app.request, item.id) -%}
                        {%- set state_path = path('calculation_state', state_params) -%}
                        {{ icons.link(state_path, 'calculation.list.state_title', 'btn btn-form btn-outline-success') -}}
                    {% endif %}
                </div>
            </div>
        {%- endif -%}
    </div>
</div>
