{% extends 'cards/card_show.html.twig' %}
{% import 'macros/_properties.html.twig' as properties %}
{# parameters #}
{%- set id = item.id -%}
{%- set title = 'group.show.title' -%}
{%- set params = route_params(app.request, id) -%}
{%- set has_margins = item.hasMargins -%}
{# actions #}
{%- set edit_path = is_granted(ATTRIBUTE_EDIT, item) ? path('group_edit', params) : null -%}
{%- set delete_path = is_granted(ATTRIBUTE_DELETE, item) ? path('group_delete', params) : null -%}
{%- set cancel_path = cancel_url(app.request, id, 'group_table') -%}
{# properties #}
{% block property_body %}
{{ properties.property('group.fields.code', item.code) }}
{{ properties.property('group.fields.description', item.description) }}
{%- if not has_margins -%}
{{- properties.property('group.fields.margins', item.countMargins|integer) }}
{% endif -%}
{%- if item.hasCategories -%}
{{- properties.property('group.fields.categories', item.countCategories|integer) }}
{% endif -%}
{% endblock %}
{# body #}
{% block card_body %}
{{ parent() }}
{%- if has_margins -%}
<div class="{{ block('table_responsive_class') }}">
    <table class="table table-sm table-hover table-list">
        <thead>
            <tr>
                <th class="font-weight-normal">{{ 'group.fields.margins'|trans }}</th>
                <th class="font-weight-normal text-right">{{ 'groupmargin.fields.minimum'|trans }}</th>
                <th class="font-weight-normal text-right">{{ 'groupmargin.fields.maximum'|trans }}</th>
                <th class="font-weight-normal text-right">{{ 'groupmargin.fields.margin'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for margin in item.margins -%}
            <tr>
                <td>&nbsp;</td>
                <td class="text-right">{{ margin.minimum|amount }}</td>
                <td class="text-right">{{ margin.maximum|amount }}</td>
                <td class="text-right">{{ margin.margin|percent }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%- endif -%}
{% endblock %}
