{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'group.list.title' -%}
{%- set title_icon = ICON_GROUP -%}
{%- set object_type = ENTITY_GROUP -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('group_add', params) }}">{{ 'group.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('group_pdf'), 'group.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('group_excel'), 'group.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('group_show', params), 'group.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('group_edit', params), 'group.edit.title', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('group_delete', params), 'group.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('group_add', params), 'group.add.title', ICON_ADD, 'btn-add') }}
{{- _self.item_path(path('group_clone', params), 'common.button_clone', ICON_COPY, 'btn-clone') }}
{%- endblock %}

{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('group_edit', params) }}" class="item-link text-body" title="{{ 'group.edit.title'|trans }}">%code%</a>
{%- elseif row_show -%}
    <a href="{{ path('group_show', params) }}" class="item-link text-body" title="{{ 'group.show.title'|trans }}">%code%</a>
{%- else -%}
    <span>%code%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%description%') }}
{{ _self.property_row('group.fields.margins', '%margins%') }}
{{ _self.property_row('group.fields.categories', '%categories%') }}
{%- endblock %}
