{% extends 'cards/card_flex.html.twig' %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'calculationstate.list.title' -%}
{%- set title_icon   = 'flag far' -%}
{%- set add_title    = 'calculationstate.list.add_title' -%}
{%- set pdf_title    = 'calculationstate.list.pdf_title' -%}
{%- set empty_list   = 'calculationstate.list.empty' -%}

{# actions #}
{%- set object_type  = IEntityVoter.ENTITY_CALCULATION_STATE -%}
{%- set add_page     = is_granted(IEntityVoter.ATTRIBUTE_ADD, object_type) ? 'calculationstate_add' : null -%}
{%- set edit_page    = is_granted(IEntityVoter.ATTRIBUTE_EDIT, object_type) ? 'calculationstate_edit' : null -%}
{%- set delete_page  = is_granted(IEntityVoter.ATTRIBUTE_DELETE, object_type) ? 'calculationstate_delete' : null -%}
{%- set show_page    = is_granted(IEntityVoter.ATTRIBUTE_SHOW, object_type) ? 'calculationstate_show' : null -%}
{%- set pdf_page     = is_granted(IEntityVoter.ATTRIBUTE_PDF, object_type) ? 'calculationstate_pdf' : null -%}
{%- set default_page = edit ? edit_page|default(show_page) : show_page|default(edit_page) -%}

{% block item_title %}
{%- set item_title = item.code -%}
<div style="{{ properties.stateCss(item.color) }}">
{%- if default_page -%}
    <a href="{{ path(default_page, {'id': item.id}) }}" class="text-body ml-1">{{ item.code }}</a>
{%- else -%} 
    {{ item_title }}{{ item.default }}
{%- endif -%}
</div>
{% endblock %}

{% block item_property %}
{{ properties.line(item.description, false, 1) }}
{{ properties.separator(1) }}
{%- set text = 'counters.calculations'|trans({count: item.countCalculations}) -%}
{%- if item.countCalculations -%}
    {% set href = path('calculation_list', {'query': item.code}) %}
    {{ properties.link(href, text, false, false, 1) }}
{%- else -%}
    {{ properties.line(text, false, 1) }}
{%- endif -%}
{% if item.editable %}
    {{ properties.line('calculationstate.list.editable'|trans, 'text-success', 1) }}
{% else %}
    {{ properties.line('calculationstate.list.not_editable'|trans, 'text-danger', 1) }}
{% endif %}
{% endblock %}

{% block actions %}
{% if item.countCalculations and is_granted(IEntityVoter.ATTRIBUTE_LIST, IEntityVoter.ENTITY_CALCULATION) %}
    {{ icons.dropdownSeparator }}
    {% set href = path('calculation_list', {'query': item.code}) %}
    {{ icons.dropdownItem(href, 'calculationstate.list.calculation_title', 'external-link-alt') }}
{% endif %}
{% endblock -%}

{% block search_action -%}{%- endblock %}
