{% extends 'cards/card_edit.html.twig' %}
{% from 'macros/_timestampable.html.twig' import timestampable_footer %}
{# parameters #}
{%- set title = title|default(new ? 'calculationstate.add.title' : 'calculationstate.edit.title') -%}
{%- set title_icon = ICON_CALCULATION_STATE -%}
{%- set page_list = 'calculationstate_index' -%}
{# body #}
{% block card_body %}
    <div class="row">
        <div class="col-md-5">
            {{ form_row(form.code) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.editable) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.color) }}
        </div>
    </div>
    {{ form_row(form.description) }}
{% endblock %}
{# footer #}
{% block card_footer -%}
{{ parent() }}
{{ timestampable_footer(item) }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
    {{ parent() }}
    {{ asset_js('js/plugins/plugin-color-picker.js') }}
    {{ asset_js('js/application/calculationstate_edit.js') }}
{% else %}
    {{ asset_js('js/compiled/calculationstate_edit.js') }}
{% endif %}
{% endblock %}
