{% extends 'cards/card_flex.html.twig' %}
{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'calculationstate.list.title' -%}
{%- set title_icon   = 'flag far' -%}
{%- set add_title    = 'calculationstate.list.add_title' -%}
{%- set show_title   = 'calculationstate.show.title' %}
{%- set edit_title   = 'calculationstate.edit.title' %}
{%- set delete_title = 'calculationstate.delete.title' %}
{%- set pdf_title    = 'calculationstate.list.pdf_title' -%}
{%- set empty_list   = 'calculationstate.list.empty' -%}

{# actions #}
{%- set object_type  = ENTITY_CALCULATION_STATE -%}
{%- set add_page     = is_granted(ATTRIBUTE_ADD, object_type) ? 'calculationstate_add' : null -%}
{%- set edit_page    = is_granted(ATTRIBUTE_EDIT, object_type) ? 'calculationstate_edit' : null -%}
{%- set delete_page  = is_granted(ATTRIBUTE_DELETE, object_type) ? 'calculationstate_delete' : null -%}
{%- set show_page    = is_granted(ATTRIBUTE_SHOW, object_type) ? 'calculationstate_show' : null -%}
{%- set pdf_page     = is_granted(ATTRIBUTE_EXPORT, object_type) ? 'calculationstate_pdf' : null -%}
{%- set list_path    = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION)-%}
{%- set default_page = app.actionEdit ? edit_page|default(show_page) : show_page|default(edit_page) -%}
{%- set row_link     = not app.actionNone and (edit_page or show_page) -%}

{% block item_title %}
{%- set item_title = item.code -%}
<div class="text-border" style="{{ properties.stateCss(item.color) }}">
{%- if row_link and default_page -%}
    {%- set default_path = path(default_page, params) -%}
    <a href="{{ default_path }}" class="text-body ml-1">{{ item.code }}</a>
{%- else -%} 
    {{ item.code }}
{%- endif -%}
</div>
{% endblock %}

{% block item_property %}
{{ properties.line(item.description, false, 1) }}
{{ properties.separator(1) }}
{%- set text = 'counters.calculations'|trans({count: item.countCalculations}) -%}
{%- if item.countCalculations and list_path -%}
    {% set href = path('calculation_card', {'query': item.code}) %}
    {{ properties.link(href, text, false, false, 1) }}
{%- else -%}
    {{ properties.line(text, false, 1) }}
{%- endif -%}
{% if item.editable %}
    {{ properties.line('calculationstate.list.editable'|trans, 'text-success', 1) }}
{% else %}
    {{ properties.line('calculationstate.list.not_editable'|trans, 'text-danger', 1) }}
{% endif %}
{% endblock %}

{% block actions %}
{% if item.countCalculations and list_path %}
    {{ icons.dropdownSeparator }}
    {% set href = path('calculation_card', {'query': item.code}) %}
    {{ icons.dropdownItem(href, 'calculationstate.list.calculation_title', 'external-link-alt') }}
{% endif %}
{% endblock -%}

{% block search_action -%}{%- endblock %}

{%- block toolbar_actions -%}
{{ parent() }}
{{ icons.linkTable('calculationstate_table') }}
{%- endblock -%}
