{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'calculationstate.list.title' -%}
{%- set title_icon = ICON_CALCULATION_STATE -%}
{%- set object_type = ENTITY_CALCULATION_STATE -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('calculationstate_add', params) }}">{{ 'calculationstate.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('calculationstate_pdf'), 'calculationstate.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('calculationstate_excel'), 'calculationstate.list.excel_title', ICON_EXCEL) }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('calculationstate_show', params), 'calculationstate.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('calculationstate_edit', params), 'calculationstate.edit.title', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('calculationstate_delete', params), 'calculationstate.delete.title', ICON_DELETE, 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_path(path('calculationstate_add', params), 'calculationstate.add.title', ICON_ADD, 'btn-add') }}
{{- _self.item_path(path('calculationstate_clone', params), 'common.button_clone', ICON_COPY, 'btn-clone') }}
{%- endblock %}

{% block custom_view_card_class ' text-border' %}
{% block custom_view_header -%}
{%- if row_edit -%}
    <a href="{{ path('calculationstate_edit', params) }}" class="item-link text-body" title="{{ 'calculationstate.edit.title'|trans }}">%code%</a>
{%- elseif row_show -%}
    <a href="{{ path('calculationstate_show', params) }}" class="item-link text-body" title="{{ 'calculationstate.show.title'|trans }}">%code%</a>
{%- else -%}
    <span>%code%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%description%') }}
{{ _self.property_line() }}
{{ _self.property_row('calculationstate.fields.calculations', '%calculations%') }}
{{ _self.property_row('calculationstate.fields.editable', '%editable%') }}
{%- endblock %}
