{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import button %}
{# parameters #}
{%- set title = 'diagram.title' -%}
{%- set title_icon = 'fa-solid fa-diagram-project' -%}
{% block container_class 'container-fluid' %}
{% block card_container_class '' %}
{% block card_header_class ' d-flex-wrap-center' %}
{% block card_body_class ' p-1' %}
{% block card_footer_class ' d-none' %}
{# body #}
{% block body -%}
    {{ parent() }}
    {{ include('dialog/dialog_diagram.html.twig') }}
{% endblock body %}
{# header #}
{% block card_header %}
    <div class="me-auto">{{ parent() }}</div>
    <div class="d-flex-wrap-center d-print-none">
        <div class="input-group input-group-sm">
            <select class="form-select form-select-sm w-auto" id="diagrams" name="diagrams" title="{{ 'diagram.list'|trans }}">
                {% for current in diagrams %}
                    <option value="{{ current.name }}"{% if current == diagram %} selected{% endif %}>
                        {{- current.title -}}
                    </option>
                {% endfor %}
            </select>
            {{- button(
                class: 'btn btn-outline-secondary btn-zoom-in',
                icon: 'fa-solid fa-magnifying-glass-plus',
                inline: false,
                attributes: {title: 'diagram.zoom_in'|trans})
            -}}
            {{- button(
                class: 'btn btn-outline-secondary btn-zoom dropdown-toggle',
                attributes: {
                    title: 'diagram.zoom'|trans,
                    'data-bs-toggle': 'dropdown',
                    'data-bs-target': '#dropdownZoom',
                    'aria-expanded': 'false'})
            -}}
            {{- button(
                class: 'btn btn-outline-secondary btn-zoom-out',
                icon: 'fa-solid fa-magnifying-glass-minus',
                inline: false,
                attributes: {title: 'diagram.zoom_out'|trans})
            -}}
            {{- button(
                class: 'btn btn-outline-secondary btn-reset',
                icon: 'fa-solid fa-arrows-to-dot',
                inline: false,
                attributes: {title: 'diagram.reset'|trans})
            -}}
            {{- button(
                class: 'btn btn-outline-secondary btn-code',
                icon: 'fa-solid fa-code',
                inline: false,
                attributes: {
                    title: 'diagram.reset'|trans,
                    'data-bs-toggle': 'modal',
                    'data-bs-target': '#diagram-modal'})
            -}}
            <div id="dropdownZoom" class="dropdown-menu dropdown-menu-end px-2 py-3">
                <div class="d-flex-no-wrap-center">
                    <input id="rangeZoom" type="range" class="form-range range-zoom border rounded-pill px-1 py-2"
                           aria-label="{{ 'diagram.zoom'|trans }}">
                    {{- button(
                        class: 'btn btn-sm btn-link btn-reset-zoom',
                        icon: 'fa-solid fa-rotate-left',
                        attributes: {title: 'diagram.reset_zoom'|trans})
                    -}}
                </div>
            </div>
        </div>
    </div>
{% endblock card_header %}
{# body #}
{% block card_body -%}
    {%- set diagram_attrs = {
        id: 'diagram',
        class: 'diagram',
        'data-zoom': zoom,
        'data-url': path('diagram_load'),
        'data-error': 'diagram.error_not_found'|trans,
        }
    -%}
    <div {{ html_attr(diagram_attrs) }}>
        {{- diagram.content -}}
    </div>
{% endblock card_body %}
{# stylesheets #}
{% block stylesheets %}
    {{ asset_css('css/diagram.css') }}
{%- endblock stylesheets -%}
{# javascripts #}
{% block javascripts %}
    {% if is_js_debug %}
        {{ parent() }}
        {{ asset_js('build/clipboard/clipboard.js') }}
        {{ asset_js('build/mermaid/mermaid.js') }}
        {{ asset_js('build/panzoom/panzoom.js') }}
        {{ asset_js('js/plugins/plugin-copy.js') }}
        {{ asset_js('js/test/diagram.js') }}
    {% else %}
        {{ asset_js('js/compiled/diagram.js') }}
    {% endif %}
{% endblock javascripts %}
