{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon %}
{# parameters #}
{%- set title = 'diagram.title' -%}
{%- set title_icon = 'diagram-project' -%}
{% block container_class 'container-fluid' %}
{% block card_container_class '' %}
{% block card_footer_class ' d-none' %}
{% block card_body_class ' p-1' %}
{% block card_header_class ' d-flex-wrap-center' %}
{# header #}
{% block card_header %}
    <div class="me-auto">{{ parent() }}</div>
    <div class="d-flex-wrap-center">
        <label class="form-label d-print-none mb-0" for="diagrams">{{ 'diagram.list'|trans }}</label>
        <div class="d-print-none">
            <div class="input-group input-group-sm">
                <select class="form-select form-select-sm w-auto" id="diagrams" name="diagrams">
                    {% for key, value in files %}
                        <option value="{{ key }}"{% if file.name == key %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text text-center d-inline" id="zoom" title="{{ 'diagram.zoom'|trans }}">100 %</span>
                <button type="button" class="btn btn-outline-secondary btn-zoom-in" title="{{ 'diagram.zoom_in'|trans }}">
                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-reset" title="{{ 'diagram.reset'|trans }}">
                    <i class="fa-solid fa-arrows-to-dot"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-zoom-out" title="{{ 'diagram.zoom_out'|trans }}">
                    <i class="fa-solid fa-magnifying-glass-minus"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock card_header %}
{# body #}
{% block card_body -%}
<div id="diagram" class="diagram" data-url="{{ path('diagram_load') }}" data-error="{{ 'diagram.error_not_found'|trans }}">
    {{- file.content -}}
</div>
{% endblock card_body %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/diagram.css') }}
{%- endblock stylesheets -%}
{# javascripts #}
{% block javascripts %}
{% if is_js_debug %}
    {{ parent() }}
    {{ asset_js('build/mermaid/mermaid.js') }}
    {{ asset_js('build/panzoom/panzoom.js') }}
    {{ asset_js('js/test/diagram.js') }}
{% else %}
    {{ asset_js('js/compiled/diagram.js') }}
{% endif %}
{% endblock javascripts %}
