{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title = 'test.editor' -%}
{%- set title_icon = 'edit' -%}
{%- set cancel_path = path('homepage') -%}

{% block card_body %}
<div class="row">
    <div class="col-md-8">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.importance) }}</div>
</div>
{{ form_row(form.message) }}
{{ form_row(form.attachments) }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ asset_css('css/simple-editor.css') }}
{%- endblock -%}

{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/plugins/plugin-fileinput.js') }}
{{ asset_js('js/extensions/file-input-extensions.js') }}
{{ asset_js('js/extensions/simple-editor-extension.js') }}
{{ asset_js('js/test/simple-editor.js') }}
{% endblock %}
