{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# macros #}
{% macro fillCodes(codes, selection='') %}
{% for key, code in codes -%}
    <option value="{{ key }}" data-name="{{ code.symbol }}" data-digits="{{ code.fractionDigits }}"{% if key == selection %} selected="selected"{% endif %}>{{ code.name ~ ' - ' ~ code.symbol }}</option>
{% endfor -%}
{% endmacro %}

{% macro fillEntries(codes, selection='') %}
{% for key, code in codes -%}
    <button class="dropdown-item{% if key == selection %} active{% endif %}" type="button" data-value="{{ key }}" data-name="{{ code.symbol }}" data-digits="{{ code.fractionDigits }}">{{ code.name ~ ' - ' ~ code.symbol }}</button>
{% endfor -%}
{% endmacro %}

{# parameters #}
{%- set title = 'exchangerate.title' -%}
{%- set title_icon = 'comments-dollar' -%}
{%- set title_description = 'exchangerate.description' -%}
{%- set cancel_text = 'common.button_close' -%}
{%- set form_attr = form_attr|default({})|merge({
    'action': url('exchange_rate'),
    'data-error': 'unknown'|trans({}, 'exchangerate'),
    'data-rate': 'exchangerate.rate'|trans}) -%}

{% block card_body %}
{{ parent() }}
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label class="required" for="baseCode">{{ 'exchangerate.source'|trans }}</label>
            <select class="form-control" id="baseCode" name="baseCode" required="required" style="width: 100% !important;">
                {{ _self.fillCodes(codes, 'CHF') }}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group text-md-center">
            <label>{{ 'exchangerate.swap_label'|trans }}</label>
            <a href="#" role="button" class="btn btn-swap btn-secondary form-control" title="{{ 'exchangerate.swap_label'|trans }}">
                <i class="fa-solid fa-exchange-alt"></i>
            </a>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label class="required" for="targetCode">{{ 'exchangerate.target'|trans }}</label>
            <select class="form-control" id="targetCode" name="targetCode" required="required" style="width: 100% !important;">
                {{ _self.fillCodes(codes, 'EUR') }}
            </select>
        </div>
    </div>
</div>
<p class="text-center mb-0" id="rate">&nbsp;</p>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label class="required" for="amount">{{ 'exchangerate.amount'|trans }}</label>
            <input type="number" class="form-control text-right" id="amount" name="amount" value="100" required="required">
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="result">{{ 'exchangerate.result'|trans }}</label>
            <input type="number" class="form-control text-right font-weight-bold" id="result" name="result" value="1.00" disabled="disabled">
        </div>
    </div>
</div>
<div class="row small text-muted">
    <div class="col-md-6" id="last-update" data-text="{{ 'exchangerate.last_update'|trans }}">
        {{- 'exchangerate.last_update'|trans({'%date%': 'common.empty_date'|trans}) -}}
    </div>
    <div class="col-md-6 text-md-right" id="next-update" data-text="{{ 'exchangerate.next_update'|trans }}">
        {{- 'exchangerate.next_update'|trans({'%date%': 'common.empty_date'|trans}) -}}
    </div>
</div>
{% endblock %}

{% block actions_form -%}
{{ icons.button_cancel(cancel_path, cancel_text) }}
{%- endblock %}

{% block stylesheets %}
{{ asset_css('js/vendor/currency-flags/currency-flags.css') }}
{{ asset_css('css/select2.css') }}
{%- endblock -%}

{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/vendor/select2/js/select2.js') }}
{{ asset_js('js/vendor/select2/js/i18n/fr.min.js') }}
{{ asset_js('js/extensions/select2-extensions.js') }}
{{ asset_js('js/test/exchangerate.js') }}
{%- endblock %}
