{% macro spaces(count) -%}
<samp>{% for i in 1..(count * 4)%}&nbsp;{% endfor %}</samp>
{%- endmacro %}

<h6>Liste ordonnée (Numbers)</h6>
<ol>
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol>
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits <b>fichiers enregistrés</b> sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>
<h6>Liste ordonnée (Numbers, start at 10)</h6>
<ol start="10">
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol start="10">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>

<h6>Liste ordonnée (Roman numbers, uppercase)</h6>
<ol type="I">
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol type="I">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>
<h6>Liste ordonnée (Roman numbers, lowercase)</h6>
<ol type="i">
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol type="i">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>
<h6>Liste ordonnée (Alphabetically ordered list, uppercase)</h6>
<ol type="A" start="1">
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol type="A">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>
<h6>Liste ordonnée (Alphabetically ordered list, lowercase)</h6>
<ol type="a" start="1">
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ol type="a">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ol>
<h6>List désordonnée</h6>
<ul>
    <li>Par application, nous entendons le site web https://www.calculation.bibi.nu exploité par {{ app_owner }}.</li>
    <li>Les données à caractère personnel désignent des données concernant un individu.</li>
    <li>Données d'utilisation
        <ul>
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ul>
    </li>
    <li>Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</li>
</ul>

<h6>Texts</h6>
<p class="text-justify">Text Justify: Nous utilisons vos données pour fournir et améliorer l'application. Nous avons recours à des cookies et à d'autres technologies de suivi similaires pour effectuer un suivi des activités effectuées dans notre application, et nous conservons certaines informations.</p>
<p class="text-center">Text Center: Nous utilisons vos données pour fournir et améliorer l'application. Nous avons recours à des cookies et à d'autres technologies de suivi similaires pour effectuer un suivi des activités effectuées dans notre application, et nous conservons certaines informations.</p>
<p class="text-right">Text Right: Nous utilisons vos données pour fournir et améliorer l'application. Nous avons recours à des cookies et à d'autres technologies de suivi similaires pour effectuer un suivi des activités effectuées dans notre application, et nous conservons certaines informations.</p>


<h4>List désordonnée</h4>
<ul>
    <li>
        <p class="mb-0"><strong>Application</strong></p>
        <p class="text-justify">Par application, nous entendons le site web <strong>https://www.calculation.bibi.nu</strong> exploité par <strong>{{ app_owner }}</strong>.</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données à caractère personnel</strong></p>
        <p class="text-justify">Les données à caractère personnel désignent des données concernant un individu vivant qui peut être identifié à partir de ces données (ou à partir de ces données et d'autres informations en notre possession ou susceptibles d'entrer en notre possession).</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données d'utilisation</strong></p>
        <p class="text-justify">Les données d'utilisation sont recueillies automatiquement et sont générées soit par l'utilisation de l'application, soit par l'infrastructure de l'application proprement dite (par exemple, durée de consultation d'une page).</p>
    </li>
    <li>
        <p class="mb-0"><strong>Cookies</strong></p>
        <p class="text-justify">Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</p>
    </li>
</ul>

<h4>Marges</h4>
<p class="mx-5">MX-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>
<p class="my-5">MY-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>
<p class="m-5">M-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>
<p class="text-justify text-monospace mr-4">Text Monospace: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

{% for i in 1..6 %}
<h{{ i }}>h{{ i }}. Bootstrap Heading</h{{ i }}>
{% endfor %}
<p><u>This line of text will be render as underlined</u></p>
<p><code>This line of text will be render as code</code></p>
<p><var>This line of text will be render as var</var></p>
<p><kbd>This line of text will be render as kbd</kbd></p>

<h6>Code example</h6>
<p class="text-monospace text-success">
{{ _self.spaces(1) }}<samp class="text-danger">[</samp><br>
{{ _self.spaces(2) }}<samp class="text-danger">"</samp>route<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>_wdt<samp class="text-danger">"</samp><br>
{{ _self.spaces(2) }}<samp class="text-danger">"</samp>route_parameters<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">[</samp><br>
{{ _self.spaces(3) }}<samp class="text-danger">"</samp>_controller<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>web_profiler.controller.profiler:toolbarAction<samp class="text-danger">"</samp><br>
{{ _self.spaces(3) }}<samp class="text-danger">"</samp>token<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>0236e6<samp class="text-danger">"</samp><br>
{{ _self.spaces(3) }}<samp class="text-danger">"</samp>_route<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>_wdt<samp class="text-danger">"</samp><br>
{{ _self.spaces(2) }}<samp class="text-danger">]</samp><br>
{{ _self.spaces(2) }}<samp class="text-danger">"</samp>request_uri<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>http://development/app_dev.php/_wdt/0236e6<samp class="text-danger">"</samp><br>
{{ _self.spaces(2) }}<samp class="text-danger">"</samp>method<samp class="text-danger">"</samp> <samp class="text-danger">=></samp> <samp class="text-danger">"</samp>GET<samp class="text-danger">"</samp><br>
{{ _self.spaces(1) }}<samp class="text-danger">]</samp>
</p>