<ol>    
    <li>Assurer la sécurité personnelle des utilisateurs, de l'application ou du public</li>
    <li>Se protéger contre la responsabilité civile</li>
    <li>Sous-liste
        <ol>
            <li>Pour fournir et assurer notre application</li>
            <li>Pour vous faire part des changements apportés à notre application</li>
        </ol>
    </li>        
    <li>Pour fournir et assurer notre application</li>
    <li>L'adresse e-mail</li>
</ol>

<p><kbd>This line of text will be render as kbd</kbd></p>

<p class="text-justify">Text Justify: Nous utilisons vos données pour fournir et améliorer l'application. </p>
<p class="text-center">Text Center: Nous utilisons vos données pour fournir et améliorer l'application.</p>
<p class="text-right">Text Right: Nous utilisons vos données pour fournir et améliorer l'application.</p>
<h4>Liste ordonnée</h4>
<ol type="I" start="1">
    <li>
        <p class="mb-0"><strong>Application</strong></p>
        <p>Par application, nous entendons le site web <strong>https://www.calculation.bibi.nu</strong> exploité par <strong>{{ app_owner }}</strong>.</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données à caractère personnel</strong></p>
        <p class="text-justify">Les données à caractère personnel désignent des données concernant un individu vivant qui peut être identifié à partir de ces données (ou à partir de ces données et d'autres informations en 
        notre possession ou susceptibles d'entrer en notre possession).</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données d'utilisation</strong></p>
        <p class="text-justify">Les données d'utilisation sont recueillies automatiquement et sont générées soit par l'utilisation de l'application, soit par l'infrastructure de l'application proprement dite 
        (par exemple, durée de consultation d'une page).</p>
        <ol type="i">
            <li>Première ligne</li>
            <li>Deuxième ligne</li>
        </ol>
    </li>
    <li>
        <p class="mb-0"><strong>Cookies</strong></p>
        <p class="text-justify">Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</p>
    </li>
</ol>

<h4>List désordonnée</h4>
<ul>
    <li>
        <p class="mb-0"><strong>Application</strong></p>
        <p class="text-justify">Par application, nous entendons le site web <strong>https://www.calculation.bibi.nu</strong> exploité par <strong>{{ app_owner }}</strong>.</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données à caractère personnel</strong></p>
        <p class="text-justify">Les données à caractère personnel désignent des données concernant un individu vivant qui peut être identifié à partir de ces données (ou à partir de ces données et d'autres informations en 
        notre possession ou susceptibles d'entrer en notre possession).</p>
    </li>
    <li>
        <p class="mb-0"><strong>Données d'utilisation</strong></p>
        <p class="text-justify">Les données d'utilisation sont recueillies automatiquement et sont générées soit par l'utilisation de l'application, soit par l'infrastructure de l'application proprement dite 
        (par exemple, durée de consultation d'une page).</p>
    </li>
    <li>
        <p class="mb-0"><strong>Cookies</strong></p>
        <p class="text-justify">Les cookies sont de petits fichiers enregistrés sur votre dispositif (ordinateur, tablette ou mobile).</p>
    </li>
</ul>

<h4>Collecte et utilisation des données</h4>
<p class="text-justify">Nous recueillons plusieurs types de données à différentes fins en vue de vous fournir notre application et de l'améliorer.</p>

<h5>Types de données recueillies</h5>

<h6>Données à caractère personnel</h6>
<p class="text-justify">Lorsque vous utilisez notre application, il est possible que nous vous demandions de nous fournir certaines données personnelles nominatives qui peuvent servir à vous contacter 
ou à vous identifier ("Données à caractère personnel"). Les données personnelles nominatives peuvent comprendre, mais de manière non limitative:</p>

<p class="font-weight-bold">Liste ordonnée</p>
<ol>
    <li>L'adresse e-mail</li>    
    <li>Le nom de famille et le prénom </li>            
    <li>Cookies et les données d'utilisation</li>
    <li>Pour fournir et assurer notre application</li>
    <li>Pour vous faire part des changements apportés à notre application</li>
    <li>Pour vous permettre d'utiliser les fonctions interactives de notre application quand vous le souhaitez</li>
    <li>Pour assurer l'assistance client</li>
    <li>Pour recueillir des données précieuses ou d'analyses qui nous permettront d'améliorer notre application</li>
    <li>Pour contrôler l'utilisation de notre application</li>
    <li>Pour détecter, prévenir et régler les problèmes techniques</li>
    <li>S'acquitter d'une obligation légale</li>
    <li>Protéger et défendre les droits ou les biens du fournisseur</li>
    <li>Prévenir d'éventuels actes répréhensibles ou enquêter sur de tels actes dans le cadre de l'application </li>
    <li>Assurer la sécurité personnelle des utilisateurs, de l'application ou du public</li>
    <li>Se protéger contre la responsabilité civile</li>
</ol>

<p class="font-weight-bold">Liste désordonnée</p>
<ul>
    <li>L'adresse e-mail</li>    
    <li>Le nom de famille et le prénom </li>            
    <li>Cookies et les données d'utilisation</li>
</ul>

<h6>Données d'utilisation</h6>
<p class="text-justify">Nous pouvons également recueillir des informations relatives au mode d'accès et d'utilisation de l'application ("Données d'utilisation"). Ces données d'utilisation peuvent comprendre 
des informations telles que l'adresse de protocole Internet (c.-à-d. l'adresse IP) de votre ordinateur, le type de navigateur, la version du navigateur, les pages de notre application que vous consultez, la date 
et l'heure de votre visite, le temps passé sur ces pages, les identifiants uniques de dispositifs ainsi que d'autres données de diagnostic.</p>

<h6>Suivi et données de cookies</h6>
<p class="text-justify">Nous avons recours à des cookies et à d'autres technologies de suivi similaires pour effectuer un suivi des activités effectuées dans notre application, et nous conservons certaines informations.</p>
<p class="text-justify">Les cookies sont des fichiers à faible volume de données pouvant comporter un identifiant unique anonyme. Les cookies sont envoyés à votre navigateur depuis un site web et sont stockés sur 
votre dispositif. D'autres technologies de suivi telles que les pixels, les balises et les scripts sont également utilisées pour recueillir et suivre des informations et afin d'améliorer et d'analyser notre application.</p>
<p class="text-justify">Vous pouvez demander à votre navigateur de refuser tous les cookies ou de vous avertir lorsqu'un cookie est envoyé. Toutefois, si vous n'acceptez pas les cookies, il se peut que vous ne puissiez 
pas utiliser certains éléments de notre application.</p>
<p class="text-justify">Exemples de cookies que nous utilisons :</p>
<ul>
    <li><strong>Cookies de session.</strong> Nous utilisons des cookies de session pour faire fonctionner notre application.</li>
    <li><strong>Cookies de préférences.</strong> Nous utilisons des cookies de préférences pour mémoriser vos préférences et vos différents paramètres.</li>
    <li><strong>Cookies de sécurité.</strong> Nous utilisons des cookies de sécurité pour des raisons de sécurité.</li>
</ul>

<h4>Utilisation des données</h4> 
<p class="text-justify">Le fournisseur utilise les données recueillies à des fins diverses:</p>    
<ul>
    <li>Pour fournir et assurer notre application</li>
    <li>Pour vous faire part des changements apportés à notre application</li>
    <li>Pour vous permettre d'utiliser les fonctions interactives de notre application quand vous le souhaitez</li>
    <li>Pour assurer l'assistance client</li>
    <li>Pour recueillir des données précieuses ou d'analyses qui nous permettront d'améliorer notre application</li>
    <li>Pour contrôler l'utilisation de notre application</li>
    <li>Pour détecter, prévenir et régler les problèmes techniques</li>
    <li>Sous-liste
        <ul>
            <li>Pour fournir et assurer notre application</li>
            <li>Pour vous faire part des changements apportés à notre application</li>
        </ul>
    </li>
</ul>

<h4>Transfert des données</h4>
<p class="text-justify">Text Justify: Les informations vous concernant, notamment vos données à caractère personnel, peuvent être transférées de votre région, province, pays, ou autre division territoriale vers des ordinateurs – et 
stockées sur ces derniers – situés à un endroit où la législation relative à la protection des données diffère de celle du territoire où vous résidez.</p>
<p class="text-right">Text Right: Si vous résidez hors de Suisse et que vous choisissez de nous communiquer des informations, sachez que nous transférons les données, y compris les données à caractère personnel, vers la Suisse 
et que nous les y traitons.</p>
<p class="text-center">Text Center: Le fournisseur prendra toutes les mesures raisonnablement nécessaires pour faire en sorte que vos données soient traitées de manière sécurisée et conformément à la présente politique de confidentialité 
et vos données à caractère personnel ne seront transférées vers aucune organisation ni aucun pays à moins que des contrôles adéquats ne soient en place, notamment en ce qui concerne la sécurité de vos données et d'autres données personnelles.</p>

<h4>Communication de données</h4>

<h5>Exigences légales</h5>
<p class="text-justify">Le fournisseur peut communiquer vos données à caractère personnel si elle estime de bonne foi que cela est nécessaire pour:</p>
<ul>
    <li>S'acquitter d'une obligation légale</li>
    <li>Protéger et défendre les droits ou les biens du fournisseur</li>
    <li>Prévenir d'éventuels actes répréhensibles ou enquêter sur de tels actes dans le cadre de l'application </li>
    <li>Assurer la sécurité personnelle des utilisateurs, de l'application ou du public</li>
    <li>Se protéger contre la responsabilité civile</li>
</ul>

<h4>Sécurité des données</h4>
<p class="text-justify">La sécurité de vos données nous tient à cœur. Toutefois, n'oubliez pas qu'aucune méthode de transmission de données par Internet ou méthode de stockage électronique n'est sûre à 100 %. Bien que nous 
nous efforcions d'utiliser des méthodes commercialement acceptables pour protéger vos données à caractère personnel, nous ne pouvons pas leur garantir une sécurité absolue.</p>

<h4>Prestataires de services</h4>
<p class="text-justify">Nous pouvons faire appel à des sociétés tierces et à des tierces personnes pour faciliter la prestation de notre service ("Prestataires de services"), assurer l'application en notre nom, assurer des 
services liés à l'application ou nous aider à analyser la façon dont notre application est utilisée.</p>

<h4>Liens pointant vers d'autres sites</h4>
<p class="text-justify">Il se peut que notre application contienne des liens pointant vers d'autres sites que nous n'exploitons pas. Si vous cliquez sur un lien de tiers, vous serez redirigé vers le site de ce tiers. Nous 
vous recommandons vivement d'examiner la politique de confidentialité de chacun des sites que vous consultez.</p>
<p class="text-justify">Nous n'avons aucun contrôle sur le contenu, les politiques ou pratiques de confidentialité des sites ou services de tiers et déclinons toute responsabilité en ce qui les concerne.</p>

<h4>Vie privée des enfants</h4>
<p class="text-justify">Notre application ne s'adresse pas aux personnes de moins de 18 ans ("enfants").</p>
<p class="text-justify">Nous ne recueillons pas sciemment de données personnelles nominatives auprès de personnes de moins de 18 ans. Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a communiqué 
des données à caractère personnel, veuillez nous contacter. Si nous apprenons que nous avons recueilli des données à caractère personnel auprès d'enfants sans vérifier s'il y a consentement parental, nous faisons le nécessaire 
pour supprimer ces informations de nos serveurs.</p>

<h4>Modifications de la présente politique de confidentialité</h4>
<p class="text-justify">Nous nous réservons le droit d'actualiser notre politique de confidentialité de temps à autre. Nous vous informerons de toute modification en publiant la nouvelle politique de confidentialité sur cette page.</p>
<p class="text-justify">Avant que la modification ne prenne effet, nous vous en informerons par e-mail et/ ou en plaçant un avis bien en vue dans notre application et nous actualiserons la "date de prise d'effet" qui figure 
en haut de la présente politique de confidentialité.</p>
<p class="text-justify">Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

<p class="text-justify text-monospace mr-4">Text Monospace: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

<h4>Nous contacter</h4>
<p class="text-justify">Pour toute question relative à la présente politique de confidentialité, veuillez nous contacter par courrier éléctronique.</p>
<p class="text-right">Janvier 2019</p>

<p class="mx-5">MX-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

<p class="my-5">MY-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

<p class="m-5">M-5: Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>

<h5 class="text-justify">Nous vous conseillons de consulter la présente politique de confidentialité périodiquement pour prendre connaissance de toute modification. Les modifications apportées à la présente politique de 
confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</h5>

<p>{{ 'now'|strftime('%B %G') }}</p>

{% for i in 1..6 %}
<h{{ i }}>h{{ i }}. Bootstrap Heading</h{{ i }}>
{% endfor %}

<p><u>This line of text will be render as underlined</u></p>
<p><code>This line of text will be render as code</code></p>
<p><var>This line of text will be render as var</var></p>