{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, linkExternal %}
{# macros #}
{% macro output_row(name, value) -%}
{% if value %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ value|raw }}</td>
    </tr>
{% endif %}
{%- endmacro %}
{% macro output_header(name) -%}
    <tr>
        <th colspan="2">{{ name }}</th>
    </tr>
{%- endmacro %}
{% macro output_position(lat, lon, text) -%}
{% if lat and lon %}
    {%- set href = 'https://www.google.ch/maps/place/%s,%s'|format(lat, lon) -%}
    <tr>
        <td>Position</td>
        <td>
            <a href="{{ href }}" title="{{ 'openweather.fields.position_title'|trans }}" target="_blank" rel="noopener noreferrer">
                {{- text -}}
            </a>
        </td>
    </tr>
{% endif %}
{%- endmacro %}
{% macro output_country(country, emoji) -%}
{% if country %}
    <tr>
        <td>Pays</td>
        <td>{%- if emoji -%}<span class="flag-emoji me-1">{{ emoji }}</span>{%- endif -%}{{- country -}}</td>
    </tr>
{% endif %}

{%- endmacro %}
{# parameters #}
{%- set title = 'test.ip_stack' -%}
{%- set title_icon = 'location-dot' -%}
{# header #}
{% block card_header %}
<div class="row">
    <div class="col-lg-10 mt-1">{{ parent() }}</div>
    <div class="col-lg-2 text-lg-end d-print-none">
        <a href="#" data-bs-toggle="modal" data-bs-target="#raw_data_modal" title="{{ 'dialog_raw_data.tooltip'|trans }}">
            <i class="fa-solid fa-code"></i>
        </a>
    </div>
</div>
{% endblock %}
{# body #}
{% block card_body %}
<table class="table table-sm table-hover">
    <tbody>
    {{ _self.output_header('Générale') }}
    {{ _self.output_row('Adresse IP', results.ip|default(false)) }}
    {{ _self.output_row('Type', results.type|default(false)) }}
    {{ _self.output_header('Position') }}
    {{ _self.output_row('Continent', results.continent_name|default(false)) }}
    {{ _self.output_country(results.country_name|default(false), results.location.country_flag_emoji|default(false)) }}
    {{ _self.output_row('Région', results.region_name|default(false)) }}
    {{ _self.output_row('Ville', results.city|default(false)) }}
    {{ _self.output_position(results.latitude|default(false), results.longitude|default(false), results.position_dms|default(false)) }}
    </tbody>
</table>
{% include 'dialog/dialog_raw_data.html.twig' with {'raw_data': results, 'description': 'test.ip_stack'|trans, 'allow_copy': true} %}
{% endblock %}
{# footer #}
{% block card_footer -%}
<div class="row">
    <div class="col-md-6">
        {{- homepage() }}
    </div>
    <div class="col-md-6 text-end">
        {{- linkExternal('https://ipstack.com', 'common.api_documentation') -}}
    </div>
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets %}
    {{ parent() }}
    {{- asset_css('css/highlight.css') }}
{% endblock %}
{# javascript #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('js/vendor/clipboard/clipboard.js') }}
    {{ asset_js('js/application/dialog_raw_data.js') }}
{% endblock %}
