{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage, apiLink %}
{# macros #}
{% macro output_row(name, value) -%}
{% if value %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ value|raw }}</td>
    </tr>
{% endif %}
{%- endmacro %}
{% macro output_header(name) -%}
    <tr>
        <th colspan="2">{{ name }}</th>
    </tr>
{%- endmacro %}
{% macro output_position(text, href) -%}
{% if text and href %}
    <tr>
        <td>Position</td>
        <td>
            <a href="{{ href }}" title="{{ 'openweather.fields.position_title'|trans }}" target="_blank" rel="noopener noreferrer">
                {{- text -}}
            </a>
        </td>
    </tr>
{% endif %}
{%- endmacro %}
{% macro output_country(country, emoji) -%}
{% if country %}
    <tr>
        <td>Pays</td>
        <td>{%- if emoji -%}<span class="flag-emoji me-1">{{ emoji }}</span>{%- endif -%}{{- country -}}</td>
    </tr>
{% endif %}

{%- endmacro %}
{# parameters #}
{%- set title = 'test.ip_stack' -%}
{%- set title_icon = 'location-dot' -%}
{# header #}
{% block card_header %}
<div class="d-flex-wrap-center">
    <div class="me-auto">
        {{ parent() }}
    </div>
    <a href="#raw_data_modal" data-bs-toggle="modal" title="{{ 'dialog_raw_data.tooltip'|trans }}">
        <i class="fa-solid fa-code"></i>
    </a>
</div>
{% endblock %}
{# body #}
{% block card_body %}
<table class="table table-sm table-hover">
    <tbody>
    {{ _self.output_header('Générale') }}
    {{ _self.output_row('Adresse IP', results.ip|default(false)) }}
    {{ _self.output_row('Type', results.type|default(false)) }}
    {{ _self.output_header('Position') }}
    {{ _self.output_row('Continent', results.continent_name|default(false)) }}
    {{ _self.output_country(results.country_name|default(false), results.location.country_flag_emoji|default(false)) }}
    {{ _self.output_row('Région', results.region_name|default(false)) }}
    {{ _self.output_row('Ville', results.city|default(false)) }}
    {{ _self.output_position(results.position_dms|default(false), results.position_url|default(false)) }}
    </tbody>
</table>
{{ include('dialog/dialog_raw_data.html.twig', {'raw_data': results, 'description': 'test.ip_stack'|trans, 'allow_copy': true}) }}
{% endblock %}
{# footer #}
{% block card_footer -%}
<div class="d-flex-wrap-center">
    {{- homepage() }}
    {{- apiLink('https://ipstack.com', 'flex-grow-1 text-sm-end') -}}
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets %}
    {{ parent() }}
    {{- asset_css('css/highlight.css') }}
{% endblock %}
{# javascript #}
{% block javascripts %}
{{ parent() }}
{{ asset_js('vendor/clipboard/clipboard.js') }}
{{ asset_js('js/plugins/plugin-copy.js') }}
{{ asset_js('js/application/dialog_raw_data.js') }}
{% endblock %}
