{% extends 'base.html.twig' %}

{# _self #}
{% macro weekRow(month, week) %}
{% import 'test/_days_macro_html.twig' as tools %}
{%- set week_title = 'test.week_title'|trans({'%week%': week.number}) -%}
{%- set class = 'bg-secondary text-white text-center align-middle week' -%}
{% if week.current and month.number == month.today.month -%}{%- set class = 'bg-primary text-center align-middle text-white week' -%}{%- endif %}
<tr>
    <td class="{{ class }}" title="{{ week_title }}">{{ week.number }}</td>
    {% for day in week.days -%}
        {{ tools.dayCell(month, day, false) }}
    {%- endfor %}
</tr>
{% endmacro %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title            = 'test.month' -%}
{%- set title_parameters = {'%year%': calendar.year, '%month%': month.Name} -%}
{%- set month_index      = month.number -%}
{%- set month_text       = 'test.month'|trans({'%year%': calendar.year, '%month%': month.Name}) -%}
{%- set calendat_text    = 'test.calendar'|trans({'%year%': calendar.year}) -%}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <h2>{{ month_text }}</h2>
    </div>
    <div class="col-md-4 text-md-center">
    	<h3>{{ 'test.calculations'|trans({count: calculations|length}) }}</h3>
    </div>
    <div class="col-md-4 text-md-right">
        {% set year = 'now'|date('Y') %}
        {% set month_param = 'now'|date('n') %}
        {% if year != calendar.year or month_param != month.number %}
            {% set text = calendar.monthNames[month_param] ~ ' ' ~ year %}
            <a class="btn btn-primary" href="{{ path('test_month') }}" title="{{ text }}">{{ icons.icon('arrows-alt') }}</a>
        {% endif %}

        {% set year = calendar.year %}
        {% set month_param = month_index - 1 %}
        {% if (month_param < 1) %}
            {% set month_param = 12 %}
            {% set year = year - 1 %}
        {% endif %}
        {% set text = calendar.monthNames[month_param] ~ ' ' ~ year %}
        <a class="btn btn-primary" title="{{ text }}" href="{{ path('test_month', {'year': year, 'month': month_param}) }}">{{ icons.icon('chevron-left') }}</a>

        {% set year = calendar.year %}
        {% set month_param = month_index + 1 %}
        {% if (month_param > 12) %}
            {% set month_param = 1 %}
            {% set year = year + 1 %}
        {% endif %}
        {% set text = calendar.monthNames[month_param] ~ ' ' ~ year %}
        <a class="btn btn-primary" title="{{ text }}" href="{{ path('test_month', {'year': year, 'month': month_param}) }}">{{ icons.icon('chevron-right') }}</a>
        <a class="btn btn-primary" title="{{ calendat_text }}" href="{{ path('test_calendar', {'year': calendar.year}) }}">{{ icons.icon('calendar') }}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered w-100 month">
            <tr>
                <th class="border bg-secondary text-white text-center week font-weight-normal">{{ 'test.week'|trans }}</th>
                {% for name in calendar.weekShortNames %}
                    <th class="border bg-secondary text-white text-center font-weight-normal">{{ name }}</th>
                {% endfor %}
            </tr>
            {% for week in month.weeks -%}   
                {{ _self.weekRow(month, week) }}
            {%- endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ asset_css('css/calendar.css') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/test/calendar.js') }}
{% endblock %}