{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import homepage %}
{# macros #}
{% macro button(type, icon) -%}
<button type="button" data-type="{{ type }}" class="btn btn-notify btn-{{ type }}" style="min-width: 109px;">
    {{- ('background.' ~ type)|trans -}}
</button>
{%- endmacro %}

{% macro position(position, selection) -%}
{%- set value = position.value -%}
<option value="{{ value }}"{% if position == selection %} selected="selected"{% endif %}>{{ position|trans }}</option>
{%- endmacro %}

{% macro timeout(seconds, selection) -%}
{%- set milliseconds = seconds * 1000 -%}
{%- set text = 'counters.seconds'|trans({'%count%': seconds}) -%}
<option value="{{ milliseconds }}"{% if milliseconds == selection %} selected="selected"{% endif %}>{{ text }}</option>
{%- endmacro %}

{% macro progress(pixels, selection) -%}
{%- set text = 'counters.pixels'|trans({'%count%': pixels}) -%}
<option value="{{ pixels }}"{% if pixels == selection %} selected="selected"{% endif %}>{{ text }}</option>
{%- endmacro %}

{% macro checkbox(id, text, checked=true) -%}
<div class="form-check form-check-inline form-switch">
  <input type="checkbox" class="form-check-input control-option" name="{{ id }}" id="{{ id }}" data-default="{{ checked|json_encode }}"{% if checked %} checked="checked"{% endif %}>
  <label class="form-check-label" for="{{ id }}">{{ text|trans }}</label>
</div>
{%- endmacro %}
{# parameters #}
{%- set title = 'test.notification' -%}
{%- set title_icon = 'bell far' -%}
{%- set timeout = user_service.messageTimeout -%}
{%- set position = user_service.messagePosition %}
{%- set progress = user_service.messageProgress %}
{# body #}
{% block card_body %}
<span class="form-label horizontal-line">Type de message</span>
<div class="d-flex flex-wrap justify-content-center gap-2">
    {{ _self.button('success') }}
    {{ _self.button('warning') }}
    {{ _self.button('danger') }}
    {{ _self.button('info') }}
    {{ _self.button('primary') }}
    {{ _self.button('secondary') }}
    {{ _self.button('dark') }}
</div>
<hr>
<div class="row">
    <div class="col-md-3 mb-3">
        <label class="form-label" for="position">{{ 'parameters.fields.message_position'|trans }}</label>
        <select id="position" name="position" class="form-select" data-failure="{{ 'parameters.failure'|trans }}" data-default="{{ position.value }}" data-position="{{ position.value }}" data-random="{{ url('ajax_random_text') }}">
        {% for current in positions %}
            {{ _self.position(current, position) }}
        {% endfor %}
        </select>
    </div>
    <div class="col-md-3 mb-3">
        <label class="form-label" for="timeout">{{ 'parameters.fields.message_timeout'|trans }}</label>
        <select id="timeout" name="timeout" data-default="{{ timeout }}" class="form-select">
            {% for seconds in 1..5 %}
                {{ _self.timeout(seconds, timeout) }}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 mb-3">
        <label class="form-label" for="progress">{{ 'parameters.fields.message_progress'|trans }}</label>
        <select id="progress" name="progress" data-default="{{ progress }}" class="form-select">
            {% for i in 0..5 %}
                {{ _self.progress(i, progress) }}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 mb-3">
        <label class="form-label" for="maxNbChars">Nbre de caractères</label>
        <select id="maxNbChars" name="maxNbChars" data-default="{{ 150 }}" class="form-select">
            {% for i in range(50, 500, 50) %}
                <option value="{{ i }}"{% if i == 150 %} selected="selected"{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<span class="form-label horizontal-line">{{ 'parameters.group_options'|trans }}</span>
<div class="d-flex flex-wrap gap-2">
    {{ _self.checkbox('title', 'parameters.fields.message_title', user_service.messageTitle) }}
    {{ _self.checkbox('icon', 'parameters.fields.message_icon', user_service.messageIcon) }}
    {{ _self.checkbox('subtitle', 'parameters.fields.message_sub_title', user_service.messageSubTitle) }}
    {{ _self.checkbox('close', 'parameters.fields.message_close', user_service.messageClose) }}
    {{ _self.checkbox('autohide', 'parameters.fields.message_auto_close') }}
</div>
{% endblock %}
{# footer #}
{% block card_footer %}
{{ homepage() }}
<button type="button" class="btn btn-default btn-outline-success">{{ 'parameters.default'|trans }}</button>
{% endblock %}
{# javascripts #}
{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/test/notification.js') }}
{%- endblock %}
