{% extends 'cards/card_edit.html.twig' %}
{% form_theme form _self %}

{# customize password #}
{% block _form_input_widget -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-fw fa-lock"></i></span>
    </div>
    {{- block('form_widget_simple') -}}
</div>
{%- if ('password-strength' in form.vars.attr.class|default('')) -%}
    <div id="{{ form.vars.id }}_passwordstrength" class="d-print-none password-strength"></div>
{%- endif -%}
{%- endblock %}

{# parameters #}
{%- set title = 'password.title' -%}
{%- set title_icon = 'lock' -%}
{%- set title_description = 'parameters.group_security_help' -%}

{% block card_body %}
{{ form_row(form.input) }}
{{ form_row(form.captcha) }}
{{ form_row(form.minstrength) }}
<label class="horizontal-line">{{ 'parameters.group_security'|trans }}</label>
{{- form_rest(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/vendor/zxcvbn/zxcvbn.js') }}
{{ asset_js('js/plugins/password-strength.js') }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/test/password.js') }}
{% endblock %}
