{% extends 'cards/card_edit.html.twig' %}

{# customize password #}
{% block _form_password_widget -%}
{{- block('form_widget_simple') -}}
{%- if ('password-strength' in form.vars.attr.class|default('')) -%}
<div id="{{ form.vars.id }}_passwordstrength" class="d-print-none password-strength"></div>
{%- endif -%}
{%- endblock %}
{% form_theme form _self %}

{# parameters #}
{%- set title      = 'password.title' -%}
{%- set title_icon = 'lock' -%}

{% block card_body %}
{{ form_row(form.password) }}
{{ form_row(form.captcha) }}
<label class="horizontal-line">{{ 'password.options'|trans }}</label>
<div class="ml-3">
{{ form_rest(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ asset_js('js/vendor/zxcvbn/zxcvbn.js') }}
{{ asset_js('js/plugins/password-strength.js') }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/test/password.js') }}
{% endblock %}