{% extends 'cards/card_edit.html.twig' %}
{% form_theme form _self %}
{# customize password #}
{% block _form_input_widget -%}
<div class="input-group">
    <span class="input-group-text"><i class="fa-solid fa-fw fa-lock"></i></span>
    {{- block('form_widget_simple') -}}
    <label class="form-label" id="score">&nbsp;</label>
</div>
{%- endblock %}
{# parameters #}
{%- set title = 'password.title' -%}
{%- set title_icon = 'lock' -%}
{%- set title_description = 'parameters.group_security_help' -%}
{# body #}
{% block card_body %}
{{ form_row(form.input) }}
{{ form_row(form.captcha) }}
{{ form_row(form.level) }}
<span class="form-label horizontal-line">{{ 'parameters.group_security'|trans }}</span>
{{- form_rest(form) }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{{ parent() }}
{{ asset_js('js/vendor/zxcvbn/zxcvbn.js') }}
{{ asset_js('js/plugins/plugin-password-strength.js') }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/test/password.js') }}
{% endblock %}
