{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'password.title' -%}
{%- set title_icon = 'lock' -%}
{%- set title_description = 'parameters.group_security_help' -%}
{# body #}
{% block card_body %}
{{ form_row(form.input) }}
{{ form_row(form.captcha) }}
{{ form_row(form.level) }}
<span class="form-label horizontal-line">{{ 'parameters.group_security'|trans }}</span>
{{- form_rest(form) }}
{% endblock card_body %}
{# javascripts #}
{% block javascripts %}
{{ parent() }}
{{ asset_js('build/zxcvbn/zxcvbn.js') }}
{{ asset_js('js/plugins/plugin-password-strength.js') }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/test/password.js') }}
{% endblock javascripts %}
