{% extends 'base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, link %}
{% from 'calendar/_calendar.html.twig' import dataRow %}
{# macros #}
{% macro addInterval(value, count, message, selection) -%}
    {%- set text = message|trans({count: count}) -%}
    <option value="{{ value }}"{% if value == selection %} selected="selected"{% endif %}>{{ text }}</option>
{%- endmacro %}
{% macro addButton(class, disabled, path, title, icon, date = null) -%}
    <button type="button" class="btn btn-secondary {{ class }}"{% if disabled %} disabled{% endif %} data-url="{{ url(path) }}" title="{{ title|trans }}"{% if date %} data-date="{{ date }}"{% endif %}>
        {{- icon(icon) -}}
    </button>
{%- endmacro %}
{# parameters #}
{%- set title = 'timeline.title' -%}
{%- set title_icon = 'stream' -%}
{%- set min_date_locale = min_date|locale_date('none', 'yyyy-MM-dd') -%}
{%- set max_date_locale = max_date|locale_date('none', 'yyyy-MM-dd') -%}
{%- set is_first = from == min_date -%}
{%- set is_last = to == max_date -%}
{# body #}
{% block body -%}
<div>
    <div class="d-flex-wrap-center">
        <h4 class="flex-fill">{{ icon(title_icon, title) }}</h4>
        {# date #}
        <div class="d-flex-wrap-center">
            <label for="date" class="form-label mb-0">{{ 'timeline.date'|trans }}</label>
            <input id="date" name="date" type="date" class="form-control form-control-sm w-auto" min="{{ min_date_locale }}" max="{{ max_date_locale }}" value="{{ date }}">
        </div>
        {# interval #}
        <div class="d-flex-wrap-center">
            <label for="interval" class="form-label mb-0">{{ 'timeline.interval'|trans }}</label>
            <select id="interval" name="interval" class="form-control form-select-sm w-auto">
                {{ _self.addInterval('P3D', 3, 'counters.days', interval) }}
                {{ _self.addInterval('P5D', 5, 'counters.days', interval) }}
                {{ _self.addInterval('P1W', 1, 'counters.weeks', interval) }}
                {{ _self.addInterval('P2W', 2, 'counters.weeks', interval) }}
                {{ _self.addInterval('P3W', 3, 'counters.weeks', interval) }}
                {{ _self.addInterval('P1M', 1, 'counters.months', interval) }}
            </select>
        </div>
        {# toolbar #}
        <div class="btn-group btn-group-sm" role="group">
            {{ _self.addButton('btn-timeline-first', is_first, 'timeline_first', 'timeline.first', 'angles-left') }}
            {{ _self.addButton('btn-timeline-previous', is_first, 'timeline_content', 'timeline.previous', 'chevron-left', previous|default) }}
            {% if today %}
                {{ _self.addButton('btn-timeline-today', false, 'timeline_today', 'timeline.today', 'arrows-alt') }}
            {% endif %}
            {{ _self.addButton('btn-timeline-next', is_last, 'timeline_content', 'timeline.next', 'chevron-right', next|default) }}
            {{ _self.addButton('btn-timeline-last', is_last, 'timeline_last', 'timeline.last', 'angles-right') }}
        </div>
    </div>
    <hr class="my-1" />
</div>

<div id="content" data-url="{{ url('timeline_content') }}" data-min="{{ max_date_locale }}" data-max="{{ min_date_locale }}">
    {{ include('test/_timeline_content.html.twig', {from: from, to: to, count: count, data: data}, with_context = false) }}
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets -%}
{{ asset_css('css/timeline.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/test/timeline.js') }}
{% endblock %}
