{% extends 'cards/card_edit.html.twig' %}

{# macros #}
{% macro fillLanguages(languages, language=false) %}
{% for key, value in languages -%}
    <option value="{{ value }}"{% if value == language %} selected="selected"{% endif %}>{{ key }}</option>
{% endfor -%}
{% endmacro %}

{# parameters #}
{%- set title = 'translator.title' -%}
{%- set title_icon = 'globe' -%}
{%- set submit_text = 'translator.submit_text' -%}
{%- set cancel_path = false -%}
{%- set form_attr = form_attr|default({})|merge({
                     'data-ajax': url('ajax_translate'),
                     'data-title': 'translator.title'|trans,
                     'data-success': 'translator.translate_sucess'|trans,
                     'data-copy-success': 'translator.copy_sucess'|trans,
                     'data-copy-error': 'translator.copy_error'|trans,
                     'data-last-error': 'translator.last_error'|trans,
                     'data-detected': 'translator.detect_label'|trans,
                     'data-locale': app.request.locale}) -%}

{% block card_container_class '' %}

{% block card_body %}
<div class="form-row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="from" class="required">{{ 'translator.from_label'|trans }}</label>
            <select id="from" name="from" class="form-control">
                <option value="">{{ 'translator.auto_detect'|trans }}</option>
                {{ _self.fillLanguages(languages) }}
            </select>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group text-center">
            <label>{{ 'translator.swap_label'|trans }}</label>
            <a href="#" role="button" class="btn btn-exchange btn-secondary form-control disabled" title="{{ 'translator.swap_label'|trans }}">
                <i class="fa-solid fa-exchange-alt"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="to" class="required">{{ 'translator.to_label'|trans }}</label>
            <select id="to" name="to" class="form-control" required="required" notEqualTo="#from">
                {{ _self.fillLanguages(languages, language) }}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="service" class="required">{{ 'translator.service_label'|trans }}</label>
            <select id="service" name="service" class="form-control" data-languages="{{ path('ajax_languages') }}">
                {% for translator in translators -%}
                    <option value="{{ translator.className }}" data-api="{{ translator.apiUrl }}"{% if translator.name == service.name %} selected="selected"{% endif %}>{{ translator.name }}</option>
                {% endfor -%}
            </select>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="text" class="required">{{ 'translator.text_label'|trans }}</label>
            <textarea id="text" name="text" maxlength="4000" class="form-control fixed" rows="12" required="required" dir="auto" placeholder="{{ 'translator.placeholder'|trans }}"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="result">{{ 'translator.result_label'|trans }}</label>
            <textarea id="result" name="result" class="form-control fixed bg-white" rows="12" readonly="readonly" dir="auto"></textarea>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <span id="detected" class="text-muted"></span>
    </div>
    <div class="col-md-6 text-md-right">
        <a id="api-url" name="api-url" href="{{ service.apiUrl }}" target="_blank" rel="noopener noreferrer">Documentation (API)</a>
    </div>
</div>
{% endblock %}

{% block actions_form -%}
{{ parent() }}
<button type="button" class="btn btn-copy btn-form btn-success" disabled="disabled" data-clipboard-target="#result">{{ 'common.button_copy'|trans }}</button>
{%- endblock %}

{% block stylesheets %}
{{ asset_css('css/select2.css') }}
{%- endblock -%}

{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/vendor/select2/js/select2.js') }}
{{ asset_js('js/vendor/select2/js/i18n/fr.min.js') }}
{{ asset_js('js/extensions/select2-extensions.js') }}
{{ asset_js('js/vendor/clipboard/clipboard.js') }}
{{ asset_js('js/test/translate.js') }}
{%- endblock %}
