{% extends 'base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon %}
{# macros #}
{% macro side_bar_collapse(text, target, expanded = false, icon = false) %}
<button class="btn btn-toggle border-0" data-bs-toggle="collapse" data-bs-target="{{ target }}" aria-expanded="{{ expanded|json_encode }}">
    {%- if icon -%}{{- icon(icon ~ ' me-1') -}}{%- endif %}{{- text -}}
</button>
{% endmacro %}
{% macro side_bar_link(text, icon = null, href = '#') %}
<li><a href="{{ href }}" class="d-block">{{ icon(icon, text) }}</a></li>
{% endmacro %}
{% macro side_bar_divider() %}
<li><hr class="dropdown-divider border-top my-1"></li>
{% endmacro %}
{# parameters #}
{% set title = 'test.tree_view' %}
{% set title_icon = 'folder-tree' %}
{% block container_class 'container-fluid' %}
{# body #}
{% block body -%}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="d-flex-wrap-center mb-2">
            <h1 class="me-auto h4">{{- icon(title_icon, title) }}</h1>
            <div class="btn-group btn-group-sm" role="group" aria-label="Toolbar">
                <button type="button" class="btn btn-outline-secondary btn-expand-all" title="Expand All">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-collapse-all" title="Collapse All">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-expand-level" title="Expand to level 1">
                    <i class="fa-solid fa-expand-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-refresh" title="Refresh">
                    <i class="fa-solid fa-sync-alt"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2">
        <div id="tree" class="list-group mb-3" role="tree" data-url="{{ path('test_tree') }}"
             data-loading-text="{{ 'about.load.message'|trans }}"
             data-badge-class="bg-secondary" data-badge-count="true"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="country">Pays</label>
                    <select id="country" class="form-select" data-path="{{ asset('images/flags/')|split('?')|first }}">
                        {% for key, value in countries -%}
                            <option value="{{ key }}">{{ value }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label required" for="currency">Monnaie</label>
                    <select id="currency" class="form-select" required="required">
                        {% for currency in currencies -%}
                            <option value="{{ currency.code }}">{{ currency.name }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="state_single">Status (simple)</label>
                    <select id="state_single" class="form-select">
                        {% for key, group in states -%}
                            <optgroup label="{{ key|trans }}">
                                {% for state in group -%}
                                    <option value="{{ state.id }}" data-color="{{ state.color }}">{{ state.code }}</option>
                                {% endfor %}
                            </optgroup>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="state">Status (multiple)</label>
                    <div class="input-group">
                        <select id="state" class="form-select" multiple data-delete="Supprimer le statut">
                            {% for key, group in states -%}
                                <optgroup label="{{ key|trans }}">
                                    {% for state in group -%}
                                        <option value="{{ state.id }}" data-color="{{ state.color }}">{{ state.code }}</option>
                                    {% endfor %}
                                </optgroup>
                            {%- endfor %}
                        </select>
                        <button class="btn btn-outline-secondary btn-search" type="button" title="Ajouter un statut">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-secondary btn-clear" type="button" title="Supprimer tous les statuts">
                            <i class="fa-regular fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="category">Catégorie</label>
                    <div class="input-group">
                        <span class="input-group-text">@</span>
                        <select id="category" class="form-select" multiple data-delete="Supprimer la catégorie">
                            {% for key, group in categories -%}
                                <optgroup label="{{ key }}">
                                    {% for category in group -%}
                                        <option value="{{ category.id }}">{{ category.code }}</option>
                                    {%- endfor %}
                                </optgroup>
                            {%- endfor %}
                        </select>
                        <button class="btn btn-outline-secondary btn-search" type="button" title="Ajouter une catégorie">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="btn btn-outline-secondary btn-clear" type="button" title="Supprimer toutes les catégories">
                            <i class="fa-regular fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="product">Article</label>
                    <select id="product">
                        {% for key, group in products -%}
                            <optgroup label="{{ key }}">
                                {% for product in group -%}
                                    <option data-price="{{ product.price }}" data-unit="{{ product.unit }}" value="{{ product.id }}">{{ product.description }}</option>
                                {% endfor %}
                            </optgroup>/
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <span class="form-label cursor-default">Position</span>
                <div class="dropdown dropdown-position">
                    {% set current = user_service.messagePosition %}
                    <button type="button" class="btn-position form-control d-flex align-items-center dropdown-toggle" data-value="{{ current.value }}" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="position-icon me-2"><i class="{{ current.icon }}" data-rotate="{{ current.angle }}deg"></i></span>
                        <span class="position-text flex-fill text-start">{{- current|trans -}}</span>
                    </button>
                    <table class="dropdown-menu w-auto table table-borderless mb-0 px-2">
                        <tr>
                            {% for position in enum('App\\Enums\\MessagePosition').sorted() %}
                            <td>
                                {% set id = 'btn-check-dropdown-' ~ position.value %}
                                <div class="form-check ps-0">
                                    <input type="radio" class="btn-check" name="btn-check" id="{{ id }}" value="{{ position.value }}" autocomplete="off"{% if current == position %} checked{% endif %}>
                                    <label class="btn btn-outline-secondary" for="{{ id }}" title="{{- position|trans -}}">
                                        <i class="{{ position.icon }}" data-rotate="{{ position.angle }}deg"></i>
                                    </label>
                                </div>
                            </td>
                            {% if loop.index % 3 == 0 %}</tr><tr>{% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <span class="form-label cursor-default">Modal</span>
                <button type="button" class="btn btn-form btn-primary mb-3 bottom-border-gradient bottom-border-gradient-100 w-100" data-bs-toggle="modal" data-bs-target="#dragModal">Launch modal</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="dropdown-input">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group mb-3">
                    <label class="form-label" for="product-picker">Article</label>
                    <select id="product-picker" class="form-select">
                        {% for key, group in products -%}
                            <optgroup label="{{ key }}">
                                {% for product in group -%}
                                    <option data-price="{{ product.price }}" data-unit="{{ product.unit }}" value="{{ product.id }}"{% if product.id == 43 %} selected{% endif %}>{{ product.description }}</option>
                                {% endfor %}
                            </optgroup>/
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 my-2">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <label class="form-label" for="search">Drop-down menu</label>
                <div class="input-group">
                    <input class="form-control" type="search" id="search" name="search" autocomplete="off">
                    <button class="btn btn-outline-secondary dropdown-toggle ps-2" type="button" data-bs-toggle="dropdown" data-bs-reference="parent" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                    {% for i in range(0, 100, 20) %}
                        <li><button class="dropdown-item dropdown-item-gradient" data-value="{{ i }}">{{ (i / 100)|percent }}</button></li>
                    {% endfor %}
                    </ul>
                </div>
                <span class="bottom-border-gradient bottom-border-gradient-100"></span>
            </div>
            <div class="col-lg-6 mb-3">
                <label class="form-label" for="gradient">Border gradient</label>
                <input class="form-control bottom-border-gradient bottom-border-gradient-80" id="gradient" name="gradient">
                <span class="bottom-border-gradient bottom-border-gradient-100"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dragModal" tabindex="-1" aria-labelledby="modal-drag-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cursor-move">
                <h5 class="modal-title" id="modal-drag-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label class="form-label" for="text">Text</label>
                    <input type="text" class="form-control bottom-border-gradient bottom-border-gradient-100" id="text" aria-describedby="textHelp">
                    <small id="textHelp" class="form-text text-body-secondary">We'll never share your text with anyone else.</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-form btn-primary" data-bs-dismiss="modal">Save changes</button>
                <button type="button" class="btn btn-form btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets -%}
    {{ asset_css('build/currency-flags/currency-flags.css') }}
    {{ asset_css('css/select2.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('build/select2/js/select2.js') }}
    {{ asset_js('build/select2/js/i18n/fr.js') }}
    {{ asset_js('js/extensions/select2-extensions.js') }}
    {{ asset_js('js/plugins/plugin-treeview.js') }}
    {{ asset_js('js/plugins/plugin-drag-modal.js') }}
    {{ asset_js('js/test/treeview.js') }}
{% endblock %}
