{% extends 'base.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{# parameters #}
{% set title = 'test.tree_view' %}
{% set title_icon = 'folder-tree' %}
{# body #}
{% block body -%}
<div class="row pt-5">
    <div class="col-md-6 offset-md-2">
        <h1>{{- icons.icon(title_icon, title) }}</h1>
    </div>
    <div class="col-md-2 text-right mt-3">
        <div class="btn-group btn-group-sm" role="group" aria-label="Toolbar">
        <button type="button" class="btn btn-outline-secondary btn-expand-all" title="Expand All">
                <i class="fa-solid fa-plus"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-collapse-all" title="Collapse All">
                <i class="fa-solid fa-minus"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-expand-level" title="Expand to level 1">
                <i class="fa-solid fa-expand-alt"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-refresh" title="Refresh">
                <i class="fa-solid fa-sync-alt"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div id="tree" class="list-group" role="tree" data-url="{{ path('test_tree') }}" data-loading-text="{{ 'about.loading'|trans }}" data-badge-class="badge-secondary" data-badge-count="true"></div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="form-group">
            <label for="country">Pays</label>
            <select id="country" class="form-control" data-url="{{ asset('images/flags/flag_blank.png') }}">
                {% for key, value in countries -%}
                <option value="{{ key }}">{{ value }}</option>
                {%- endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="form-group">
            <label for="currency">Monnaie</label>
            <select id="currency" class="form-control">
                {% for currency in currencies -%}
                <option value="{{ currency.code }}">{{ currency.name }}</option>
                {%- endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="form-group">
            <label for="state_single">Status (simple)</label>
            <select id="state_single" class="form-control">
            {% set editable = null %}
            {% for state in states -%}
                {% if editable != state.editable  %}
                    {% set editable = state.editable %}
                    <optgroup label="{{ (state.editable ? 'calculationstate.list.editable' : 'calculationstate.list.not_editable')|trans }}"></optgroup>
                {% endif %}
                <option value="{{ state.id }}" data-color="{{ state.color }}">{{ state.code }}</option>
            {%- endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="form-group">
            <label for="state">Status (multiple)</label>
            <div class="input-group">
                <select id="state" class="form-control" multiple="multiple" data-delete="Supprimer le statut">
                {% set editable = null %}
                {% for state in states -%}
                    {% if editable != state.editable  %}
                        {% set editable = state.editable %}
                        <optgroup label="{{ (state.editable ? 'calculationstate.list.editable' : 'calculationstate.list.not_editable')|trans }}"></optgroup>
                    {% endif %}
                    <option value="{{ state.id }}" data-color="{{ state.color }}">{{ state.code }}</option>
                {%- endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-search" type="button" title="Ajouter un statut">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-clear" type="button" title="Supprimer tous les statuts">
                        <i class="fa-regular fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2">
        <div class="form-group">
            <label for="category">Catégorie</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <select id="category" class="form-control" multiple="multiple" data-delete="Supprimer la catégorie">
                    {% set group = null %}
                    {% for category in categories -%}
                        {% if group != category.groupCode %}
                            {% set group = category.groupCode %}
                            <optgroup label="{{ group }}"></optgroup>
                        {% endif %}
                        <option value="{{ category.id }}">{{ category.code }}</option>
                    {%- endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-search" type="button" title="Ajouter une catégorie">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-clear" type="button" title="Supprimer toutes les catégories">
                        <i class="fa-regular fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2 my-2 form-inline">
        <div class="form-group">
            <label for="percent1">Pourcentage 1</label>
            <div class="ml-2 input-group">
                <input type="number" id="percent1" name="percent1" inputmode="decimal"  value="5" min="-10" max="255" step="1" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="percent2">Pourcentage 2</label>
            <div class="ml-2 input-group">
                <input type="number" id="percent2" name="percent2" inputmode="decimal"  value="5" min="-10" max="255" step="1" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets -%}
{{ asset_css('js/vendor/currency-flags/currency-flags.css') }}
{{ asset_css('css/select2.css') }}
{{ asset_css('css/flags.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts -%}
{{ parent() }}
{{ asset_js('js/plugins/bootstrap-treeview.js') }}
{{ asset_js('js/vendor/select2/js/select2.js') }}
{{ asset_js('js/vendor/select2/js/i18n/fr.js') }}
{{ asset_js('js/extensions/select2-extensions.js') }}
{{ asset_js('js/test/treeview.js') }}
{% endblock %}
