<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ asset_css(theme_css(app.request), {'title': theme_name(app.request)}) }}
    {{ asset_css('css/vertical-bar.css') }}
    <title>Hello, world!</title>
    <style>
        /* FOR DEMO PURPOSE */
        body {
            background: #599fd9;
            background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
            background: linear-gradient(to right, #599fd9, #c2e59c);
            min-height: 100vh;
            overflow-x: hidden;
        }
        .separator {
            margin: 3rem 0;
            border-bottom: 1px dashed #fff;
        }
        .text-uppercase {
            letter-spacing: 0.1em;
        }
        .text-gray {
            color: #aaa;
        }
    </style>
</head>
<body>
<!-- vertical navbar -->
<div class="navbar-vertical navbar navbar-dark bg-dark" id="sidebar">
    <div class="py-4 px-3 mb-1">
        <div class="media d-flex align-items-center"><img src="{{ asset('/images/logo/logo-customer-96x96.png') }}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0 text-white">Jason Doe</h4>
                <p class="font-weight-light text-muted  mb-0">Web developer</p>
            </div>
        </div>
    </div>
    <h6 class="dropdown-header text-uppercase">Main</h6>
    <ul class="navbar-nav mb-0">
        <li class="nav-item active">
            <a href="#" class="nav-link"><i class="fa fa-th-large fa-fw"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-address-card fa-fw"></i> About</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-cubes fa-fw"></i> Services</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa-solid fa-helicopter-symbol fa-fw"></i> Gallery</a>
        </li>
    </ul>
    <h6 class="dropdown-header text-uppercase">Charts</h6>
    <ul class="navbar-nav mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-area-chart fa-fw"></i> Area charts</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-bar-chart fa-fw"></i> Bar charts</a></li>
        <div class="dropdown-divider border-secondary"></div>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-pie-chart fa-fw"></i> Pie charts</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-line-chart fa-fw"></i> Line charts</a>
        </li>
        <li class="nav-item nav-item-dropdown">
            <a class="nav-link nav-link-toggle dropdown-toggle" href="#" role="button" aria-expanded="false">
                Dropdown 2
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fa fa-pie-chart fa-fw"></i> Item 1</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fa fa-picture-o fa-fw"></i> Item 2</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item 3</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item 4</a>
                </li>
                <li class="nav-item nav-item-dropdown">
                    <a class="nav-link nav-link-toggle dropdown-toggle" href="#" role="button" aria-expanded="false">
                        <i class="fa fa-bar-chart fa-fw"></i> Item 5
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fa fa-pie-chart fa-fw"></i> Item 5.1</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Item 5.2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Page content holder -->
<div class="page-content" id="content">
    {%- include 'navigation/navigation.html.twig' %}

    <!-- Demo content -->
    <div class="p-4">
        <h2 class="display-4 text-white">Bootstrap vertical nav</h2>
        <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
        <p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                <u>Bootstrapious</u></a>
        </p>
        <div class="separator"></div>
        <div class="row text-white">
            <div class="col-lg-7">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor.
                </p>
                <div class="bg-white p-5 rounded my-5 shadow-sm">
                    <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor.
                </p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor.
                </p>
            </div>
            <div class="col-lg-5">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor.
                </p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure
                    dolor.
                </p>
            </div>
        </div>
    </div>
</div>
{{ asset_js('js/vendor/jquery/jquery.js') }}
{{ asset_js('js/vendor/twitter-bootstrap/js/bootstrap.bundle.js') }}
{{ asset_js('js/test/vertical-bar.js') }}
</body>
