{# parameters #}
{%- set is_env_dev = app_mode == 'dev' -%}
{%- set is_env_prod = app_mode == 'prod' -%}
{%- set is_env_local = app_mode == 'local' -%}
{%- set is_dev = app.debug or is_env_dev -%}
{%- set is_admin = is_granted('ROLE_ADMIN') -%}
{%- set is_super_admin = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set is_previous_admin = is_granted('IS_IMPERSONATOR') -%}
{%- set is_remembered = is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
{%- set is_actived = is_remembered and app.user.enabled|default(false) -%}
{%- set is_test = is_dev and is_remembered and app.user.userIdentifier == 'Bibi' -%}
{%- set title_parameters = title_parameters|default({}) -%}
{%- set title_domain = title_domain|default(null) -%}
{%- set page_title = app_name ~ (title is defined ? ' - ' ~ title|trans(title_parameters, title_domain) : '') -%}
{%- set sidebar_hide = is_remembered and is_actived ? app.request.cookies.get('SIDEBAR_HIDE', true) : true -%}
{%- set sidebar_class = sidebar_hide ? ' sidebar-hide' : '' -%}
{%- set status_bar = status_bar is defined ? status_bar : user_service.statusBar and is_remembered and is_actived -%}
{%- set theme_class = theme_dark(app.request) ? 'dark' : 'light' -%}
{# rights #}
{%- set is_granted_calculation = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION) -%}
{%- set is_granted_product = is_granted(ATTRIBUTE_LIST, ENTITY_PRODUCT) -%}
{%- set is_granted_task = is_granted(ATTRIBUTE_LIST, ENTITY_TASK) -%}
{%- set is_granted_category = is_granted(ATTRIBUTE_LIST, ENTITY_CATEGORY) -%}
{%- set is_granted_group = is_granted(ATTRIBUTE_LIST, ENTITY_GROUP) -%}
{%- set is_granted_calculation_state = is_granted(ATTRIBUTE_LIST, ENTITY_CALCULATION_STATE) -%}
{%- set is_granted_global_margin = is_granted(ATTRIBUTE_LIST, ENTITY_GLOBAL_MARGIN) -%}
{%- set is_granted_customer = is_granted(ATTRIBUTE_LIST, ENTITY_CUSTOMER) and is_test -%}
{%- set is_granted_data = is_granted_calculation or is_granted_product or is_granted_task or is_granted_category or is_granted_group or is_granted_calculation_state or is_granted_global_margin -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
{# head #}
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="application-name" content="{{ app_name }}">
<meta name="description" content="{{ app_description }}">
<meta name="theme-color" content="#212529">
<meta name="msapplication-TileColor" content="#212529">
<meta name="msapplication-TileImage" content="{{ asset_icon(144) }}">
<meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:image" content="{{ asset_icon(144) }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:description" content="{{ app_description }}">
<meta property="og:type" content="website" />
<title>{{ page_title }}</title>
<link rel="manifest" type="application/manifest+json" href="{{ asset_versioned('site.webmanifest') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset_icon(16) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset_icon(32) }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ asset_icon(96) }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ asset_icon(192) }}">
<link rel="icon" type="image/png" sizes="256x256" href="{{ asset_icon(256) }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ asset_icon(57) }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset_icon(60) }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset_icon(72) }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset_icon(76) }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset_icon(114) }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset_icon(120) }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset_icon(144) }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset_icon(152) }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset_icon(180) }}">
{# stylesheets #}
{{ asset_css('js/vendor/bootstrap/css/bootstrap-' ~ theme_class ~ '.css', {'id': 'theme'}) }}
{% block stylesheets %}
{{- asset_css('css/style.css') }}
{% endblock %}
</head>
<body class="{{ theme_class }}{% if status_bar %} status-bar{% endif %}">
    {# vertical navigation #}
    {%- block navigation_vertical -%}
        {{- include('navigation_vertical/navigation.html.twig') }}
    {%- endblock %}
    {# main content #}
    <div class="page-content{{ sidebar_class }}">
        {# horizontal navigation #}
        {%- block navigation_horizontal -%}
            {{ include('navigation_horizontal/navigation.html.twig') }}
        {%- endblock %}
        {# container #}
        <div role="main" class="{% block container_class 'container' %}">
            {% block body -%}{%- endblock %}
        </div>
        {# messages #}
        {% block flashbag -%}{{ include('flashbag.html.twig') }}{%- endblock %}
        {# footer #}
        {% block footer -%}{% if status_bar %}{{ include('footer.html.twig') }}{% endif %}{%- endblock %}
        {# cookie_banner #}
        {% block cookie_banner -%}{{ include('cookie_banner.html.twig') }}{%- endblock %}
        {# back to top #}
        {% block back_to_top -%}{{ include('back_to_top.html.twig') }}{%- endblock %}
    </div>
{# java scripts #}
{% block javascripts %}
{% if app.debug %}
    {{- asset_js('js/vendor/jquery/jquery.js') }}
    {{- asset_js('js/vendor/bootstrap/js/bootstrap.bundle.js') }}
    {{- asset_js('js/extensions/array-extensions.js') }}
    {{- asset_js('js/extensions/jquery-extensions.js') }}
    {{- asset_js('js/extensions/params-extensions.js') }}
    {{- asset_js('js/extensions/string-extensions.js') }}
    {{- asset_js('js/plugins/plugin-sidebar.js') }}
    {{- asset_js('js/plugins/plugin-toast.js') }}
    {{- asset_js('js/application/core_common.js') }}
{% else %}
    {{- asset_js('js/core_common.js') }}
{% endif %}
{% endblock %}
<noscript>{{ 'common.no_script_support'|trans }}</noscript>
</body>
</html>
