{# parameters #}
{%- set title_parameters = title_parameters|default({}) -%}
{%- set page_title = app_name ~ (title is defined ? ' - ' ~ title|trans(title_parameters) : '') -%}
{%- set sidebar_show = app.user and app.user.enabled and app.request.cookies.boolean('MENU_SIDEBAR_SHOW') -%}
{%- set statusbar_show = statusbar_show is defined ? statusbar_show : app.user and app.user.enabled and user_params.homePage.statusBar -%}
{%- set body_class = [sidebar_show ? 'sidebar-show' : '', statusbar_show ? 'status-bar' : '']|join(' ')|trim -%}
{%- set is_js_debug = app.debug -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({_: '-'}) }}" data-bs-theme="{{ theme_value(app.request) }}">
{# head #}
<head>
    {# links #}
    {{ include('meta_links.html.twig') }}
    {{ include('icon_links.html.twig') }}
    <title>{{ page_title }}</title>
    <link rel="manifest" type="application/manifest+json" href="{{ asset('site.webmanifest') }}">
    {# stylesheets #}
    {{ preload_css('build/bootstrap/bootstrap.css') }}
    {{ preload_css('build/font-awesome/css/all.css') }}
    {{ asset_css('build/bootstrap/bootstrap.css') }}
    {{ asset_css('build/font-awesome/css/all.css') }}
    {% block stylesheets %}
        {{ asset_css('css/style.css') }}
    {% endblock %}
</head>
<body class="{{ body_class }}"
      data-cookie-path="{{ cookie_path }}"
      data-vertical-url="{{ path('navigation_vertical') }}"
      data-horizontal-url="{{ path('navigation_horizontal') }}"
      data-show-menu="{{ 'index.menu_show'|trans }}"
      data-hide-menu="{{ 'index.menu_hide'|trans }}">
{# vertical navigation #}
{% block navigation_vertical %}
    {% if sidebar_show %}
        {{ include('navigation/vertical/navigation.html.twig') }}
    {% endif %}
{% endblock %}
{# horizontal navigation #}
{% block navigation_horizontal %}
    {% if not sidebar_show %}
        {{ include('navigation/horizontal/navigation.html.twig') }}
    {% endif %}
{% endblock %}
{# main content #}
<div class="page-content">
    {# container #}
    <div role="main" class="{% block container_class 'container' %}">
        {% block body -%}{%- endblock %}
    </div>
    {# messages #}
    {% block flashbag -%}{{ include('flash_bag.html.twig') }}{%- endblock %}
    {# back to top #}
    {% block back_to_top -%}{{ include('back_to_top.html.twig') }}{%- endblock %}
</div>
{# footer #}
{% block footer -%}{% if statusbar_show %}{{ include('footer.html.twig') }}{% endif %}{%- endblock %}
{# cookie_banner #}
{% block cookie_banner -%}{{ include('cookie_banner.html.twig') }}{%- endblock %}
{# java scripts #}
<noscript>{{ 'common.no_script_support'|trans }}</noscript>
{% block javascripts %}
    {% if is_js_debug %}
        {{ asset_js('build/jquery/jquery.js') }}
        {{ asset_js('build/bootstrap/bootstrap.bundle.js') }}
        {{ asset_js('js/extensions/array-extensions.js') }}
        {{ asset_js('js/extensions/jquery-extensions.js') }}
        {{ asset_js('js/extensions/string-extensions.js') }}
        {{ asset_js('js/plugins/plugin-cookie.js') }}
        {{ asset_js('js/plugins/plugin-sidebar.js') }}
        {{ asset_js('js/plugins/plugin-toast.js') }}
        {{ asset_js('js/plugins/plugin-theme.js') }}
        {{ asset_js('js/application/core_common.js') }}
    {% else %}
        {{ asset_js('js/compiled/core_common.js') }}
    {% endif %}
{% endblock %}
</body>
</html>
