<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
{# parameters #}
{%- set title_parameters = title_parameters|default({}) -%}
{%- set title_domain = title_domain|default(null) -%}
{%- set page_title = app_name ~ (title is defined ? ' - ' ~ title|trans(title_parameters, title_domain) : '') -%}
{% set active = app.request.cookies.get('MENU_ACTIVE', true) ? ' active' : '' -%}
{# head #}
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ app_description }}">
<meta name="theme-color" content="#212529">
<meta name="msapplication-TileColor" content="#212529">
<meta name="msapplication-TileImage" content="{{ asset('images/icons/favicon-144x144.png') }}">
<meta name="msapplication-config" content="{{ asset('browserconfig.xml', 'local') }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:image" content="{{ asset('images/icons/favicon-144x144.png') }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:description" content="{{ app_description }}">
<meta property="og:type" content="website" />
<title>{{ page_title }}</title>
<link rel="manifest" type="application/manifest+json" href="{{ asset_versioned('site.webmanifest', 'local') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/icons/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/icons/favicon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="256x256" href="{{ asset('images/icons/favicon-256x256.png') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/icons/favicon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/icons/favicon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/icons/favicon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/icons/favicon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/icons/favicon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/favicon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/icons/favicon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/icons/favicon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/favicon-180x180.png') }}">
{# stylesheets #}
{{ asset_css(theme_css(app.request), {'title': theme_name(app.request)}) }}
{% block stylesheets %}
    {{- asset_css('css/style.css') }}
{% endblock %}
</head>
<body>
{# vertical navigation #}
{%- block navigation_vertical -%}
    {{- include('navigation_vertical/navigation.html.twig') }}
{%- endblock %}
{# main content #}
<div class="page-content{{ active }}">
    {# horizontal navigation #}
    {%- block navigation_horizontal -%}
        {%- include 'navigation_horizontal/navigation.html.twig' %}
    {%- endblock %}
    {# container #}
    <div role="main" class="{% block container_class 'container' %}">
        {% block body -%}{%- endblock %}
    </div>
</div>
{# messages #}
{% block flashbag -%}{% include 'flashbag.html.twig' %}{%- endblock %}
{# back to top #}
{% block back_to_top -%}{% include 'back_to_top.html.twig' %}{%- endblock %}
{# footer #}
{% block footer -%}{% include 'footer.html.twig' %}{%- endblock %}
{# java scripts #}
{% block javascripts %}
{% if app.debug %}
{{ asset_js('js/vendor/jquery/jquery.js') }}
{{ asset_js('js/vendor/twitter-bootstrap/js/bootstrap.bundle.js') }}
{{ asset_js('js/extensions/array-extensions.js') }}
{{ asset_js('js/extensions/jquery-extensions.js') }}
{{ asset_js('js/extensions/params-extensions.js') }}
{{ asset_js('js/extensions/string-extensions.js') }}
{{ asset_js('js/plugins/plugin-sidebar.js') }}
{{ asset_js('js/plugins/plugin-toast.js') }}
{{ asset_js('js/application/core_common.js') }}
{% else %}
{{ asset_js('js/core_common.js') }}
{% endif %}
{% endblock %}
<noscript>{{ 'common.no_script_support'|trans }}</noscript>
</body>
</html>
