{% from 'macros/_attributes.html.twig' import attributes %}
{# add a single flash message #}
{% macro addFlashbag(key, message) -%}
    <p class="flash" data-type="{{ key }}" data-title="{{ ('flash_bag.' ~ key)|trans }}">{{ message }}</p>
{%- endmacro addFlashbag %}
{# add all flash messages #}
{%- set flash_attributes = user_params.message.attributes|merge({
    dataset: '#flashes',
    target: '.page-content',
    subtitle: app_name_full,
    'close-title': 'common.button_close'|trans}) -%}
<div id="flashes" class="d-none"{{ attributes(flash_attributes, 'data-') }}>
    {% for key, messages in app.flashes %}
        {% for message in messages %}{{- _self.addFlashbag(key, message) -}}{% endfor %}
    {% endfor %}
</div>
