{# add a flashbag message #}
{% macro addFlashbag(key, message) -%}
{%- set values = message|split('|') -%}
{%- set title = (values|length == 2) ? values[0] : ('flashbag.' ~ key)|trans -%}
{%- set content = (values|length == 2) ? values[1] : message -%}
<p class="flashbag d-none" data-type="{{ key }}" data-title="{{ title }}">{{ content }}</p>
{%- endmacro %}

{# add all flashbag messages #}
{% apply spaceless %}
<div id=flashbags class="d-none"
     data-margin-top="85px"
     data-margin-bottom="45px"
     data-timeout="{{ app.messageTimeout }}"
     data-position="{{ app.messagePosition() }}"
     data-icon="{{ app.messageIcon|json_encode() }}"
     data-title="{{ app.messageTitle|json_encode() }}"
     data-subtitle="{{ app_name_version }}"
     data-display-subtitle="{{ app.messageSubTitle|json_encode() }}"
     data-close-title="{{ 'common.button_close'|trans }}"
     data-display-close="{{ app.messageClose|json_encode() }}"
     data-display-progress="{{ app.messageProgress|json_encode() }}">
    {%- for key, messages in app.flashes -%}
        {% for message in messages %}{{- _self.addFlashbag(key, message) -}}{% endfor %}
    {%- endfor -%}
</div>
{% endapply %}
