{# add a flashbag message #}
{% macro addFlashbag(key, message) -%}
{%- set values = message|split('|') -%}
{%- set title = (values|length == 2) ? values[0] : ('flashbag.' ~ key)|trans -%}
{%- set content = (values|length == 2) ? values[1] : message -%}
<p class="flashbag d-none" data-type="{{ key }}" data-title="{{ title }}">{{ content }}</p>
{%- endmacro %}

{# add flashbag messages #}
{% apply spaceless %}
{% set left = sidebar_hide ? '20px' : '292px' %}
{% set bottom = user_service.statusBar ? '45px' : '15px' %}
<div id=flashbags class="d-none"
     data-target=".page-content"
     data-margin-top="85px"
     data-margin-left="{{ left }}"
     data-margin-bottom="{{ bottom }}"
     data-timeout="{{ user_service.messageTimeout }}"
     data-position="{{ user_service.messagePosition.value }}"
     data-progress="{{ user_service.messageProgress }}"
     data-icon="{{ user_service.messageIcon|json_encode() }}"
     data-title="{{ user_service.messageTitle|json_encode() }}"
     data-subtitle="{{ app_name_version }}"
     data-display-subtitle="{{ user_service.messageSubTitle|json_encode() }}"
     data-close-title="{{ 'common.button_close'|trans }}"
     data-display-close="{{ user_service.messageClose|json_encode() }}">
    {% for key, messages in app.flashes %}
        {% for message in messages %}{{- _self.addFlashbag(key, message) -}}{% endfor %}
    {% endfor %}
    {# add logout flashbag message if applicable #}
    {% if app.request.get('logout', '') == 'success' %}
        {{ _self.addFlashbag('success', 'security.logout.success'|trans({'%appname%': app_name_version})) }}
    {% endif %}
</div>
{% endapply %}
