{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
<footer class="d-print-none">
    <ul class="footer">
        <li>{%- if app.debug or is_env_dev -%}{{- asprega_breadcrumb() -}}{%- endif -%}</li>
        <li><a href="{{ path('about') }}">{{ app_name_version }}</a></li>
        <li>{{ ('environment.' ~ app_environment)|trans }}</li>
        <li>{{ icons.copyright_link() }}</li>
    </ul>
</footer>
