{% import 'macros/_icons.html.twig' as icons %}
<footer class="navbar navbar-color mb-0 py-1 px-2 justify-content-md-end fixed-bottom d-print-none {{ theme_background(app.request) }}" style="font-size: .8rem;">
    <div class="navbar-nav flex-row">
        <a class="nav-link py-0 pr-2 text-truncate" href="{{ path('about') }}" title="{{ 'footer.about_title'|trans }}">
            {{- app_name_version -}}
        </a>
        <span class="navbar-text py-0 px-2 border-left border-secondary" title="{{ 'footer.environment_title'|trans }}">
            {{- ('environment.' ~ app_mode)|trans -}}
        </span>
        {{- icons.copyright_link('nav-link py-0 pl-2 border-left border-secondary text-truncate') -}}
    </div>
</footer>
