{# Navigation toolbar #}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set is_env_dev        = app_environment == 'dev' -%}
{%- set is_env_prod       = app_environment == 'prod' -%}
{%- set is_env_local      = app_environment == 'local' -%}
{%- set is_dev            = app.debug or is_env_dev -%}
{%- set is_admin          = is_granted('ROLE_ADMIN') -%}
{%- set is_super_admin    = is_granted('ROLE_SUPER_ADMIN') -%}
{%- set is_previous_admin = is_granted('IS_IMPERSONATOR') -%}
{%- set is_remembered     = is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
{%- set is_bibi           = is_dev and is_remembered and app.user.username == 'Bibi' -%}
{%- set is_tabular        = display_tabular() -%}

{# rights #}
{%- set is_granted_calculation       = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_CALCULATION) -%}
{%- set is_granted_product           = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_PRODUCT) -%}
{%- set is_granted_category          = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_CATEGORY) -%}
{%- set is_granted_calculation_state = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_CALCULATION_STATE) -%}
{%- set is_granted_global_margin     = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_GLOBAL_MARGIN) -%}
{%- set is_granted_customer          = is_granted(EntityVoterInterface.ATTRIBUTE_LIST, EntityVoterInterface.ENTITY_CUSTOMER) and is_dev -%}

{# navigation #}
<nav id="navigation" class="navbar navbar-expand-md {{ theme_background(app.request) }}">
    <a class="navbar-brand" href="{{ path('homepage') }}" title="{{ 'index.title'|trans }}">
         {{- icons.icon('home') -}}
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="{{ 'index.toggle_navigation'|trans }}">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            {%- if is_granted_calculation -%}
                {%- set href = is_tabular ? path('calculation_table') : path('calculation_list')  -%}
                {{- icons.navItem(href, 'calculation.list.title', 'calculator') -}}
                {%- endif -%}
            {%- if is_granted_product or is_granted_category or is_granted_calculation_state or is_granted_global_margin or is_granted_customer -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dataDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{- icons.icon('database', 'index.menu_data') -}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dataDropdown">
                {%- if is_granted_product -%}
                    {%- set href = is_tabular ? path('product_table') : path('product_list')  -%}
                    {{- icons.dropdownItem(href, 'product.list.title', 'file-alt far') -}}
                {%- endif -%}
                {%- if is_granted_category -%}
                    {%- set href = is_tabular ? path('category_table') : path('category_list')  -%}
                    {{- icons.dropdownItem(href, 'category.list.title', 'folder far') -}}
                {%- endif -%}
                {%- if is_granted_calculation_state -%}
                    {%- set href = is_tabular ? path('calculationstate_table') : path('calculationstate_list')  -%}
                    {{- icons.dropdownItem(href, 'calculationstate.list.title', 'flag far') -}}
	            {%- endif -%}
                {%- if is_granted_global_margin -%}
                    {%- set href = is_tabular ? path('globalmargin_table') : path('globalmargin_list')  -%}
                    {{- icons.dropdownItem(href, 'globalmargin.list.title', 'percent') -}}
                {%- endif -%}
                {%- if is_granted_customer %}
                    {%- set href = is_tabular ? path('customer_table') : path('customer_list')  -%}
                    {{- icons.dropdownSeparator -}}
                    {{- icons.dropdownItem(href, 'customer.list.title', 'address-card far') -}}
                {%- endif -%}
                </div>
           	</li>
            {%- endif -%}

            <li class="nav-item dropdown">
       			<a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{- icons.icon('tools', 'index.menu_tools') -}}
                </a>
                <div class="dropdown-menu" aria-labelledby="toolsDropdown">
                    {{- icons.dropdownItem(path('search'), 'search.title', 'search') -}}
                    {% if is_admin %}
                    {{- icons.dropdownSeparator -}}
                	{{- icons.dropdownItem(path('calculation_update'), 'calculation.update.title', 'pencil-alt') -}}
                    {{- icons.dropdownSeparator -}}
                    {%- set href = is_tabular ? path('calculation_below_table') : path('calculation_below')  -%}
                    {{- icons.dropdownItem(href, 'calculation.below.title', 'percent') -}}
                    {%- set href = is_tabular ? path('calculation_duplicate_table') : path('calculation_duplicate')  -%}
                    {{- icons.dropdownItem(href, 'calculation.duplicate.title', 'copy far') -}}
                    {%- set href = is_tabular ? path('calculation_empty_table') : path('calculation_empty')  -%}
                    {{- icons.dropdownItem(href, 'calculation.empty.title', 'file-code far') -}}
                    {% endif -%}
                </div>
    		</li>

            {%- if is_granted_calculation -%}
            <li class="nav-item dropdown">
           	    <a class="nav-link dropdown-toggle" href="#" id="chartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           	        {{- icons.icon('chart-area', 'menu_graphics', 'chart') -}}
                </a>
                <div class="dropdown-menu" aria-labelledby="chartDropdown">
                    {{- icons.dropdownItem(path('chart_by_month'), 'title_by_month', 'calendar-alt far', 'chart') -}}
                    {{- icons.dropdownItem(path('chart_by_state'), 'title_by_state', 'flag far', 'chart') -}}
                    {% if is_bibi -%}
                    {{- icons.dropdownSeparator -}}
                    {{- icons.dropdownItem(path('calculation_pivot'), 'pivot.title', 'table') -}}
                    {% endif -%}
                </div>
            </li>
            {% endif -%}
            {% if is_bibi -%}
            <li class="nav-item dropdown">
            	<a class="nav-link dropdown-toggle" href="#" id="testDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{- icons.icon('bug', 'index.menu_test') -}}
                </a>
                <div class="dropdown-menu" aria-labelledby="testDropdown">
                    {{- icons.dropdownItem(path('test_notifications'), 'test.notification', 'bell far') -}}
                    {{- icons.dropdownItem(path('test_tinymce'), 'test.tinymce', 'edit') -}}
                    {{- icons.dropdownItem(path('calendar_year'), 'calendar.year_title', 'calendar-alt far', null, {'%year%': 'now'|date('Y')}) -}}
                    {{- icons.dropdownItem(path('test_recaptcha'), 'test.recaptcha', 'google fab') -}}
                    {{- icons.dropdownItem(path('test_translate'), 'translator.title', 'globe') -}}
                    {{- icons.dropdownItemExternal(path('test_html'), 'test.html', 'code') -}}
                    {{- icons.dropdownItem(path('test_password'), 'password.title', 'lock') -}}
                    {{- icons.dropdownSeparator -}}
                    {{- icons.dropdownItem(path('openweather_weather'), 'openweather.current.title', 'cloud-sun') -}}
                    {{- icons.dropdownSeparator -}}
                    {{- icons.dropdownItem(path('admin_import'), 'import.title', 'download') -}}
                </div>
            </li>
    		{% endif -%}
        </ul>
        <ul class="navbar-nav">
            {# search #}
            {% if show_navigation ?? false -%}
                <li class="nav-item mx-2 my-auto">
                    <a href="#" id="navigation-search-button" class="nav-link" title="{{ 'search.title'|trans }}">
                        {{- icons.icon('search fa-fw') -}}
                    </a>
                    <form id="navigation-search-form" name="navigation-search-form" class="form-inline my-auto mx-2" role="search" action="{{ path('search') }}" style="display: none; width: 0">
                        <input id="query" name="query" type="text" required="required" minlength="2" autocomplete="off" class="form-control form-control-sm w-100" placeholder="{{ 'search.placeholder'|trans }}">
                    </form>
                </li>
            {% endif -%}
            {% if is_remembered %}
                <li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		    {%- set image = vich_uploader_asset(app.user, 'imageFile')|replace({'192': '032'}) -%}
                        {% if asset_exists(image) %}
                            <img alt="{{ 'user.image.title'|trans }}" src="{{ asset(image) }}?{{ 'now'|date('c') }}" class="avatar rounded-circle" title="{{ app.user.username }}" width="{{ image_width(image) }}" height="{{ image_height(image) }}">
                        {% else %}
                            {{- icons.icon('user fa-lg far') -}}{{- ' ' ~ app.user.username -}}
                        {% endif %}
    				</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    {{- icons.dropdownItem(path('app_logout'), 'index.logout', 'sign-out-alt') -}}
                    {{- icons.dropdownItem(path('user_profile_edit'), 'profile.edit.title', 'pencil-alt') -}}
                    {{- icons.dropdownItem(path('user_profile_change_password'), 'profile.change_password.title', 'unlock-alt') -}}
                    {{- icons.dropdownItem(path('user_theme'), 'index.menu_theme', 'file-image far', null, {'%name%': theme_name(app.request)}) -}}
                    {% if is_admin %}
                        {{- icons.dropdownSeparator -}}
    	                {{- icons.dropdownItem(path('admin_parameters'), 'parameters.title', 'cogs') -}}
                        {%- set href = is_tabular ? path('log_table') : path('log_list') -%}
                        {{- icons.dropdownItem(href, 'log.title', 'book') -}}
                        {{- icons.dropdownItem(path('admin_clear'), 'clear_cache.title', 'times') -}}
                        {{- icons.dropdownSeparator -}}
                        {%- set href = is_tabular ? path('user_table') : path('user_list')  -%}
                        {{- icons.dropdownItem(href, 'user.list.title', 'user far') -}}
                        {{- icons.dropdownItem(path('admin_rights_user'), 'index.menu_rights_user', 'unlock-alt') -}}
                    {% endif %}
                    {% if is_super_admin %}
                        {{- icons.dropdownItem(path('admin_rights_admin'), 'index.menu_rights_admin', 'unlock-alt') -}}
                    {% endif %}
                    {% if is_previous_admin %}
                        {{- icons.dropdownSeparator -}}
                        {%- set route = is_tabular ? 'user_table' : 'user_list'  -%}
                        {{- icons.dropdownItem(path(route, {'_switch_user': '_exit'}), 'user.switch.exit.title', 'user-times') -}}
                    {% endif %}
                    {# switch environment #}
                    {% if is_env_dev %}
                        {{- icons.dropdownSeparator -}}
                        {{- icons.dropdownItem(link_prod, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.prod'|trans}) -}}
                    {% elseif is_env_prod or is_env_local %}
                        {{- icons.dropdownSeparator -}}
                        {{- icons.dropdownItem(link_dev, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.dev'|trans}) -}}
                    {% endif %}
                    {{- icons.dropdownSeparator -}}
                    {{- icons.dropdownItem(path('site_map'), 'index.menu_site_map', 'sitemap') -}}
                    {{- icons.dropdownItem(path('user_comment'), 'user.comment.title', 'envelope far') -}}
                    {{- icons.dropdownItem(path('about'), 'index.menu_info', 'info-circle', null, {'%app_name%': app_name}) -}}
                    </div>
                </li>
            {% else %}
	            {{- icons.navItem(path('app_login'), 'index.login', 'sign-in') -}}
            {% endif -%}
        </ul>
    </div>
</nav>
