{% import "macros/_icons.html.twig" as icons %}

{# compute pages #}
{% set delta = 2 %}
{% set start_page = page - delta %}
{% set end_page = page + delta %}
{% if start_page < 1 %}
    {% set start_page = 1 %}
    {% set end_page = min(start_page + 2 * delta, pages) %}
{% elseif end_page > pages %}
    {% set end_page = pages %}
    {% set start_page = max(end_page - 2 * delta, 1) %}
{% endif %}

{# check if first/last pages are displayed #}
{% if pages <= 9 %}
     {% set start_page = 1 %}
     {% set end_page = pages %}
{% endif %}

{% if pages > 1 %}
<ul class="pagination">
    {% if pages > 9 %}
        {#  first page #}
        <li class="page-item {% if page == 1 %} disabled{% endif %}">
            <a class="page-link" href="#" data-page="1" title="{{ 'pagination.page_first'|trans }}">
                <span aria-hidden='true'>{{ icons.icon("step-backward") }}</span>
            </a>
        </li>

        {#  previous page #}
        <li class="page-item {% if page == 1 %} disabled{% endif %}">
            <a class="page-link" href="#" data-page="{{ page - 1 }}" title="{{ 'pagination.page_previous'|trans({'%page%': page - 1}) }}">
                <span aria-hidden='true'>{{ icons.icon("caret-left") }}</span>
            </a>
        </li>
    {% endif %}

    {#  pages #}
    {% for p in range(start_page, end_page) %}
        <li class="page-item {% if p == page %} active{% endif %}">
            <a class="page-link" href="#" data-page="{{ p }}" title="{{ 'pagination.page'|trans({'%page%': p}) }}">{{ p }}</a>
        </li>
    {% endfor %}

    {% if pages > 9 %}
        {#  next page #}
        <li class="page-item {% if page == pages %} disabled{% endif %}">
            <a class="page-link" href="#" data-page="{{ page + 1 }}" title="{{ 'pagination.page_next'|trans({'%page%': page + 1}) }}">
                <span aria-hidden='true'>{{ icons.icon("caret-right") }}</span>
            </a>
        </li>

        {#  last page #}
        <li class="page-item {% if page == pages %} disabled{% endif %}">
            <a class="page-link" href="#" data-page="{{ pages }}" title="{{ 'pagination.page_last'|trans({'%page%': pages}) }}">
                <span aria-hidden='true'>{{ icons.icon("step-forward") }}</span>
            </a>
        </li>
    {% endif %}
</ul>
{% endif %}
