{% extends 'base.html.twig' %}
{% from 'macros/_icons.html.twig' import icon, link, linkExternal %}
{# macros #}
{% macro entry(entry, actions, entity=null, role='ROLE_USER') %}
{% set role = entry.role is defined ? ('role_' ~ entry.role)|upper : role %}
{% set route = entry.route|default(false) %}
{% set entity = entry.entity|default(entity) %}
{% set permission = entry.permission|default(false) %}
{% set display = is_granted(role) %}
{% if permission and entity %}
    {% set display = display and is_granted(permission, entity) %}
{% endif %}
{% if display %}
    {% set action = actions[entry.action|default()]|default({}) %}
    {% set entry = entry|merge(action) %}
    <li{% if entry.class|default(false) %} class="{{ entry.class }}"{% endif %}>
        {{ _self.entry_content(entry, entity, role) }}
        {% if entry.entries|default({})|length %}
            <ul>
                {% for child in entry.entries %}
                    {{ _self.entry(child, actions, entity, role) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}
{%- endmacro %}

{% macro entry_content(entry) %}
{% set route = entry.route|default(false) %}
{% set icon = entry.icon is defined ? entry.icon ~ ' fa-fw' : false %}
{% if route == 'app_logout' %}
    <a href="{{ logout_path() }}">{{ icon(icon, entry.text) }}</a>
{% else %}
    {% if route %}
        {% if entry.external|default(false) %}
            {{ linkExternal(path(route), entry.text, null, icon) }}
        {% else %}
            {{ link(path(route, {'caller': path('site_map')}), entry.text, null, icon) }}
        {% endif %}
    {% elseif icon %}
        <span>{{ icon(icon, entry.text) }}</span>
    {% else %}
        <span>{{ entry.text|trans }}</span>
    {% endif %}
{% endif %}
{%- endmacro %}
{# parameters #}
{%- set title = 'index.menu_site_map' -%}
{%- set title_icon = 'sitemap' -%}
{%- set actions = content.actions|default({}) -%}
{%- set utility = content.utility|default({}) -%}
{%- set primary = content.primary|default({}) -%}
{# class #}
{% block container_class 'container-fluid' %}
{# body #}
{% block body -%}
<div class="sitemap">
{% if utility|length %}
    <nav class="utility-nav">
        <ul>
        {% for entry in utility %}
            {{ _self.entry(entry, actions) }}
        {% endfor %}
        </ul>
    </nav>
{% endif %}
{% if primary|length %}
    <nav class="primary-nav">
        <ul>
        {% for entry in primary %}
            {{ _self.entry(entry, actions) }}
        {% endfor %}
        </ul>
    </nav>
{% endif %}
</div>
{%- endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/sitemap.css') }}
{% endblock %}
