{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% from 'macros/_icons.html.twig' import link, homepage %}
{# parameters #}
{%- set title_icon = 'exclamation-circle' -%}
{% if not title is defined %}
    {% if status_code is defined and status_code != 0 %}
        {%- set title = 'error_page.title' -%}
        {%- set title_parameters = {'%status_code%': status_code} -%}
    {% else %}
        {%- set title = 'error_page.default_title' -%}
    {% endif %}
{% endif %}
{%- set title_description = 'error_page.description' -%}
{%- set is_exception = exception is defined and exception -%}
{# class #}
{% block card_class ' border-danger' %}
{% block card_header_class ' text-bg-danger' %}
{% block card_container_class is_exception ? '' : ' col-xl-8 offset-xl-2' %}
{# body #}
{% block card_body %}
<p id="error-message">
{% block error_message -%}
    {{- description|default('')|raw }} {{ suggestion|default('')|raw -}}
{%- endblock %}
</p>
<div class="d-flex-wrap-center d-print-none">
    {% if is_exception %}
        <a data-bs-toggle="collapse" href="#exception-detail" class="drop-down-icon-left" aria-expanded="false" aria-controls="exception-detail">
            {{ 'error_page.details'|trans }}
        </a>
    {% endif %}
    <p class="mb-0 ms-auto ">{{ 'error_page.link'|trans({'%mailto%': mailer_user_email, '%subject%': app_name_version|url_encode})|raw }}</p>
</div>
{% if is_exception %}
<div id="exception-detail" class="collapse mt-3">
    <table id="exception-table" class="table table-exception table-sm border-top  mb-0">
        <thead>
            <tr>
                <th class="property">{{ 'error_page.property'|trans }}</th>
                <th class="value">{{ 'error_page.value'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="property">{{ 'error_page.fields.message'|trans }}</td>
                <td class="value">{{ exception.message }}</td>
            </tr>
            {% if exception.code is defined and exception.code != 0 %}
                <tr>
                    <td class="property">{{ 'error_page.fields.code'|trans }}</td>
                    <td class="value">{{ exception.code }}</td>
                </tr>
            {% endif %}
            {% if exception.file|default('') is not empty %}
                <tr>
                    <td class="property">{{ 'error_page.fields.file'|trans }}</td>
                    <td class="value">{{ exception.file }}</td>
                </tr>
            {% endif %}
            {% if exception.line|default('') is not empty %}
                <tr>
                    <td class="property">{{ 'error_page.fields.line'|trans }}</td>
                    <td class="value">{{ exception.line }}</td>
                </tr>
            {% endif %}
            {% set traces = traces|default(exception.trace|default({})) %}
            {% for trace in traces %}
                {% set trace_file = trace.file|default(trace.class|default(false)) %}
                <tr>
                    {% if loop.index0 == 0 %}
                        <td class="property" rowspan="{{ traces|length }}">{{ 'error_page.fields.trace'|trans }}</td>
                    {% endif %}
                    <td class="value">
                        <samp>
                            <strong>{{ loop.index0 }}.</strong>
                            {% if trace_file %}
                                <span class="ms-1">{{ trace_file }}</span>
                            {% endif -%}
                            {% if trace.short_class|default(false) %}
                                <span class="ms-1">{{ trace.short_class }}</span>
                            {% endif -%}
                            {% if trace.type|default(false) %}
                                <span class="ms-1">{{ trace.type }}</span>
                            {% endif -%}
                            {% if trace.function|default(false) %}
                                <span class="ms-1 text-danger">{{ trace.function }}</span>
                            {% endif -%}
                            {% if trace.line|default(false) %}
                                <span class="ms-1 text-body-secondary">(line {{ trace.line }})</span>
                            {% endif -%}
                        </samp>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{# footer #}
{% block card_footer %}
{% if page_list is defined and page_list %}
    {%- set href = cancel_url(app.request, id|default(0), page_list) -%}
    {{ link(href, 'common.button_back_list', 'btn btn-form btn-primary', 'chevron-left') }}
{% else %}
    {{ homepage() }}
{% endif %}
    <button type="button" class="btn btn-copy btn-form btn-success"
            data-clipboard-action="copy"
            data-clipboard-target="#exception-detail"
            data-success="{{ 'common.copy_success'|trans }}"
            data-error="{{ 'common.copy_error'|trans }}">
        {{- 'common.button_copy'|trans -}}
    </button>
{% endblock %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('vendor/clipboard/clipboard.js') }}
    {{ asset_js('js/application/errror.js') }}
{% endblock %}
