{% extends 'cards/card_base.html.twig' %}

{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set is_exception = exception is defined -%}
{%- set title_icon  = 'exclamation-circle' -%}
{% if not title is defined %}
    {% if status_code is defined and status_code != 0 %}
        {%- set title = 'error_page.title' -%}
        {%- set title_parameters = {'%status_code%': status_code} -%}
    {% else %}
        {%- set title = 'error_page.default_title' -%}
    {% endif %}
{% endif %}

{% block card_container_class '' %}
{% block card_class ' border-danger' %}
{% block card_header_class ' text-white bg-danger' %}

{% block card_header %}
{{ parent() }}
<p class="mb-0 ml-4">{{ 'error_page.description'|trans }}</p>
{% endblock %}

{% block card_body %}
<p>
{% block error_message -%}
{{ description|default('')|raw }} {{ suggestion|default('')|raw }}
{%- endblock %}
</p>
<div class="row d-print-none">
    <div class="col-md-9">
        <p class="mb-0">{{ 'error_page.link'|trans({'%webmaster%': webmaster, '%application%': app_name_version})|raw }}</p>
    </div>
    <div class="col-md-3 text-right">
        {% if is_exception %}
            <a data-toggle="collapse" href="#exception-detail" class="collapsed" aria-expanded="false" aria-controls="exception-detail">{{ 'error_page.details'|trans }}</a>
        {% endif %}
    </div>
</div>
{% if is_exception %}
<div id="exception-detail" class="collapse mt-3" aria-expanded="false">
    <table id="exception-table" class="table table-bordered table-exception table-sm mb-0">
        <thead class="d-print-none">
            <tr class="bg-danger text-white" >
                <th class="border-danger font-weight-normal property">{{ 'error_page.proprety'|trans }}</th>
                <th class="border-danger font-weight-normal value">{{ 'error_page.value'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="property">{{ 'error_page.fields.message'|trans }}</td>
                <td class="value">{{ exception.message }}</td>
            </tr>
            {% if exception.code is defined and exception.code != 0 %}
                <tr>
                    <td class="property">{{ 'error_page.fields.code'|trans }}</td>
                    <td class="value">{{ exception.code }}</td>
                </tr>
            {% endif %}
            {% if exception.file|default('') is not empty %}
                <tr>
                    <td class="property">{{ 'error_page.fields.file'|trans }}</td>
                    <td class="value">{{ exception.file }}</td>
                </tr>
            {% endif %}
            {% if exception.line|default('') is not empty %}
                <tr>
                    <td class="property">{{ 'error_page.fields.line'|trans }}</td>
                    <td class="value">{{ exception.line }}</td>
                </tr>
            {% endif %}
            {% set traces = traces|default(exception.trace)|default({}) %}
            {% for trace in traces %}
            <tr>
                {% if loop.index0 == 0 %}
                    <td class="property" rowspan="{{ traces|length }}">{{ 'error_page.fields.trace'|trans }}</td>
                {% endif %}
                <td class="value">
                	<samp>
                    	<span><strong>#{{ loop.index0 }}.</strong></span>
                        {%- if trace.file|default(false) -%}
                            <span>{{ trace.file }}({{ trace.line|default(0) }})</span>
                        {%- endif -%}
                        {%- if trace.function|default(false) and trace.class|default(false) -%}
                            <span>: {{ trace.class|abbr_class|striptags ~ trace.type|default('->') ~ trace.function }}()</span>
	                    {%- endif -%}
                    </samp>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block card_footer %}
{% if page_list is defined %}
    {%- set id = id|default(0) -%}
    {%- set href  = cancel_url(app.request, id, page_list) -%}
    {{ icons.link(href, 'common.button_back_list', 'btn btn-form btn-primary', 'chevron-left') }}
{% else %}
    {{ icons.homepage() }}
{% endif %}
{% endblock %}
