{% extends 'cards/card_base.html.twig' %}
{# imports #}
{% import 'macros/_icons.html.twig' as icons %}
{% import 'macros/_attributes.html.twig' as tools %}

{% macro output_column(column) -%}
<th{{ tools.attribs(column.attributes, 'data-') }}>
    {{- column.title ? column.title|trans : '&nbsp;'|raw -}}
</th>
{%- endmacro %}

{# macros #}
{% macro output_dropdown(suffix, value, selection, text) -%}
<button type="button" data-value="{{ value }}" class="dropdown-item dropdown-{{ suffix }}{% if value == selection %} active{% endif %}">{{ text|default(value)|capitalize }}</button>
{%- endmacro %}

{% macro item_path(path, text, icon, class = '') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.link(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_path_external(path, text, icon, class = '') %}
{%- set class = ('dropdown-item dropdown-item-path rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_global(path, text, icon) %}
{{ icons.dropdownItem(path, text, icon) }}
{%- endmacro %}

{% macro item_external(path, text, icon, class = '') %}
{%- set class = ('dropdown-item rowlink-skip ' ~ class|default(''))|trim -%}
{{ icons.linkExternal(path, text, class, icon ~ ' fa-fw') }}
{%- endmacro %}

{% macro item_separator() %}
{{ icons.dropdownSeparator() }}
{%- endmacro %}

{% macro output_sort(column, sort, order) -%}
{%- set icon = column.numeric ? 'numeric' : 'alpha' -%}
{%- set active = (column.field == sort and 'asc' == order) ? ' active' : '' -%}
<button type="button" class="dropdown-item dropdown-menu-sort{{ active }}" data-sort="{{ column.field }}" data-order="asc">
    <i class="fas fa-fw fa-sort-{{ icon }}-up" aria-hidden="true"></i>{{ 'list.sort_ascending_title'|trans({'%name%' : column.title|trans}) }}
</button>
{%- set active = (column.field == sort and 'desc' == order) ? ' active' : '' -%}
<button type="button" class="dropdown-item dropdown-menu-sort{{ active }}" data-sort="{{ column.field }}" data-order="desc">
    <i class="fas fa-fw fa-sort-{{ icon }}-down" aria-hidden="true"></i>{{ 'list.sort_desscending_title'|trans({'%name%' : column.title|trans}) }}
</button>
{%- endmacro %}

{% macro property_row(field, value, class = '') -%}
{% set class = ('col-8 text-truncate user-select-none ' ~ class)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="col-4 user-select-none">{{ field|trans }}</div>
    <div class="{{ class }}">{{ value|raw }}</div>
</div>
{%- endmacro %}

{% macro property_value(value, class = '') -%}
{% set class = ('text-truncate user-select-none ' ~ class)|trim %}
<div class="{{ class }}">{{ value|raw }}</div>
{%- endmacro %}

{% macro property_both(leftValue, rightValue, leftClass = '', rightClass = '') -%}
{% set leftClass = ('col-6 user-select-none ' ~ leftClass)|trim %}
{% set rightClass = ('col-6 user-select-none ' ~ rightClass)|trim %}
<div class="row rowlink-skip no-gutters">
    <div class="{{ leftClass }}">{{ leftValue|raw }}</div>
    <div class="{{ rightClass }}">{{ rightValue|raw }}</div>
</div>
{%- endmacro %}

{% macro property_line() -%}
<div><hr class="my-1"></div>
{%- endmacro %}

{% macro button_view(text, icon, view, selection) %}
<button type="button" class="dropdown-item dropdown-menu-view{% if view == selection %} active{% endif %}" data-value="{{ view }}"><i class="fa-fw {{ icon }}" aria-hidden="true"></i> {{ text|trans }}</button>
{%- endmacro %}

{# granted actions #}
{%- set object_type  = object_type|default('none') -%}
{%- set allow_show   = is_granted(ATTRIBUTE_SHOW, object_type) -%}
{%- set allow_add    = is_granted(ATTRIBUTE_ADD, object_type) -%}
{%- set allow_edit   = is_granted(ATTRIBUTE_EDIT, object_type) -%}
{%- set allow_delete = is_granted(ATTRIBUTE_DELETE, object_type) -%}
{%- set allow_export = is_granted(ATTRIBUTE_EXPORT, object_type) -%}

{# default action #}
{%- set row_none     = app.actionNone -%}
{%- set row_show     = allow_show and app.actionShow -%}
{%- set row_edit     = allow_edit and app.actionEdit -%}
{%- set show_class   = 'btn-show' ~ (row_show ? ' btn-default' : '') -%}
{%- set edit_class   = 'btn-edit' ~ (row_edit ? ' btn-default' : '') -%}
{% if not row_edit and not row_none and allow_show %}
    {%- set row_show = true -%}
    {%- set show_class = 'btn-show btn-default' -%}
{% elseif not row_show and not row_none and allow_edit %}
    {%- set row_edit = true -%}
    {%- set edit_class = 'btn-edit btn-default' -%}
{% endif %}

{# parameters #}
{%- set allow_search    = attributes.search|default(true|json_encode) == true|json_encode -%}
{%- set allow_global    = allow_global ?? is_granted(ATTRIBUTE_EXPORT, object_type) -%}
{%- set row_selector    = 'table-primary' -%}
{%- set caller          = path(app.request.get('_route')) -%}
{%- set params          = params|default({})|merge({'caller': caller}) -%}
{%- set id              = params.id|default(0) -%}
{%- set customView      = attributes['custom-view']|default(false) -%}
{%- set attributes      = attributes|default({})|merge({
    'classes': 'table table-hover table-list table-sm',
    'row-selector': 'tbody .' ~ row_selector,
    'custom-selector': '.custom-item.' ~ row_selector,
    'row-class': row_selector,
    'toggle-selector': '#toggle',
    'undefined-text': '&nbsp;',
    'silent-sort': 'false',
    'side-pagination': "server",
    'show-extended-pagination': 'true',
    'pagination-pre-text': '<i class="fa fa-caret-left fa-lg"></i>',
    'pagination-next-text': '<i class="fa fa-caret-right fa-lg"></i>',
    'pagination-parts': '["pageInfo", "pageList"]',
	'pagination-loop': "false",
    'pagination': 'true',
    'loading-template': 'loadingTemplate',
    'error-message': 'error_page.description'|trans,
    'default-action': app.editAction,
    'defer-url': defer_url ?? false,
    'save-url': url('table_save'),
    'caller': caller   	   
}) -%}

{# classes #}
{% block card_container_class '' %}
{% block card_body_class ' px-3 pt-0 pb-2' %}

{# header #}
{% block card_header -%}
<div class="row">
    <div class="col-md-4">{{ parent() }}</div>
    <div class="col-md-8 d-print-none text-md-right">{% block header_actions -%}{%- endblock %}</div>
</div>
{%- endblock %}

{# body #}
{% block card_body -%}
{# toolbar #}
<div class="row my-2 d-print-none">
    <div class="col-auto col-search mr-auto">
        {% if allow_search %}
        <div class="form-inline">
            <div class="btn-group btn-group-sm btn-group-search" role="group">
                <div class="input-group input-group-sm input-group-search search">
                    {% block toolbar_actions -%}{%- endblock %}
                    <div class="input-group-append">
                        <button id="clear_search" name="clear_search" type="button" class="btn btn-outline-secondary" title="{{ 'datatable.clear'|trans }}">
                            <i class="fas fa-eraser" aria-hidden="true"></i>
                        </button>
                    </div>
                 </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-auto col-toolbar">
        <div class="btn-group btn-group-sm" role="group">
            <div class="btn-group btn-group-sm btn-group-sort{% if params.view == 'table' %} d-none{% endif %}" role="group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_sort" data-toggle="dropdown" title="{{ 'list.sort_title'|trans }}">
                    <i class="fas fa-sort-amount-down-alt" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="button_sort">
                {% for column in columns|filter(c => c.sortable and c.visible) -%}
                    {{ _self.output_sort(column, params.sort, params.order) }}
                    {% if not loop.last %}{{ _self.item_separator }}{% endif %}
                {%- endfor %}
                </div>        
            </div>
            {% if pageList is defined and pageList|length > 1 %}
            <div class="btn-group btn-group-sm" role="group">
                {# menu is created on the prebody event #}
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_page" data-value="{{ limit|default(20) }}" data-toggle="dropdown" title="{{ 'list.limit_title'|trans }}">
                    {{- limit|default(20) -}}
                </button>
                <div class="dropdown-menu dropdown-menu-page" aria-labelledby="button_page"></div>
            </div>
            {% endif %}
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="button_view" data-toggle="dropdown" title="{{ 'common.view_title'|trans }}">
                {%- if params.view == 'card' -%}
                    <i class="fa-fw fas fa-grip-horizontal" aria-hidden="true"></i>
                {%- elseif params.view == 'custom' -%}
                    <i class="fa-fw fas fa-border-none" aria-hidden="true"></i>
                {%- else -%}
                    <i class="fa-fw fas fa-table" aria-hidden="true"></i>
                {%- endif -%}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="button_view">
                    {{ _self.button_view('common.view_table', 'fas fa-table', 'table', params.view) }}
                    {{ _self.button_view('common.view_card', 'fas fa-grip-horizontal', 'card', params.view) }}
                    {% if customView %}
                    {{ _self.button_view('common.view_custom', 'fas fa-border-none', 'custom', params.view) }}
                    {% endif %}
                </div>
            </div>
            {% if allow_global %}
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="button_other_actions" data-toggle="dropdown" title="{{ 'common.other_actions'|trans }}">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="button_other_actions">
                {% block global_actions -%}{%- endblock %}
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
{# table #}
<table id="table-edit"{{ tools.attribs(attributes, 'data-') }}>
    <thead>
        <tr>
            {% for column in columns %}
            {{ _self.output_column(column) }}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr{% if row.id == id %} class="{{ row_selector }}"{%- set row_selector = '' -%}{% endif %}>
            {% for column in columns %}
            <td>{{ row[column.alias]|raw }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{# dropdown actions #}
<div id="dropdown-actions" class="dropdown d-print-none d-none">
    {{ icons.dropdownEllipsis() }}
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-actions">
        {% if allow_edit %}{% block edit_actions -%}{%- endblock %}{% endif %}
        {% if allow_show %}{% block show_actions -%}{%- endblock %}{% endif %}
    	{% if allow_delete %}{% block delete_actions -%}{%- endblock %}{% endif %}
        {% if allow_add %}{% block add_actions -%}{%- endblock %}{% endif %}
        {% block other_actions -%}{%- endblock %}
    </div>
</div>
{# custom view template #}
{% if customView %}
<div id="custom-view" class="d-none">
    <div class="col mb-2 px-1">
        <div class="custom-item border rounded h-100 px-2 py-1{% block custom_view_card_class %}{%- endblock %}">
            <div class="row rowlink-skip no-gutters">
                <div class="col-11 text-truncate font-weight-bold{% if row_edit or row_show %} rowlink-skip{% endif %}">{% block custom_view_header -%}{%- endblock %}</div>
                <div class="col-1 text-right rowlink-skip d-print-none custom-view-actions"></div>
            </div>
            {% block custom_view_body -%}{%- endblock %}
        </div>
    </div>  
</div>
{% endif %}
{%- endblock -%}

{% block stylesheets %}
{{ asset_css('css/bootstrap-table.css') }}
{%- endblock -%}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/jquery-mark/jquery.mark.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-defer-url.js') }}
{{ asset_js('js/vendor/bootstrap-table/bootstrap-table-custom-view.js') }}
{{ asset_js('js/vendor/contextmenu/jquery.contextMenu.js') }}
{{ asset_js('js/extensions/bootstrap-table-extensions.js') }}
{{ asset_js('js/extensions/bootstrap-table-fr-CH.js') }}
{{ asset_js('js/extensions/contextmenu-extensions.js') }}
{{ asset_js('js/application/bootstrap_table.js') }}
{% else %}
{{ asset_js('js/bootstrap_tables.js') }}
{% endif %}
{%- endblock -%}
