{% extends 'table/table_calculation.html.twig' %}

{# parameters #}
{%- set title        = 'below.title' -%}
{%- set title_icon   = 'percent' -%}
{%- set defer_url    = url('table_below') -%}
{%- set save_url     = url('table_below_save') -%}

{% block card_header -%}
<div class="row">
    <div class="col-md-3">
        {{ parent() }}        
    </div>
    <div class="col-md-9 text-md-right">
        <small>{{ 'below.description'|trans({'%margin%': min_margin|percent}) }}</small>
    </div>
</div>
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('below_pdf'), 'calculation.list.pdf_title', 'file-pdf far') }}
{{- _self.item_external(path('below_excel'), 'calculation.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('calculation_edit', params), 'calculation.edit.title_short', 'pencil-alt', edit_class) }}
{%- endblock %}

{% block add_actions -%}
{%- endblock %}
