{% extends 'table/table_base.html.twig' %}

{# parameters #}
{%- set title        = 'product.list.title' -%}
{%- set title_icon   = 'file-alt far' -%}
{%- set defer_url    = url('table_product') -%}
{%- set save_url     = url('table_product_save') -%}
{%- set categoryId   = customData.category.id|default(0) -%}
{%- set object_type  = EntityVoterInterface.ENTITY_PRODUCT -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('product_add', params) }}">{{ 'product.add.title'|trans }}</a>{% endif %}
{%- endblock %}
  
{% block toolbar_actions -%}
<div class="input-group-append btn-dropdown">
    <button id="categoryId" data-value="{{ categoryId }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'product.fields.category'|trans }}" title="{{ 'product.list.category_help'|trans }}">
        {{- customData.category ? customData.category.code : 'product.fields.category'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="categoryId">
        {{ _self.output_dropdown('category', 0, categoryId, 'product.list.category_all_text'|trans) }}
        {% for category in customData.categories %}
        {{ _self.output_dropdown('category', category.id, categoryId, category.code) }}
        {% endfor %}
    </div>
</div>
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('product_pdf'), 'product.list.pdf_title', 'file-pdf far') }}
{{- _self.item_external(path('product_excel'), 'product.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('product_show', params), 'product.show.title', 'tv', show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('product_edit', params), 'product.edit.title', 'pencil-alt', edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('product_delete', params), 'product.delete.title', 'times', 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('product_add', params), 'product.add.title', 'file far', 'btn-add') }}
{{- _self.item_path(path('product_clone', params), 'common.button_clone', 'copy far', 'btn-clone') }}
{%- endblock %}
