{% extends 'table/table_base.html.twig' %}

{# parameters #}
{%- set title        = 'category.list.title' -%}
{%- set title_icon   = 'folder far' -%}
{%- set defer_url    = url('table_category') -%}
{%- set save_url     = url('table_category_save') -%}
{%- set groupId      = group.id|default(0) -%}
{%- set object_type  = EntityVoterInterface.ENTITY_CATEGORY -%}
{%- set allow_global = is_granted(EntityVoterInterface.ATTRIBUTE_EXPORT, object_type) -%}

{% block toolbar_actions -%}
<div class="input-group-append btn-dropdown">
    <button id="groupId" data-value="{{ groupId }}" class="btn btn-sm btn-outline-secondary dropdown-input dropdown-toggle" type="button" data-toggle="dropdown" data-default="{{ 'category.fields.group'|trans }}" title="{{ 'category.list.group_help'|trans }}">
        {{- group ? group.code : 'category.fields.group'|trans -}}
    </button>
    <div class="dropdown-menu" aria-labelledby="groupId">
        {{ _self.output_dropdown('group', 0, groupId, 'datatable.all'|trans) }}
        {% for group in groups %}
        {{ _self.output_dropdown('group', group.id, groupId, group.code) }}
        {% endfor %}
    </div>
</div>
{%- endblock %}

{% block global_actions -%}
{{ _self.item_external(path('category_pdf'), 'category.list.pdf_title', 'file-pdf far') }}
{{ _self.item_external(path('category_excel'), 'category.list.excel_title', 'file-excel far') }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('category_show', params), 'category.show.title', 'tv', show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{ _self.item_path(path('category_edit', params), 'category.edit.title', 'pencil-alt', edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('category_delete', params), 'category.delete.title', 'times', 'btn-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('category_add', params), 'category.add.title', 'file far', 'btn-add') }}
{{- _self.item_path(path('category_clone', params), 'common.button_clone', 'copy far', 'btn-clone') }}
{%- endblock %}
