{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'user.reset_all.title' -%}
{%- set title_icon = 'eraser' -%}
{%- set submit_text = 'common.button_delete' -%}
{%- set submit_class = 'btn btn-form btn-danger' -%}
{%- set form_attr = form_attr|default({})|merge({'data-error': 'user.reset_all.error'|trans}) -%}
{# class #}
{% block card_class ' border-danger' %}
{% block card_header_class ' text-white bg-danger' %}
{# body #}
{% block card_body %}
    <p class="pt-2">{{ 'user.reset_all.confirmation'|trans }}</p>
    <div class="pl-5">
        {{ form_row(form.users) }}
    </div>
    {{ parent() }}
{%- endblock %}
{# javascript #}
{% block javascripts %}
    {{ parent() }}
    {{- asset_js('js/application/user_reset_all_passwords.js') }}
{% endblock %}
