{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title      = new ? 'user.add.title' : 'user.edit.title' -%}
{%- set title_icon = 'user far' -%}
{%- set page_list  = 'user_table' -%}
{%- set form_attr  = form_attr|default({})|merge({
				 	'data-check_name': url('ajax_check_name'), 
				 	'data-check_email': url('ajax_check_email'),
				 	'data-equal_to': 'password.mismatch'|trans([], 'validators')}) -%}

{% block card_body %}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{% if new %}
{{ form_row(form.plainPassword) }}
<div class="form-row">
    <div class="col-md-9">
        {{ form_row(form.role) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.enabled) }}
    </div>
</div>
{% else %}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.role) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.lastLogin) }}
    </div>
</div>
{% endif %}
{% if not new -%}{{ form_row(form.imageFile) }}{%- endif %}
{% endblock %}

{% block stylesheets %}
{{ asset_css('css/fileinput.css') }}
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/vendor/zxcvbn/zxcvbn.js') }}
{{ asset_js('js/plugins/password-strength.js') }}
{{ asset_js('js/plugins/plugin-fileinput.js') }}
{{ asset_js('js/extensions/password-extensions.js') }}
{{ asset_js('js/application/user_edit.js') }}
{% else %}
{{ asset_js('js/user_edit.js') }}
{% endif %}
{% endblock %}
