{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title = 'user.list.title' -%}
{%- set title_icon = ICON_USER -%}
{%- set object_type = ENTITY_USER -%}
{%- set attributes = attributes|default({})|merge({'user-id': app.user.id}) -%}

{% block header_actions -%}
{% if allow_add %}<a class="add-link p-0" href="{{ path('user_add', params) }}">{{ 'user.add.title'|trans }}</a>{% endif %}
{%- endblock %}

{% block global_actions -%}
{{- _self.item_external(path('user_pdf'), 'user.list.pdf_title', ICON_PDF) }}
{{- _self.item_external(path('user_excel'), 'user.list.excel_title', ICON_EXCEL) }}
{{- _self.item_separator() }}
{{- _self.item_external(path('user_rights_pdf'), 'user.list.rights_export', ICON_PDF) }}
{{- _self.item_external(path('user_rights_excel'), 'user.list.rights_excel', ICON_EXCEL) }}
{%- endblock %}

{% block show_actions -%}
{{- _self.item_path(path('user_show', params), 'user.show.title', ICON_SHOW, show_class) }}
{%- endblock %}

{% block edit_actions -%}
{{- _self.item_path(path('user_edit', params), 'user.edit.title', ICON_EDIT, edit_class) }}
{%- endblock %}

{% block delete_actions -%}
{{- _self.item_path(path('user_delete', params), 'user.delete.title', ICON_DELETE, 'btn-delete btn-user-delete') }}
{%- endblock %}

{% block add_actions -%}
{{- _self.item_separator() }}
{{- _self.item_path(path('user_add', params), 'user.add.title', ICON_ADD, 'btn-add') }}
{%- endblock %}

{% block other_actions -%}
{% if allow_edit %}
{{- _self.item_separator() }}
{{- _self.item_path(path('user_password', params), 'index.change_password', 'unlock-alt', 'btn-password') }}
{{- _self.item_path(path('user_image', params), 'user.image.title', 'image far', 'btn-image') }}
{{- _self.item_path(path('user_rights', params), 'user.list.rights_title', 'unlock', 'btn-rights') }}
{{- _self.item_path(path('user_message', params), 'user.message.title', 'envelope far', 'btn-user-message') }}
{{- _self.item_separator() }}
{{- _self.item_path(path('user_reset', params), 'user.reset.title', 'eraser', 'btn-user-reset') }}
{% endif %}
{%- if not is_granted('IS_IMPERSONATOR') and is_granted('ROLE_ADMIN') -%}
    {{- _self.item_separator() }}
    {{- _self.item_path(path('homepage', {'_switch_user': 'username'}), 'user.switch.take.title', 'user-plus', 'btn-user-switch') }}
{%- endif -%}
{%- endblock %}

{% block custom_view_header -%}
<span class="mr-1">%imageName%</span>
{%- if row_edit -%}
    <a href="{{ path('user_edit', params) }}" class="item-link text-body" title="{{ 'user.edit.title'|trans }}">%username%</a>
{%- elseif row_show -%}
    <a href="{{ path('user_show', params) }}" class="item-link text-body" title="{{ 'user.show.title'|trans }}">%username%</a>
{%- else -%}
    <span>%username%</span>
{%- endif -%}
{%- endblock %}

{% block custom_view_body -%}
{{ _self.property_value('%email%') }}
{{ _self.property_line() }}
{{ _self.property_row('user.fields.role', '%role%') }}
{{ _self.property_row('user.fields.enabled', '%enabled%') }}
{{ _self.property_row('user.fields.lastLogin', '%lastLogin%') }}
{%- endblock %}

{% block body %}
{{ parent() }}
{%- include 'user/user_switch.html.twig' -%}
{% endblock %}
