{% extends 'cards/card_flex.html.twig' %}

{# macros #}
{% macro user_image(item, image) -%}
<img src="{{ asset(image) }}?{{ 'now'|date('c') }}" alt="{{ item.username }}" title="{{ 'user.image.title'|trans }}" class="avatar-lg img-thumbnail"  width="{{ image_width(image) }}" height="{{ image_height(image) }}">
{%- endmacro %}

{# imports #}
{% import 'macros/_properties.html.twig' as properties %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title        = 'user.list.title' -%}
{%- set title_icon   = 'user far' -%}
{%- set add_title    = 'user.list.add_title' -%}
{%- set show_title   = 'user.show.title' %}
{%- set edit_title   = 'user.edit.title' %}
{%- set delete_title = 'user.delete.title' %}
{%- set pdf_title    = 'user.list.pdf_title' -%}
{%- set empty_list   = 'user.list.empty' -%}

{# actions #}
{%- set object_type   = EntityVoterInterface.ENTITY_USER -%}
{%- set add_page      = is_granted(EntityVoterInterface.ATTRIBUTE_ADD, object_type) ? 'user_add' : null -%}
{%- set edit_page     = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'user_edit' : null -%}
{%- set image_page    = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'user_image' : null -%}
{%- set rights_page   = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'user_rights' : null -%}
{%- set password_page = is_granted(EntityVoterInterface.ATTRIBUTE_EDIT, object_type) ? 'user_password' : null -%}
{%- set delete_page   = is_granted(EntityVoterInterface.ATTRIBUTE_DELETE, object_type) ? 'user_delete' : null -%}
{%- set show_page     = is_granted(EntityVoterInterface.ATTRIBUTE_SHOW, object_type) ? 'user_show' : null -%}
{%- set pdf_page      = is_granted(EntityVoterInterface.ATTRIBUTE_EXPORT, object_type) ? 'user_pdf' : null -%}
{%- set default_page  = app.actionEdit ? edit_page|default(show_page) : show_page|default(edit_page) -%}
{%- set row_link      = not app.actionNone and (edit_page or show_page) -%}

{% block item_title %}
{% apply spaceless %}
{%- set item_title = item.username -%}
{%- set image = asset_if(vich_uploader_asset(item, 'imageFile')|replace({'192': '096'}), '/images/avatar.png') -%}
{# image #}
{%- if image -%}
<span class="mr-1">
    {% if image_page %}
        <a href="{{ path(image_page, {'id': item.id}) }}">{{ _self.user_image(item, image) }}</a>
    {% else %}
        {{ _self.user_image(item, image) }}
    {% endif %}
</span>
{%- endif -%}
{# title #}
<span class="align-top">
{%- if row_link and default_page -%}
    <a href="{{ path(default_page, {'id': item.id}) }}" class="text-body align-top">{{ item_title }}</a>
{%- else -%}
    {{ item_title }}
{%- endif -%}
</span>
{% endapply %}
{% endblock %}

{% block item_property %}

{{ properties.email(item.email) }}
{{ properties.property('user.fields.role', item.role|trans_role) }}
{%- set value = (item.enabled ? 'common.value_enabled' : 'common.value_disabled')|trans -%}
{%- set class = item.enabled ? 'text-success' : 'text-danger' -%}
{{ properties.property('user.fields.enabled', value, class) }}
{% endblock %}

{% block actions %}
{% if image_page or password_page or rights_page %}
{{ icons.dropdownSeparator }}
{% endif %}
{% if image_page %}
    {%- set image_path = path(image_page, {'id': item.id}) -%}
    {{ icons.dropdownItem(image_path, 'user.image.title', 'image far') }}
{% endif %}
{% if password_page %}
    {% set password_path = path('user_password', {'id': item.id}) %}
    {{ icons.dropdownItem(password_path, 'index.change_password', 'unlock-alt') }}
{% endif %}
{%- if rights_page -%}
    {% set rights_path = path(rights_page, {'id': item.id}) %}
    {{ icons.dropdownItem(rights_path, 'user.list.rights_title', 'unlock') }}
{% endif %}
{%- if item.username != app.user.username -%}
	{%- set message_path = path('user_message', {'id': item.id}) -%}
    {{ icons.dropdownItem(message_path, 'user.message.title', 'envelope far') }}
{%- endif -%}
{%- if not is_granted('IS_IMPERSONATOR') and is_granted('ROLE_SUPER_ADMIN') and item.username != app.user.username -%}
    {{ icons.dropdownSeparator }}
    {%- if item.hasRole('ROLE_ADMIN') or item.hasRole('ROLE_SUPER_ADMIN') -%}
    {%- set switch_path = path('user_list', {'_switch_user': item.username}) -%}
    {%- else -%}
    {%- set switch_path = path('homepage', {'_switch_user': item.username}) -%}
    {%- endif -%}    
    {{ icons.dropdownItem(switch_path, 'user.switch.take.title', 'user-plus') }}
{%- endif -%}
{% endblock %}

{%- block delete_action -%}
{% if item.username != app.user.username %}{{ parent() }}{% endif %}
{%- endblock %}

{% block search_action -%}{%- endblock %}

{%- block toolbar_actions -%}
{{ icons.linkExternal(path('user_rights_pdf'), '', 'btn btn-secondary', 'cloud-download-alt', 'user.list.rights_export') }}
{{ icons.linkTable('user_table') }}
{%- endblock -%}

{% block body -%}
{{ parent() }}
{# switch user #}
{%- include 'user/user_switch.html.twig' -%}
{%- endblock %}
