{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}
{% macro create_button(class, text) %}
<span class="btn btn-form btn-example cursor-default btn-{{ class }} mb-2">{{ text|trans }}</span>
{% endmacro %}
{# parameters #}
{%- set title = 'theme.title' -%}
{%- set title_icon = 'file-image far' -%}
{%- set title_description = 'theme.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set form_attr = form_attr|default({})|merge({
    'data-asset': asset_base,
    'data-theme': theme_name(app.request),
    'data-background': theme_background(app.request)
}) -%}
{# body #}
{% block card_body %}
{# fields #}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.theme) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.background) }}
    </div>
</div>
{# example #}
<label>{{ 'theme.fields.example'|trans }}</label>
<div class="form-row p-3 border rounded">
    <div class="col-12 mb-2">
        <h2 id="example_name">{{ theme.name }}</h2>
        <p id="example_description" class="mb-1">{{ theme.description }}</p>
        <hr>
    </div>
    <div class="col-md-6 mb-3">
        <label class="required">{{ 'user.fields.email'|trans }}</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <span class="form-control">info@example.com</span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-group">
            <label class="required">{{ 'user.fields.username'|trans }}</label>
            <span class="form-control is-invalid">&nbsp;</span>
            <small class="invalid-feedback">Le champ "Nom d'utilisateur" est requis.</small>
        </div>
    </div>
    <div class="col-12 text-center">
        {{ _self.create_button('success', 'theme.button.success') }}
        {{ _self.create_button('primary', 'theme.button.primary') }}
        {{ _self.create_button('secondary', 'theme.button.secondary') }}
        {{ _self.create_button('warning', 'theme.button.warning') }}
        {{ _self.create_button('danger', 'theme.button.danger') }}
        <span class="btn btn-sm border-0 pt-0 btn-outline-secondary cursor-default mb-2">{{- icons.icon('ellipsis-v') -}}</span>
    </div>
    <div class="col-12 text-center">
        {{ _self.create_button('outline-success', 'theme.button.success') }}
        {{ _self.create_button('outline-primary', 'theme.button.primary') }}
        {{ _self.create_button('outline-secondary', 'theme.button.secondary') }}
        {{ _self.create_button('outline-warning', 'theme.button.warning') }}
        {{ _self.create_button('outline-danger', 'theme.button.danger') }}
        <span class="btn btn-sm btn-outline-secondary cursor-default mb-2">{{- icons.icon('ellipsis-v') -}}</span>
    </div>
</div>
{# link #}
<div class="text-right small mt-2">
    <a href="https://bootswatch.com/4/sandstone/" target="_blank" rel="noopener noreferrer">Powered by Bootswatch</a>
</div>
{% endblock %}
{# actions #}
{% block actions_form %}
{{ parent() }}
<button id="default" type="button" class="btn btn-form btn-outline-success">{{ 'theme.default'|trans }}</button>
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/user_theme.js') }}
{% else %}
{{ asset_js('js/user_theme.js') }}
{% endif %}
{% endblock %}
