{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_rights.html.twig' as rights %}

{# parameters #}
{%- set title = 'user.rights.title' -%}
{%- set title_icon = 'unlock' -%}
{%- set title_description = 'user.rights.description' -%}
{%- set page_list = 'user_table' -%}
{%- set overwrite = form.overwrite.vars.checked -%}
{%- set show_required = false -%}

{% block card_container_class '' %}

{% block card_header %}
<div class="row">
    <div class="col-lg-5 mt-1">{{ parent() }}</div>
    <div class="col-lg-7 text-lg-right d-print-none">{{ rights.actions(overwrite) }}</div>
</div>
{%- endblock %}

{% block card_body %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.username) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.role) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.enabled) }}
    </div>
</div>
{{ rights.table(form, default, permissions, overwrite) }}
{{ form_row(form.overwrite, {label_attr: {class: 'switch-custom mt-3'}, attr: {'data-default': default.overwrite|json_encode}}) }}
{% endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/user_rights.js') }}
{% else %}
{{ asset_js('js/user_rights.js') }}
{% endif %}
{%- endblock %}
