{% extends 'cards/card_rights.html.twig' %}
{# parameters #}
{%- set title = 'user.rights.title' -%}
{%- set page_list = 'user_index' -%}
{%- set overwrite = form.overwrite.vars.checked -%}
{# body #}
{% block card_body %}
    <div class="row">
        <div class="col-md-5">
            {{ form_row(form.username) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.role) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.enabled) }}
        </div>
    </div>
    {{ _self.table(form.rights, default.permissions, headers, overwrite) }}
    {{ form_row(form.overwrite, {attr: {'data-default': default.overwrite|json_encode}}) }}
    {{ parent() }}
{% endblock card_body %}
