{% extends 'cards/card_delete.html.twig' %}
{# parameters #}
{%- set title = 'user.reset_all.title' -%}
{%- set title_icon = 'eraser' -%}
{%- set form_attr = form_attr|default({})|merge({'data-error': 'user.reset_all.error'|trans}) -%}
{# body #}
{% block card_body %}
<p>{{ 'user.reset_all.confirmation'|trans }}</p>
{{ form_row(form.users) }}
{{ parent() }}
{%- endblock %}
{# javascript #}
{% block javascripts %}
    {{ parent() }}
    {{- asset_js('js/application/user_reset_all_passwords.js') }}
{% endblock %}
