{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title_icon = 'envelope far' -%}
{%- set title = isMail ? 'user.message.title' : 'user.comment.title' -%}
{%- set title_description = isMail ? 'user.message.description' : 'user.comment.description' -%}
{%- set page_list = isMail ? 'user_table' : 'homepage' -%}
{# body #}
{% block card_body %}
{% if isMail %}
    {{ form_row(form.toAddress) }}
{% else %}
    {{ form_row(form.fromAddress) }}
{% endif %}
<div class="form-row">
    <div class="col-md-8">
        {{ form_row(form.subject) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.importance) }}
    </div>
</div>
{{ form_row(form.message) }}
{{ form_row(form.attachments) }}
{% endblock %}
{# stylesheets #}
{% block stylesheets %}
{{ asset_css('css/simple_editor.css') }}
{% endblock %}
{# javascripts #}
{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/plugins/plugin-input-file.js') }}
{{ asset_js('js/extensions/file-input-extensions.js') }}
{{ asset_js('js/extensions/simple-editor-extension.js') }}
{{ asset_js('js/application/user_comment.js') }}
{% else %}
{{ asset_js('js/user_comment.js') }}
{% endif %}
{% endblock %}
