{% extends 'cards/card_edit.html.twig' %}

{# parameters #}
{%- set title = 'theme.title' -%}
{%- set title_icon = 'file-image far' -%}
{%- set title_description = 'theme.description' -%}
{%- set cancel_path = path('homepage') -%}
{%- set form_attr = form_attr|default({})|merge({
    'data-asset': asset_base,
    'data-theme': theme_name(app.request),
    'data-background': theme_background(app.request)
}) -%}

{% block card_body %}
{# fields #}
<div class="form-row">
    <div class="col-md-6">
        {{ form_row(form.theme) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.background) }}
    </div>
</div>
{# example #}
<label>{{ 'theme.fields.example'|trans }}</label>
<div class="form-row p-3 border rounded">
    <div class="col-12 mb-2">
        <h1 id="example_name">{{ theme.name }}</h1>
        <p id="example_description" class="mb-1">{{ theme.description }}</p>
        <hr>
    </div>
    <div class="col-12 text-center">
        <span class="btn btn-form btn-danger btn-example disabled mb-2">{{ 'theme.button.danger'|trans }}</span>
        <span class="btn btn-form btn-warning btn-example disabled mb-2">{{ 'theme.button.warning'|trans }}</span>
        <span class="btn btn-form btn-success btn-example disabled mb-2">{{ 'theme.button.success'|trans }}</span>
        <span class="btn btn-form btn-secondary btn-example disabled mb-2">{{ 'theme.button.secondary'|trans }}</span>
        <span class="btn btn-form btn-primary btn-example disabled mb-2">{{ 'theme.button.primary'|trans }}</span>
    </div>
</div>
{# link #}
<div class="text-right small mt-2">
    <a href="https://bootswatch.com/4/sandstone/" target="_blank" rel="noopener noreferrer">Powered by Bootswatch</a>
</div>
{% endblock %}

{% block actions_form %}
{{ parent() }}
<a href="#" id="default" class="btn btn-form btn-outline-success">{{ 'theme.default'|trans }}</a>
{% endblock %}

{% block javascripts %}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/application/user_theme.js') }}
{% else %}
{{ asset_js('js/user_theme.js') }}
{% endif %}
{% endblock %}
