{# horizontal toolbar #}
{% from 'macros/_icons.html.twig' import icon %}
{# horizontal navigation #}
{% set display_style = sidebar_hide ? 'flex' : 'none' %}
<nav id="navigation" class="navbar navbar-horizontal navbar-themed navbar-expand-md border-bottom " style="display: {{ display_style }}">
    <button class="btn btn-outline-secondary rounded-circle show-sidebar py-0 px-2 mt-1" title="{{ 'index.sidebar_show'|trans }}">
        <i class="fa-solid fa-angle-right"></i>
    </button>
    <a class="navbar-brand nav-sidebar-horizontal ml-3" href="{{ path('homepage') }}" title="{{ 'index.title_help'|trans }}">
        {{- icon('home') -}}
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="{{ 'index.toggle_navigation'|trans }}">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            {% if is_granted_calculation -%}
                {% set display_style = sidebar_hide ? 'block' : 'none' %}
                <li class="nav-item">
                    <a href="{{ path('calculation_table') }}" class="nav-link nav-sidebar-horizontal" style="display: {{ display_style }};">
                        {{- icon(ICON_CALCULATION, 'calculation.list.title') -}}
                    </a>
                </li>
            {% endif %}
            {% if is_granted_data -%}
                {% include 'navigation_horizontal/navigation_data.html.twig' %}
            {% endif %}
            {% include 'navigation_horizontal/navigation_tools.html.twig' %}
            {% if is_granted_calculation %}
                {% include 'navigation_horizontal/navigation_chart.html.twig' %}
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if is_granted_data and show_navigation_search ?? false -%}
                {% include 'navigation_horizontal/navigation_search.html.twig' %}
            {% endif %}
            {% if is_remembered -%}
                {% include 'navigation_horizontal/navigation_user.html.twig' %}
            {% endif %}
        </ul>
    </div>
</nav>
