{# admin menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem, dropdownSeparator %}
{% set id = 'dropdown_admin' %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ icon('gear', 'index.menu_admin') }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="{{ id }}">
        <li>{{ dropdownItem(path('admin_product'), 'product.update.title', ICON_PRODUCT) }}</li>
        <li>{{ dropdownItem(path('admin_archive'), 'archive.title', 'calendar-xmark far') }}</li>
        <li>{{ dropdownSeparator() }}</li>
        <li>{{ dropdownItem(path('user_table'), 'user.list.title', ICON_USER) }}</li>
        <li>{{ dropdownItem(path('admin_rights_user'), 'index.menu_rights_user', 'user-check') }}</li>
        {% if is_super_admin -%}
            <li>{{ dropdownItem(path('admin_rights_admin'), 'index.menu_rights_admin', 'user-shield') }}</li>
        {% endif %}
        <li>{{ dropdownSeparator() }}</li>
        <li>{{ dropdownItem(path('admin_parameters'), 'parameters.title', 'cogs') }}</li>
        {% if is_admin -%}
            <li>{{ dropdownSeparator() }}</li>
            <li>{{ dropdownItem(path('log_table'), 'log.title', ICON_LOG) }}</li>
            {% if is_super_admin -%}
                <li>{{ dropdownItem(path('admin_clear'), 'clear_cache.title', ICON_DELETE) }}</li>
            {% endif %}
        {% endif %}
    </ul>
</li>
