{# admin menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem, dropdownSeparator %}
{% set id = 'dropdown_admin' %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ icon('gear', 'index.menu_admin') }}
    </a>
    <div class="dropdown-menu" aria-labelledby="{{ id }}">
        {{ dropdownItem(path('admin_product'), 'product.update.title', ICON_PRODUCT) }}
        {{ dropdownItem(path('admin_archive'), 'archive.title', 'calendar-xmark far') }}
        {{ dropdownSeparator() }}
        {{ dropdownItem(path('user_table'), 'user.list.title', ICON_USER) }}
        {{ dropdownItem(path('admin_rights_user'), 'index.menu_rights_user', 'user-check') }}
        {% if is_super_admin -%}
            {{ dropdownItem(path('admin_rights_admin'), 'index.menu_rights_admin', 'user-shield') }}
        {% endif %}
        {{ dropdownSeparator() }}
        {{ dropdownItem(path('admin_parameters'), 'parameters.title', 'cogs') }}
        {% if is_super_admin -%}
            {{ dropdownSeparator() }}
            {{ dropdownItem(path('log_table'), 'log.title', ICON_LOG) }}
            {{ dropdownItem(path('admin_clear'), 'clear_cache.title', ICON_DELETE) }}
        {% endif %}
    </div>
</li>
