{# chart menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem %}
{% set id = 'dropdown_chart' %}
<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle id="{{ id }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{- icon('chart-area', 'index.menu_graphics') -}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="{{ id }}">
        <li>{{ dropdownItem(path('chart_by_month'), 'title_by_month', 'calendar-alt far', 'chart') }}</li>
        <li>{{ dropdownItem(path('chart_by_state'), 'title_by_state', ICON_CALCULATION_STATE, 'chart') }}</li>
    </ul>
</li>
