{# chart menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem %}
{% set id = 'dropdown_chart' %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ icon('chart-area', 'menu_graphics', 'chart') }}
    </a>
    <div class="dropdown-menu" aria-labelledby="{{ id }}">
        {{ dropdownItem(path('chart_by_month'), 'title_by_month', 'calendar-alt far', 'chart') }}
        {{ dropdownItem(path('chart_by_state'), 'title_by_state', ICON_CALCULATION_STATE, 'chart') }}
    </div>
</li>
