{# user menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownSeparator, dropdownItem, navItem, theme_switcher %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% apply spaceless %}
            {% set image = asset_image_user(app.user, '032', {'alt': 'user.fields.imageFile'|trans, 'title': app.user.userIdentifier, 'class': 'avatar rounded-circle'}) %}
            {% if image %}
                {{ image|raw }}
            {% else -%}
                {{ icon('user fa-lg far') }}&nbsp;{{ app.user.userIdentifier }}
            {% endif -%}
        {% endapply %}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
    {{ dropdownItem(path('app_logout'), 'index.logout', 'sign-out-alt') }}
    {{ dropdownItem(path('user_profile_edit'), 'profile.edit.title', 'user-gear') }}
    {{ dropdownItem(path('user_profile_change_password'), 'profile.change_password.title', 'unlock') }}
    {{ dropdownSeparator() }}
    {{ theme_switcher('button', 'dropdown-item', {'type': 'button'}) }}
    {{ dropdownItem(path('user_parameters'), 'user.parameters.title', 'user-gear') }}
    {% if is_previous_admin -%}
        {{ dropdownSeparator() }}
        {{ dropdownItem(impersonation_exit_path(path('user_table')), 'user.switch.exit.title', 'user-slash') }}
    {% endif %}
    {# switch environment #}
    {% if is_env_dev -%}
        {{ dropdownSeparator() }}
        {{ dropdownItem(link_prod, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.prod'|trans}) }}
    {% elseif is_env_prod or is_env_local -%}
        {{ dropdownSeparator() }}
        {{ dropdownItem(link_dev, 'environment.switch', 'location-arrow', null, {'%name%': 'environment.dev'|trans}) }}
    {% endif %}
    {{ dropdownSeparator() }}
    {% if is_granted_data %}
        {{ dropdownItem(path('site_map'), 'index.menu_site_map', 'sitemap') }}
    {% endif %}
    {{ dropdownItem(path('user_comment'), 'user.comment.title', 'envelope far') }}
    {{ dropdownItem(path('about'), 'index.menu_info', 'info-circle', null, {'%app_name%': app_name}) }}
    </div>
</li>
