{# data menu #}
{% from 'macros/_icons.html.twig' import icon, dropdownItem %}
{% set is_granted_data = is_granted_product or is_granted_category or is_granted_group or is_granted_calculation_state or is_granted_global_margin or is_granted_task or is_granted_customer %}
{% if is_granted_data -%}
    {% set id = 'dropdown_data' %}
    {% set display_style = sidebar_hide ? 'block' : 'none' %}
    <li class="nav-item nav-sidebar-horizontal dropdown" style="display: {{ display_style }}">
        <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ icon('database', 'index.menu_data') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="{{ id }}">
            {% if is_granted_product -%}
                {{ dropdownItem(path('product_table'), 'product.list.title', ICON_PRODUCT) }}
            {% endif -%}
            {% if is_granted_task -%}
                {{ dropdownItem(path('task_table'), 'task.list.title', ICON_TASK) }}
            {% endif -%}
            {% if is_granted_category -%}
                {{ dropdownItem(path('category_table'), 'category.list.title', ICON_CATEGORY) }}
            {% endif -%}
            {% if is_granted_group -%}
                {{ dropdownItem(path('group_table'), 'group.list.title', ICON_GROUP) }}
            {% endif -%}
            {% if is_granted_calculation_state -%}
                {{ dropdownItem(path('calculationstate_table'), 'calculationstate.list.title', ICON_CALCULATION_STATE) }}
            {% endif -%}
            {% if is_granted_global_margin -%}
                {{ dropdownItem(path('globalmargin_table'), 'globalmargin.list.title', ICON_GLOBAL_MARGIN) }}
            {% endif -%}
        </div>
    </li>
{% endif %}
