{# data menu #}
{% import 'macros/_icons.html.twig' as icons %}
{% set is_granted_data = is_granted_product or is_granted_category or is_granted_group or is_granted_calculation_state or is_granted_global_margin or is_granted_task or is_granted_customer %}
{% if is_granted_data -%}
    {% set id = 'dropdown_data' %}
    {% set display_style = active ? 'block' : 'none' %}
    <li class="nav-item nav-sidebar-horizontal dropdown" style="display: {{ display_style }}">
        <a class="nav-link dropdown-toggle" href="#" id="{{ id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ icons.icon('database', 'index.menu_data') }}
        </a>
        <div class="dropdown-menu" aria-labelledby="{{ id }}">
            {% if is_granted_product -%}
                {{ icons.dropdownItem(path('product_table'), 'product.list.title', ICON_PRODUCT) }}
            {% endif -%}
            {% if is_granted_task -%}
                {{ icons.dropdownItem(path('task_table'), 'task.list.title', ICON_TASK) }}
            {% endif -%}
            {% if is_granted_category -%}
                {{ icons.dropdownItem(path('category_table'), 'category.list.title', ICON_CATEGORY) }}
            {% endif -%}
            {% if is_granted_group -%}
                {{ icons.dropdownItem(path('group_table'), 'group.list.title', ICON_GROUP) }}
            {% endif -%}
            {% if is_granted_calculation_state -%}
                {{ icons.dropdownItem(path('calculationstate_table'), 'calculationstate.list.title', ICON_CALCULATION_STATE) }}
            {% endif -%}
            {% if is_granted_global_margin -%}
                {{ icons.dropdownItem(path('globalmargin_table'), 'globalmargin.list.title', ICON_GLOBAL_MARGIN) }}
            {% endif -%}
            {% if is_granted_customer %}
                {%- if is_granted_data -%}
                    {{ icons.dropdownSeparator }}
                {% endif -%}
                {{ icons.dropdownItem(path('customer_table'), 'customer.list.title', ICON_CUSTOMER) }}
            {% endif %}
        </div>
    </li>
{% endif %}
